[2020-03-30 22:14] cllns commented on #1036
@timriley Should we also update the `Gemfile` for this project? https://github.com/hanami/hanami/blob/master/Gemfile#L15 to use `1.x-master`?

[2020-03-30 22:15] timriley commented on #1036
@cllns Ah! Yeah, I think that's the clincher! I'll adjust that in a moment.

[2020-04-05 14:32] djrobby opened #1039 "Documentation Sidebar/Visibility of Links"
1. **Visibility of Links**: It's really hard to read documentation links due to their light color (at least for me). Can you please review attached suggestion and change accordingly? I think it will help everyone.
2. **Sidebar**: When clicking on the sidebar section headings, they don't seem to close if you re-click on them. See attached GIF.

Issue 1
![SS_20200405_41](https://user-images.githubus

[2020-04-07 15:02] #1036 closed

[2020-04-14 12:33] tosiooooooo opened #1042 "The '+' parameter becomes blank space in Hanami."
For example, when registering email.

- Form

[code]

- Hanami log
[code]

'+' is URL decoded and it become blank space in Hanami.

`hoge+abc@gmail.com`'-> `hoge abc@gmail.com`

If enter "`hoge%2Babc@gmail.com`", it becomes "`hoge+abc@gmail.com`" in Hanami".

I want to receive the contents enterd in form as it is.

[2020-04-14 12:48] jodosha commented on #1042
@tosiooooooo Sorry for this problem. One of us will have a look. Thanks for reporting.

[2020-04-14 12:50] davydovanton commented on #1042
@tosiooooooo hey, sorry for the problem. Could you say what hanami version do you use in your project?

[2020-04-14 13:05] kaikuchn commented on #1042
Hey @tosiooooooo I tried to quickly reproduce the issue using Hanami 1.3.3 but as of yet I did not manage to provoke that behaviour. Are you using a different version?
Also, is this happening in a brand new Hanami project or have you customised some things? E.g., maybe inserted any middleware into the stack that may interfere here?

Can you maybe provide a minimal runnable example for me to see th

[2020-04-14 13:07] davydovanton commented on #1042
+1 to @kaikuchn. @tosiooooooo could you provide a better explanation of the problem or example app?

I tested it with my application (`v1.3.3`, I put `test+test@gmail.com` in to form and see it in my DB without any blank spaces) and also, I tested hanami-helpers (it's a form rendering) and when I use `text_field :email, value: 'test+abc@gmail.com'` I got the normal HTML string.

[2020-04-14 23:30] tosiooooooo commented on #1042
Thank everyone.

Hanami version is v1.3.3.

I explained in the case of form for simplicity of explanetion, but since it is used as api, I verified it with Postman.
Actually the api is used in smartphone apps(React Native), the apps is having this issue.

[2020-04-15 08:24] kaikuchn commented on #1042
Can you show us that instead? I'm beginning to suspect that the issue is with how the client transmits the data..?

[2020-05-01 04:38] tosiooooooo commented on #1042
I'm sorry, it's my mistake.I was using the postman wrong.
If set correctly, this issue didn't occur.

This issue seems to be a problem with how to use axios.
If I run following code on the web, the problem doesn't occur.
However the problem occur when running with the mobile app written in Reace Native.

[code]

I found out about axios.
Thanks to everyone for their cooperation.

[2020-05-01 04:38] #1042 closed

[2020-05-07 07:12] jpaulgs commented on #1000
Just in case anyone else lands here, you can make the sql logger quiet as long as your using the sequel rubygem. Something alone the lines of:

[code]

[2020-05-12 23:43] nolyoi opened #1051 "Gem::Exception: can't find executable hanami for gem hanami."
So, I am new to Hanami and while trying to set up my first project I am getting this error. I haven't been able to find the solution and this is happening on a fresh install.

I'm running PopOS(deb/ubuntu). Anyone else ever come across this error?

[code]

[2020-05-12 23:51] cllns commented on #1051
Hi, sorry you're having trouble! Hm, it seems like it might be a Ruby / gems environment issue, rather than a bug with Hanami. Maybe you ran `gem install hanami` with one ruby version, then moving into the `~/code/projects/gecko_api` folder changed it to a different one?

Can you make sure you run `ruby -v` (or even `which ruby`) before you install `gem install hanami`, then again before running t

[2020-05-13 00:25] nolyoi commented on #1051
So, it turns out I'm a complete idiot. I was in the wrong folder. xD

My apologies! Thank you!

[2020-05-13 00:25] #1051 closed

[2020-05-13 00:57] cllns commented on #1051
No worries. Hope you have a great experience with Hanami! 🌸

[2020-05-20 09:30] tosiooooooo commented on #1042
This has been resolved, so I'll share the solution.
As for axios...

I put 'application/x-www-form-urlencoded' request header, the parameters were url encoded successfully.

[code]

[2020-06-04 12:14] tosiooooooo opened #1057 "How to output Hanami::Action::Rack#request_id in reqest log"
I want to output Hanami::Action::Rack#request_id  in reqest log. Because it is to combine multiple logs in one request.

Is there a way to do that ?

[2020-06-06 18:08] davydovanton commented on #1057
Hey!

I'm using `semantic_logger` gem with tag functionality + simple rack middleware for wrapping all logger calls inside request to `request_id` tag:
https://github.com/davydovanton/rubyjobs.dev/blob/master/config/initializers/request_id.rb#L21-L27

[2020-06-23 13:32] ippachi opened #1062 "Hanami environment is odd when feature spec with js"
I wrote a below feature spec.

[code]

Sign-in is successful but it is failing because `#session-logout` button sends delete method by javascript.

So I add `js: true` option like below.

[code]

It is failing too because Sign-in is a failure.

As a result of investigation, if the set to `js: true`, then Hanami env is `development`. And that use DATABASE_URL of `development` too.

How can I run fe

[2020-07-13 00:41] timriley opened #1067 "Hanami 2.0.0.alpha2 plan"
## hanami

- [x] New application core using dry-system @timriley
- [x] Application settings @timriley
- [x] Router integration @jodosha
- [ ] :hammer_and_wrench: CLI commands (server, console, db console) @davydovanton
- [ ] Code Generators (generate, destroy) @davydovanton
- [x] Unified configuration approach for actions and views @timriley

#### Later

- [ ] Explore zeitwerk for code loading @ti

[2020-08-22 21:34] gerrywastaken opened #1071 "Ruby 2.7 deprecation last keyword"
Following the instructions at the bottom of http://hanamirb.org/ leads to 16 warnings on ruby 2.7.1 (see below). I noticed https://github.com/hanami/hanami/pull/1050 but it seems this may have only been applied to master and not released. Is the following expected or am I doing something wrong?

[code]

[2020-08-27 03:24] yamad07 opened #1072 "Slow Response in API Sever"
I use hanami framework for the production api server.
however, i think this application response is very slow.

for example, very simple code as below(the other codes are from the initial one.)
[code]

and i check response time using postman. a result is below

<img width="1144" alt="スクリーンショット 2020-08-27 12 18 50" src="https://user-images.githubusercontent.com/20740529/91380239-8179c600-e85f-11ea-

[2020-09-02 19:26] atog opened #1073 "Memory issues after upgrade?"
Yesterday evening I upgraded my Hanami application from version 1.1.1 to version 1.3.3 (Ruby 2.5.1). It's running on Heroku. When my users started working today I noticed a strong increase in memory usage, until the application was down. I restarted to app two times to no avail.

In the end I reverted the specific commit containing the upgrade, deployed, and the app was running smooth again. I hav

[2020-09-29 12:43] utkarsh2102 opened #1075 "Drop `git` in gemspec"
Hello 👋🏻

Thanks for your great work!

However, whilst maintaining this in Debian, we found that `hanami` relies on `git` to produce a list of file:
https://github.com/hanami/hanami/blob/df741d123a0a1774b21474d9a201b5387e5830d4/hanami.gemspec#L16

Using `git` in gemspec, in general, a bit troublesome and it's best if avoided.
The rationale about this can be found here: https://docs.rubocop.org/rub

[2020-09-29 14:24] jodosha commented on #1075
@utkarsh2102 Hey, thanks for raising this issue. I never considered that. Please open a PR if you want. Thank you. 👍

[2020-09-29 23:15] morissetcl opened #1077 "Troubles to load rake task from gem"
Hi there,

First of all thx for the amazing work !

I'm trying to create a `traceroute` gem like for `Hanami`.
I am facing an issue. It sounds that currently it's not possible to load `rake task` in a Hanami app from a gem. When I run `rake -T` I have just default `tasks` and also custom ones added in `rakelib`..but impossible to load `task` from gem.

I tried many things to fix it, like:

[code]

[2020-10-02 02:27] johnpitchko opened #1080 "uninitialized constant BetterErrors::Middleware::VERSION"
Launching my first Hanami app by following the **Getting Started** guide at https://guides.hanamirb.org/introduction/getting-started/.

Ran the following:
[code]

[Gemfile gist](https://gist.github.com/johnpitchko/9ccbc546082d5805de9ca14550767afb)

[2020-10-02 02:45] johnpitchko commented on #1080
Seems like a [bug](https://github.com/BetterErrors/better_errors/issues/479) in v2.8.2 of better_errors. Tried to downgrade to v2.8.1 but Hanami is telling me that 2.8.2 is required. Anyway I can run Hanami with v2.8.1 of better_errors?

[2020-10-02 03:19] cllns commented on #1080
Sorry you ran into this proble. Thanks for looking into the cause too/ I was just able to reproduce it

If you add `gem "better_errors", "2.8.1"` to the Gemfile, then run `bundle update better_errors`, it should downgrade to the right version. Voila!

Hanami only requires `better_errors` 2.4 or higher right now, so it's not a Hanami issue. Going to close this because I'm quite sure the above instr

[2020-10-02 03:19] #1080 closed

[2020-10-02 14:09] johnpitchko commented on #1080
Yes I was able to change the version of Better_Errors in the Gemfile.lock to 2.8.1 re-fresh the gems via bundler and that seemed to work (a hack I know, but I don't really know what I'm doing).

I'll try your idea.

[2020-10-14 21:12] kj commented on #1071
The last Hanami release was 1.3.3 in 2019. Would it be possible to make another point release before 2.0 to fix these warnings?

[2020-10-27 12:58] prio101 opened #1084 "Hanami Generators are not generating expected files and directories."
While creating new action with command,
` hanami generate action web home#index `
it gives output:
[code]

I have changed the file permission and checked with `bundle exec` output is same.

[code]

[2020-10-27 14:26] adam12 commented on #1084
ZSH globs on `#` (and other things, like `[]`).

Try quoting the value: `hanami generate action web "home#index"`

[2020-10-27 18:23] prio101 commented on #1084
It works now... thanks @adam12

[2020-10-27 18:23] #1084 closed

[2020-10-27 18:24] cllns commented on #1084
[code]
Also works :)

We have a note about this in the "getting started" guide: https://guides.hanamirb.org/introduction/getting-started/#hanami-generators

Thanks for the help @adam12 🌸

[2020-11-24 02:33] #1057 closed

[2020-11-28 23:58] hedselu commented on #1071
I am thinking about the same as @kj. @jodosha any chance of having release before 2.0? I don't see any release date for this. Definitely not a critical, but it's a first thing you see with working with hanami - deprecation warnings suggesting code might be stale. If no other volunteer is willing to do this I'll be happy to help, but it's worth to know if there's a chance of having this applied bef

[2020-11-30 23:16] hedselu opened #1087 "hanami db prepare command and empty schema.sql"
Hi! Following [getting started guides ](https://guides.hanamirb.org/introduction/getting-started/) I encountered an error in output on database setup. When running `hanami db prepare` the output of this command showed following snippet:

[code]

This is related to empty `db/schema.sql` file which is included in new application and being read by hanami model in [this line](https://github.com/hanami

[2020-12-01 19:30] cllns commented on #1087
Sorry you're running into this issue! I was able to reproduce it, not upon the initial `hanami db prepare` as I first tried but when there are  migrations present. It seems like the migrations still work, though I agree this error shouldn't be displayed. Is that right?

[2020-12-05 16:05] hedselu commented on #1087
Hi @cllns, that is right. Migrations work, but error is confusing that they might actually not.

[2020-12-18 22:44] 0x000def42 commented on #1087
With this error, all migrations are performed each time :(

[2021-01-04 14:12] heragu opened #1088 "Hanammi::CommonLogger#log should use Process.clock_gettime(Process::CLOCK_MONOTONIC) instead of Time.now"
In the `Hanami::CommonLogger` the method `log` uses `Time.now` without considering if this value is coherent with the `began_at` given by rack.

[code]

`began_at` is set by `rack` gem using `Rack::Utils.clock_time` which is defined in the version 2.2.3 of the gem as follows:

[code]

In the most of the systems, the time picked will be `Process.clock_gettime(Process::CLOCK_MONOTONIC)` which is not

[2021-01-28 22:37] wenderjean commented on #1088
@heragu I'll take a look at this issue.

[2021-02-16 07:51] jodosha commented on #1088
Fixed by #1061

[2021-02-16 07:51] #1088 closed

[2021-02-16 11:58] adam12 commented on #1073
Hi @atog

Has there been any update to this? Are you still on 1.1.1?

[2021-02-16 12:17] adam12 commented on #1077
Hi @morissetcl

Are you still having issues with this? Have you given any thought to [making a plugin](https://guides.hanamirb.org/command-line/plugins/) instead?

[2021-02-16 12:32] adam12 commented on #1062
Hi @ippachi

Is this still an issue for you?

[2021-02-16 12:47] adam12 commented on #1072
Hi @yamad07

It's hard to say without more information (how are you running Hanami? what other gems do you have? any middleware? which application server are you using?), but I'm almost 100% sure it's because you're using `hanami server` and not providing `--no-code-reloading`.

I confirmed this by creating the exact same route and testing with the flag on and off. The result with code reloading e

[2021-02-16 12:47] #1072 closed

[2021-02-16 12:56] atog commented on #1073
Yep, I did not try to upgrade again since.

[2021-02-16 13:15] jodosha commented on #1072
Please also remember that `hanami server` should be used only for dev purposes. Better to use `puma` (or equivalent web server commands) to deploy an app.

[2021-02-16 13:26] adam12 commented on #1073
Are you able to provide a diff of the `Gemfile.lock` from the upgrade? It would be great to see everything that changed.

I looked at the `rack-ssl-enforcer` gem and it's more complex than I expected.

[2021-02-16 13:33] wenderjean commented on #1087
@hedselu I've spent some time investigating this issue and I believe the problem is actually related to the absence of `schema_migrations` or `schema_info` when `sequel` tries to create it, the Sequel source itself verifies if the table exists and creates it if that's not true. So, although Sequel creates the table successfully we're logging out the message regarding its absence.

My points:

The

[2021-02-16 13:44] adam12 commented on #1027
@jodosha are you able to re-enable this project in the Depfu dashboard? I don't believe the error is of relevance anymore (since #1021 merged)

[2021-02-16 21:24] adam12 commented on #1087
I agree with you that this is probably the wrong course of action, and might not even work if so. If we force created the table, we'd have to handle a different error for the conflict.

I'd probably do this.

Do we know if this is specific to the Postgres adapter?

[2021-02-16 22:38] wenderjean commented on #1087
It isn't tight to Postgres only @adam12, I could achieve the same behavior using SQLite.

[2021-02-17 08:33] atog commented on #1073
@adam12 here you go!

![gemlock-diff](https://user-images.githubusercontent.com/5460/108177180-2dabb380-7103-11eb-9160-fb05028706d8.png)

[2021-02-28 20:06] adam12 commented on #1073
Closing for now since I don't think it's related to Hanami with current data.

I attempted to reproduce this by dual-booting `bookshelf` for both 1.1 and 1.3, but memory usage for both was near identical (I ran 50 curls and then checked PSS using `process-metrics`).

## To reproduce

1. Add `puma` and `process-metrics` to Gemfile.
2. Run `puma config.ru` and then `process-metrics --pid <pid>`
3. C

[2021-02-28 20:06] #1073 closed

[2021-03-02 13:01] adam12 commented on #1062
Closing due to lack of feedback, but I think expanding the guides could help others here.

If you were able to solve this, could you submit a PR to [guides](https://github.com/hanami/guides) or leave comment on hanami/guides#77 on how you solved it.

[2021-03-02 13:01] #1062 closed

[2021-03-07 11:26] adam12 commented on #1077
Closing for now. I think this would make for an interesting plugin if you wish to continue.

[2021-03-07 11:26] #1077 closed

[2021-03-19 13:59] #1020 closed

[2021-03-31 20:08] sebastjan-hribar opened #1099 "Session values not passing between apps"
Hi,

I need to pass session values between apps, specifically info on logged in user. I haven't been able to get it to work as per the documentation so I'm opening an issue.

For example, I set a value in App A and I can't read it in App B.

As far as I gather this is by design, since each app has it's own session. Therefore, I might be doing something wrong, but I'm not sure.

I've prepared a tes

[2021-04-01 07:29] jodosha commented on #1099
@sebastjan-hribar I can't reproduce the bug (see the GIF 👇 ).

![session-sharing](https://user-images.githubusercontent.com/5089/113258854-c15ccc00-92cc-11eb-82d4-2b5d7600366f.gif)

[2021-04-01 07:30] #1099 closed

[2021-04-01 08:21] jodosha commented on #1099
PS: feel free to reopen and comment in case I'm missing something. 🙂

[2021-04-01 10:28] sebastjan-hribar commented on #1099
I was just asked in gitter if I use the same session secret and I really didn't know this. I tried using the same session secret and it works. Apologies for wasting your time.
Best, Sebastjan

[2021-04-01 14:51] jodosha commented on #1099
All good no worries 👍 🙂

[2021-04-25 15:46] pontakornth opened #1101 "Unable to create a project using ruby 3.0.0"
# Issue
I cannot use Ruby 3.0.0 to create a new hanami project. The 2.5.8 is fine.

# Reproduction
1. Use Ruby 3.0.0 with rbenv
2. `gem install hanami`
3. `hanami new bookshelf`
4. The error message should appear.

# Expect behavior
I can create a new project

# Actual behavior
This error message
[code]

It seems to be issue with `dry-type`.

[2021-04-26 07:31] jodosha commented on #1101
@pontakornth Sorry but Hanami 1 isn't and will not be compatible with Ruby 3. My apologize, but the effort to make it compatible with 3.0, is invested into creating Hanami 2.0, which is gonna be compatible with Ruby 3.

[2021-04-26 07:31] #1101 closed

[2021-04-26 08:49] pontakornth commented on #1101
@jodosha Thank you for information. I am looking forward to Hanami 2.0. I cannot really contribute the project. I hope you people doing well.

[2021-05-04 10:10] ekremkaraca opened #1103 "Unable to run application based on Hanami::Model::Error"
I have installed latest version of the hanami, `1.3.4`. I created app with `hanami new bookshelf --database=postgres` command, then installed gem dependencies, then I run command `bundle exec hanami server`. When I open browser & hit `localhost:2300`, I got the error below:

[code]

I tried to do it with Ruby `3.0.1` then I realized that the issue #1101, then I tried it with `2.7.2` as it can be s

[2021-05-04 11:31] adam12 commented on #1103
Can you share the generated `Gemfile.lock` file?

[2021-05-04 11:41] ekremkaraca commented on #1103
@adam12 Here you are:

[code]

[2021-05-04 11:44] adam12 commented on #1103
Try adding this line to your `Gemfile` then running `bundle`.

[code]

Unavoidable, sadly, but fixed in Hanami 2.

[2021-05-04 11:54] ekremkaraca commented on #1103
@adam12 I directly added `bigdecimal`, still giving error but when I downgraded it to `1.4`, it worked. It was surprising for me. Perhaps you need to add `bigdecimal` as a dependency for hanami `1.x` versions, right?

[2021-05-04 12:05] adam12 commented on #1103
The fix is present in `hanami-model`, but it hasn't been released yet.

[2021-05-04 12:08] ekremkaraca commented on #1103
Thanks again! Assuming the fix is to be released, I'm closing this issue.

[2021-05-04 12:08] #1103 closed

[2021-05-04 22:05] cllns commented on #1103
Here's the relevant PR that fixed it in `hanami/model`: https://github.com/hanami/model/pull/571

[2021-05-05 07:03] ekremkaraca commented on #1103
@cllns yep, it would work if I change `hanami-model` to:

[code]

[2021-05-12 18:24] cllns commented on #1071
Agree these are super annoying and aren't a good first experience for Hanami. Fortunately, [Ruby 2.7.2 turned off these deprecation warnings](https://www.ruby-lang.org/en/news/2020/10/02/ruby-2-7-2-released/) by default, so users using 2.7.2+ won't see these deprecation notices anymore.

I verified this personally running `hanami new bookshelf --database=postgresql` on 2.7.3.

Sorry this happened

[2021-05-12 18:24] #1071 closed, assigned to cllns

[2021-05-13 07:43] gerrywastaken commented on #1071
Strange, so releasing 1.3.4 on May 02, 2021 didn't fix this? Surely it contained: https://github.com/hanami/hanami/pull/1050

[2021-05-13 17:17] cllns commented on #1071
It did not. That PR was against the `unstable` branch, which is for the next *major* version of Hanami, so in this case Hanami 2. That PR was included in `v2.0.0.alpha2` but not v1.3.4`.

For reference, Hanami uses Semantic versioning and
- `master` targets the next patch version (x.y.**z**)
- `develop` targets the next minor version (x.**y**.z)
- `unstable` targets the next major version (**x**.y

[2021-05-13 17:57] gerrywastaken commented on #1071
Ahh, that's fair. Thank you for the clarification :+1:

[2021-05-18 11:57] turbod opened #1108 "Cannot create new hanami application"
Hi,
I run the following command:
`hanami new bookshelf `

and I get this exception

`/home/username/.rvm/gems/ruby-3.0.1/gems/dry-types-0.12.3/lib/dry/types/definition.rb:33:in initialize: wrong number of arguments (given 3, expected 1..2) (ArgumentError)  `

Can anyone help, how can I fix this?

[2021-05-18 12:09] jodosha commented on #1108
@turbod Hanami 1 isn't compatible with Ruby 3, you should use Ruby 2.7 for that.

We're working on Hanami 2, which is compatible with Ruby 2 and 3.

[2021-05-18 12:09] #1108 closed

[2021-05-18 13:10] turbod commented on #1108
thx

[2021-06-06 16:26] Koilanetroc commented on #1087
Is there any progress? Started the "Getting Started" tutorial and faced the same issue - empty `db/schema.sql` after running migrations. It doesn't block the tutorial but it's an important thing

[2021-06-09 12:33] wenderjean commented on #1087
@Koilanetroc I have an opened PR (under discussion) to apply a fix for the issue.
@adam12 Do you think we can proceed with the fix? I'll work on the coverage claim in that case.

[2021-06-09 13:23] adam12 commented on #1087
Just confirming, it's this one? https://github.com/hanami/model/pull/620

[2021-06-10 13:02] wenderjean commented on #1087
You're right @adam12, I'll address reviews asap.

[2021-06-17 13:33] rubyFeedback opened #1115 "[Documentation / Question] Hanami versus Sinatra"
Hello.

I have been using ruby for many years. I consider myself to be quite competent with ruby.

I tried to get into rails but it's over my head, too complex, too complicated and, to be honest,
boring.

Sinatra was better because I could focus on the API/route and develop from there. Right now
I am putting sinatra-interfaces to my code base so that I can combine different routes into my
main "co

[2021-06-17 14:10] jodosha commented on #1115
@rubyFeedback Hey, thanks for reaching out.

Let me simplify. Hanami aims to solve the same Rails problems: a framework for large Ruby (web) apps.
If yo want a Sinatra like experience, please check out `hanami-api` (see https://github.com/hanami/api).

[2021-06-17 19:53] adam12 commented on #1087
I'm thinking this is closable now.

[2021-07-13 10:29] hedselu opened #1121 "warning: already initialized constant due to code reloading"
Ahoy folks,

I just have encountered situation when `requiring_relative` a dependent base class introduces `warning: already initialized constant`.

Consider this code snippets:

[code]

[code]

This is due to code reloading preformed by hanami utils (I'm sorry if this is wrong place for reporting this issue, but seems right for me as integral part of hanami env)

https://github.com/hanami/utils/b

[2021-07-29 14:29] raulcoan commented on #254
any updates on this?

[2021-09-25 08:06] jf opened #1124 ""accept :list, :of, :non-html, :types" in a controller can still return html if `default_request_format :html` in application.rb"
given a new Hanami app (seen with v1.3.4), and `accept :json` in an action, with your standard curl request (which sends `Accept: */*`, fyi) hanami will still attempt to look for, and return the *HTML* template. I'm not sure this is the most intuitive, given that we already say that we are restricting things with `accept :json`. Right now, if you have `accept :json` in your action, you will also n

[2021-09-26 07:38] jf opened #1125 "`status 404, { error: "some message" }.to_json` does not return JSON as expected, even if we set `default_response_format :json` in application.rb"
as per subject. The current way to get around this is to *explicitly* set `self.format = :json`, but this is unintuitive, especially if we already have `default_response_format :json` in application.rb, and our custom body is already JSON.

NOTE: related, but not exactly the same thing: https://github.com/hanami/hanami/issues/892

[2021-09-26 08:26] jf commented on #1125
it appears that the crux of the matter is how Hanami deals with the Accept header: in the case of your typical browser value (you can use `Accept: text/html;q=0.9,*/*` for an easy-to-type substitute), Hanami will choose to return HTML, instead of JSON. I don't know if you could call this the right behaviour, given that we already set `default_response_format :json` in application.rb. The current f

[2021-10-13 06:39] mtmtcode opened #1126 "`params` class method in action class raises error due to broken dependency"
Recently I started learning Hanami along with [Getting Started](https://guides.hanamirb.org/v1.3/introduction/getting-started/) and ran across an error at "Securing Our Form With Validations" section.

When following  action class was required at testing, `NoMethodError` occured.

[code]

[code]

But almost the same action class works fine in [bookshelf example repository](https://github.com/hanam

[2021-10-14 08:18] jodosha commented on #1126
@mtmtcode Thanks for reporting.

To [fix this problem](https://github.com/hanami/validations/pull/221), I had only to pin `dry-configurable` at `<= 0.12`.

Would you please confirm that `dry-container` doesn't require to be specified as dep?
Please remember to remove it from your `Gemfile` and to run a complete `bundle update` and check.

[2021-10-15 04:56] mtmtcode commented on #1126
@jodosha As you say, the probem has been resolved without pinning `dry-container`.
Thank you for your quick response!

[2021-10-15 07:49] #1126 closed, assigned to jodosha

[2021-11-03 10:22] mkarganov opened #1129 "Update to hanami 1.3.5 causes dependency conflict"
Hi, recently I tried to update to 1.3.5 (from 1.3.4) and looks like one of dependencies is incorrectly resolved:

[code]
I guess this happens due to incorrect resolving of hanami validations to 2.0.0.alpha1, where it should be 1.3.8, as stated in this fix: https://github.com/hanami/validations/pull/221 (having [exactly the same problem](https://githubplus.com/hanami/hanami/issues/1126) btw after u

[2021-11-03 10:34] jodosha commented on #1129
@mkarganov How did you try to update? Using `bundle`? What happens if you do `bundle update hanami-validations`?

[2021-11-03 10:46] mkarganov commented on #1129
@jodosha Yes, it remains with using 1.3.7:

[code]

[2021-11-03 10:48] mkarganov commented on #1129
So after updating just hanami to 1.3.5 update is passed, but app is not started with similar error to this:
https://githubplus.com/hanami/hanami/issues/1126. And the problem described happens when I try to adjust Gemfile.lock manually

[2021-11-03 10:50] mkarganov commented on #1129
Firstly yes, just `bundle update hanami`

Then I tried to set hanami-validations to 1.3.8 in Gemfile.lock and run `bundle install`

[2021-11-03 11:35] jodosha commented on #1129
@mkarganov To recap: you want to use `hanami` `v1.3.5` with `hanami-validations` `v2.0.0.alpha1`. Am I right?

[2021-11-03 12:12] mkarganov commented on #1129
@jodosha Sorry if I was unclear. No, I just want to update hanami to 1.3.5 which probably should have normal 1.3.8 validations with recent fix included. But during update it stays with 1.3.7 - making application [not working](https://githubplus.com/hanami/hanami/issues/1126).

So next if I run `bundle update hanami-validations` - it throws the error:

[code]

And running `bundle update` leads to t

[2021-11-03 13:26] jodosha commented on #1129
Could you please try to temporary force this in `Gemfile`:

[code]

Run `bundle update` and see if the problem is solved.

[2021-11-03 13:45] mkarganov commented on #1129
@jodosha unfortunately this did not help, it keeps hanami-validations with 1.3.7.

I am be wrong, but looks like some dry dependancies are forcing to use dry-configurable >= 0.13.0 whether hanami-validations 1.3.8 forse  dry-configurable <= 0.12

This happens when i try to force hanami-validations to 1.3.8 in Gemfile

[code]

[2021-11-03 13:50] jodosha commented on #1129
Here's my Hanami v1.3.5 app (ruby 2.6.5).

[code]

Do you spot any useful difference with your `Gemfile.lock`?

[2021-11-04 08:19] mkarganov commented on #1129
@jodosha tl;dr dry-logic requires dry-configurable >=0.13: https://github.com/dry-rb/dry-container/blob/master/dry-container.gemspec#L33 this causes the conflict.

mine is slightly different, I am on ruby 2.7.4. I see that dry-configurable is `(0.13.0)`, where you have `0.12.0`. And this dry-configurable is a dependency of `dry-container` which is 0.9.0 for me (and 0.8.0 for you). So dry-configura

[2021-11-04 08:57] jodosha commented on #1129
@mkarganov

Let me double check with you. You're mentioning `dry-logic`, but linked `dry-container` gemspec. What am I missing?

[2021-11-04 09:04] mkarganov commented on #1129
@jodosha we have same version of dry-logic, so problem is not there. I mentioned dry-container and linked it's dependencies because it requires >=0.13 version. `dry-configurable` causes the conflict since you limited it to 0.12 [here](https://github.com/hanami/validations/pull/221).

Could you try to update/re-install your gems? I would guess bundler will try to fetch dry-configurable 0.13 and thi

[2021-12-21 11:39] momolog opened #1136 "How to run an Hanami app via puma-dev?"
Starting my small Hanami application via
[code]
works fine.
Serving it with [puma-dev](https://github.com/puma/puma-dev) fails, however, I am getting this in `~/Library/Logs/puma-dev.log`:
[code]
I don't understand why this doesn't work and would expect a rack app with a `config.ru`  file to just work. Can somebody help?

[2022-01-14 15:17] gpaddis opened #1140 "NameError: constant loading issues with associations and custom entity schema"
When I define a `has_many <> belongs_to` association between my entities "Author" and "Book" _and_ a custom schema for both, I have to specify which kind of object will be returned by the association method (`belongs_to`: the associated entity, `has_many`: a `Collection` of entities), if I understand [the docs](https://guides.hanamirb.org/v1.3/entities/custom-schema/) correctly.

Unfortunately, I

[2022-01-14 18:04] cllns commented on #1140
Sorry you ran into this issue. I don't think you've made a mistake. Hanami 2 will load entities in a much better way to this won't be an issue but for Hanami 1.3, you can fix this by requiring the file you reference _inside_ the class definition. Doing it inside the class definition helps avoid circular dependency issues.

[code]

Closing this but feel free to re-open if this doesn't solve the pro

[2022-01-14 18:04] #1140 closed

[2022-01-17 14:41] gpaddis commented on #1140
Thank you for the workaround, @cllns! That fixed it for now. I'm looking forward to v2! :)

[2022-01-17 14:54] cllns commented on #1136
Since
1. `hanami server` is working,
2. this seems like a bundler/gem issue,
3. you opened the exact same issue in [`puma/puma-dev`](https://github.com/puma/puma-dev/issues/293)

I'm going to close this. I'm going to respond on that issue though.

[2022-01-17 14:54] #1136 closed

[2022-01-17 15:29] cllns commented on #1121
Are you using `shotgun` or `hanami-reloader`? The former isn't maintained anymore, so we recommend the latter now

https://github.com/hanami/reloader

[2022-01-17 16:37] momolog commented on #1136
I am sorry, I know cross-posting is not the best style, but since I figured this is an issue *between* puma-dev and hanami I thought it was ok.

[2022-01-17 17:32] cllns commented on #1136
I understand! No worries

[2022-01-22 22:49] #1087 closed

[2022-01-22 22:49] #1121 closed

[2022-01-27 16:53] #1027 closed

[2022-01-27 16:54] cllns commented on #1027
@adam12 I re-enabled this project in Depfu. I also changed the settings to (hopefully) send us fewer PR's, so we can ease back into it and not get a bunch of PR noise

[2022-03-25 18:50] paul opened #1158 "Wrong number of arguments when adding middleware"
Starting from the Hanami 2.0.0.0.alpha7.1 application template, I added the omniauth middleware in `config/application.rb`:

[code]

Starting the server blows up with an error:

[code]

It seems like it doesn't like middeware that take blocks for some reason.

[code]

I added in the debugger, it looks like the omniauth configuration block ends up in `args` instead of `block` in rack/builder.rb:158

[2022-05-01 20:12] Igneous opened #1163 "Creating a new hanami project with a period in the name breaks require_relative"
[code]

Seems like a few things going on here, but ultimately I think it's just acceptable for the scaffolder to remove the period the same as it does with hyphens..

[2022-05-04 18:12] adam12 commented on #1163
Did you want to try your hand at submitting a PR? With all effort going to Hanami 2 at the moment, this might be closed as a `wontfix` otherwise.

[2022-05-04 21:35] Igneous commented on #1163
Sure I'll give it a shot. Got a couple things in my pipeline this week but can hopefully tackle it this weekend.

[2022-05-06 23:46] tak1n commented on #1163
I hope it's okay that I already worked on it. It was quite a minor thing todo actually 😅

[2022-05-07 19:11] tak1n commented on #1028
From what I can tell this doesn't seem to be possible currently, I could very well be wrong here. But AFAIS in https://github.com/rom-rb/rom-sql/blob/v3.5.0/lib/rom/sql/gateway.rb#L50 someone could pass in extended options to the sequel connection through `rom-sql` which `hanami-model` uses. This means one could pass in something like:
[code]

In https://github.com/hanami/model/blob/main/lib/hanam

[2022-05-13 03:09] epitosoft commented on #1163
@Igneous we are willing to pay you what you want to complete the project. Please check your email at usleep.

Best regards,
Epitosoft Team

[2022-05-23 00:49] stormmaster42 opened #1165 "hanami console crashes with Hanami::Slice not symbol nor a string"
**To reproduce:**
* install example application
* run console `bundle exec hanami console`

[code]

Quick fix is to add to_s in hanami-cli-2.0.0.alpha8/lib/hanami/console/plugins/slice_readers.rb
          application.slices.each do |slice|
            define_method(slice.slice_name.**to_s**) do

[2022-05-23 01:49] #1165 closed

[2022-05-23 02:03] timriley commented on #1165
Sorry for the error, @stormmaster42, but thank you for reporting this! TBH, it's just nice to know people are trying the alphas 😄

I've fixed this now via an alpha8.1 release of Hanami-cli, and have also [updated the application template](https://github.com/hanami/hanami-2-application-template/commit/b1b8c73582f2221691ec09b3ed79c0cccba315a3) to use that release. Everything looks good now!

[2022-06-01 05:59] timriley opened #1167 "Add lib/ to $LOAD_PATH as part of hanami/setup"

[2022-07-11 19:06] Lyriraki opened #1182 "Cannot Create Hanami Project"
When i run `hanami new book` i got error like this
[code]

i use ruby 2.7.5, and this my gem list
[code]
please help

[2022-07-11 21:34] cllns commented on #1182
Hi, sorry you ran into this.

I've opened a PR to fix this: https://github.com/hanami/validations/pull/222

[2022-07-12 04:21] Lyriraki commented on #1182
So, for a while i can't make a project?

[2022-07-12 14:51] cllns commented on #1182
Here's what you can do to create a project for now:

[code]

Then `hanami new` should work. I just verified it

[2022-07-12 16:15] cllns commented on #1182
@Lyriraki Sorry you're still running into issues. My previous instructions were incomplete, can you try it again now with the new instructions: https://github.com/hanami/hanami/issues/1182#issuecomment-1181858526?

[2022-07-12 16:52] Lyriraki commented on #1182
Now it Works!! thank you

[2022-07-12 16:52] #1182 closed

[2022-07-29 01:56] ilude opened #1192 "hanami new fails in ruby docker container"
[code]
Produces:
[code]

[2022-07-29 07:50] jodosha commented on #1192
@ilude Thanks for reporting.

Are you able to create an app outside of Docker?

[2022-07-29 07:50] jodosha commented on #1192
For the team, please note that we're talking about H1.

[2022-07-29 10:23] Drowze commented on #1192
Hello 👋

I just went through the same issue (but not in a docker container):
[code]

[2022-07-29 10:33] Drowze commented on #1192
I just checked on a project I have running hanami 1.3.4 and the issue does not seem present:
[code]

...however if I update it to 1.3.5, the issue starts:
[code]

[2022-07-29 11:09] Drowze commented on #1192
After a couple tries, I think the issue started on `dry-container 0.10.0` and does not happen on `dry-container 0.9.0`

i.e. this Gemfile works just fine:
[code]

[2022-07-29 14:09] ilude commented on #1192
@Drowze you issues seems completely different than the one I am seeing. Completely different error messages that do not appear related to the one I saw. I would suggest you open another ticket so they can troubleshoot your issue there.

[2022-07-29 14:13] ilude commented on #1192
@jodosha I get the same error when running the same commands directly on my windows install of ruby

[code]

[2022-07-29 14:18] ilude commented on #1192
also note that I tried with both the normal ruby:3 as well as the ruby:3-alpine docker images and got the same result.  I did try doing a gem update/upgrade as well, but still got the error then as well.  I did not try any ruby 2  or 3.2 images.

[2022-07-29 16:12] Drowze commented on #1192
hey @ilude sorry for hijacking your issue. I thought they were related as they both are related to exceptions on dry-container:
```dry-container-0.10.1/lib/dry/container/mixin.rb:151:in `register': undefined method `call' for nil:NilClass (NoMethodError)```

[2022-07-29 17:14] cllns commented on #1192
@ilude Hanami 1 does not support Ruby 3. You have to use Ruby 2.7. We're currently working on (and recently released a beta for) Hanami 2, which does support Ruby 3. I think you're seeing this issue with `dry-container` but once that's solved then you'll have further issues that cannot be easily solved (since we don't support Ruby 3 for Hanami 1, because it uses many outdated gems). That said, the

[2022-07-31 03:18] ilude commented on #1192
@cllns thanks for the reply.  giving gem install hanami --pre a shot now

you might want to consider adding a note to the https://hanamirb.org/#install about the >= ruby 2 requirement for the current version and perhaps adding the --pre tag to the gem install if using ruby 3.

My main question would then be: is there any issues (outside of it being in beta) that I should expect in trying to run Ha

[2022-08-05 10:34] Drowze opened #1195 "On Hanami 1.3.x, PATH_INFO and SCRIPT_NAME seem to be swapped"
Hello Hanami team 👋

First of all I'd like to say thanks for the wonderful project. I've been following since I started with Ruby (in 2016) and I think it's hugely important for the language ecosystem. Thank you!

That said, I've been maintaining a project built with it lately and I'm now building a rack middleware that does some checking on `SCRIPT_NAME` and `PATH_INFO` rack variables, which led

[2022-08-11 21:19] cllns commented on #1192
We have a note on the [Getting Started](https://guides.hanamirb.org/v1.3/introduction/getting-started/) guide and I agree it would make sense to add a notice to the install section as well.

No there are no issues that you should expect running Hanami 2 on Ruby 3. We are focusing all our efforts on Hanami 2 at this point.

[2022-08-11 21:19] #1192 closed

[2022-08-24 07:39] senid231 opened #1202 "can't create new hanami 1.3.5 project"
[code]

[2022-08-24 16:28] cllns commented on #1202
Sorry about this. We have [a fix merged](https://github.com/hanami/validations/pull/222), it just needs to be released as a new gem version.

In the meantime, can you try the instructions in this comment please? https://github.com/hanami/hanami/issues/1182#issuecomment-1181858526

[2022-08-25 19:41] senid231 commented on #1202
@cllns thanks, I've managed to create project successfully

[code]

[2022-08-25 19:41] #1202 closed

[2022-08-25 22:05] cllns commented on #1202
hanami-validations 1.3.9 has also been released earlier today, `gem install hanami-validations` should be enough to get `hanami new` working properly again. (As long as you're using the most recently release version, 1.3.5)

[2022-08-25 22:20] c4lliope opened #1203 ""Slices" should perhaps be called "Branches", no?"
I mean... "花見", no?

[2022-08-25 23:01] cllns commented on #1203
Haha, cute idea 🌸 .

I think we're committed to "slices" though. "Branches", while having the benefit of being related to trees, it's also a term in `git`, which is ubiquitous in our community. It's also has a meaning within programming of "code branches", and they're a special Hanami-specific concept that's distinct from that.

Will leave this open to let someone else chime in and close it, but I

[2022-08-25 23:29] c4lliope commented on #1203
One could argue "slices" is used in databases and string programming;
Rust sure has experienced success using such a name.

I see no big gap in comparing Hanami branches alongside programming language branches;
you could build success on encouraging such an analogy.

Rails has Engines. Hanami should include Branches.
I hope you can carry on your elegance in describing our programming challenges.

[2022-08-26 06:07] timriley commented on #1203
I always appreciate a good naming discussion!

We chose the slice name in part as a [subtle homage to Merb](https://www.slideshare.net/hassox/merb-slices-presentation), but I also think the name does an effective job at describing its function: slicing a larger application up into constituent parts. And the axis/number of the slices is up to the app author: they can be vertical slices (like cake)

[2022-08-26 06:07] #1203 closed

[2022-08-26 07:21] waiting-for-dev commented on #1203
I see slices as different DDD domains, so I might have chosen` Hanami::Domain`, although that's more opinionated and maybe would have contrived other usages. The truth is that slice is more agnostic.

[2022-08-26 15:22] c4lliope commented on #1203
Ah, I'm only sad your name choice makes your program sound more like a logging and lumber operation
than an homage to spring blooms.

[2022-08-26 15:37] c4lliope commented on #1203
And apologies, I'm only arguing based on a rough idea of your designs;
I see no guides released describing use cases, so I can only see your [code](https://github.com/hanami/hanami/tree/main/lib/hanami/slice) and [remarks](https://hanamirb.org/blog/2022/08/16/announcing-hanami-200beta2/#conditional-slice-loading).

I'm more or less dropping Rails and seeking libraries handling similar use cases,
s

[2022-08-26 18:54] c4lliope commented on #1203
Also see "Limb", "Bough", "Bud", and so on.

[2022-08-27 07:00] bhanuone opened #1205 "Incorrect module names when generating a new project"
I was trying Hanami 2.0.0 beta for my side project. When generating a new project, If the project name ends with a `s` it is being ignored by `hanami new` command.

Eg:
[code]
And the generated module name is not consistent with the project name.
`lib/rubygems/types.rb`
[code]

[2022-08-27 08:39] timriley commented on #1205
Thanks for testing Hanami and reporting this! I noticed it too just recently - we definitely need to fix this.

In the meantime, sorry for the inconvenience! Hopefully you were able to do the manual renaming necessary to preserve your intended project name :)

[2022-08-29 13:03] jodosha commented on #1205
@bhanuone Thanks for reporting. I spotted the problem as well.

[2022-09-13 09:53] mtmtcode opened #1210 "Hanami 2.0 release schedule and Ruby 2.7 EOL"
Hi, Hanami Team 🌸
Thanks for your great work!

I am thinking of upgrading Hanami 1.3 to 2.0.
Could you tell me an estimate of when Hanami 2.0 will be officially released?
Since support for Ruby 2.7 will end in April 2023, I am interested in if Hanami 2.0 is released before then.

[2022-09-15 06:51] sreeram-venkitesh commented on #1108
@jodosha I had faced this same issue when I was trying out Hanami by following the commands from the [install](https://hanamirb.org/#install) section in the Hanami homepage. I was using Ruby `3.0.2` and had to search through the issues in GitHub to learn that Ruby 3 is not supported as of now in Hanami 1. Do you think it'd make sense to add this as a small message in the homepage, along with the i

[2022-09-15 11:47] vcborsolan opened #1211 "Hacktoberfest 2022"
Hello folks, I'm opening this issue to discuss if this repository will participate in the 202 digital ocean [hacktoberfest](https://hacktoberfest.com/participation/#maintainers).

If so, let's review the issues and add the labels/tags for valid contributions.

[2022-09-15 19:39] cllns commented on #1108
@sreeram-venkitesh Thanks for the push on this. You're right it's a terrible experience. I just added a note to the homepage. https://hanamirb.org/

[2022-09-15 19:53] cllns commented on #1211
We're not interested in participating in Hacktoberfest. We have a bit more work to do releasing Hanami 2.0 and 2.1 but it's all stuff that requires a lot of context and knowledge about how the various parts of Hanami and dry-rb fit together. There's not any obvious self-contained "low-hanging fruit" tasks right now. I'm afraid that attracting many beginner contributors would be more trouble than i

[2022-09-15 19:53] #1211 closed

[2022-09-15 19:56] cllns commented on #1210
We can't give an estimate on when it'll be available. We're all volunteering our own time and are balancing other obligations. Thanks for bringing up the EOL of 2.7; that's a great point. I fully expect 2.0 will be released by then.

That said, we have Hanami 2.0.beta.2 out now, so I don't think it's too far away. Note that we'll be releasing Hanami 2.0 without a view or model layer, than release

[2022-09-15 19:57] #1210 closed

[2022-09-15 19:58] cllns commented on #1205
Fixed by @jodosha in https://github.com/hanami/cli/pull/38

Not released as a gem yet, but it will be soon.

[2022-09-15 19:58] #1205 closed

[2022-09-20 10:01] mtmtcode commented on #1210
@cllns Thank you for your reply!

I've understood that there is not a definite release schedule.
I know that this project is run by volunteers, and appreciate it very much.
I'm glad that you recognize EOL of Ruby 2.7. I'll try to contribute to this project if I can.

[2022-09-21 18:47] sreeram-venkitesh commented on #1211
@cllns You mentioned that the tasks right now would require context about how Hanami works. Are there any resources that you'd recommend for new contributors to get involved? Are the documentation and the code the best place to start?

[2022-09-21 20:06] cllns commented on #1211
No, not currently. There will be plenty of opportunities to contribute once we release 2.0, but until then I'm afraid too much of the context is internal to specific team members for the parts they're specializing in. It'd simply require way too much time to document. Thanks for your interest though!

In the meantime, I'd recommend trying out the latest beta. There's not much documentation complet

[2022-09-23 05:58] sreeram-venkitesh commented on #1211
@cllns Thank you!

[2022-10-18 16:51] llhhaa opened #1225 "On beta `hanami new` - "unitialized constant Dry::System""
Hello! My team is giving the Hanami beta a spin, and I am running into a `NameError` when running `hanami new bookshelf`.

[code]

This is on a fresh install of Ruby (via rbenv) and Hanami:
* MacOS: `12.6`
* rbenv: `1.2.0`
* Ruby: `3.1.2p20`
* RubyGems: `3.3.7`
* Hanami: `v2.0.0.beta3`
* `dry-system` is installed at `0.27.2`

Let me know if there is further information I can provide or further tri

[2022-10-19 08:35] solnic commented on #1225
Please wait for beta4 that we'll be releasing next week on Monday/Tuesday. It's going to be updated to work with latest dry-rb stuff 🙂

[2022-10-19 08:35] #1225 closed

[2022-10-19 13:19] llhhaa commented on #1225
Got it, thank you!

[2022-10-21 10:17] masterT commented on #1075
I think this can be closed. 🙂

[2022-10-22 10:10] #1075 closed

[2022-10-29 12:02] jodosha opened #1231 "Partial name in action registry"
I have the following route:

[code]

But WITHOUT the corresponding action.
When I start the app via `hanami server` and try to reach that endpoint, the app crashes (expected) with the following message:

[code]

[code]

---

I see a few problems with this exception:

* It's hard to correlate which action is missing. I have two actions with the same identifier `"home.show"`, at the first sight I do

[2022-11-01 04:32] #1231 closed

[2022-11-08 09:30] wuarmin opened #1245 "Setting the format of actions at App has no effect"
Hey,
if I set the action format as explained in the latest [blog post](https://hanamirb.org/blog/2022/10/24/announcing-hanami-200beta4/#simplified-body-parser-config), but the response format of my slice-action keeps to be

[code]

[code]
**Workaround:**
[code]
**Another question:** What's the best way to set a format/body_parser for a slice?

Thanks

[2022-11-08 09:35] timriley commented on #1245
@wuarmin I think you want this:

[code]

`.format` just registers the content type for that format name. The `default_response_format` config will effectively run the code from your workaround automatically for every action.

Could you please give this a go and confirm for me?

[2022-11-08 10:11] wuarmin commented on #1245
@timriley Thanks, understood, but unfortunately
[code]
has also not effect.

Do you have some input for:

Thanks

[2022-11-08 12:10] timriley commented on #1245
Try this:

[code]

Routes:

[code]

Action:

[code]

curl:

[code]

Looks like it all works as it should.

[2022-11-08 12:12] timriley commented on #1245
I'm going to close this for now, but feel free to reply if you have any issues.

[2022-11-08 12:12] #1245 closed

[2022-11-08 14:46] jodosha opened #1248 "NoMethodError: undefined method `sessions' for Hanami::Config::NullConfig"
I have a Hanami 2 application using only `hanami-router`, and NOT `hanami-controller`.

[code]

I'm using `2.0.0.rc1`

---

https://trello.com/c/RRVtK310

[2022-11-08 22:55] janko opened #1250 "Registering custom middleware in a way that's visible in `hanami middleware`"
hkIn order to test out Hanami 2, I'm trying to set up a blog that uses Rodauth. I have `config/providers/sequel.rb` which sets up a Sequel database:

[code]

And I have `app/rodauth_app.rb` which defines the Rodauth app:

[code]

The Rodauth app has to be loaded after the Sequel provider has booted, because configuring Rodauth will fail if there is no Sequel database connection. In order to help w

[2022-11-09 08:09] jodosha commented on #1250
@janko Thanks for checking Hanami 2.

`config/app.rb` is the place where to mount your Rack middleware.
Specifically:

[code]

I assume that `Blog::RodauthMiddleware` isn't autoloaded by Zeitwerk because of namespace conventions, could you please try to move `app/rodauth_app.rb` to `lib/blog/rodauth_app.rb`?

[2022-11-09 08:39] janko commented on #1250
Thanks, I did mention that I tried to move it to `lib/blog/rodauth_app.rb`, but still got `NameError: uninitialized constant Blog::RodauthMiddleware` (adding a `require "blog/rodauth_app"` didn't work either).

[2022-11-09 09:05] jodosha commented on #1250
@timriley or @solnic could you please have a look? I'm not that skilled with Zeitwerk setup. Thanks 🙏

[2022-11-09 10:20] wuarmin commented on #1245
@timriley thank you for the help. Yes, now it works. I didn't check it with curl. I just checked the resp-headers in my browser and the Content-Type is `text/html` (with curl outputs `application/json`)
![image](https://user-images.githubusercontent.com/9987680/200803682-1561f9c2-de8b-40d0-b3fb-b6dcb1843da4.png)
but if I set the format at action-level `res.format = format(:json)` my browser shows

[2022-11-09 23:02] janko commented on #1250
It seems that Zeitwerk is setup only at boot time, not on subclassing `Hanami::App`. I'm guessing the reason is to allow modifying dry-system's Zeitwerk setup via app config.

Not sure if there is an easy way to have the middleware in a separate file. I'm fine with requiring it manually from `lib`, so if at least the load path is updated on subclassing `Hanami::App`. I would just like to avoid `re

[2022-11-10 08:27] solnic commented on #1250
@janko any chance you could push a repo with this setup to GH so that I could take a look and make it work? Middlewares are kinda odd citizens because they receive the entire rack app as their constructor argument. I wanted the whole routing/rack layer to be bootable via provider but, at least for now, it was too hard for us to achieve it so it's one of the "special things" that the framework hand

[2022-11-10 08:34] timriley commented on #1250
@janko You're right about the reasons for Zeitwerk not being ready until App.prepare. I'll revisit our $LOAD_PATH setup with your use case in mind. Sometime in the next 24h.

[2022-11-10 10:04] timriley commented on #1250
@janko So right now we push `/lib/` onto `$LOAD_PATH` in the `Hanami::App.inherited` hook.

This means the following should work for you:

[code]

I've tested on a newly created Hanami app and it works fine. I'd recommend you do this to unblock you and help you continue testing (thank you so much for testing things! ❤️)

That you came across this hitch does make me wonder if there's more we can do

[2022-11-10 11:16] timriley commented on #1250
Ah, the trick with Zeitwerk setup at this stage is that we don't know what `[app_name]` is until we've required `config/app.rb` and the app class is registered.

We could potentially just set up Zeitwerk for the entirety of lib/, which I'll do a quick spoke on now.

[2022-11-10 11:39] timriley commented on #1250
Ah yes, and the autoloader should really respect custom inflections specified in the app config.

So given this, I think we should probably just move the $LOAD_PATH setup only, and not do anything with autoloading outside of the app class.

[2022-11-10 13:12] #1248 closed

[2022-11-10 20:07] #1250 closed

[2022-11-10 20:26] timriley commented on #1167
Fixed in #1251.

[2022-11-10 20:26] #1167 closed

[2022-11-10 20:27] timriley commented on #1034
This is already done.

[2022-11-10 20:27] #1034 closed

[2022-11-10 21:21] janko commented on #1250
Amazing, appreciate the quick fix, it's working great 🤘🏻

[2022-11-10 23:34] timriley commented on #1245
@wuarmin Ah, the reason you're getting `Content-Type: text/html` in the response from your browser's request is that your browser is setting an `Accept` header that looks like this:

[code]

I can confirm I've replicated this locally.

Here's why it happens: when Hanami::Action sets up its response object, it prepares a default `Content-Type` response header based on this `Accept` header, if it is

[2022-11-11 05:01] timriley commented on #1250
Thanks for checking it, @janko!

[2022-11-11 16:49] janko commented on #1250
Completed a simple JSON API application that uses Rodauth, for those interested – https://github.com/janko/hanami-rodauth-example 🙂

I didn't come across any additional hurdles on the way, great job with the whole developer experience 👏🏻

[2022-11-14 08:04] katafrakt opened #1252 "Cryptic error when making a mistake in params definition"
Hi. I encountered a very cryptic error message when making an error in `params`, like this (`filed` instead of `filled`):

[code]

When booting the app and hitting a controller with an error, the message is:

[code]

The repo with reproduction is here: https://github.com/katafrakt/repro_hanami_params_error (just start the server and go to `localhost:2300`)

[2022-11-14 09:47] timriley commented on #1252
Thanks for sharing this, @katafrakt!

FWIW, I tested this another way, and it's revealed the information I would have expected/wanted to see:

[code]

I think the error is getting swallowed up by dry-system's `DidYouMean` integration when resolving components, which is intended to provide helpful error messages, but in this case is doing the complete opposite!

I'll take a look into what's going o

[2022-11-15 12:11] gregmolnar opened #1255 "hanami new with --hanami-head throws an error"
I was trying to generate the sample app with head, but I am getting this error:

[code]

[2022-11-15 12:15] solnic commented on #1255
Thanks for reporting this. Where did you find this option? Current app generator does not support this option.

[2022-11-15 14:25] gregmolnar commented on #1255
I got it from the Readme: https://github.com/hanami/hanami#how-to-use-hanami-head

[2022-11-15 20:37] cllns commented on #1252
@timriley I'm looking into this. I added [the DidYouMean integration in dry-system](https://github.com/dry-rb/dry-system/pull/217) so I have the best chance of wrangling this. If it's too much, yes we should disable it but I hope we can figure it out!

[2022-11-15 20:55] timriley commented on #1252
Thank you @cllns! I'll leave with with you for a few days then.

IIRC I've also been confused by obtuse results from the DidYouMean integration once or twice, but unfortunately I can't recall the details. Luckily we have this great example to work from now.

[2022-11-15 21:41] cllns commented on #1252
I've figured out the problem and a fix.

dry-system is currently catching __all__ `NameError`s that happen, and `NoMethodError` (for `.filed`) _is_ a `NameError`. Instead we only want to do our special DidYouMean integration for the one specific constant we're trying to load, none that happen within the loaded constant itself.

Just need to figure out how to write some good tests for it because th

[2022-11-15 23:11] timriley commented on #1252
Ah yes, this sounds like the crux of it!

[2022-11-18 07:32] #1252 closed

[2022-11-18 07:35] solnic commented on #1252
I can confirm that this now works as expected using dry-system from main. So, it'll be fixed in 1.0.0.

[2022-11-18 13:33] solnic commented on #1255
@gregmolnar ah this is outdated, we'll be updating all README's prior releasing 2.0. I'm gonna close this.

[2022-11-18 13:33] #1255 closed

[2022-11-23 09:16] jiggneshhgohel opened #1261 "Hanami 2.0 app's providers under `config/providers` are not getting prepared by default"
Hello,

I started exploring Hanami and as part of that started following the 2.0 guide at https://guides.hanamirb.org/v2.0/introduction/getting-started.

I am trying to access a relation class in **development env console** but am getting` NameError: uninitialized constant` related to ROM. Please find relevant code snippets below:

**Gemfile**

[code]

**config/providers/persistence.rb**

[code]

[2022-11-23 19:47] timriley commented on #1261
Hi @jiggneshhgohel, thanks for trying Hanami 2.0!

So there's one thing that's worth knowing about these persistence classes (and this is more a rom-rb thing than a Hanami thing) — they're not designed for you to reference them directly by class name as the app author. Instead, you access them via the `rom` object that is created as part of rom-rb setup.

So given an app created by following guide

[2022-11-23 19:47] #1261 closed

[2022-11-24 03:21] timriley opened #1262 "Register rack events on notifications component before attaching middleware"
i.e. the same as this patch, but built in:

[code]

Will avoid an error like this:

[code]

[2022-11-24 08:32] jiggneshhgohel commented on #1261
@timriley Thanks for your elaborate response and esp for sharing following insights

The way you suggested works (see console output below)

[code]

As a novice to hanami and also to rom-rb looking at the code examples shown under https://rom-rb.org/learn section my obvious attempt is to try out what is shown in the documentation and the Relations section at https://rom-rb.org/learn/sql/3.3/relati

[2022-11-26 08:48] solnic commented on #1262
Did you manage to figure out *when* this happens?

[2022-11-26 11:34] timriley commented on #1262
@solnic I haven't whittled it down to a bare bones reproduction, but you _can_ reproduce it inside https://github.com/decafsucks/decafsucks by doing the following:

1. Check out the repo, make sure it's setup, etc.
2. Run `rspec spec/slices/main/features/home_page_spec.rb` and make sure it passes
3. Comment out `require "ext/hanami/providers/rack"` from `config/app.rb`
4. Run `rspec spec/slices/ma

[2022-11-29 17:11] kucho opened #1264 "Hanami server is not picking up env variables"
Hello! Today I decided to start a new project using Hanami 2.0 and started poking around a little bit.

I stumbled across an annoying little bug. I have set env variables using `direnv` and a `.env` file that looks like this:

[code]

However, it is not getting picked up at boot:

[code]

I tried to debug it with `ruby/debug` and `byebug` but it just hung every time. At first, I thought it was som

[2022-11-29 17:23] kucho commented on #1264
Hanami console shows the correct value:

[code]

[2022-11-30 10:28] jodosha commented on #1264
@kucho Sorry for this problem. I fixed, but I need a bit more time to write tests and open a few PRs (hanami, cli, reloader).

[2022-11-30 15:09] mikebaldry opened #1265 "Using rules in params?"
Great job on Hanami and congrats on this big release!

I'm trying to make a custom rule for a `Hanami::Action::Params` subclass but it doesn't appear to be execute them.

I couldn't find an example using rules, and tried various syntax until this one didn't fail on boot, but placing a `pry` inside doesn't stop and the tests fail.

[code]

What is the correct way to apply slightly more complex vali