[2014-06-12 12:12] jodosha opened #1 "Allow to configure cookies"
Provide a configuration for cookies.
### Proposal

[code]

This should inject `Lotus::Action::Cookies` into `Bookshelf::Action`, using `Lotus::Controller::Configuration#modules` during the load time.

[2014-06-12 12:12] jodosha opened #2 "Allow to configure sessions"
A Lotus application should provide an API to enable sessions and to allow developers to set options for it. This should take advantage of the middleware configuration (#40).
### Proposal:

[code]

Please note that `sessions true` should enable sessions, by including `Lotus::Action::Sessions` into `Bookshelf::Action` taking advantage of [`Lotus::Controller::Configuration#modules`](https://github.co

[2014-06-12 12:12] jodosha opened #3 "Allow to configure Rack middleware"

[2014-06-12 12:15] jodosha opened #4 "Allow redirects with symbols"
As now we have two ways to specify an URL for a redirect in an action:

By hardcoding the path:
[code]

By using the helper:
[code]

I would like to introduce a third way:
[code]

[2014-06-22 15:08] runlevel5 opened #5 "Failed to render page with Safari"
I clone your `furnitures` app then try to run it with rackup. When I view `/catalog` page under Safari, I got error from Safari that the server has dropped connection and return an Safari error page. I checked the output of WEBrick, and the request seems fine `"GET  HTTP/1.1" 200 - 0.0123`.

FYI, the page renders normally under Chrome.

The test app is at github.com/joneslee85/lotus-blog, please r

[2014-06-24 07:49] shime opened #16 "unable to start a single file application"
When I try to run this with `rackup`

[code]

[code]

it throws this error:

[code]

How do I start a single file Lotus app?

[2014-06-24 08:06] #16 closed, assigned to nobody

[2014-06-25 02:11] namtih58 opened #19 "Modular structure"
Love the approach you are taking. Thank you for your work.
Is it possible to suport a modular structure where each module/feature is self contained as shown below

[code]

[2014-06-30 11:09] #19 closed, assigned to nobody

[2014-06-30 11:18] jodosha opened #24 "Code reloading"
Use `shotgun` to achieve code reloading.

[2014-06-30 11:21] jodosha opened #26 "Application freeze"
The Lotus philosophy for application boot is: load all the code at the beginning, then freeze the parts that may suffer of accidental changes and lead to software defects.

This MUST include:

  - [ ] The configuration of an application (see `Lotus::Application.configuration`)
  - [x] All the configurations of the single duplicated frameworks

[2014-06-30 11:25] jodosha opened #27 "Allow developers to configure Rack middleware"
This should be part of `Lotus::Configuration`.

[2014-06-30 11:26] jodosha opened #28 "Support multiple environments"
Let a Lotus application to change its behavior according to the current environment where it's running.

For instance, we can avoid to freeze the configuration (see #26) if we are running the application on a development machine. This ease to process of make it reloadable (see #24).

Another example, is the Rack middleware stack (see #27), to serve static files and use `Rack::Lint` isn't useful in

[2014-06-30 12:19] jodosha opened #29 "Code generators"
In order to streamline the getting started process with Lotus, we want to provide an application generator. The implementation can take advantage of the code that Lotus CLI offers (see #23 ).

One pending question is about the default code structure that we want to support. After a lot of experiments with Lotus apps, I vote for [microservices](https://github.com/lotus/lotus#microservices-architect

[2014-06-30 12:57] jodosha opened #30 "Register Lotus applications"
The [microservices](https://github.com/lotus/lotus#microservices-architecture]) architecture uses an anonymous `Lotus::Router` instance. Mounted applications aren't aware of the prefix that we assign in `config.ru`, this leads to wrong URL generation.

Example:

[code]

This double routing dispatch is inefficient: a request goes thru two instances of `Router`, one from `config.ru`, one from the ap

[2014-06-30 13:38] jodosha opened #31 "Testing utilities"
Add utilities to ease the testing process.
The goal is to support BDD via feature and unit tests. For feature tests we mean, full stack, browser simulation (like Cucumber does).

This should be part of this PR. We should support the same feature with MiniTest & RSpec

The expected structure is:

[code]

- [x] Support MiniTest
- [x] Support RSpec
- [x] Support for feature tests with Capybara
- [x]

[2014-06-30 13:43] jodosha opened #32 "Custom error pages"
Allow developers to customize their error pages.

As now, when a request that accepts `text/html` and causes a non successful response, the framework shows a simple page like the following:

[code]

This use case is handled by `Lotus::Views::Default` which renders `lotus/templates/default.html.erb`.

[2014-06-30 13:49] jodosha opened #33 "Lotus console"
Add a development console as part of the Lotus CLI (see #23).
It should load the applications and the code, and let developers to quickly test code.

Bonus, start a PRY console instead of IRB, only if PRY is available.

[2014-06-30 13:52] jodosha opened #34 "Logging utilities"
Add logging utilities for each Lotus application. An idea on how to implement is to generate a `Bookshelf::Logger` class for a `Bookshelf::Application`.

[2014-06-30 15:27] AlfonsoUceda opened #35 "rake routes or lotus routes"
Hi:

It would be a good a idea print routes like rails does it 'rake routes'.

Do you think is better idea with rake or lotus?

[2014-07-01 07:52] #5 closed, assigned to nobody

[2014-07-02 08:36] #3 closed, assigned to nobody

[2014-07-02 23:33] Alir3z4 opened #38 "Installation package for ArchLinux"
Just made one for archlinux:
https://aur.archlinux.org/packages/ruby-lotusrb/

I made for other lotus frameworks too.
including:
- ruby-lotus-utils
- ruby-lotus-router
- ruby-lotus-controller
- ruby-lotus-view

_ps: not sure if this is a right place to announce._

[2014-07-03 10:33] #38 closed, assigned to nobody

[2014-07-04 14:45] #33 closed, assigned to davidcelis

[2014-07-10 09:31] #27 closed, assigned to davidcelis

[2014-07-10 10:08] #28 closed, assigned to jodosha

[2014-07-11 21:17] gotjosh opened #48 "Update README with Configuration#mapping documentation."
Since we allow a database mapping block to be yielded to the `Configuration#mapping` method, this should be documented in the README.

[2014-07-12 04:19] #48 closed, assigned to nobody

[2014-07-14 16:17] dannluciano opened #53 "Method load! problems"
Hi Guys, I try the OneFile example, but when run rackup I get this error:

`<class:Application>': undefined method`load!' for OneFile::Application:Class (NoMethodError)

When I removed the load! method and replace the module OneFile:: per global Lotus::, the code run without problems

[2014-07-14 17:18] #53 closed, assigned to nobody

[2014-07-15 15:27] #1 closed, assigned to nobody

[2014-07-15 15:51] letyco opened #54 "Lotus doesn't work on ruby 1.9.3"
Throws an error when attempting to require 'lotusrb'

SyntaxError: /home/james/.rvm/gems/ruby-1.9.3-p448/gems/lotus-controller-0.2.0/lib/lotus/action/redirect.rb:33: syntax error, unexpected tLABEL
      def redirect_to(url, status: 302)
                                  ^
/home/james/.rvm/gems/ruby-1.9.3-p448/gems/lotus-controller-0.2.0/lib/lotus/action/redirect.rb:39: syntax error, unexpected ke

[2014-07-15 15:54] letyco opened #55 "Demo single file app in docs does not work"
When following the instructions in http://rdoc.info/gems/lotusrb for a single file app

On copying and pasting into the file I get:

ruby config.ru
config.ru:13:in `<module:OneFile>': uninitialized constant OneFile::Controllers (NameError)
    from config.ru:4:in`<main>'

[2014-07-15 16:09] #54 closed, assigned to nobody

[2014-07-15 16:10] #55 closed, assigned to nobody

[2014-07-16 21:29] krasnoukhov opened #56 "Default templates path does not work well on Heroku"
I think this issue can be marked as "wontfix", but it might be worth sharing.

The thing is that Heroku uses following paths to bootstrap the app:
- `/app` – this is where the git repository is checked out
- `/app/vendor` – this is where gems are installed

Default Lotus root path is `/app`, so when `Lotus::View` performs template search it also does that on a bunch of files located in `/app/vendo

[2014-07-17 09:41] #56 closed, assigned to nobody

[2014-07-24 19:28] alexgenco opened #58 "Gem doesn't install any executables"
The README suggests the gem provides command line utilities such as `lotus server` and `lotus console`. However a fresh install doesn't include any executables:

[code]

The same happens when installed from a Gemfile inside a lotus project. Am I missing something?

[2014-07-24 23:23] #58 closed, assigned to nobody

[2014-07-28 13:33] mwallasch opened #59 "Allow asset path configuration"
It would be great if Lotus would provide a way to allow developers  to configure asset paths (especially for multi-app scenarios).

Example structure:

[code]

@jodosha suggested the following API similar to the existing load_paths API

[code]

[2014-08-03 11:56] thegcat opened #64 "Secure by default?"
What is the policy for Lotus regarding security? Should Lotus be (reasonably) secure by default or should this be a responsibility of the developer? (I'm thinking about `rack-protection` for example, I' not so sure about a mechanism similar to `SafeBuffer`)

[2014-08-05 10:49] #32 closed, assigned to nobody

[2014-08-09 10:49] twe4ked opened #66 "Access router from views/templates"
Just wondering if there is a recommended way of accessing the router (for path helpers) from views/templates.

@robyurkowski pointed out a way to access it through the application constant:

[code]

Should something be exposed at the view level?

[2014-08-09 13:39] #66 closed, assigned to nobody

[2014-09-29 10:12] jodosha opened #69 "Make JSON body available in params"
Rack implementation [doesn't parse](http://stackoverflow.com/questions/9707034/cant-receive-json-object-with-rack-ruby-server) JSON requests by default.
#### Example

[code]

[code]

Returns `{ :id => "1" }` and omits `published` from request body.

[2014-10-14 16:53] PragTob opened #71 "JRuby support"
JRuby support is currently missing from lotus.

Asking @jodosha it seems to be because `Module.prepend` is missing in the current JRuby release.

FYI `Module.prepend` seems to be mostly implemented on JRuby master jruby/jruby#751 which is the next major release (JRuby 9k) - unfortunately I dunno when it's gonna land (hoping for start of next year personally).

If I get a lot of time I might look i

[2014-10-20 08:10] nackjicholson opened #72 "Question: Are there good references on Ruby modules and Lotus' theory of how to use them?"
In playing with this framework a small amount I've certainly noticed that almost everything is a module which is to be included as a mixin. I understand it is part of the philosophy of lotus and is a conscious design decision. Are there any good reference materials, books, papers, blogs, explanations, or anything else you could point me toward to help me understand the theory behind that philosoph

[2014-10-20 20:27] kirs opened #73 "Load order"
My structure is:

[code]

`FirstController` and `SecondController` are using `SomeMixin`.
The problem is that those controllers are loaded first when SomeMixin is undefined.

Any ideas how to deal with it?

[2014-10-21 09:09] #72 closed, assigned to jodosha

[2014-10-22 07:21] #73 closed, assigned to jodosha

[2014-10-28 00:28] janko opened #75 "Autogeneration of MyApp::Controller and MyApp::View is magic"
I would like that autogeneration of `MyApp::Controller` is removed. This feature suprised me when I found out about it. What happened in my development was that I wanted to **make** a `MyApp::Controller`, and then I got warnings of already initialized constant, and some really weird errors (because I tried to make `MyApp::Controller` a class). There is

[code]

But it didn't work for me, because I

[2014-10-28 08:49] #75 closed, assigned to jodosha

[2014-11-16 10:44] tak1n opened #80 "Lotus console doesn't load files in load_path"
Given this example application:

[code]

And this entity:

[code]

When starting the application the user entity gets required via the `load_path` configuration.

[code]

When starting the lotus console the entity isn't required:

[code]

The whole application can be found under: https://github.com/bennyklotz/timetracker-ruby

[2014-11-18 16:39] lessless opened #81 "can't disable assets"
Hello! I want NGINX to serve files from the public directory so I decided to disable assets  in lotus so it won't handle that requests and let NGINX do its business.

[code]

but there an wild error appeared

[code]

[2014-11-24 14:17] Jesterovskiy opened #82 "Get response from middleware"
I used this construction:
[code]
Auth::SignIn returns Rack::Response, but action SignIn doesn't know about this response. How can I return this response or get params from middleware to call method?

[2014-12-01 13:17] #2 closed, assigned to gotjosh

[2014-12-01 13:18] #81 closed, assigned to jodosha

[2014-12-05 09:53] jodosha opened #85 "Per framework configuration"
Framework configurations are a fast moving target.
With the current approach, if we introduce a new setting in a minor release of Model/View/Controller gems, we're forced to add it to `Lotus::Configuration` as well.

There are some configurations that makes sense to expose at the top level (`Lotus::Configuration`) like we do right now. Settings like `adapter` and `mapping` are stable in both Lotus

[2014-12-06 14:29] runlevel5 opened #87 "Lotus failed to serve assets"
The code is at: github.com/joneslee85/lotus-blog

When I run: `bundle exec lotus server` and browser `localhost:2300/posts`

I got error:

[code]

I could reproduce this bug easily. Any thought?

[2014-12-08 10:30] jodosha opened #90 "Introduce Lotus::Container"
`Lotus::Container` allows to define multiple Rack and Lotus applications in a single place.
### Architecture

This is needed as public API reference in a context of a Lotus microservices architecture.

[code]

[code]

[code]
### Testing applications in isolation

The other requirement is to allow developers to **test components in isolation**.
When we mount applications directly in `Lotus::Router`

[2014-12-08 14:44] #24 closed, assigned to jodosha

[2014-12-08 16:22] jodosha opened #91 "Per env default Rack middleware inside application"
We want to setup common per env Rack utilities. For instance `Rack::Lint` or `Rack::ShowExceptions` in development or `Rack::CommonLogger` in production.

The reason is to allow developers to configure their Rack stack per application basis.

[2014-12-09 23:28] #87 closed, assigned to nobody

[2014-12-11 10:45] #90 closed, assigned to jodosha

[2014-12-11 10:49] #91 closed, assigned to jodosha

[2014-12-11 12:43] #85 closed, assigned to jodosha

[2014-12-11 13:05] #35 closed, assigned to AlfonsoUceda

[2014-12-11 13:13] jodosha opened #95 "Application.configure to accept a path"
### Actual

We can override configurations per env basis.

[code]

Configurations are inherited from the general one (the first), and according to the current env, the second block is evaluated.

In the example above the default format will always be JSON, because it was configured in the general one and not overwritten by the child.

The behavior changes when we talk about exceptions: in developm

[2014-12-11 13:25] jodosha opened #96 "Support .env files"
Support `.env` files in order to load configurations into ENV variables.
This is a [well known](http://12factor.net/config) and large used best practice.

This is a proposal to support multiple environments and put those files under `config/`. We should have a general file `.env` that is the master of all the configurations. Then we should have per environment settings.

[code]

The idea is to use

[2014-12-12 10:00] #96 closed, assigned to jodosha

[2014-12-12 10:01] #95 closed, assigned to AlfonsoUceda

[2014-12-15 12:21] #59 closed, assigned to AlfonsoUceda

[2014-12-15 12:22] #69 closed, assigned to gotjosh

[2014-12-16 16:01] #30 closed, assigned to nobody

[2014-12-19 18:44] #29 closed, assigned to jodosha

[2014-12-20 11:43] jodosha opened #110 "Session is cleared after each request"
Problem https://github.com/lotus/controller/issues/64

This appears to be a problem that affects full stack applications and how they configure sessions. Thanks to @AlfonsoUceda for finding the root cause.

[2014-12-20 17:31] #80 closed, assigned to jodosha

[2014-12-21 21:31] #110 closed, assigned to AlfonsoUceda

[2014-12-22 11:25] runlevel5 opened #117 "Session test fail intermittently"
I took few runs till I bumped into this intermittent failure

[code]

[2014-12-23 08:19] #117 closed, assigned to AlfonsoUceda

[2014-12-31 18:48] midas opened #121 "Not Found response when mounting a Rack app into Lotus container"
Given a container configuration:

[code]

After starting server, perform a curl request:

[code]

Results in a `Not Found`.

Environment information follows.

[code]

[code]

[2015-01-01 15:22] jodosha commented on #121
@midas Thanks for reporting this. The problem is that the first application will capture all the requests who match the defined root `/`. So when you try to reach `/rack`, this resource is shadowed by the first application, which doesn't define that resource and returns a `404`.

This is a well known limitation, and the solution is in our [backlog](https://trello.com/c/LbpVBQuL/23-flatten-routes).

[2015-01-01 15:22] #121 closed

[2015-01-03 04:44] midas commented on #121
@jodosha Thanks for the reply.  This makes sense.  Also, thanks for your work on this awesome framework.  I would love to get involved if possible.  How does one go about getting involved at this point?

Thanks!

[2015-01-03 07:23] joneslee85 commented on #121
@midas Greetings! We welcome contributions in any means. @jodosha's posted Lotus Roadmap 2015 and there are much works to be done. For the time being, please feel free to join chat.lotusrb.org and let us know if you are interested in picking up any planned features.

[2015-01-03 07:27] joneslee85 commented on #71
I created a feature card https://trello.com/c/aRmE8bSF/107-support-jruby

[2015-01-03 07:33] joneslee85 commented on #34
@vuvanly are you still working on this feature? I haven't heard back from you and @huydx has expressed his interest in giving this a go. So please let me know asap.

[2015-01-05 06:56] joneslee85 opened #123 "Access to SQL console"
**Status:** In Progress

Provide a convenient way to access the SQL console. The feature should resemble the Rails's `rake db:console`

The interface for the CLI would be: `bundle exec lotus dbconsole`. The command should look into the configuration of adapter which is set in `lib/<app_name>.rb`.

Please be noted that the command only works if adapter is SQL, it should raise error or warning that

[2015-01-05 10:31] jodosha commented on #64
@thegcat @rkh @lasseebert @activestylus @emptyflask @PragTob @janko-m Folks, I've carefully listened and considered your advices: Lotus [will adopt](http://lucaguidi.com/2015/01/01/a-new-roadmap-for-lotus.html) a **secure by default** policy.

Security is an important aspect of web apps, but it's often underestimated. In my career I've seen companies only allocate budget for features, without a se

[2015-01-05 10:31] #64 closed

[2015-01-05 10:36] rkh commented on #64
+1 I'm totally fine with people not using rack-protection as long as there
is some means of protection. I'm also open to refactoring rack-protection
(which I have on my Sinatra 2 roadmap, anyway) to address your issues. I do
believe that there is value in sharing such critical code between projects.

On Mon, Jan 5, 2015 at 11:31 AM, Luca Guidi <notifications@github.com>
wrote:

[2015-01-06 07:38] jodosha commented on #34
As part of this plan, I would love to see a replacement of `Rack::CommonLogger` to be used in [`Lotus::Server#middleware`](https://github.com/lotus/lotus/blob/master/lib/lotus/commands/server.rb#L36).

Please remember that if we want to tag the request with an unique ID, we have [`Action#request_id`](https://github.com/lotus/controller/blob/master/lib/lotus/action/rack.rb#L141) for the purpose.

[2015-01-07 11:42] vuvanly commented on #34
Sorry for late response. Recently i have somethings to do, so in the near
future i think i cannot follow it. Sorry for this inconvenience.

On Sat, Jan 3, 2015 at 4:33 PM, Trung Lê <notifications@github.com> wrote:

--
*Vũ Văn Lý *
*Ruby on Rails Developer*

*Address: 15/32/48A, Vo Duy Ninh, Binh Thanh
<https://www.google.com/maps/place/13+V%C3%B5+Duy+Ninh,+22,+B%C3%ACnh+Th%E1%BA%A1nh/@10.791769,1

[2015-01-08 03:27] mengqing opened #127 "Support generate app in the current folder"
I know this isn't in the readme, but I think this should have a similar behaviour to rails new .

perhaps a default app_name should be used when app_name is '.'

[2015-01-08 03:57] joneslee85 commented on #127
@mengqing thanks for reporting, I am not aware of such feature in Rails but now I know that

[code]

would generate a new app in the current folder.

Would you be able to submit a PR?

[2015-01-08 20:50] robyurkowski opened #129 "Dotenv error when application name includes a dash"
When I create an application with a dash in its name, running `bundle exec lotus server` fails even when I've not changed anything.

I can reproduce this on both the latest gem version and when generated using `--lotus-head`.

I suspect we need to do some sanitization of app names to prevent invalid characters from being used in `ENV` variables.

Here's an example stack trace:

    /home/rob/Sites

[2015-01-08 22:24] joneslee85 opened #130 "Remove support for Ruby 1.9.3 on 23/02/2015"
According to this [announcement](https://www.ruby-lang.org/en/news/2014/01/10/ruby-1-9-3-will-end-on-2015/), Ruby 1.9.3 will reach EOL.

[2015-01-09 00:34] joneslee85 commented on #129
`When I create an application with a dash in its name` - can you please let me know which command did you use?

[2015-01-09 02:52] robyurkowski commented on #129
In the former case, `bundle exec lotus new rob-dyn` and then `bundle exec lotus new rob-dyn --lotus-head`.

[2015-01-09 12:48] joneslee85 commented on #129
@robyurkowski this is a straight-forward and easy issue, would you be able to submit a PR for this?

[2015-01-09 15:15] jodosha commented on #129
@robyurkowski Thanks for reporting this.

Reference: http://pubs.opengroup.org/onlinepubs/000095399/basedefs/xbd_chap08.html

[2015-01-09 15:17] robyurkowski commented on #129
I will, the next bit of free time I get.

On Friday, January 9, 2015, Trung Lê <notifications@github.com> wrote:

--
*Rob Yurkowski*
Freelance Web Developer
rob@yurkowski.net | @robyurkowski <https://www.twitter.com/robyurkowski> |
519 . 379 . 3940

[2015-01-10 20:55] robyurkowski opened #132 "`lotus new` should initialize a git repository"
While I dislike being git-centric, I think this is important behaviour. A plurality of developers are going to be using git, and failing to support that as the default also means that users who quickly add a repository will often miss files that shouldn't be committed, such as `config/.env` et al. which are files that are exceedingly easy to miss.

I realized that I myself contributed my app's ses

[2015-01-11 17:00] #31 closed

[2015-01-12 10:32] jodosha commented on #132
@robyurkowski Thanks for this suggestion.

I'm for adding a comment in `.env` to explain that it should be put under git history, but to never include production informations in it. The reason is simple: we want a bulk mechanism to add general, non-sensitive informations to the env vars.

[2015-01-12 11:05] jodosha commented on #71
@PragTob Do you use JRuby in production? Supporting multiple VMs is getting harder and harder for us. We're evaluating what to do.

[2015-01-12 21:19] PragTob commented on #71
JRuby is used by multiple companies in production - here is a recent slide of companies using JRuby in production/for their applications:

![JRuby companies](https://pbs.twimg.com/media/B2rTTk0CMAAePLK.png:large)

Sadly I don't use it in production right now as I don't have an app that is "mine" deployed - but I'm a frequent JRuby promoter and just wait for a chance to plug it in :). And it is fre

[2015-01-13 09:16] jodosha commented on #71
@PragTob Thanks for the extensive explanation about the benefits of supporting JRuby.

Our problem time and effort. Our Core Team is made of two people, working on free time on Lotus. We have contributors who are helping **a lot** to speed things up.

Supporting several VMs with a different set of features is becoming a burden for us. Sadly, Ruby is what MRI is. Other implementations will eventual

[2015-01-13 09:16] #71 closed

[2015-01-13 09:38] PragTob commented on #71
Would be nice to add to the README :). Targetting 2.2+ compatible VMS seems good with me :) Thanks!

[2015-01-13 13:06] jodosha commented on #71
@PragTob Rubies compat is documented in all the READMEs. You don't see JRuby in `lotus/lotus` repo because both Model and Controller aren't compatible with it and so Lotus isn't.

[2015-01-13 18:30] PragTob commented on #71
I was looking for "MRI 2.2+ compatible rubies" :) README says 2.0+

[2015-01-13 18:46] jodosha commented on #71
@PragTob We want to wait a bit, then cleanup the code of the gems and bump a minor version of all of them. It's a decision that we just took. :)

[2015-01-15 08:24] jodosha commented on #129
@robyurkowski If you're going to write a fix for this. May I ask you to forbid the name `lotus` for an application?

[code]

It should be avoided, because we create modules when the application starts and having `Lotus` as top module for an application creates clashes with the modules from the form.

[2015-01-15 08:56] tranvictor opened #134 "Lotus console command history should be enabled by default"
It would be convenient for developers if they are able to navigate through previous commands. IRB disables this feature by default, should Lotus enable it?

[2015-01-15 09:01] AlfonsoUceda commented on #134
:+1: I like the history feature, I use it a lot in rails console

[2015-01-15 09:26] joneslee85 commented on #134
@tranvictor can you cook up a patch?

[2015-01-15 09:27] tranvictor commented on #134
I will submit a PR soon.

[2015-01-15 11:05] robyurkowski commented on #129
Happy to, but I think I'll do it in a subsequent fix after this one.

[2015-01-15 20:42] Linuus commented on #123
I'd like to give this a shot if that is OK :)

[2015-01-15 23:05] #127 closed

[2015-01-15 23:15] joneslee85 opened #136 "Lotus DB Migration Generator"
**Status:** In Progress
**Taker:** @thecatwasnot

Hi all

I am in the progress of implementing DB migration at lotus/model and there are much works to be done. I would love to get help from our beloved community in the implementation of the first Lotus Migration generator ever!

The idea is to implement following CLI: `bundle exec lotus generate migration <name_of_migration>` and it will generate

[2015-01-15 23:54] joneslee85 opened #137 "Lotus DB migration migrate runner"
Assigned to @vinioliveira

Prerequisites: #136 and DB Migration applier in model component

What: Add CLI for run migration for

`bundle exec lotus db migrate`

Please look at my Migrator branch at https://github.com/lotus/model/pull/144 (it is not merged, so please based your work on top of it for now)

**NOTE**: For the time being, we **only** support migrating files in `db/migrations`. Support

[2015-01-15 23:55] joneslee85 opened #138 "Lotus DB migration rollback runner"
Assigned to @vinioliveira

Prerequisites: #136 and DB Migration applier in model component

What: Add CLI for run migration:

`bundle exec lotus db rollback`
`bundle exec lotus db rollback --step=2`

Please look at my Migrator branch at lotus/model#144 (it is not merged, so please based your work on top of it for now).

[2015-01-16 03:26] tranvictor commented on #134
Well, after couple of hours, I finally found that IRB doesn't have public API to reset the configuration. The only way we can enable command history feature is changing developers' .irbrc (or some sort) file.
Basically, i had to redefine `IRB.setup` like so to make the feature enabled:
[code]
I personally think this is not a good solution.

[2015-01-16 03:56] huydx commented on #134
@tranvictor i see that you are copy paste the whole stuff from original `IRB.setup`, it's not good. If we are going to monkey-patching, we should use `alias_method`

[2015-01-16 03:59] tranvictor commented on #134
@huydx, yeah you are right. Anyway, I dont like monkey-patching much.

[2015-01-16 04:01] huydx commented on #134
@jodosha  @joneslee85 i think it's opinionated, but how about using pry as default

[2015-01-16 08:03] AlfonsoUceda commented on #136
:+1:

[2015-01-16 08:42] AlfonsoUceda commented on #132
It's normal to work with git but I think we don't have to suppose that the developer will work with a git repository, maybe it prefers mercurial or another VCS

[2015-01-16 13:23] robyurkowski commented on #132
@jodosha I think that's a good idea. We need a comment in .env about putting non-sensitive information in it, and to be honest, we need the same with .env.development and .env.test unless they're going to be `.gitignored`.

 Here's the issue: it's not such a big deal if you commit the development app's secret key, but what if you're testing out Mailgun in development? If you put your API key in `.

[2015-01-16 14:43] jodosha commented on #123
@Linuus @joneslee85 I'd say to start simple with this and support only the database used in `lib/`.

The data that you need is the type of database and a connection string. So I was thinking if it may be worth to read it from the dotenv files, without introspecting Lotus::Model.

When you create an application with `lotus new bookshelf`, the CLI creates some files under `config/`.
The database con

[2015-01-16 14:47] AlfonsoUceda commented on #123
@jodosha Imagine you have two lotus applications in the same machine, an they are using the same `DATABASE_URL`, will it be a problem with this?

[2015-01-16 14:50] jodosha commented on #123
@AlfonsoUceda good point. :+1:

I suggest to generate a `.lotusrc` file with those preferences:

[code]

So it will be able to compose the dynamic part from that configuration and concat with `ENV["#{ application_name.upcase }_DATABASE_URL"]`.

This can be useful for code generators too.

[2015-01-16 14:55] AlfonsoUceda commented on #123
:+1:

[2015-01-16 14:56] jodosha commented on #123
The only downside of bypassing the adapter is to maintain here the logic that passes the right args to the different database CLIs.

Probably the adapter should indicate the right string to start the REPL.

[2015-01-16 16:06] midas commented on #137
I would suggest staying away from the Rake-ish syntax on this.  Rails overuses (misuses) Rake in my opinion, especially considering the existence of Thor.  Suggested:

bundle exec lotus db migrate

[2015-01-16 16:06] midas commented on #136
I will take this one if not already taken?

[2015-01-16 16:32] thecatwasnot commented on #136
Have started this, got a bunch of boilerplate CLI code done, hopefully can finish and PR tonight.
Do we for sure want this going to `lib/app/db` instead of `db` that exists already?

[2015-01-16 17:07] thecatwasnot commented on #137
Agreed.

[2015-01-16 17:16] midas commented on #134
+1 on pry.  No reason to reinvent the wheel here.  And it provides a hist facility that can be greped within the REPL:

hist --grep something

[2015-01-16 17:44] Linuus commented on #123
@jodosha So when generating a new Lotus app we should create a .lotusrc file and put the app name in there in yml format? Then read this in the dbconsole command and find the correct env variable.

Why not pass in the app name to the command?
`lotus dbconsole bookshelf` <-- Connects to BOOKSHELF_DATABASE_URL
`lotus dbconsole web` <-- Connects to the WEB_DATABASE_URL

[2015-01-16 18:50] jodosha commented on #123
@Linuus That could be an alternative. But again, I'm thinking if it's better to let the adapters to return the CLI connection string.

[code]

It this way an adapter author will implement that method and we can hook `lotus dbconsole` with that output.

[code]

If we don't apply this strategy, we're forced to maintain all those connections strings here in `lotusrb`, which doesn't seems to be the be

[2015-01-16 18:55] Linuus commented on #123
@jodosha Yes I agree with that. I looked at Rails console command and it is messy because they do all that stuff in there.

 I'll give this a go during the weekend! :)

On Fri, Jan 16, 2015 at 7:50 PM, Luca Guidi <notifications@github.com>
wrote:

[2015-01-16 19:29] jodosha commented on #123
I'm only concerned about security: this command needs to trust that the returned REPL command isn't evil, in case if third party adapters.

http://lucaguidi.com

[2015-01-17 01:01] joneslee85 commented on #123
@Linuus thanks for your offer, however @unrealhoang has been working on this feature as per https://github.com/lotus/lotus/pull/126. Can you please chat to @unrealhoang on chat room to see if he is happy to let you take over?

@jodosha I am feeling uneasy with the approach reading from dotenv ENV vars, firstly there is no _hard_ convention on the naming of these var, user can change the naming of

[2015-01-17 01:15] joneslee85 commented on #136
@midas @thecatwasnot no one has claimed this ticket yet.

@thecatwasnot your question about the location of db migration is excellent. I have been giving thought about it and I strongly believe that we should place them in `lib/app/db` instead of `db`. Because:

* eventually app in `apps/` could have their own DB setup
* `lib/app` is truly a 1st class of itself

^ @jodosha thoughts?

[2015-01-17 01:17] joneslee85 commented on #137
@midas I deliberately want the syntax to be `db:migrate` instead of `db migrate` because I want to support following syntax in the future:

[code]

[2015-01-17 01:27] thecatwasnot commented on #136
@joneslee85 I do agree, actually, on second thought.
Then I'm only waiting on figuring out how to get the app name, I know there was some discussion in #123 on a .lotusrc file that might help.  If we're not going to use the .lotusrc there, I can whip something up quick.

[2015-01-17 01:41] joneslee85 commented on #136
@thecatwasnot for now, can you please generate it for `db`?

I will have a look to see how could we retrieve the `app_name` without using `.lotusrc`

[2015-01-17 01:43] thecatwasnot commented on #136
@joneslee85 Ok

[2015-01-17 01:49] midas commented on #137
@joneslee85 I am sure you already realize this, but just in case, Thor can support the following syntax using sub commands which will give you the desired API and behavior without the Rake-ish syntax.

[code]

Just seems a little cleaner to me.  No using the shift key when typing, prettier to look at, etc.

[2015-01-17 04:15] joneslee85 commented on #137
@midas if so, then I am okay with ^

[2015-01-17 11:06] AlfonsoUceda opened #140 "Lotus add new application for existing application"
Hi:

It would a good idea create a new command `bundle exec lotus add` this command will create a new application inside `apps` folder, e.g:

`bundle exec lotus add admin`

and then it will create the needed files inside `apps` folder and it will add the needed code in the route of application, in lib or when it's needed.

Thoughts?

[2015-01-17 11:56] AlfonsoUceda commented on #137
:+1: if thor can, we can ;)

[2015-01-17 13:53] joneslee85 commented on #140
@AlfonsoUceda I'd prefer subcommand `generate slice` or `generate app` than `add`.

I think that we should explore the app type options `--type`. By default the `--type` fallbacks to `web` type app. Other option is `api` style app which have extra tweaks and configurations for API app. Thoughts?

[2015-01-17 14:02] AlfonsoUceda commented on #140
agree, better subcommand like generate slice or app and the type option I like it ;)

[2015-01-18 10:38] AlfonsoUceda commented on #138
@joneslee85 edit the command `bundle exec lotus db rollback`

[2015-01-19 06:55] zavan opened #141 "Any plans on i18n?"
I'm creating this issue to start a discussion on i18n, since I didn't find anything.

So, any plans on a internationalization module or integration with a gem?
https://github.com/svenfuchs/i18n seems to be the most popular (https://www.ruby-toolbox.com/categories/i18n).

[2015-01-19 07:57] #141 closed

[2015-01-19 08:00] zavan commented on #141
This discussion continues here: http://discuss.lotusrb.org/t/any-plans-on-i18n/18

[2015-01-19 20:39] Linuus commented on #123
@jodosha @joneslee85 Where did we land regarding letting the adapter specify the command to run the actual console?

There are two options as discussed above.

1. Add the logic of figuring out the adapter type and command to run in the dbconsole command. (Safer, but we need to maintain it).
2. Add a new interface to the adapter where the adapter developer adds a method returning the command to run

[2015-01-20 08:58] jodosha commented on #132
### SCM & support

We aren't SCM agnostic. For convenience sake we add some `.gitkeep` files for directories that should be kept around and/or they serve as structure to suggest devs where to put things.

That doesn't mean that we are supporting Git. That is just a trick, we can rename those in `.keep` and stay agnostic. Indeed that `.gitkeep` it's only a convention, and [not officially supported]

[2015-01-20 09:07] jodosha commented on #134
@tranvictor Thanks for opening this discussion, but we don't want to support this feature.

We support different engines out of the box: IRB (default), Pry and Ripl.
I'm keen to keep this simple. Those history tricks requires to increase the complexity of the command, and take care of hidden file artifacts like `.irb-history`.

As @midas suggested, Pry supports this feature natively. If you have t

[2015-01-20 09:07] #134 closed

[2015-01-20 09:37] jodosha commented on #141
Moving this discussion to https://discuss.lotusrb.org/t/support-i18n-translation/18/3

[2015-01-20 09:41] jodosha commented on #140
@AlfonsoUceda FYI this is already part of the plan ;)

[2015-01-20 09:44] AlfonsoUceda commented on #140
@jodosha I opened a post in discourse :P but I wanted discuss about the command

[2015-01-20 09:59] jandudulski commented on #96
I know that it is already merged but just to reconsider the topic I'll propose another approach - [ENVied](https://github.com/eval/envied/). The only thing it does is to "eat" the ENV but with coercion (no more problems to handle booleans) and setting required keys (so app won't start until all required keys are there).

And it's up to dev how it populate the `ENV` which is fine - one will use [rb

[2015-01-20 10:59] jodosha commented on #96
@jandudulski Thanks for your suggestion but I don't think it's a good idea.

Dotenv, uses a UNIX compatible syntax. This makes applications deployable in all the contexts and we could decide to bypass it entirely if the server will load `.env` before the application is started.

UNIX standards > Ruby DSLs.

Another point is that about dependencies: [Dotenv](https://rubygems.org/gems/dotenv) doesn'

[2015-01-20 11:55] jandudulski commented on #96
The issue is that dotenv and ENVied resolves two different problems.

dotenv loads variables from the file into the `ENV`
ENVied allows you to setup list of required variables to been setup in the application and coerce to types. And I think that framework itself shoudn't care how to populate `ENV` but how to handle it.

[2015-01-25 20:34] AlfonsoUceda commented on #82
@Jesterovskiy this is solved with https://github.com/lotus/controller/pull/78 and https://github.com/lotus/router/pull/36 now you can access to response inside the middleware, an example:

[code]

[2015-01-25 20:45] Jesterovskiy commented on #82
@AlfonsoUceda thanks!

[2015-01-26 00:10] #82 closed

[2015-01-27 14:33] jodosha commented on #64
Here are the **security** mechanisms that we want to ship with Lotus v0.3.0: Automatic markup escape, Content-Security-Policy and X-Frame-Options headers, HttpOnly cookies https://discuss.lotusrb.org/t/security-features-for-v0-3-0/34

[2015-01-27 18:42] Linuus commented on #123
To have something to discuss around I have made a quick take on this. This requires changes to Lotus::Model as well to add the `adapter.connection_string` @jodosha was talking about above. It is not a complete PR yet but here are the relevant commits.

Changes to Lotus::Model:
https://github.com/Linuus/model/commit/cff00271152d5382285e00be8136c7edaf848a31

Changes to Lotus:
https://github.com/Linu

[2015-01-31 01:39] joneslee85 commented on #123
@Linuus looks good. I like it. Please clean up and make a PR. Much  thanks

[2015-02-02 11:09] Linuus commented on #123
@joneslee85 Great, thanks for the feedback!

[2015-02-03 00:46] jc00ke opened #144 "Load the app in console"
I was poking around the `console` and wanted to check out the routes. @jodosha had mentioned I could access them by using `MyApp::Routes` but I kept getting a missing constant error.

@joneslee85 informed me in chat that I had to actually load the app, which would mount the `Routes`. He suggested I run `MyApp::Container.new` which did make `Routes` available.

It'd be nice if I didn't have to do t

[2015-02-03 20:57] PragTob opened #146 "Make lotus install on JRuby"
Hi there,

right now the install fails on JRuby as the `sqlite3` gem needs native extensions.

When I got time, I'll fix this - should be as easy as using [`jdbc-sqlite3`](https://github.com/jruby/activerecord-jdbc-adapter/tree/master/jdbc-sqlite3)

[code]

[2015-02-04 09:30] jodosha commented on #144
@jc00ke @joneslee85 would you mind to try w/ the referenced PR?

[code]

Then amend the generated `Gemfile` like this:

[code]

[code]

[2015-02-04 09:43] jodosha commented on #146
Closed by #147

[2015-02-04 11:22] PragTob commented on #146
I'm closing this :)

[2015-02-04 11:22] #146 closed

[2015-02-04 19:07] #129 closed

[2015-02-05 16:39] #144 closed

[2015-02-09 00:45] joneslee85 commented on #123
@Linuus wondering if you need any help on this?

[2015-02-09 08:41] Linuus commented on #123
@joneslee85 Not at the moment. I have just had a lot to do at work lately. I am not really sure how to test the CLI part but I'll have a look at the other tests and see if I can figure it out. Otherwise I'll send you a message :)

[2015-02-11 19:44] alexsun opened #150 "Flower-Power - meta framework: a bridge between Lotus and Volt"
Hello World

The problem is important in web development. This is my summary for more than 15 years of my experience on the web development: from ASP, PHP4, plain HTML, CSS without firebug, more than 5 years with Drupal, this is a great and complex CMS/Framework, now learning in Ruby and C.

This is not about blah-blah TODO.app on pure JS and fresh RIA (from Flash), or generation a flat single-pag

[2015-02-11 19:47] alexsun commented on #150
https://github.com/voltrb/volt/issues/104

[2015-02-12 08:21] jodosha commented on #150
@alexsun Hello and thanks for starting this discussion.
I'm not sure I haven't got what are your goals. Partly because I don't know how Volt works in the low level details.

Our components can be reused to accomodate your needs. If you have any specific use case that those Lotus frameworks should support, please don't hesitate to open a ticket in the related repository.

I'm closing this for now,

[2015-02-12 08:21] #150 closed

[2015-02-13 16:03] jodosha opened #154 "Action generator"
## What

Introduce a new command `lotus generate`.

## Why

When working on an application, it's tedious to create several files to make the next spec to pass.

## How

### CLI

[code]

  * `action` is the subject of what we want to generate
  * `web` is the name of the application under `apps/`
  * `books#index` is the name of the controller and action
  * Optional argument: `--test=minitest|rspe

[2015-02-13 16:05] jodosha opened #155 "App generator --template arg"
When a new application is generated via `lotus new`, we should allow to pass a new argument: `--template`. This indicates the default template used by the application. If not specified, it defaults to `erb`.

This serves as a base for: [Action generator](https://github.com/lotus/lotus/issues/154) #154.

[2015-02-13 16:06] jodosha opened #156 "Application generator to create a .lotusrc"
When a new application is generated with `lotus new`, the output should include a `.lotusrc` file.
For now it should contain three informations:

  * `arch` (the Lotus architecture. Please have a look at the `--arch` argument for `lotus new`. Default to `container`
  * `test` (the testing framework. Please have a look at the `--test` argument for `lotus new`. Default to `minitest`
  * `template` (

[2015-02-13 16:27] jodosha opened #157 "Application generator"
**Taker**: @hieuk09

## What

Introduce a new command `lotus generate`.

## Why

Lotus generator (`lotus new`) generates only one application `apps/web`. If developers want to add other apps, this will be the official way to do that.

## How

### CLI

[code]

  * `app` is the subject of what we want to generate
  * `admin` is the name of the application under `apps/`
  * Optional `--application-ba

[2015-02-13 16:35] jodosha commented on #132
Dear @robyurkowski @AlfonsoUceda and @lotus/core-team

This is a good idea. After playing with Lotus to eat our own food, I've discovered this a guidance in this is needed. Especially for `.gitignore`.

For instance, I've mistakenly added `db/bookshelf_development/` and `db/bookshelf_test/` directories. Those contain development and testing data for the default database adapter: file system.

My i

[2015-02-21 15:11] AlfonsoUceda commented on #155
@jodosha and me we was talking about this feature. For now, we can't do this feature, we have detected when we pass the template option, e.g. `--template=haml` we need to replace the default `erb` files with `haml` but we can't support in lotus every template.

We need to create a template generator system for supporting this feature. Like rails does with, e.g. `haml-rails` in the future we'll hav

[2015-02-24 01:47] vinioliveira commented on #137
@joneslee85  I've started work on this, it's related to db rollback that I also working on.
I'll send a PR shortly.

[2015-02-24 13:30] joneslee85 commented on #140
Closed. Moved to https://discuss.lotusrb.org/t/generator-for-application-or-slice/21/13

[2015-02-24 13:30] #140 closed

[2015-02-26 13:13] vinioliveira commented on #137
I am wondering if is a good idea create a path option, then, user could define location of migrations.

[2015-02-26 13:27] joneslee85 commented on #137
@vinioliveira I don't think it is a good idea, for we try to be conventional as much as we could

[2015-02-26 22:19] #123 closed

[2015-02-27 11:37] #156 closed

[2015-02-27 12:01] #132 closed

[2015-02-27 13:17] joneslee85 opened #164 "Generate adapter config when creating new app"
The idea is to automatically configure Database when creating new app with param `--adapter`. This feature is similar to `rails new -d`. Default option is :filesystem. Other available options are:

* memory
* sqlite3
* postgresql
* mysql2

The generator should generate Gemfile with database adapter gem accordingly, for example `pg` gem for postgresql. Furthermore, the adapter of lib/chirp.rb shoul

[2015-02-27 21:52] Linuus commented on #164
@joneslee85 Should we also try to insert a correct `DATABASE_URL` in the .env.development and .env.test files?

Like
[code]
in .env.development, when using the mysql2 gem for instance.

[2015-02-28 04:06] joneslee85 commented on #164
@Linuus yes please

[2015-02-28 04:08] #34 closed

[2015-02-28 08:57] jodosha opened #165 "Integration with Lotus::Helper"
- [x] Make Lotus::Helper a dependency
- [x] Application generator should explicitly include helpers in views (see _Example 1_). This strategy allows devs to toggle this feature.

_Example 1_

[code]

[2015-02-28 15:32] tomkadwill commented on #165
Hey @jodosha are you working on this? otherwise I'm happy to take it.

[2015-03-01 15:49] jodosha commented on #165
@tomkadwill Please :)

[2015-03-01 21:29] Linuus commented on #164
Great!

What about slices? When generating a new application, should the default slice use the same adapter?

Also, when generating a new slice, it should also have the adapter option?

[2015-03-02 06:33] joneslee85 commented on #164
@Linuus very good question, I vote for leaving slice app as is. And we could provide this same functionality for the app/slice generator feature.

[2015-03-04 20:43] jodosha commented on #164
@Linuus I agree with @joneslee85 . Thank you, folks.

[2015-03-06 08:00] #164 closed

[2015-03-06 20:25] joneslee85 opened #174 "Fix CLI help description for db console"
Taker: Team LEO

It's more issue of Thor than Lotus.

When performing 'bundle exec lotus db console --help'

Expected db console shows in description, however only db returns. The namespace :db is not taking into consideration

[2015-03-06 23:19] vinioliveira commented on #174
Here seems to be correct
![screen shot 2015-03-06 at 8 17 22 pm](https://cloud.githubusercontent.com/assets/341918/6538195/e7964b12-c43d-11e4-9273-43c151b99779.png)

[2015-03-06 23:23] joneslee85 commented on #174
@vinioliveira that is wrong, it should show `lotus db console`

[2015-03-07 02:39] vinioliveira commented on #174
In deed it's thor issue, see erikhuda/thor#464.

We may append the ancestor command to the description, while they don't fix it.

`
desc 'db console', 'start DB console'
`

[2015-03-08 09:32] jodosha commented on #165
@tomkadwill @joneslee85 I think that `lotus-helpers` should be an hard dependency like `lotus-view` et all.

[2015-03-16 10:53] jodosha commented on #165
Closing as it was implemented.

[2015-03-16 10:53] #165 closed

[2015-03-16 11:11] jodosha opened #184 "Mark as safe routing factory output"

[2015-03-18 23:00] smt116 opened #185 "Performance issue with rendering a partial view"
Hi there ;)

I have a [sample application](https://github.com/smt116/lotus-sample-application). It seems that using `render partial: "foo"` (or `render template: "foo"` etc) results in really poor performance. Take a look at this [change](https://github.com/smt116/lotus-sample-application/commit/707ca41358cb952bc1d93e0eb72e6118744d3ffe). It reduces performance 10 times!

Here is output of [wrk](ht

[2015-03-19 08:34] jodosha commented on #185
@smt116 Thanks for your extensive explanation about this issue. I'm **really** glad that you found this issue. Because you were able to isolate the slow component, have you tried to profile it?

That `#render` method is [defined](https://github.com/lotus/view/blob/master/lib/lotus/view/rendering/layout_scope.rb#L83) in `Lotus::View::Rendering::LayoutScope`. My suspect is that **in this case** the

[2015-03-19 08:39] smt116 commented on #185
Hi @jodosha,

I will take a look at this and try to solve ;)

[2015-03-19 11:07] jodosha opened #186 "Ensure to honor --test=rspec argument"
How to reproduce the problem.

[code]

Then `bookshelf` should have a RSpec setup, but it has Minitest instead.

[2015-03-20 11:41] #154 closed

[2015-03-20 17:32] #184 closed

[2015-03-21 11:37] jodosha commented on #186
This is a false problem, it was due to the presence of `.lotusrc` in my local `lotus` directory. That is an artifact that should be deleted after the test suite is run.

This commit ensures the cleanup. https://github.com/lotus/lotus/commit/750ba02c1049057a0ef22a922abeababe8973dfc

[2015-03-21 11:37] #186 closed

[2015-03-23 01:30] jeremyf commented on #185
@smt116 friendly ping

[2015-03-23 07:32] smt116 commented on #185
Hi @jeremyf,

I didn't have enough time for doing it yet. I have started to read `lotus-view` source code in the weekend. Feel free to take this from me if you like (just let me know)

[2015-03-24 15:57] danelowe opened #187 "Loading routes for testing"
One of my views uses the routes helper, e.g.

[code]

The helper relies on a namespaced Routes module being available, e.g.

[code]

This module is never created by ```Lotus::Loader``` unless the application is being loaded as an instance rather than a class.

To prevent my tests from having errors, I had to change the line in my test_helper.rb from the default

[code]

to

[code]

I'm not entirel

[2015-03-24 16:24] AlfonsoUceda commented on #187
Hi @danelowe there is a PR fixing this behaviour https://github.com/lotus/lotus/pull/180

[2015-03-24 16:28] AlfonsoUceda commented on #187
There is a PR fixing that: #180

[2015-03-24 17:03] jodosha commented on #187
@danelowe Hello and thanks for reporting this issue. Sorry for the poor experience. :disappointed:

I've crafted a fix for you. It worked locally.
Would you mind to amend your `Gemfile` with the following code and try again?

[code]

Please let me know, and I'll be happy to merge the PR.

[2015-03-24 17:08] danelowe commented on #187
@jodosha That works. Thanks! I'd be very interested to see what the PR looks like.

I'm definitely enjoying Lotus.

[2015-03-24 17:09] jodosha commented on #187
@danelowe Here the PR https://github.com/lotus/lotus/issues/188

[2015-03-24 17:30] #187 closed

[2015-03-24 17:33] jodosha commented on #187
@danelowe This is in master now, you can change your `Gemfile` accordingly.
I want to wait a few days before to release a patch version. You know, just in case other small issues are found.

Thanks for your patience.

[2015-03-24 18:20] danelowe commented on #187
Thanks! :smile:

[2015-03-24 23:10] jeremyf commented on #185
@smt116 just checking if you had a chance.

[2015-03-25 10:49] danelowe opened #189 "File named application.* in public dir causes issues"
I've reproduced this on a brand new install, e.g.

[code]

Start the dev server, and any page has an error.

```RuntimeError: No template engine registered for application.css.map```
[code]

The last line in the stack trace leads to
[code]

I'm having trouble debugging it from there.

Interestingly if the file is renamed so that it is not called 'application', or the file extension is simply '.css

[2015-03-25 16:27] joneslee85 commented on #189
@danelowe what version of lotus is that? Can you please check your `application.rb` and make sure `templates` is uncommented

[code]

[2015-03-25 16:28] joneslee85 commented on #189
It seems to me you are using the old version of lotus, the new 0.3.0 should have resolved this already

[2015-03-25 16:29] #189 closed

[2015-03-25 17:52] kirs opened #190 "Load path order"
Here is my class structure:

[code]

Depends on the order of files in Lotus `load_path`, sometimes `Base` is loaded before `Home` and the code works fine. But sometimes `home.rb` is loaded first and in this case it `Base` I'm trying to include is not defined yet.

At this moment I had to tweak the `$LOAD_PATH` to require `base.rb` manually from `Home` class.
I was wondering what would the "Lotus w

[2015-03-25 18:35] danelowe commented on #189
@joneslee85 Had the issue on a project that was installed with 0.2.1 but using master branch for all gems in the Gemfile. Uncommenting the templates config worked. I wish I could understand why.

[2015-03-26 01:25] joneslee85 commented on #190
Hi there

I'd encourage you `require <your_mixin>` in `controllers/posts/home.rb`. If you want this mixin globally available to all controllers, you can put them into the Application class

[code]

[2015-03-26 08:00] kirs commented on #190
@jodosha is it OK to modify the `$LOAD_PATH` in Lotus app?

[2015-03-26 08:19] jodosha commented on #190
@kirs Lotus doesn't touch `$LOAD_PATH`, so you are free to modify it. However, it seems a dangerous operation that may affect the behavior and/or the performance of `require`. For this kind of situations, I always prefer to use `require_relative`.

If you need that module to be included in **all** your actions, please consider what @joneslee85 have indicated.

[2015-03-26 08:19] #190 closed

[2015-03-26 08:25] kirs commented on #190
Thanks!

[2015-03-27 08:30] jodosha opened #191 "Use .env at the root of the application"
Quoting a discussion from our chat:

[2015-03-27 09:21] sungwoncho opened #192 "Destroy command"
Taker: @sungwoncho

I would like to suggest a destroy command that can undo generation.

It would read something like:
`bundle exec lotus action destroy web home#index`

Any thoughts?

[2015-03-27 10:51] joneslee85 commented on #192
@sungwoncho we love it, why don't you give it a go?

[2015-03-30 10:42] sungwoncho commented on #192
@joneslee85 Okay, I will try to work on it as my schedule permits.

[2015-03-30 11:50] joneslee85 opened #193 "Resource generator"
`lotus generate resource <name_of_resource` which does similar things like the counter part of Rails

* create entity
* create repository
* create RESTful route
* create all controller actions
* create all view classes
* create empty templates for all actions
* create tests for actions

[2015-03-30 11:54] nguyenngoc2505 commented on #193
We take it.

[2015-03-30 21:04] smt116 commented on #185
Do you think that all partials / templates should be preloaded on the server start or just loaded on the first request? I am thinking about the method for finding all associated partials and loading them on the server start, but not sure how to achieve it without scaning directory for the `_*` files or greping templates.

[2015-04-03 01:37] sungwoncho commented on #193
Good idea. I'd like to have a go at it for some of the resources you suggested.

[2015-04-03 09:28] sungwoncho opened #195 "View generator"
Currently, the action generator also has the responsibility to generate view files. It might be a good idea to extract view generation into a separate generator, and have action generator use view generator while generating an action.

This will also help implementing something like scaffold generator in Rails (See #193). Because scaffold generator can make use of existing generators, passing diff

[2015-04-03 22:00] mvader opened #196 "ArgumentError on every POST request"
Hi,

I've been experiencing an issue with lotus 0.3.0. The same code unmodified works perfectly with lotus 0.2.1.

Whenever I submit a form via POST I get this error:
[code]

[2015-04-07 09:17] jodosha commented on #185
@smt116 They should be preloaded at the startup time. Lazy code loading isn't thread safe.

[2015-04-07 09:18] jodosha commented on #192
@sungwoncho This makes sense. I agree with @joneslee85 : would you love to take care of it? Thank you very much.

[2015-04-07 09:20] jodosha commented on #195
@sungwoncho Hello. What do you mean by extraction? Do you mean to have two different internal objects: one for actions and one for views? Or do you mean to have two different CLI commands like `lotus generate action` and `lotus generate view`?

[2015-04-07 10:04] jodosha commented on #196
Hello @mvader and thanks for reporting. This seems to be an issue that affects v0.3.0 in general, and not because of the upgrade.

Can you please amend your `Gemfile` and verify it fixes the problem for you?

[code]

[2015-04-07 12:30] mvader commented on #196
@jodosha yes, that fixes the problem.
Waiting for 0.3.1 then :) :+1:

[2015-04-07 12:34] mvader commented on #195
I think that it's a good idea to separate both generators too. Would your proposal include the generation of templates on the view generator?

Imagine the use case of a JSON api that uses no templates. How would it work in that case?

[2015-04-08 04:54] joneslee85 opened #198 "Entity/Repository generator"
Taker: Ngoc @nguyenngoc2505

Please add a CLI that allow user to:

1) `bundle exec lotus generate entity my_klass`
which would generate `lib/your_app/entities/my_klass`

2) `bundle exec lotus generate repository my_klass`
which would generate `lib/your_app/repositories/my_klass_repository`

3) `bundle exec lotus generate model my_klass`
which run 1) and 2)

[2015-04-08 19:35] stravid opened #200 "Support minitest/unit in generators"
Good evening!

Lotus currently supports generating `rspec` or `minitest/specs` specs out of the box. `minitest/unit` users like myself have to remove the generated specs by hand and create the test setup on our own.

Is it desirable to add a third option to the generators, namely `minitest/unit`?

I can think of a few arguments why not. Mainly the big naming difference, `spec/` would have to becom

[2015-04-08 22:28] sungwoncho commented on #195
@jodosha My suggestion is that we have two different generators `Lotus::Generators::View` and `Lotus::Generators::Action`. Therefore, there will be two different CLI commands. Is this what you mean by having two different internal objects?

@mvader I think it makes sense for view generator to generator templates as well. I think lotus generates a blank .html.`template_suffix` template in every cas

[2015-04-09 08:11] jodosha commented on #193
@joneslee85 @nguyenngoc2505 Sorry, but this is similar to Rails' scaffolding and I think that is an anti-pattern.

[2015-04-09 08:11] #193 closed

[2015-04-09 08:18] jodosha commented on #195
@sungwoncho Gotcha. What's the use case for that? Why would you have two execute two CLI commands instead of one? I see scaffolding as an anti-pattern, we won't have it in Lotus.

@mvader In case of a JSON API, I'd personally not use an action generator, but yeah it makes sense to avoid the generation of view/template. For that use case, we can add `--skip-view` flag to the CLI command. Opening a

[2015-04-09 08:18] #195 closed

[2015-04-09 08:42] sungwoncho commented on #195
@jodosha My argument for having two generators is that scaffold generator can make use of each generators to generate components independently from one another. But that point is moot if lotus will not have a scaffold generator.

I am curious to learn why you think it's an anti-pattern to have scaffolding.

[2015-04-09 10:05] jodosha opened #201 "Action generator --skip-view CLI arg"
In case a dev wants to generate an action endpoint that doesn't rendering (eg. JSON API), it can be handy to skip the view and template generation via a CLI argument.

Example:

[code]

Ref #195

[2015-04-09 10:10] jodosha commented on #195
Because you generate a lot production code without a failing test. With BDD/TDD you target one step at the time. Having the action generator is more than enough to make your test to pass.

[2015-04-09 11:46] smt116 commented on #185
Any idea on how to load necessary partials/templates for given view?

[2015-04-09 12:29] joneslee85 commented on #200
@stravid thanks for this report. I am wondering should we introduce `minitest/unit` because we really want users to embrace the spec style of minitest. My personal vote is a no on this.

@jodosha thoughts?

[2015-04-09 12:30] #196 closed

[2015-04-09 12:31] joneslee85 commented on #174
@Linuus ping

[2015-04-09 12:38] Linuus commented on #174
@joneslee85 Sorry. I have been very busy lately with moving to a new apartment, celebrating easter and traveled to London for vacation :) I will take a closer look here soon!

[2015-04-10 23:39] #198 closed

[2015-04-11 10:39] chautoni opened #202 "`gem install lotus` returns unexpected error"
Hi all,
I had a problem installing `lotus` as the error below, which said that it had problem installing `libxml-ruby` version `2.2.3`, meanwhile `libxml-ruby` version `2.8.0` installed fine.
[code]

Any help is greatly appreciated.

[2015-04-11 12:03] joneslee85 commented on #202
it is not `lotus`. It is `lotusrb`

[2015-04-11 12:03] #202 closed

[2015-04-11 16:46] mvader commented on #201
I'd like to help with this one :)

[2015-04-12 06:54] chautoni commented on #202
@joneslee85 ok thanks a ;)

[2015-04-12 22:31] #201 closed

[2015-04-13 01:53] codyeatworld opened #204 "Content Security Policy Headers"
When installed fontawesome I noticed that lotus sets a content-security-policy header.

This gave me trouble when the font awesome stylesheets tried to load the fonts in chrome, firefox and safari on my mac. (Yosemite)

![Imgur](http://i.imgur.com/T0lOKMq.png)

I noticed a setting for csp in the application.rb file

[code]

I changed it to

[code]

And fontawesome started working, but I still had

[2015-04-13 01:54] joneslee85 commented on #204
cc @jodosha

[2015-04-13 07:38] AlfonsoUceda commented on #204
@codyeatworld try removing "; style-src: 'self';"

default-src is used by default: https://developer.mozilla.org/en-US/docs/Web/Security/CSP/CSP_policy_directives#style-src

Rails doesn't set this CSP aby default if you see in your gist

[2015-04-13 12:57] barstuk opened #205 "pry in call method in controller."
I have a small issue when using binding.pry in call method of controller.
When I try to use it in:
def call(params)
  binding.pry
end
It returns me error:
when_started hook failed: TypeError: bind argument must be an instance of Object
/home/adam/.rvm/gems/ruby-2.2.0/gems/pry-0.10.1/lib/pry/helpers/base_helpers.rb:22:in `bind'
(see _pry_.hooks.errors to debug)

It works only when I use:
def self.c

[2015-04-13 13:11] jodosha commented on #205
@barstuk I suspect this error is caused by `shotgun`. Can you please start the server with the `--code-reloading=false` argument and check if the problem is still there?

Can you please also verify if `byebug` works fine **with** code reloading? It's my fav option and always worked. Thank you :+1:

[2015-04-13 13:44] barstuk commented on #205
--code-reloading=false doesn't help.
byebug works all the time in every method, there's a bug with pry only.

[2015-04-14 15:37] joneslee85 commented on #174
@mymai91 @dondinhit please take on this

[2015-04-14 15:40] Linuus commented on #174
Sorry. But if someone else has time, please take it :)

[2015-04-15 01:20] DonDinhIT commented on #174
@joneslee85 got you. Team Leo will resolve this issue. thanks Trung

[2015-04-16 11:04] joneslee85 opened #207 "Create Lotus.root"
This will return the root of lotus app

[2015-04-16 11:08] AlfonsoUceda commented on #207
@joneslee85 the root of each app inside container?

[2015-04-18 12:56] jodosha commented on #207
@joneslee85 @AlfonsoUceda This should return a `Pathname` that is the top level directory of the application. /cc @nguyenngoc2505

[2015-04-18 12:58] jodosha commented on #204
@codyeatworld Have you tried with @AlfonsoUceda suggestion? Any news on this?

[2015-04-18 12:59] jodosha commented on #205
@barstuk If you want still have pry, I suggest `pry-byebug`, which combines the power of both the gems.

[2015-04-18 13:08] jodosha opened #210 "Default Rake task: environment"
### Description

Add support for a default Rake task `environment`. This should serve as a base for user defined rake tasks.

Real world example:

[code]

### Implementation hints

[code]

This article can be helpful for testing this feature: https://robots.thoughtbot.com/test-rake-tasks-like-a-boss

[2015-04-18 13:12] jodosha opened #211 "Introduce Lotus.env"
This helps to introspect the current environment, by returning a String that allows an introspection.

[code]

[2015-04-18 15:14] codyeatworld commented on #204
@AlfonsoUceda @jodosha I just tried it and the error in the console says default-src is the problem now.

`
Content Security Policy: The page's settings blocked the loading of a resource at self ("default-src http://localhost:2300").
`

[2015-04-18 16:28] AlfonsoUceda commented on #204
@codyeatworld it's weird, can you try only `default-src self;`? thanks ;)

[2015-04-18 18:32] codyeatworld commented on #204
same problem with

[code]

console
`
Content Security Policy: The page's settings blocked the loading of a resource at self ("default-src http://localhost:2300").
`

[2015-04-18 18:51] AlfonsoUceda commented on #204
@codyeatworld and is that error raised in all browsers?

[2015-04-18 18:59] codyeatworld commented on #204
Nope, sorry I forgot to check, it was raised in Firefox 37.0.1 but not Chrome 42.0.2311.90 (64-bit) or Safari 8.0.3.

[2015-04-19 08:37] joneslee85 commented on #207
@jodosha can you please add team Leo (@dondinhit and @mymai91) to this ticket instead? cheers

[2015-04-19 10:47] joneslee85 commented on #192
@sungwoncho ping ping :)

[2015-04-19 10:51] sungwoncho commented on #192
@joneslee85 I won't be able to work on this for two weeks tops. Sorry. If anyone wants to take over while I am not working on this, please feel free. I'll update you when I resume my work on this, if no one takes over in two weeks.

[2015-04-19 13:19] joneslee85 commented on #192
@sungwoncho thanks for the update.

[2015-04-19 17:40] barstuk commented on #205
Ekhm, I'm using pry-byebug but it's not working. : /

[2015-04-19 17:52] AlfonsoUceda commented on #204
@codyeatworld can you try it in Windows or Linux, maybe can be a Firefox bug, I don't know

[2015-04-30 11:58] joneslee85 commented on #211
@jodosha I've pair with @nguyenngoc2505 on this issue and we could not come up with any solution that does not monkey-patch and satisfy the requirements at the same time. So I'd like to suggest that we alter the behaviour a bit, what do you think about `Lotus.env` returning an object instead, and users might have to cast `to_s`? maybe? thoughts?

[2015-04-30 12:03] joneslee85 commented on #211
What do you think about using refinement to monkey-patch the String for `@environment` so we could have introspection for this string obj. Thoughts?

[2015-04-30 12:04] AlfonsoUceda commented on #211
@joneslee85 why do you have to monkey-patch?

[2015-05-03 05:31] mymai91 opened #215 "No 'Access-Control-Allow-Origin' header is present on the requested resource"
Currently, I'm using Lotus to setup for backend, create API and use yeoman to setup for frontend (Using with AngularJS).
 I'm using port 2300 for backend & port 9000 for frontend.
I figured out a bug about `'Access-Control-Allow-Origin' header` when I try connecting both of them.

[2015-05-06 12:52] joneslee85 commented on #192
@sungwoncho ping :)

[2015-05-08 02:14] #211 closed

[2015-05-08 02:15] joneslee85 commented on #215
@jodosha is there a way to set headers?

[2015-05-08 03:05] joneslee85 opened #218 "Allow user to specify lotus version in app generator"
On Rails, you could specify the version of Rails you want to use:

[code]

This feature is useful and I want to get it implemented with Lotus too, here are few ideas:

[code]

Thoughts?

[2015-05-08 10:02] sungwoncho commented on #192
Working on this this weekend!

[2015-05-08 10:13] joneslee85 commented on #210
@nguyenngoc2505 please take on this one

[2015-05-11 12:36] jodosha commented on #215
@mymai91 @joneslee85 Headers can be set globally for an application with:

[code]

If you need only for certain resources, from an action you can do:

[code]

[2015-05-11 12:46] jodosha commented on #218
@joneslee85 That isn't Rails, but a Rubygems feature. If you try it with lotus, it works as well.

[code]

[2015-05-11 12:46] #218 closed

[2015-05-11 12:48] #26 closed

[2015-05-11 12:54] #157 closed

[2015-05-13 01:45] thecatwasnot opened #220 "New application with default route, errors looking for 'xhtml' template"
Lotus app generated with `bundle exec lotus new`, uncomment default route: `get '/', to: 'home#index'`
Results in error:
[code]
Fresh gemset/bundle, gem list:
[code]
Tried on chrome & firefox, same result

[2015-05-13 07:23] jodosha commented on #220
@thecatwasnot Hello and thanks for reporting this. Can you please check if this PR fixes your problem as well? https://github.com/lotus/controller/pull/105

Ref https://github.com/lotus/controller/issues/104

[2015-05-13 08:06] AlfonsoUceda commented on #220
FYI, with `bundle exec lotus new --lotus-head=true` works ok

[2015-05-13 08:07] AlfonsoUceda commented on #204
@codyeatworld ping

[2015-05-13 12:15] sungwoncho commented on #192
@joneslee85 I have too much on my plate at the moment. Can't promise any progress any time sooner. Feel free to take over.

[2015-05-13 13:18] thecatwasnot commented on #220
@jodosha @AlfonsoUceda Yep, --lotus-head works as expected, thanks :+1:

[2015-05-13 13:18] #220 closed

[2015-05-13 21:45] codyeatworld commented on #204
Thanks for the ping, I should have time to look into again this later tonight. I'm not sure how to try it on windows, but I can try it in ubuntu.

[2015-05-14 09:52] jodosha opened #221 "Cookies improvements"
We should improve Cookies settings.

  - [ ]  Automatic `:secure` option
  - [ ]  Enhance options syntax

## Automatic :secure option

Alongside with `:httponly` we should improve security, by enabling `:secure` option for cookies.
The value for this option should be set by looking at `Configuration#ssl?`.
If we are in production using HTTPS, `#ssl?` will return `true`, and we set `:secure` on `tr

[2015-05-15 02:42] joneslee85 commented on #192
@mymai91 @DonDinhIT can you two take care and wrap up Sung's work? Much thanks

[2015-05-15 14:52] mymai91 commented on #192
yes, we can.

[2015-05-16 10:59] AlfonsoUceda commented on #221
@jodosha about enhanced options syntax, then will cookies be enabled only if options are passed?

[2015-05-16 15:43] mymai91 commented on #192
@joneslee85 I see in the Lotus latest version it has two options generator one for application generator, one for model generator. I guess I'll handle destroy for application and model, right? If not help me make it clearer, please.
Thanks.

[2015-05-16 16:24] joneslee85 commented on #192
@mymai91 this is to destroy action only

[2015-05-17 10:47] mymai91 commented on #192
@jodosha: What do you think about grouping under 1 sub-command `action`, let’s me give you examples:
[code]

[2015-05-18 09:46] jodosha opened #224 "Model generator creates wrong RSpec files."
How to reproduce this:

[code]

If we look at `spec/bookshelf/entities/user_spec.rb`, it doesn't honor RSpec new way to define specs.

### Expected

[code]

### Actual

[code]

/cc @joneslee85

[2015-05-18 09:52] jodosha opened #225 "Model generator doesn't respect Ruby file naming"
How to reproduce this:

[code]

and

[code]

The file name contains CamelCase names, instead of underscored names.

/cc @joneslee85

[2015-05-18 10:00] jodosha opened #226 "Action generator doesn't respect Ruby file naming"
How to reproduce this:

[code]

Another case is true for controller and action names:

[code]

This last case also generates wrong routes:

[code]

[2015-05-18 10:14] nguyenngoc2505 commented on #225
I got it. Thanks!

[2015-05-19 13:10] jodosha opened #228 "Container generator doesn't play well with RSpec"
When we create a container app with `--test=rspec`, we generate `spec/spec_helper.rb` which includes the following code:

[code]

Theoretically, wrapping that Lotus preloading in a before suite callback should work, **but it doesn't**.
We should move it at the top of the file:

[code]

[2015-05-20 21:03] codyeatworld commented on #204
I think it might of been a Firefox bug, the error is not present with Firefox Developer Edition, Safari or Chrome after reverting to default CSP settings.

Only standard Firefox.

Thanks for your time and help!

[2015-05-20 22:03] jodosha commented on #225
The generator also puts unnecessary `require 'lotus/entity'` and `require 'lotus/repository'` that should be removed.

[2015-05-20 22:03] jodosha commented on #225
@nguyenngoc2505 Any news on this? I'd love to release this fix by Friday.

[2015-05-20 22:27] jodosha commented on #204
@codyeatworld Closing this for now, please let us to know if the problem is caused by Lotus instead.

[2015-05-20 22:27] #204 closed

[2015-05-21 01:28] nguyenngoc2505 commented on #225
@jodosha I've fixed it. Could you please check it. Thanks!
https://github.com/lotus/lotus/pull/229

[2015-05-21 08:02] AlfonsoUceda commented on #204
@codyeatworld thanks for your help and time ;)

[2015-05-21 15:09] #221 closed

[2015-05-21 15:47] jodosha commented on #207
Implemented by #213 :sparkles:

[2015-05-21 15:47] #207 closed

[2015-05-21 16:09] nguyenngoc2505 commented on #224
@jodosha How about `spec/bookshelf/entities/user_repository_spec.rb`? Is it OK with current code?

[2015-05-21 16:19] jodosha commented on #224
@nguyenngoc2505 Not sure if I've understood what do you mean. :)

We expect `RSpec.describe` instead `describe` when the current testing framework is RSpec.

[2015-05-22 02:57] #225 closed

[2015-05-22 02:57] joneslee85 commented on #224
@jodosha really, I only learn about this today.

[2015-05-22 02:58] #224 closed

[2015-05-22 02:58] joneslee85 commented on #210
@nguyenngoc2505 let me know if you need any help with this ticket

[2015-05-22 02:59] joneslee85 commented on #226
@nguyenngoc2505 do you want to take care of this too?

[2015-05-22 03:00] joneslee85 commented on #215
@mymai91 can you please try this out? I want to make sure it works, if it does, then we could do a PR to document about it. TIA

[2015-05-22 03:01] joneslee85 commented on #200
I am closing this card now because we want to standardise on spec version of minitest. Thanks for raising this up with us. We would love to get more contribution from you in the future.

[2015-05-22 03:01] #200 closed

[2015-05-22 03:45] nguyenngoc2505 commented on #226
Yes, I got it.

[2015-05-22 04:07] mymai91 commented on #215
@joneslee85 I'll update it soon. Thanks

[2015-05-22 07:04] #228 closed

[2015-05-22 09:49] jodosha commented on #210
@nguyenngoc2505 We're in a hurry today to release v0.3.2, I've assigned it to @AlfonsoUceda cause he's around now. /cc @joneslee85

[2015-05-22 09:50] jodosha commented on #226
@nguyenngoc2505 What's the ETA of this? We're pushing to release v0.3.2 in a couple of hours.

[2015-05-22 09:59] nguyenngoc2505 commented on #210
@jodosha Ok, noproblem.

[2015-05-22 10:07] nguyenngoc2505 commented on #226
@jodosha I'm doing.

[2015-05-22 10:56] nguyenngoc2505 commented on #226
@jodosha @joneslee85 I've made new pull-req to do fixed this. Please review this. Thanks!
https://github.com/lotus/lotus/pull/232

[2015-05-22 12:23] #226 closed

[2015-05-22 12:23] jodosha commented on #226
@nguyenngoc2505 Merged as it is. :clap: /cc @joneslee85

[2015-05-23 07:00] joneslee85 commented on #192
@jodosha I'd cast a vote to group under subcommand `action`, I kinda like this pattern.

[2015-05-23 07:03] joneslee85 commented on #191
@jodosha @luislavena I'd leave it in `config` folder. Users can always point `foreman` and `azk` to this folder.

[2015-05-23 11:13] jodosha commented on #191
What if devs can't do it? For instance in deployment envs.

http://lucaguidi.com

[2015-05-23 16:23] joneslee85 commented on #191
@jodosha I question if users should use `foreman` in deployment env or not.

[2015-05-24 03:55] luislavena commented on #191
@joneslee85 @jodosha the main issue with `.env` inside `config` are:

- *dotfiles* inside anything other than `root` of your project are hard to spot.
- The default of foreman and azk look for `.env` at the root of your project
- Dotenv follows that and the usage recommendation is to place `.env` at the root of the project.

As you can see, there are several sources that can define `.env` placemen

[2015-05-24 11:38] jodosha opened #233 "Application Architecture"

[2015-05-25 05:30] codyeatworld opened #234 "Puma Heroku Read error: #<NoMethodError: undefined method `each' for #<String:0x007ff1d9e733a8>>"
When I submit a post request, heroku errors out. This happens locally too.

Live: https://arcane-headland-8567.herokuapp.com/admin/login

Relevant controller:
https://github.com/codyeatworld/codyeatworld/blob/master/apps/admin/controllers/sessions/create.rb

Relevant form:
https://github.com/codyeatworld/codyeatworld/blob/master/apps/admin/templates/sessions/new.html.erb

Puma conifg:
https://gith

[2015-05-25 09:29] jodosha commented on #234
@codyeatworld Thanks for opening this ticket. Can't really reproduce it locally. It works fine both with good and bad credentials.

From your stack trace, there is an odd detail: the path is `/`, not `/admin/sessions`.
Because I cannot reproduce, can you please remove the line related to Warden and check if it still fails? It could be a matter of integrating Lotus with Warden.

[2015-05-25 12:49] codyeatworld commented on #234
@jodosha It was related to Wardens failure app, `response[2]` must be enumerable. I wrapped `response[2]`  in [ ] and it worked!

https://github.com/codyeatworld/codyeatworld/commit/739c97419a3884ea66e5c79df740b18df5a3e308
[code]

Thanks again!
Also, the stack trace path was `/admin/sessions` with a weird line break from the terminal.

[2015-05-25 12:49] #234 closed

[2015-05-25 13:11] jodosha commented on #234
@codyeatworld I'm happy that you found the culprit. :+1:

[2015-05-26 11:14] mymai91 commented on #215
@joneslee85 @jodosha It works for now. I found a solution
Use:
[code]
@joneslee85 :
I'll update example in 2 cases:
* set up frontend run directly with Lotus
* set up frontend run parallel with Lotus
I hope I will finish example in this week.

[2015-05-26 12:12] jodosha commented on #215
@mymai91 Lotus doesn't handle these headers, so the issue is actually a browser security restriction. You'll probably see that error with all the web frameworks.

I guess these values will be needed application wise, if your javascripts are included everywhere. Lotus offers this `default_headers` facility (see above) to help you in this case.

Assigning `"*"` to that headers works, but it opens th

[2015-05-26 12:12] #215 closed

[2015-05-27 08:03] mwallasch opened #235 "NoMethodError on calling a method defined in application layout from page templates"
Hi,
either i'm doing it wrong or i found an issue regarding view method calls from templates.

Assume there is a method called _notifications_ in the application_layout.rb file

[code]
There is no problem to call this method in the _application.html.erb_ file.

But if i try to call this method from another page template, e.g. _templates/home/index.html.erb_ i get an error: NoMethodError: undefined

[2015-05-27 08:43] Sdogruyol opened #236 "JRuby 1.7.20 - Cannot install lotus-utils"
lotus-utils cannot be installed on JRuby 1.7.20

Here's the stacktrace.

[code]

That's because

[code]

Shall we support anything other than JRuby 9k? //cc @jodosha

[2015-05-27 09:03] sdogruyol opened #237 "JRuby-9K: Lotus Server Doesn't Work"
We use WeBrick as the default server in development and we use Shotgun to reload the app.

Shotgun uses fork to spawn a new child process and then quits the old one. Since fork is not supported on JRuby we get a runtime error when trying to visit the app on browser.

Here's the stacktrace.

[code]

We need to replace either WeBrick or Shotgun with something else on JRuby.

[2015-05-27 14:04] joneslee85 commented on #236
@Sdogruyol does this version support `prepend` yet?

[2015-05-27 14:08] Sdogruyol commented on #236
@joneslee85 well i guess i doesn't support ```prepent```

Here's a quick demo

[code]

[2015-05-27 17:34] deepj commented on #236
Unfortunately, `prepend` is in JRuby since 9.0.0.0 => https://github.com/jruby/jruby/issues/751

So Lotus doesn't work with JRuby 1.7 at all and won't be anymore.

[2015-05-27 17:44] jodosha commented on #236
@Sdogruyol @deepj @joneslee85 Lotus only targets Ruby 2+. That means MRI and all the other VMs that have the same features. JRuby 1.7 is out of scope. :smile_cat:

[2015-05-27 17:44] #236 closed

[2015-05-28 06:00] Sdogruyol commented on #237
Related PR at https://github.com/lotus/lotus/pull/238 :+1:

[2015-05-29 00:37] joneslee85 commented on #191
@luislavena the original intent is to have everything consolidated in 1 `config` folder, but now when I have more thought about this, the dotenv seems irrelevant to persistent config because it is not recommended to use it on production anyway. So sure, I'd vote :+1: moving them out to root.

[2015-05-29 10:46] jodosha commented on #237
@Sdogruyol Can you please test this for me using JRuby?

[code]

Visit a page, edit a source file and visit again, to check if code reloading works. It does locally for me.

[2015-05-29 11:03] Sdogruyol commented on #237
@jodosha gonna check now. Btw what is ``entr``?

[2015-05-29 11:06] Sdogruyol commented on #237
Unfortunately it's not working on JRuby probably not related to ```entr```

Here's the stacktrace

[code]

[2015-05-29 12:14] jodosha commented on #237
@Sdogruyol http://entrproject.org/

[2015-06-03 02:03] xuwupeng2000 opened #240 "Lotus generate with namespece"
How to do lotus generate with namespace eg: bundle exec lotus generate action admin customers/addresses#index

[2015-06-03 08:03] tomkadwill commented on #235
I've reproduced this and written a failing test. Trying to come up with a fix.

It seems like the scope does not have access to the layout inside `method_missing`, which is why it is not able to find methods defined on the layout

[2015-06-03 09:55] jodosha commented on #235
@tomkadwill That would be really helpful. Thank you! :+1: I think the fix belongs to `lotus-view`, isn't it?

[2015-06-03 10:04] jodosha opened #241 "Force SSL"
Add a new setting to `Lotus::Configuration` and related generators, to force SSL. See lotus/router#56 for technical details.

[code]

We should allow to specify this option for Container as well:

[code]

For backward compatibility, if that option is not specified, this feature must be turned off.

[2015-06-03 12:33] jodosha opened #243 "Lotusrc pollutes ENV"
When Lotus starts an application, it reads `.lotusrc`. Because the implementation uses `Dotenv.load` to parse it, as side effect, `ENV` is polluted with keys that comes from `.lotusrc`.

[code]

/cc @AlfonsoUceda

[2015-06-03 12:56] #191 closed

[2015-06-03 13:33] AlfonsoUceda commented on #243
@jodosha good catch, sorry for the pollution >_<

[2015-06-03 15:02] #243 closed

[2015-06-04 04:28] jodosha opened #245 "Remove database mapping from generated apps"
When we create a new Container app, we generate code for database mapping in `lib/`, which is the main one.

On the other hand, we also generate similar code for `apps/` (eg. `apps/web/config/mapping.rb` et all). This is confusing for newcomers. That is the most common question asked in chat. By removing this extra code, will simplify the onboarding process.

[2015-06-04 05:18] jodosha opened #247 "CSRF Protection"
The upcoming release of `lotus-helpers` will ship with form helpers. This is the right time to introduce a security defense for one of the most common security threats on the web: [CSRF](https://www.owasp.org/index.php/Cross-Site_Request_Forgery_%28CSRF%29).

According to OWASP, the strongest mechanism is called [Synchronizer Token Pattern](https://www.owasp.org/index.php/Cross-Site_Request_Forger

[2015-06-04 05:20] #245 closed

[2015-06-05 07:22] #247 closed

[2015-06-05 07:41] jodosha commented on #235
@mwallasch Can you please verify if https://github.com/lotus/view/issues/71 fixes your problem?

@tomkadwill thank you :+1:

[2015-06-05 08:02] jodosha opened #249 "Experimental code reloading"
### Overview

**Lotus itself doesn't implement code reloading**.

We use a reloadable context only for development mode via `lotus server` command. The reason is simplicity. Once we bypass that reloadable context, Lotus works like any other Ruby library, without messing with constant autoloading tricks.

The library we use for reloading is: Shotgun. It's written in Ruby and uses `fork(2)` to spawn

[2015-06-06 09:46] AlfonsoUceda commented on #241
@jodosha when you set in the container then all apps are affected under container, isn't it?

[2015-06-06 14:04] jodosha commented on #241
Yes.

We also need to put this setting inside single application's configurations. So they can be enabled on application basis instead of globally.

http://lucaguidi.com

[2015-06-09 02:48] xuwupeng2000 commented on #205
We have the same problem. Pry does not work with Lotus.

[2015-06-10 21:18] mvader opened #254 "HTML entities when rendering JSON"
Hi, I've encountered the following error. I think lotus/view is responsible for this but since I am using it with full lotusrb I posted the error here.

Whenever I render JSON from a view (not the controller or a middleware) my quotes are converted to ```&quot;```. I imagine it will also happen with other characters.
**Example:**
[code]
Is converted to:
[code]

If I render the JSON directly from t

[2015-06-11 05:18] jodosha commented on #254
@mvader The reason is that the output of views is auto-escaped for security reasons. If you want to bypass this mechanism, you should use `#raw`.

[code]

[2015-06-11 05:18] #254 closed

[2015-06-11 07:58] mvader commented on #254
Shouldn't it be disabled for JSON format or at least updated on the README? The example could lead to confusion (as it was my case).

[2015-06-11 16:59] tomkadwill commented on #205
I've had a quick look at this. For me, pry does pause execution (as expected) but it does not show a REPL in the terminal as I would expect.

@jodosha do you know anything about this? otherwise I'll investigate.

[2015-06-12 01:00] brennovich opened #255 "Outdated dependency prevets successfully install of Lotus under Ruby 2.2.2"
Lotus installation fails with **Ruby `2.2.2`**, Apparently an old dependency version of `libxml-ruby` is the root of the issue:

[code]

Although I can successfully install a newer version of `libxml-ruby`:

[code]

[2015-06-12 07:39] AlfonsoUceda commented on #255
@brennovich `gem install lotusrb`. `lotus` gem is another gem

[2015-06-12 07:53] jodosha commented on #255
@brennovich Thank you for reporting this, but you need to install `lotusrb`. Have a good day.

[2015-06-12 07:53] #255 closed

[2015-06-12 13:31] brennovich commented on #255
Sorry for the misunderstanding, thanks for the responsiveness ;)

[2015-06-13 17:35] jodosha opened #257 "Remove default action from new applications"
## Actual

When we create a new application with `lotus new`, it generates a default action.
It was introduced before the action generator (#166) was available. It used to offer a nice onboarding experience for new developers.

## Proposed Change

Now that the action generator is shipped, there is no reason to generate this default action.
In order to guide new developers, we should change the mes

[2015-06-16 15:43] jodosha commented on #235
Fixed by https://github.com/lotus/view/pull/71

[2015-06-16 15:43] #235 closed

[2015-06-17 01:36] agenteo opened #262 "Second application routes not found"
I was trying to add a second app to a lotus project.

I've committed my code at https://github.com/agenteo/lab-lotus-two-apps. I can access /play (provided by web app) but could not access /game (provided by game_zone app).

This really shouldn't matter but I already tried to mount the game_zone app on a different segment (/g and /zone) but same not found.

When I don't mount web I can access game

[2015-06-17 07:28] jodosha commented on #262
@agenteo Hello and thanks for reporting this.

Here's a patch to make your app working:

[code]

Lotus routing works like this: the first route that satisfies the current request wins. What happens here is that your `/` at the top of the block, acts as a catch-all for all the other applications, so it shadows them.

[code]

The right thing to do is to put the less greedy path at the bottom:

[code

[2015-06-17 07:28] #262 closed

[2015-06-17 12:24] #136 closed

[2015-06-17 12:24] #137 closed

[2015-06-17 12:24] #138 closed

[2015-06-17 13:33] #241 closed

[2015-06-17 13:45] jodosha commented on #257
Implemented by #258

[2015-06-17 13:45] #257 closed

[2015-06-17 17:28] #233 closed

[2015-06-18 06:32] agenteo commented on #185
Hi guys, I took a peak at this today to help moving forward, first of all should the issue be moved or at least tracked in [lotus-view](https://github.com/lotus/view)?

I located the commit introducing partial rendering at https://github.com/lotus/view/commit/ba5acdc30673bfeeecda2c61217884bdd7d5f20c

I was looking at what Luca said about the templates being pre-loaded from `Lotus::View.load!`: htt

[2015-06-18 12:30] jodosha commented on #185
@agenteo Hi.

https://github.com/lotus/view/blob/master/lib/lotus/view/rendering/registry.rb

[2015-06-18 17:46] joneslee85 commented on #237
@Sdogruyol ping

[2015-06-18 17:47] joneslee85 commented on #210
@nguyenngoc2505 ping

[2015-06-18 23:34] agenteo commented on #185
Thanks for pointing to that, when/where are the views handed over from the https://github.com/lotus/view/blob/master/lib/lotus/view/configuration.rb#L330 `Set` to the Registry?

[2015-06-19 12:30] Sdogruyol commented on #237
@joneslee85 pong

[2015-06-20 12:06] joneslee85 opened #264 "dotenv fail to load environment files"
Step to re-produce:

1. Grab the sample app at `https://github.com/ruby-journal/lotus-blog`
2. Change dir and then `ENV` and see no variables that are set in `config/.env` or `config/.env.development`

This bug has been reported once by @hieuk09; I could not re-produce it until now.

[2015-06-21 01:08] joneslee85 commented on #264
it turns out that those files are now moved to root.

[2015-06-21 01:08] #264 closed

[2015-06-21 13:50] joneslee85 commented on #237
@Sdogruyol any update?

[2015-06-21 13:51] joneslee85 commented on #210
@AlfonsoUceda are you still on this? If not, I'll take it over from you.

[2015-06-21 13:52] joneslee85 commented on #4
@fuadsaud ping, any update?

[2015-06-21 13:52] joneslee85 commented on #240
@xuwupeng2000 Isn't that the way it is now?

[2015-06-21 13:53] #240 closed

[2015-06-21 14:03] AlfonsoUceda commented on #210
please take it ;)
El 21/06/2015 15:51, "Trung Lê" <notifications@github.com> escribió:

[2015-06-21 20:03] mvader opened #265 "Render view when status is 400"
I've noticed that if you set the status to 400 on the controller the view is not rendered. Is that the expected behaviour or is it a bug?

[2015-06-24 03:08] vyper opened #267 "SESSION_SECRET is empty when generate arch=app"
I ran:

[code]

And my `.env.development` and `.env.test` was:

[code]

But, in arch=container:

[code]

I received:

[code]

[2015-06-24 06:50] joneslee85 commented on #267
@vyper this is a trivial fix for app generator, do you want to give it a try? ;)

[2015-06-24 08:21] xuwupeng2000 opened #269 "Passing Ruby Object to JS like gon gem"
Do we have something like gon so I can pass Ruby object to Javascript ?
If not then what is the Lotus way of passing these variables ?

I am using HAML and try to do something like
[code]

But it does not work. Something strips my JS and rendered it as String.
But if I input JS without any Ruby variable this code will work like normal.

[2015-06-24 08:58] jodosha commented on #269
@xuwupeng2000 Hello. Can you please share with us an example of the wrong and the expected output? Thank you.

[2015-06-24 19:20] vyper commented on #267
@joneslee85 the @AlfonsoUceda was more quickly than me!

[2015-06-24 23:48] agenteo opened #271 "improve lotus generate documentation"
Currently `lotus` helper message says: `lotus generate         # generates a new action` which I reckon should be changed to `run code generator` or perhaps removed.

When typing `lotus generate` I currently see:

[code]

I think this should be updated with the latest options. I run in to this looking for `lotus generate app`.

[2015-06-25 06:43] safeforge commented on #269
@xuwupeng2000 probably what HAML does is just invoking to_s on the ruby object, so you get something like `#<User:0x007fc24059e5e8>`  if you want to serialize object fields into javascript variable you can try to use `current_user.to_json` like this:

[code]

[2015-06-25 07:35] jodosha commented on #269
@xuwupeng2000 Yes, @safeforge is right. All the template engines perform interpolation via `#to_s`.

I didn't knew about `gon` gem, if it's only for passing a var to JS, it seems overkilling to me. It brings a lot of direct and indirect dependencies.

Here the straightforward, zero dependencies way to solve your problem.

[code]

Then in the corresponding template you can use it as `<%= json_user

[2015-06-25 09:09] xuwupeng2000 commented on #269
Thank you!

[2015-06-25 09:47] joneslee85 commented on #271
@agenteo thank for the bug reporting. What do you think about submitting a PR for this?

[2015-06-25 09:54] #267 closed

[2015-06-25 10:11] jodosha commented on #269
@xuwupeng2000 Closing this. Thank you.

[2015-06-25 10:11] #269 closed

[2015-06-27 22:52] tak1n opened #275 "New Lotus app undefined method jruby?"
https://gist.github.com/tak1n/3998872092fe27269a83

Calling it from lotus console works:

[code]

[2015-06-28 01:11] joneslee85 commented on #275
@tak1n I did try to re-produce but it works fine on my box.

[2015-06-28 07:52] tak1n commented on #275
If I manually require `lotus/utils` in `code_reloading?` it works too

[code]

Also if I stop execution with pry here and require `lotus/utils` it's returning `true`, this means it was not required before. Have to dig deeper why it's not already required at this point.

[2015-06-28 08:02] tak1n commented on #275
As far as I can see this only `lotus/utils/hash` is loaded the `Lotus::Utils` module defined but the needed class methods like `jruby?` or `rubinius?` are not.

https://github.com/lotus/lotus/blob/master/lib/lotus/environment.rb#L4 here only `lotus/utils/hash` is loaded.

[2015-06-28 08:45] tak1n commented on #275
Additional info, from lotus console it works because it doesn't need any `lotus/utils` functionality before it's loaded and at https://github.com/lotus/lotus/blob/master/lib/lotus/commands/console.rb#L27 everything is loaded properly.

[2015-06-28 09:38] #275 closed

[2015-06-29 04:52] sebastjan-hribar opened #278 "ERROR NotImplementedError: fork()"
Hi,
I'm on Windows 7 with Ruby 2.00 and when running the bookshelf sample application I get:

ERROR NotImplementedError: fork() function is unimplemented on this machine
        C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/shotgun-0.9.1/lib/shotgun/loader.rb:27:in `fork'
        C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/shotgun-0.9.1/lib/shotgun/loader.rb:27:in `call!'
        C:/Ruby200-x64/lib/ruby/gem

[2015-06-29 11:26] jodosha commented on #278
@sebastjan-hribar Hello and thanks for reporting this. Lotus uses a reloadable container (`shotgun` gem) to provide code reload feature to developers. Unfortunately it works with `fork(2)`, which is only available on POSIX systems.

That means you won't be able to use code reloading on Windows. To get your application running, please use `bundle exec lotus server --no-code-reloading`. This should

[2015-06-29 11:26] #278 closed

[2015-07-01 17:59] tak1n commented on #205
Got the same issue like @tomkadwill stated above, the execution is stopped but the pry repl not shown.

[2015-07-01 19:53] AlfonsoUceda commented on #205
reopened issue, it seems several of us have the same problem.

we have to investigate why because pry byebug is really helpful.

@tak1n @tomkadwill have you investigated what the problem is?

[2015-07-01 21:56] Eein opened #282 "Support for ZSH (ohmyzsh)"
I'm running oh-my-zsh as my default shell, and the lotus commands do not work without prepending `noglob`, otherwise giving the following error:

`zsh: no matches found - controller#action`

I fixed this by adding the alias:
`alias lotus="noglob lotus"`

----

I'm not too sure of the internals, but this might be stressful to people trying to get the generators working while using zsh. Figured I'd

[2015-07-01 23:36] vyper opened #283 "Error to use rack middleware with session dependency"
If I use in `application.rb`:

[code]

I received this error:

[code]

But, when I use this code, work perfectly.

[code]

In `lotusrb-0.4.0/lib/lotus/middleware.rb:51`

[code]

[2015-07-02 04:56] tak1n commented on #282
Running zsh too, the problem is:

[code]

Same goes for rake tasks which has arguments in `[]` you have to escape them -> `\[\]`
This is not a bug in lotus itself.

[2015-07-02 05:11] Eein commented on #282
Thanks for the insight :)

Given that its my own choice to use zsh, I'll go ahead and close the issue.

Hopefully this will serve as a useful search on google for the people who were as confused as I am.

[2015-07-02 05:13] jodosha commented on #282
@Eein I'm [using ZSH here](https://github.com/jodosha/dotfiles) and never experienced this problem. Sorry to hear this.

[2015-07-02 05:44] Eein opened #285 "New Container App routes not being served"
I'm following the guides, and i'm having trouble creating a new container app with
`lotus generate app admin`
When I create the new app, everything is good. When I visit the newly generated route `/admin` it shows the bootstrapped screen.

If I make a new action under this app using
`lotus generate action app home#index`
all potential routes I could think of would not work

`
::1 - - [02/Jul/2015:

[2015-07-02 07:23] mvader commented on #285
I followed the steps you stated and this is what I got:
[code]

Lotus found my route and sent a 200 status.
Running lotus 0.4.0 and ruby 2.2.2p95 (2015-04-13 revision 50295) [x86_64-darwin14] on OS X Yosemite 10.10.4.

[2015-07-02 08:58] joneslee85 commented on #285
@Eein we also found a regression with version 0.4.0, this issue will be addressed in the next 0.5.0. For the time being, you could live on-edge with:

[code]

[2015-07-02 08:58] #285 closed

[2015-07-02 10:48] jodosha commented on #285
@Eein Not in 0.5.0, but in a upcoming v0.4.1. /cc @joneslee85 @lotus/core-team

[2015-07-02 20:19] joneslee85 opened #286 "Group lotus commands in group"
**What this is about:**

Lotus commands public interface are not consistent. We have commands that belongs to verb action like:

[code]

and

[code]

and at the same time we have commands grouped by sub-command like:

[code]

which is not intuitive for user experience.

**What could be made better?**:

I believe that by grouping them in group, we would offer a consistent interface for users that w

[2015-07-03 07:23] mvader commented on #286
+1. That seems a lot more intuitive.

[2015-07-03 07:52] mwallasch commented on #286
Hmm. Why not replacing _generate_ with _new_ at all?

[code]

[2015-07-03 09:35] theocodes commented on #286
I think i agree with @mwallasch. is there a good argument for having `generate` as well as `new`?

[2015-07-03 09:42] mvader commented on #286
```lotus new app``` now creates a new app called ```app```. That command would have to check that the provided parameter is not one of the other actions and that, imho, it would make the code a little bit ugly.

The @joneslee85 approach is more consistent and intuitive. In that approach the commands are always ```lotus <command> <subcommand, if any> args```

With ```lotus new action foo``` it's ``

[2015-07-03 09:57] theocodes commented on #286
@mvader good point :+1:

[2015-07-03 10:36] jodosha commented on #155
Closing this for now.

[2015-07-03 10:36] #155 closed

[2015-07-03 10:48] jodosha commented on #265
@mvader The current assumption is that only successful responses are rendered by a developer defined view. The rest is managed by the framework that takes care to render special pages.

Is this something that can help? http://lotusrb.org/guides/views/custom-error-pages/

Please let us to know. Thank you! :+1:

[2015-07-03 10:54] jodosha commented on #271
@agenteo We're aware of the fact that it s**ks. Sorry for the poor experience. It requires a refactoring to change the code from the actual state to something similar `db` commands. See https://github.com/lotus/lotus/blob/master/lib/lotus/commands/db.rb

I've tried to start this, but it's time consuming and the v0.4.0 release was close, so I had to abandon it. I can share with you the WIP. Would y

[2015-07-03 10:58] jodosha commented on #283
@vyper Thank you for reporting this. We're going to explore the code and try to make sessions shared with the middleware stack. :+1:

[2015-07-03 13:27] joneslee85 commented on #286
For further discussion, please do it at the forum https://discuss.lotusrb.org/t/group-lotus-commands-in-group/101

[2015-07-03 13:27] #286 closed

[2015-07-03 13:40] mvader commented on #265
@jodosha I was using a view to render conditionally the JSON depending on the success or not. But after your reply I thought about it and it was my design that was wrong since I can throw an exception with the errors and the handler will render the error JSON and use the view only for 2XX statuses.

Thanks a lot!

[2015-07-03 13:40] #265 closed

[2015-07-04 02:27] mli-max commented on #282
@Eein @jodosha I had same error only with `bundle exec`
[code]
But that works `lotus generate action web home#index --url=/`
Maybe some bugs with bundler 1.10

[2015-07-05 19:37] mli-max opened #291 "New app with --database check type"
Why we need duplication for pg and sqlite in https://github.com/lotus/lotus/blob/master/lib/lotus/generators/application/container.rb#L154-L157
[code]

Maybe we should use `postgresql`, `pg` and `sqlite3` instead?
and what about specify `file` type too and generate exception if user tries generate with wrong type.

[code]
because it's so strange when app is generated with wrong db option for examp

[2015-07-05 19:52] mli-max opened #292 "Wrong rspec configuration"
Rspec 3.x has two helper files instead one: `rails_helper.rb` and `spec_helper`.
We need generate it too and don't support one spec_helper

[2015-07-05 20:07] #292 closed

[2015-07-06 08:50] mli-max opened #293 "Get rid of very long require_relative in tests"
I generated action with rspec test file and see on top of it:
[code]
But we have required `spec_helper` in `.rspec`, so I remove first line and test passed.
I don't like this long require_relative, I have found solution!

We put that line in `spec_helper`
`ROOT = Pathname(File.expand_path(File.join(__dir__, '..')))`

and then in test
`require ROOT.join('apps/web/controllers/dashboard/index')`

Or

[2015-07-06 09:51] mli-max commented on #293
@jodosha Why we have this method private?
[code]

[2015-07-06 10:21] jodosha commented on #293
@mli-max Thanks for opening this discussion. `require_relative` is faster than `require`, because the first looks up only for the path that you specify, while the latter has to look for the file in all the require paths (including all the gems in your app).

That line is there for ease TDD. When you run it via `bundle exec rspec path/to/index_spec.rb`, it will only load Lotus, the gem deps, but **

[2015-07-06 10:21] #293 closed

[2015-07-06 10:28] mli-max commented on #291
@jodosha ping

[2015-07-06 12:01] joneslee85 commented on #291
okay, so it seems the problem lies in the fact that if the type is invalid, the current generator falls back to `file` type.

I agree with @mli-max that UX-wise, it should raise error and exit

[2015-07-07 07:03] mli-max commented on #271
@jodosha I can do some work on this one

[2015-07-07 07:05] mli-max commented on #271
@agenteo Are you working with that?

[2015-07-07 07:37] jodosha commented on #291
@mli-max Thank you for this suggestion. It makes a lot of sense :+1:

[2015-07-07 08:34] jodosha commented on #282
@Eein @tak1n @mli-max This must be fixed. :+1:

Out of curiosity which oh-my-zsh plugins/settings are you using? Would you mind to share. I use it too, and prefix my commands with `bundle exec`, but never ran into this problem. Just want to have a complete understanding of the issue. :smile:

[2015-07-07 08:39] jodosha commented on #271
@mli-max Please work on it. This is the branch: https://github.com/lotus/lotus/tree/cli-refactoring

The build is red :red_circle: , because it's WIP. I suspect this will be a long refactoring, take your time to make it right :+1:

[2015-07-07 09:51] mli-max commented on #271
@jodosha thanks.

[2015-07-07 12:50] mwallasch opened #295 "Cannot bypass layout in a view"
Hi,

i set ```layout nil``` in a particular view to bypass the layout rendering. But the resulting page contains the layout anyway.

**View:**
[code]

**Application template:**
[code]

**Page template:**
[code]

**Resulting HTML (truncated)**
[code]

[2015-07-07 16:13] agenteo commented on #271
@mli-max thanks for picking it up!

[2015-07-07 18:04] dm67x opened #296 "[Error] New project creation"
I have Ruby 2.1.6 and I got this error when I would like to create a new project.

E:\websites>lotus new mangascan --database=sqlite
      create  mangascan/.lotusrc
      create  mangascan/.env
      create  mangascan/.env.development
      create  mangascan/.env.test
      create  mangascan/Gemfile
      create  mangascan/config.ru
      create  mangascan/config/environment.rb
      create  mang

[2015-07-08 02:00] joneslee85 commented on #296
@dm67x thanks for the bug reporting. We are sorry to let you know that we are not supporting Windows platform. The reason is because there are much more hassles and unexpected errors if developed under Windows and yet deployed to Linux/UNIX platform on production. Please use VirtualBox or install Linux.

[2015-07-08 02:00] #296 closed

[2015-07-08 02:00] joneslee85 commented on #291
@mli-max do you want to handle this ticket? :)

[2015-07-08 02:02] joneslee85 commented on #295
@mwallasch good find, are you able to help with a PR to address this issue?

[2015-07-08 06:23] mli-max opened #297 "CLI Refactoring"
I have started to work on cli refactoring based in branch https://github.com/lotus/lotus/tree/cli-refactoring
This issue will be for discussion.

* Extract generator logic from cli and put it in other thor-based object.
* Check types for generate
* Provide more documentation for generate
* Trying to generate something with wrong options user should see understandable message

[2015-07-08 06:24] mli-max commented on #271
This issue will be fixed with #297

[2015-07-08 06:28] mli-max commented on #291
@joneslee85 Maybe I will do with #297 issue

[2015-07-08 06:45] mwallasch commented on #295
@joneslee85 uff. It would be my first. I'll need a little assistance on setup. (especially on debugging in Ruby).

[2015-07-08 07:25] mvader commented on #291
@mli-max did you finally take this? If not I'd be glad to take it.

[2015-07-08 08:11] mli-max commented on #291
@mvader ok, you can take it.

[2015-07-08 08:18] mli-max commented on #297
@jodosha Do you have some thoughts about it?

[2015-07-08 09:01] pascalbetz commented on #297
I just ran "lotus generate model" by accident. It created some files, i guess this should raise an error instead:

[code]

[2015-07-08 10:03] mli-max commented on #297
@pascalbetz Yes, model should require name

[2015-07-08 11:21] AlfonsoUceda commented on #297
@mli-max like @pascalbetz said. some generators need raise an error or raise a message to tell the user what happended.

[2015-07-08 13:11] AlfonsoUceda commented on #295
@mwallasch could you try with this commit? https://github.com/lotus/view/commit/b170f796d487abeca663d4d2c0751f6b22683b4f

I guess this bug was introduced by this PR https://github.com/lotus/view/pull/73

[2015-07-08 13:17] joneslee85 commented on #295
@mwallasch sure, I love to. Please give suggestion by @AlfonsoUceda first

[2015-07-08 13:45] mwallasch commented on #295
I did. Unfortunately it doesn't solved the problem. Maybe a dependency problem? See Gemfile.lock
https://gist.github.com/mwallasch/54f560719f359b306eae

[2015-07-08 14:15] joneslee85 commented on #291
@mvader please have test

[2015-07-08 14:34] AlfonsoUceda commented on #295
@mwallasch I found the commit https://github.com/lotus/view/commit/c702dfa1a6fbf8e90538b1c6a3251801cbc232cd

I wrote a failing test and fails in this commit, in his parent it passes good
[code]

cc @jodosha @joneslee85

[2015-07-08 14:53] AlfonsoUceda commented on #295
@mwallasch I remember now, you have to use `layout false` https://github.com/lotus/view/commit/f7f2f9683bf1c11183205fc689e9ddcbdd8d90b3

[2015-07-08 14:53] AlfonsoUceda commented on #295
I'm going to create a PR fixing README

[2015-07-08 14:57] AlfonsoUceda commented on #295
@mwallasch https://github.com/lotus/view/commits/master fidex

[2015-07-08 15:09] mwallasch commented on #295
Aaahh. Okay. I wrote some tests in preparation of a PR but none of them fails. Anyway. false instead of nil solves it.

[2015-07-08 16:23] mvader commented on #291
@joneslee85 of course!

I will start working on it tomorrow

[2015-07-08 22:48] Eein commented on #282
I think i use only a couple plugins -

[code]

That pretty much sums up my .zshrc - everything else is default, including the theme

[2015-07-09 07:04] jodosha commented on #282
@Eein Thank you. :smile: Mine is even more complex. :racehorse:

Here's my version

[code]

@mli-max I just tried with Bundler 1.10.5:

[code]

[2015-07-09 07:05] jodosha commented on #291
@mvader Hello, thanks for taking care of this. We aim to complete it by the end of today UTC, cause on tomorrow we'll release v0.4.1. Do you think you can handle it on today? Thank you very much! :+1:

[2015-07-09 08:26] mvader commented on #291
@jodosha Yes, I think so. If I can’t I’ll let you guys know ASAP so someone has time to take it but I’m pretty sure it’ll be ready by noon

-- 
Miguel Molina
Sent with Airmail

On 9 Jul 2015 at 09:05:27, Luca Guidi (notifications@github.com) wrote:

@mvader Hello, thanks for taking care of this. We aim to complete it by the end of today UTC, cause on tomorrow we'll release v0.4.1. Do you think you

[2015-07-09 10:40] tak1n commented on #282
@jodosha here my configuration - https://github.com/tak1n/dotfiles/blob/master/.zshrc

[2015-07-09 13:33] mli-max commented on #297
@AlfonsoUceda sure

[2015-07-09 13:50] pascalbetz commented on #297
One thing that i find handy with Rails is the possibility to revert a
command. Something like:

lotus generate model floo
...adds lots of files
lotus destroy model floo
...removes the files that have been added
lotus generate model foo

AFAIK this is not available currently?

[2015-07-09 13:58] AlfonsoUceda commented on #297
@pascalbetz now there isn't a destroy command :(

[2015-07-10 13:15] #291 closed

[2015-07-10 14:01] AlfonsoUceda commented on #295
closing

[2015-07-10 14:01] #295 closed

[2015-07-10 15:26] #282 closed

[2015-07-10 16:59] #283 closed

[2015-07-10 17:15] vyper commented on #283
Cool! :+1:

[2015-07-10 18:25] berfarah opened #303 "Lotus + Rack::Chunked streaming"
`Rack::Chunked` streaming does not work out of the box. There are two issues here.

## 1. Lotus' rendering policy
`Lotus::RenderingPolicy#render` wraps any non-nil body in an array. In order for `Rack::Chunked` to work, existing enumerables should not be wrapped. I monkey-patched this by changing [line 30](https://github.com/lotus/lotus/blob/master/lib/lotus/rendering_policy.rb#L30) of the renderi

[2015-07-11 02:03] vyper commented on #283
@jodosha I test new version, but I got an errors...

# Using configuration

[code]

# Specs ran perfectly
[code]

# Using "lotus way" configuration

[code]

[code]

[2015-07-11 19:13] mli-max commented on #297
@jodosha I have a bit confused when I tried to understand a new cli architecture. Can you explain?
For example, I look on model generator
[code]
I add correct modules and have error `Generate is not a module`. Ok, it's a class.
What did you plan to add in generate commands? It will do some check for correct input and then call generators with type start action. Is it correct?

[2015-07-12 21:18] jackfranklin commented on #283
@jodosha I've just stumbled upon this same bug myself. In my `apps/web/application.rb` I have:

[code]

And running this in a browser works great, everything is good. I wrote a feature spec to cover this behaviour:

[code]

And running:

[code]

Passes just fine. However, as @vyper found, as soon as I give RSpec a folder path that includes > 1 spec, it errors:

[code]

[2015-07-12 22:14] vyper commented on #283
Thanks @jackfranklin for more details. (:

[2015-07-14 07:45] pascalbetz commented on #297
@AlfonsoUceda

I haven't looked into the generator structure. But it'd be great if it would provide means do undo a generate much like migrations can be rolled back.

[2015-07-14 08:07] mli-max commented on #297
@pascalbetz It would be great. But we will do it in other task. There are refactoring without changing behavior.

[2015-07-15 03:04] vyper opened #304 "Error on session middleware and rspec"
I tested test version 0.4.1, but I got an errors... references to [other issue](https://github.com/lotus/lotus/issues/283).

# Using configuration

[code]

# Specs ran perfectly
[code]

# Using "lotus way" configuration

[code]

# Specs ran partially ):
[code]

A sample for rspec exception:

[code]

[2015-07-16 19:05] Ch4s3 commented on #237
+1

[2015-07-29 07:12] joneslee85 opened #308 "Allow specifying method type for Action generator"
Please see [details](https://discuss.lotusrb.org/t/allow-users-to-specify-method-type-for-new-generated-routes/116)

[2015-07-29 07:13] joneslee85 commented on #308
Claimed by @pascalbetz

[2015-07-29 20:24] pascalbetz opened #311 "Can not create action for app architecture"
Documentations says that app name must be ommited for app architecture. This does not work and raises an error:

[code]

The error is coming from action.rb

[code]

What seems to work (note the dot as app name):

[code]

[2015-07-30 18:33] pascalbetz commented on #185
I've looked into this a bit. My understanding:

* Template caching can be done because it's predefined what template a view renders: either inferred through the name or trough the ```.template``` method defined in dsl.rb#206
* Templates are cached per view. If two views are rendering the same template it is loaded twice

To me it looks like Template instances are created at least twice on startup.

[2015-08-01 00:59] #308 closed

[2015-08-01 10:04] pascalbetz commented on #297
What is the status of this? Any help wanted?

[2015-08-01 21:11] mli-max commented on #297
@pascalbetz I have no time for that.

[2015-08-02 13:36] pascalbetz commented on #297
@mli-max have you already started, is there some code to share? i can over this issue.

[2015-08-03 12:15] mli-max commented on #297
@pascalbetz I can look into https://github.com/mli-max/lotus/tree/cli-refactoring

[2015-08-03 15:01] pascalbetz commented on #297
Thanks. I have started development.

[2015-08-05 07:50] AlfonsoUceda opened #312 "Add serve_assets true for production environment by default"
Talking with @mwallasch in lotus chat, he told us he had problems with heroku serving assets, the solution was add `server_assets true` to production environment.

It makes sense add by default in this environment server assets.

[2015-08-05 13:55] pascalbetz commented on #312
Hello @AlfonsoUceda

I'm working on the generator refactoring (#297) and could add this as well. I assume #297 will raise some discussions as there is a lot of change. So if this is urgent, then better do it separately. Le me know what you think.

[2015-08-05 14:04] AlfonsoUceda commented on #312
@pascalbetz don't worry, it isn't urgent ;)

[2015-08-07 06:30] tak1n commented on #312
IMO serving static assets in production should be done through a server like nginx or apache, therefore the current default (disabled) in production is good.

[2015-08-07 06:37] joneslee85 commented on #312
@AlfonsoUceda IMHO it should be done with nginx, users can choose to serve it by manually set it to true but I don't think it is a good default behaviour

[2015-08-07 06:50] AlfonsoUceda commented on #312
You are right folks, this task should be done by apache, nginx or other. It seems in heroku should be set to true but the good default configuration should be disabled.

Closing the issue.

cc @mwallasch

[2015-08-07 06:50] #312 closed

[2015-08-07 13:52] pascalbetz opened #313 "Lotus::Environment changes the argument hash"
```Lotus::Environment.new``` makes an inplace modification of the hash that is passed as option. This leads to smybolized keys in the hash as soon as it has been passed to that constructor.

[code]

I think that this should be changed, it's not to be expected that the hash is modified.

[2015-08-08 16:12] benlovell opened #316 "Authentication solution"
After speaking with @joneslee85 on twitter - this is to start a discussion on what's needed for an (initial cut) authentication solution for lotus.

Are we looking at something real simple such as `has_secure_{password,token}` or something more fully featured such as devise?

Let's try and get a checklist in here that I can use as a plan.

https://github.com/lotus/model/pull/230

[2015-08-10 21:40] pascalbetz commented on #316
Just something simple, like has_secure_password. To start with at least.
If something special needed then more a set of tools that one can use to program rather than something that is configurable like devise.

[2015-08-10 21:47] pascalbetz commented on #297
FYI: as you can see from the activities on this issue: i'm working on the code... might still take some days to finish and clean up.

Currently i'm working on the app generator+tests.

[2015-08-11 02:14] joneslee85 commented on #316
IMHO a simple solution like `has_secure_password` does the job for now, please do it in a mixin module

[2015-08-11 07:13] #313 closed

[2015-08-11 08:04] pascalbetz opened #318 "Instantiating Lotus::Environment creates the .lotusrc file"
Since the lotusrc file gets written with default values (if it does not exist) when Lotus::Lotusrc is instantiated, every class that uses L::Lotusrc might write a file as a sideeffect.

I don't think that this is nice behavior of a class (even though it is documented in L::Lotusrc, it is unclear what class is instantiating it).

I'd propose to remove this "auto-write".

The .lotusrc file should be

[2015-08-11 09:45] joneslee85 commented on #318
Please move it to discuss.lotusrb.org

[2015-08-11 09:45] #318 closed

[2015-08-11 19:43] BradWheel commented on #205
@AlfonsoUceda I just encountered the same issue with pry. I can attach pry to basically any other object and get the repl as expected (e.g Object.new, STDOUT, etc), but as @tomkadwill noted, when used regularly (binding.pry), pry does pause, but I'm not able to access the repl.

I'm just getting started with Lotus, so I haven't had too much time to poke around the source, but I think its possible

[2015-08-12 09:04] AlfonsoUceda commented on #205
@BradWheel this? https://github.com/lotus/controller/blob/master/lib/lotus/action/callable.rb#L68-L74

maybe you can check https://github.com/lotus/controller/blob/61e2347ca7357ce877b216efca6f4157ebfbe73d/lib/lotus/action/throwable.rb#L128 and play removing catch block only for testing with pry and we can find the culprit

[2015-08-12 18:02] BradWheel commented on #205
@AlfonsoUceda I tried removing the catch block and had the same issues as before. I dug around a bit more and started to eliminate the modules included into the Action module one by one and found that if you remove both Callbacks and Callable modules, pry works as its supposed to.

[2015-08-13 18:10] BradWheel commented on #205
@AlfonsoUceda I've narrowed down the problem to this line in pry:
https://github.com/pry/pry/blob/master/lib/pry/repl.rb#L50

The default :before_session hook is not running correctly in Lotus controller. If you remove it by adding
`Pry.hooks.delete_hook(:before_session, :default)` when the application loads, pry works correctly.

[2015-08-16 10:17] josemota opened #320 "Error management"
I didn't really know where to scope this issue due to its potential across multiple components of the framework. So here's my take on the subject.

I thought to myself that developers should be better assisted regarding expected errors. For instance, I didn't have the appropriate template for an action in my Lotus project and so I would get a rather cryptic message like: `undefined method 'render'

[2015-08-19 13:20] rpanachi commented on #304
I had a similar problem with `sessions` vs `middleware.use` with Redis.

Declaring `sessions` according with Lotus docs, fails os csrf_token verification (because session is always nil on controller):

[code]

But declaring `sessions` and `middleware` together, works fine:

[code]

I checked the method `_load_session_middleware` on file `lib/lotus/middleware.rb:107` and It seems to use the session

[2015-08-20 10:25] pascalbetz commented on #297
PR Created https://github.com/lotus/lotus/pull/324

[2015-08-23 05:37] trexnix opened #326 "Middlewares get executed in reverse order?"
*This might be a silly question. I'm a newbie to the Ruby and OSS world.*

According to [this guide](http://lotusrb.org/guides/actions/rack-integration/), we're able to add other components to the middleware stack. I decided to do a test and found out that user-defined middlewares got executed in reverse order as they were declared. For example, I have two middlewares as following:

[code]

then r

[2015-08-31 06:16] ferdinandrosario opened #328 "Is that really necessary to run CI on each Ruby version?"
Hi, as of now we are running CI for 16 various Ruby version. shall we remove each specific version and test with only the latest stable ?
[code]
This will ensure only the latest patch as well we can help travis by reducing the CI count....

[2015-08-31 06:18] #328 closed

[2015-08-31 13:27] ferdinandrosario commented on #328
Closed this issue because of my PR to cut down the CI matrix.

[2015-09-01 19:50] MarcelEeken opened #330 "Generating app with submodule"
I was trying to generate an app with a subdirectory, for example api/v1. This almost worked as expected but I found two small problems.

When running `lotus generate app api/v1` and there is no api app available it generates the following application for that app

    module Api::V1
    end

And that gets included in the `config/environment`, but the loading of that file fails because the Api modu

[2015-09-08 09:14] ashmoran opened #332 "Can't generate an app in Rubinius"
I'm new to Lotus, I thought I'd give it a go today. I have Rubinius 2.5.8 set as my default Ruby, but when I run `lotus new lotus_test`, it fails with this error:

    % lotus new lotus_test
          create  lotus_test/.lotusrc
          create  lotus_test/.env
          create  lotus_test/.env.development
          create  lotus_test/.env.test
          create  lotus_test/Gemfile
          creat

[2015-09-08 09:23] AlfonsoUceda commented on #332
@ashmoran for now lotus it isn't supported by rubinius see [1], now we are focusing hit version 1.0 as fast as we can

[1] https://github.com/lotus/lotus/blob/master/.travis.yml#L25

[2015-09-08 09:55] ashmoran commented on #332
@AlfonsoUceda Thanks for the information, I understand your priorities.

[2015-09-09 19:30] SleeplessByte commented on #278
I know this has been long closed, @sebastjan-hribar; I found a way to mimic shotgun as closely as possible:

[code]

Put in your Gemfile:
[code]

Run in cmd.exe or whatever shell you are using
[code]

It is anything but pretty. The restart gem polls for changes in the working directory or subdirectory's, terminates the current process and runs it again. You flood the input channel with `nul` so th

[2015-09-09 19:51] AlfonsoUceda commented on #278
@SleeplessByte thanks for the info ;)

[2015-09-09 19:54] SleeplessByte commented on #278
:+1:

Myself I use a different technique.

Create a `run.bat` file in your root directory:

[code]

Now open a shell in your root directory
[code]

It will open a new shell with your server. When you want to re-load the code, just close the prompt and call `run` again.

[2015-09-10 04:29] sebastjan-hribar commented on #278
Thank you, I've tried your approach and it worsk fine.

[2015-09-10 05:47] SleeplessByte opened #333 "Asset directories overwrite earlier directories"
Given this structure:
- apps
  - web
    - assets
      - fonts
      - images
      - javascripts
        - application.js
      - stylesheets
        - application.css
    - ...
    - vendor
      - fonts
      - images
      - javascripts
        - jquery.js
      - stylesheets
        - basecss.css
     - ...
- ...

Given the configuration:
[code]

Expected the following to be served under the

[2015-09-10 05:49] SleeplessByte opened #334 "Default font-src: self in generated application.rb"
Where https://github.com/lotus/lotus/issues/204 changed the `default-src` to self, for completeness the default value should be

[code]

Keeping `default-src 'none'` and adding `font-src 'self';`

[2015-09-10 05:57] SleeplessByte commented on #316
Until then one can always include `ActiveModel::SecurePassword`.

Don't forget the `has_secure_token` implementation!

[2015-09-10 06:40] joneslee85 commented on #316
Closed because https://github.com/lotus/model/pull/230 is closed

@benlovell can you please extract it to a gem?

[2015-09-10 06:40] #316 closed

[2015-09-10 06:41] joneslee85 commented on #334
@SleeplessByte can you please create a PR? TIA

[2015-09-10 18:12] SleeplessByte commented on #334
:+1:

[2015-09-10 18:53] davejlong opened #335 "High memory usage"
I have a Lotus application that I accidentally left running in Tmux on my laptop overnight (about 24 hours total). When I noticed my laptop slowing down today, I checked memory usage to find out that on my 8gb MacBook Pro, Ruby was using 24gb of RAM. The application is still very small: 2 containers; 1 with no actions and 1 with 2 actions and no extra external libraries or anything extra in the li

[2015-09-10 18:53] davejlong commented on #335
![Screenshot](https://www.evernote.com/l/ABWyW8ieOQBNYYpaMbFxLXFTXV4IRx_h5Xo)

[2015-09-10 19:05] davejlong commented on #335
Since it's still early enough in the project, I through all the code on [GitHub](https://github.com/lotus/lotus/issues/335) so that you can see if I've done anything to cause the memory leak.

[2015-09-10 23:04] joneslee85 commented on #335
@davejlong thanks for the bug report, can you please provide more details for our investigation? Details like the Ruby version, DB adapter, etc.

[2015-09-10 23:05] joneslee85 commented on #333
cc @lotus/core-team

[2015-09-10 23:06] joneslee85 commented on #332
@ashmoran we welcome contribution to better support rbx. Are you up for a PR? ;)

[2015-09-11 01:33] davejlong commented on #335
$ ruby -v
    ruby 2.2.3p173 (2015-08-18 revision 51636) [x86_64-darwin14]
    $ bin/lotus version
    v0.4.1
    $ env | grep _system
    _system_type=Darwin
    _system_name=OSX
    _system_version=10.10
    _system_arch=x86_64
    $ rvm --version
    rvm 1.26.11 (master) by Wayne E. Seguin <wayneeseguin@gmail.com>, Michal Papis <mpapis@gmail.com> [https://rvm.io/]

Database Adapter: Postgres (p

[2015-09-11 09:05] joneslee85 opened #337 "Action Generator generates new named routes"
Action Generator

Now:

* Generate un-named routes, eg: `get '/hello', to: 'greetings#hello'`

Should:

* Generate named routes, eg `get '/hello', to: 'greetings#hello', as: 'hello_greetings'`

Why?

Named routes should be used in favour to nameless routes as centralise the route management, giving user access to routes via `routes` helper

[2015-09-11 09:06] joneslee85 commented on #337
cc @lotus/core-team - worth doing?

[2015-09-11 10:38] AlfonsoUceda commented on #337
:+1: but for route helper always is a good option choose "action_controller" ?

[2015-09-12 08:04] joneslee85 commented on #337
@AlfonsoUceda can you please elaborate on `action_controller`?

[2015-09-14 14:53] t4deu commented on #192
Hi everyone,

This can be done with a more simple way, since Thor is used by the generators, just need to change the Thor behavior before calling the already existing generators. It even removes settings added to existing files(eg: routes.rb).

I create a PR with the changes for destroy actions, models and migrations.

[2015-09-14 19:16] ashmoran commented on #332
@joneslee85 Hehe, I certainly don't mind taking a look at this. However it won't be for at least another month, as I am doing too many other things right now. If nobody has looked at by the time I finish the first release of the app I'm working on I'll try to fix this one myself.

[2015-09-15 00:20] davejlong opened #340 "Irregular Routes not properly singularized in tests"
In my application, I have a set of resources called "children":

    resources :children, only: [:index, :show, :new]

In my index template, I use the route helper `routes.child_path(id: child.id)` in my list of children:

[code]

When I load up the page in the web browser, it works fine, but when I run my tests they fail that the route can't be generated. The tests pass if I change my code to `ro

[2015-09-15 13:07] jodosha commented on #205
@bradwheel Thanks for your investigation. The culprit is the combination of `prepend InstanceMethods` in `Lotus::Action::Callbacks` and the to `super` in `#call`. See https://github.com/lotus/controller/blob/master/lib/lotus/action/callbacks.rb#L195

If I change `prepend` into `include`, PRY works fine w/ your test application, but it breaks Lotus::Controller.

The same thing happens for all the v

[2015-09-15 13:39] jodosha commented on #205
I've opened an issue on Pry project, let check what do they think :smile: https://github.com/pry/pry/issues/1471

[2015-09-15 13:45] jodosha commented on #320
@josemota Absolutely. This "friendly errors" principle is already in the Lotus code base, but not everywhere. This is a must for most common errors like this.

I believe these poor communicative cases are hard to spot in code, but we can fix one by one, once we ran into them.

For instance, do you want to help with that specific error that you have found?

Thank you.

[2015-09-15 14:16] josemota commented on #320
Absolutely. I'm in the middle of some hardcore recording spree for my job but once that's done, I'll pick it up. I'll mention this on chat when I do so we can talk about it.

[2015-09-16 08:18] #334 closed

[2015-09-16 08:41] jodosha commented on #326
@trexnix Hello and welcome :)

We prepend middleware: here's the [commit](https://github.com/lotus/lotus/commit/cb5f87d8dc0ea51188da8b47f6fdcf2ec17344f3) and here's the [reason](https://github.com/lotus/lotus/issues/283).

[2015-09-16 08:41] #326 closed

[2015-09-16 08:44] jodosha commented on #330
@MarcelEeken Hello and welcome :)

This is a limitation, the application **must** be at the second level in Ruby namespacing.

[code]

[2015-09-16 08:44] #330 closed

[2015-09-17 07:32] jodosha commented on #335
@davejlong Thanks for reporting this. How long the process was alive? Was code reloading disabled (see `lotus server --help`)? If code reloading was enabled (default), did you triggered a lot of reloads via browser refresh?

[2015-09-17 07:33] jodosha commented on #337
@AlfonsoUceda wuh :question:

[2015-09-17 07:37] jodosha commented on #337
@joneslee85 I'd say no. Not all the routes need a name. If a dev needs a name, they can name as they want.

It's hard to predict what's a good name that would satisfy devs, because this is a matter of subjective taste. If we code an algo for that, we need to increase the complexity of the `lotus generate action` with another flag and add unnecessary weight to the router helpers.

[2015-09-17 07:37] #337 closed

[2015-09-17 07:38] jodosha commented on #340
@AlfonsoUceda Can you please fix this in Lotus::Router once you will come back from vacation? :palm_tree:

[2015-09-17 07:40] jodosha commented on #332
@ashmoran Thanks for reporting this, but we don't support Rubinius right now. As @joneslee85 said, we're happy to accept pull requests for this kind of improvement.

[2015-09-17 07:40] #332 closed

[2015-09-17 07:57] jodosha commented on #311
@pascalbetz The right way to generate an action for app arch is:

[code]

Just tried it, and works with 0.4.1.

[2015-09-17 07:57] #311 closed

[2015-09-17 08:06] pascalbetz commented on #311
hmmm. my bad. sorry.

[2015-09-17 11:34] jodosha commented on #311
@pascalbetz No worries :smiley:

[2015-09-17 13:36] jodosha commented on #333
@SleeplessByte @joneslee85 I've crafted a PR to fix this. Would you mind to review #342

[2015-09-17 15:06] #333 closed

[2015-09-18 18:56] SleeplessByte commented on #333
Will do!

[2015-09-18 21:49] smatejina opened #344 "request.url returning url without mounted path"
request.url is returning "http://example.org/articles" but it should return "http://example.org/api/articles" where the app is mounted

[2015-09-21 12:09] jodosha commented on #304
@vyper Hello. I'm deeply sorry with this continue hassle that you have experienced with Lotus sessions.

By trying to reproduce this error locally, I ran into an issue. I setup my `spec/features_helper.rb` like this:

[code]

According to OmniAuth [wiki](https://github.com/intridea/omniauth/wiki/Integration-Testing):

My callback action looks like this:

[code]

If I debug, it successfully set `:u

[2015-09-21 13:20] jodosha commented on #304
@vyper @rpanachi Here some extra debug informations, but we need your feedback, cause I wasn't able to reproduce this problem.

### Hypotesis 1: Session options

Here's a debug setup:

[code]

So the stack is like this:

[code]

According to your bug report, by adding the session middleware explicitly in the stack, solves your problem. As you can see it appears after `OmniAuth::Builder`, so the se

[2015-09-21 14:43] jodosha commented on #340
@davejlong Can you please verify that in test mode the route `routes.children_path(id: child.id)` will generate `/children/1` and not `/children?id=1`.

Another helpful information is:

[code]

and

[code]

Thank you! :+1:

[2015-09-21 20:20] AlfonsoUceda commented on #340
Hi @davejlong after investigating, it isn't a bug, in your code you create a new instance of child because of this, the id is nil, then lotus router raise an exception.

If you provide in your tests the id, test passes.

[code]

[2015-09-21 20:20] #340 closed

[2015-09-22 08:31] jodosha commented on #340
@AlfonsoUceda Excellent job :clap:

[2015-09-22 08:42] jodosha commented on #205
This appears to be a Pry issue, which is now fixed in master. Please reference the issue above. :smile:

[2015-09-22 08:42] #205 closed

[2015-09-22 11:09] rpanachi commented on #304
@jodosha thanks for the feedback. I tested your sugestions, and this is the results.

**Hypotesis 1**: patching the `sessions.rb` dont solve the problem and raises a `Lotus::Action::InvalidCSRFTokenError` on request (since the session could not be persisted, I guess).

Here is my `application.rb` setup:

[code]

And my middleware stack:

[code]

**Hypotesis 2**: actually worked, even without the `

[2015-09-22 11:34] Haegin commented on #254
+1 on disabling this when the format is JSON or at least updating the docs. At the moment the documentation describes how to set up a view specifically for JSON but doesn't mention that the JSON it generates is completely invalid.

[2015-09-22 13:57] davejlong commented on #340
Thank you @AlfonsoUceda. Still getting used to changing from the Rails ideologies to Lotus ideologies.

[2015-09-22 19:54] davejlong commented on #335
The process was alive for ~24 hours and code reloading was enabled. Looking at `$STDOUT`, there was only ~10 requests on the app.

I haven't been able to replicate the error since then. I have a feeling that it was related to leaving the app running while closing and reopening my laptop a few times, moving between different networks and different interfaces and other general actions that normally

[2015-09-22 19:59] jodosha commented on #335
@davejlong Thanks for getting back on this. Is COH the application you're talking about? I'll try to do the same thing on my computer.

[2015-09-22 19:59] davejlong commented on #335
Yes, COH is the application.

[2015-09-24 21:12] joneslee85 opened #347 "Mailer generator"
For DEIGirls RGSOC Team cc @inescoelho @rosafaria
bcc @jodosha

# TODO:

* [x] Provide mailer generator
* [x] Generate mailer skeleton for new application
* [x] Provide opt-out option for app generator

# Generate mailer skeleton for new application

CLI

[code]

should generate a default skeleton:

[code]

The content of `lib/bookshelf.rb` now also include:

[code]

Please be note that this `deli

[2015-09-25 12:17] jodosha commented on #205
Folks, Mr @banister released a new version of Pry (0.10.2) with the purpose of not get all of you stuck with this problem. How awesome is he? :100: :sparkles:

Please let us to know if something isn't working correctly for you.

[2015-09-27 07:39] rosafaria commented on #347
Should the specs differentiate between minitest and rspec?

[2015-09-27 10:32] joneslee85 commented on #347
@rosafaria nope, it should be the same

[2015-09-29 00:54] joneslee85 opened #348 "Stop users from generating model with names that is not a valid ruby classname"
[code]

As you can the naming is not a valid ruby classname and thus would yield error when you run the app.

We want to block users from having naming that is not a valid inflected classname

[2015-09-29 08:48] jodosha commented on #347
Closed by #338

[2015-09-29 08:48] #347 closed

[2015-09-29 08:52] jodosha commented on #304
@rpanachi Thanks for your feedback, you helped to clarify what's wrong here.

My solution to prepend sessions middleware (#302) is wrong. I think the solution at this point is to follow the order of declaration that a dev follows and just make sure that `sessions :redis`, prepends its own middleware. Does it makes sense?

[2015-10-01 07:10] zotherstupidguy commented on #202
just made the same mistake ^^ lol

[2015-10-01 11:13] josemota commented on #205
Arigato gozaimasu, @banister!

[2015-10-01 16:17] jasoncharnes commented on #348
This would be something I'd be willing to take a stab at.

[2015-10-01 16:39] DanielBlanco opened #350 "Noob Question about testing"
Hi Guys, I love what you are doing with Lotus it is a great framework.

I'm following the [Getting Started](http://lotusrb.org/guides/getting-started/) guide and I have troubles understanding the specs, specifically where  should I put my tests.

The current structure is like this:
[code]

From what I understand so far:
* __spec controllers__ are to test exposure data to the view, the response cod

[2015-10-02 02:34] joneslee85 commented on #348
@jasoncharnes please give it a go

[2015-10-02 02:36] joneslee85 commented on #350
`featrures` test is the end-to-end test where you test the behaviour from user perspective with the browser.

In your case, you should test it with `view` test

[2015-10-02 10:51] DanielBlanco commented on #350
Based on your answer I need to test the content in the `views` tests and behaviour like user clicks and routes in features tests.

Thank you!

[2015-10-02 10:51] #350 closed

[2015-10-02 13:16] #297 closed

[2015-10-02 18:49] jasoncharnes commented on #348
@joneslee85 will do! should be able to work on it this weekend. thanks!

[2015-10-02 22:25] #192 closed

[2015-10-03 14:48] jasoncharnes commented on #348
@joneslee85 could you explain, or provide an example, of a non-valid inflected class name? Sorry, just want to make sure I'm covering all the bases.

[2015-10-03 17:27] joneslee85 commented on #348
We inflect snake case name to valid Ruby class name. A valid class name can contain number but could not start with a number. Solution for this problem can be:

* regex to detect format then throw error
* regex to detect format then append a non-number prefix, eg `Migration123CreateMyTable`

[2015-10-03 17:28] joneslee85 commented on #348
I like th first approach

[2015-10-03 22:01] joneslee85 commented on #271
Fixed

[2015-10-03 22:01] #271 closed

[2015-10-03 22:01] #174 closed

[2015-10-04 22:27] #348 closed

[2015-10-05 01:59] joneslee85 opened #356 "Enhance Lotus::Logger"
Firstly, thanks to @huydx for the initial logging support with Lotus. It works but there are room for improvements. I want to open this ticket to start a new discussion on how we could make Logging better.

Based on my exp, I really dig the format of one-line like lograge gem. It's succinct and easy to get parsed with log aggregator like splunk, logstash, etc. What do you think about adopting this

[2015-10-05 02:45] huydx commented on #356
I have some ideas for improvement includes:
- [ ] make it better for rack logging
- [ ] colorize
- [ ] add more options

how do you think about that @joneslee85

[2015-10-05 03:36] joneslee85 commented on #356
not a big fan of colorize on production env as it obscures the correct data, but it's worthy on dev env.

anything on your mind?

[2015-10-05 11:34] rogerleite commented on #356
Hi @joneslee85! Really like the idea of one-line format.

It would be great to support tags. On our apps, we have a tricky Logger middleware to log on all web requests a `request_uuid` and some other informations.

[2015-10-05 12:24] joneslee85 commented on #356
@rogerleite I like tagging feature, I would find it's extremely useful for our container arch too. I've added your idea in the check list created by @huydx

[2015-10-06 09:50] huydx commented on #356
@joneslee85 the word options is quite ambiguous. I'm thinking of an richer log with java's log4j like feature like appender, multiple logging, error-only logging ... but it's seem to be too much for a embedded logger. I recently not playing with lotus enough to get better ideas, so i leave it to your hand guys @joneslee85 @jodosha @AlfonsoUceda

[2015-10-10 04:40] fuadsaud opened #364 "Namespaced domain classes"
While building my first Lotus application I've noticed one thing that IMO doesn't seem to follow the best practices for developing ruby applications: generated entities/repositories get created under `lib/application_name/{entities,repositories}`, but unlike common practice in Ruby libraries, these classes are created in the global namespace instead of under `ApplicationName::Entities::EntityName`

[2015-10-12 16:19] mwallasch opened #366 "lotus new . creates unwanted subdirectory in some cases"
Version: HEAD

If i run the `lotus new .` command to create a new project inside an existing directory, it creates the project in a new subdirectory with the same name as the root dir instead of using the root dir itself.

Steps to reproduce:
1. create a folder e.g. lotus_test and cd into that directory
2. create a Gemfile as shown below
3. run bundle install
4. run bundle exec lotus new .

Subdir

[2015-10-12 20:46] AlfonsoUceda commented on #366
Thanks @mwallasch for the PR. If you want you can fix the bug, it was introduced with the cli refactoring.

[2015-10-14 16:39] lucasallan opened #367 "[Proposal] Initializers"
Hi guys,

I'm wondering if you guys are considering adding something like `Rails Initializers`.
This is something that I could work on.

[2015-10-15 13:47] aderyabin opened #369 ".lotusrc double creation"
Command `bundle exec lotus new blog` creates two `.lotusrc` files – in current and `./blog` directories. Does it correct?

[2015-10-15 13:49] joneslee85 commented on #369
it should create one

[2015-10-15 15:26] jasoncharnes commented on #369
I don't mind taking a look at this.

[2015-10-15 15:35] noahc commented on #364
This is just a shot in the dark as I just discovered the project yesterday, but don't you want to be able to use your entities and repositories across all interfaces (or apps)?

[2015-10-15 20:08] aderyabin commented on #369
OMG. `lotus help` generates `.lotusrc` file

[2015-10-16 07:02] joneslee85 commented on #364
@fuadsaud the main purpose for not namespacing our entities/repositories is the share-ability. Codes, especially domain logic codes conventionally should not belongs to any apps and be placed under `/lib`. You can have your own namespaced code if you prefer, please put them under `apps/<name>`

[2015-10-16 07:59] mjacobus commented on #364
I'm with @fuadsaud on this one.

If the application business is really decoupled from the framework, and if I got it right, this is one of the goals of lotus, that can have its own namespace. It can even be shipped aas gem and "easily" be transferred to other frameworks.

I am currently working on an app where I am manually creating namespaces for repos/entities and so on. I plan on finishing a fe

[2015-10-16 10:47] #366 closed

[2015-10-16 15:45] mjacobus commented on #364
Ok, I think I could achieve what I was planning to achieve today, although my example app is far from finished. I referenced some files in [this question](https://github.com/lotus/model/issues/240).

- [lib/application](https://github.com/mjacobus/quizzy/tree/0ea7ecb82b0fec26000f9e319b2ac13fb74b1601/lib/application)
  * application services
  * application factories
- [lib/quizzy](https://github.c

[2015-10-16 15:58] jodosha commented on #4
This opens an inconsistency with routing helpers in views. Not a good idea.

[2015-10-16 15:58] #4 closed

[2015-10-16 16:03] jodosha commented on #364
@mjacobus What do you mean with the last part of the sentence?

[2015-10-16 16:09] AlfonsoUceda commented on #344
@smatejina could you provide a gist or example code with the faling code? thanks!

[2015-10-16 16:09] jodosha commented on #364
@fuadsaud @mjacobus Yes, the application that lives under `lib/` can be packed as a gem and distributed to other applications in your product infrastructure. For instance, if you deploy JSON API to a different server, you may want to extract a private gem and make many apps to share the same domain logic.

Now the reason of not namespacing them is to avoid verbosity. Polluting global namespace sho

[2015-10-16 16:09] #364 closed

[2015-10-16 16:11] jodosha commented on #367
@lucasallan Hello :smile: Do you mean something similar to: `config/initializers/*.rb`? Or before/after callbacks to fire when the app is going to be loaded and when it's done?

[2015-10-16 16:13] lucasallan commented on #367
@jodosha I'm thinking about something similar to `config/initializers/*.rb`.

[2015-10-16 16:14] mjacobus commented on #364
@jodosha I mean that when it has their own namespaces, the domain classes are not likely to collide with any other class even when moved to different applications. Then they can be extracted into gems.

[2015-10-16 16:16] theocodes commented on #367
i :+1:  this. In my understanding, simply having a place/dir where all files get loaded automatically would add a consistent place to put config blocks etc. In the projects I'm working on, we end up having initializers in different places which I believe to be confusing :/

[2015-10-16 16:37] jodosha commented on #320
@josemota I'm closing this as it's too vague as a scope. This is a value that we need to consider while writing code, rather than a specific issue to solve.

I encourage you to open PRs to fix each single misleading error message that you'll find while developing apps with Lotus. :hand: :hamster:

[2015-10-16 16:37] #320 closed

[2015-10-16 16:37] jodosha commented on #237
Closing in favor of #307

[2015-10-16 16:37] #237 closed

[2015-10-16 16:39] jodosha commented on #303
@berfarah Hello, have you tried to add `::Rack::Chunked` to the entire application middleware stack or to `config.ru`?

[2015-10-16 16:42] jodosha commented on #367
@lucasallan @theocodes Before to add any feature to Lotus, I always wonder if it can be easily solved via Ruby. In this case, what if you do?

[code]

[2015-10-16 16:48] jodosha commented on #335
I've left open an application of mine inside a Tmux session for 37 hours now.

[code]

Here's the memory usage: `20,5Mb`

<img width="801" alt="screen shot 2015-10-16 at 18 46 49" src="https://cloud.githubusercontent.com/assets/5089/10547693/54fb8692-7436-11e5-8e57-b8bf570af35d.png">

I'm closing this for now, but we'll keep an eye, if this will happen in the future to somebody else.

[2015-10-16 16:48] #335 closed

[2015-10-16 16:49] theocodes commented on #367
Yes sure. But like i said, this would be for consistence more than anything else..  It would also help with future development of gems that are designed to work with lotus.  :)

[2015-10-16 16:50] lucasallan commented on #367
@jodosha I agree with @theocodes

[2015-10-16 17:01] jodosha commented on #367
It's Friday evening and I'm tired, that's why I'm saying yes to this feature :wink:

@lucasallan Can you please implement it? It should:

  1. happen in `Lotus::Loader`
  2. create `config/initializers/.gitkeep` for both the architectures (application and container)
  3. not fail if `config/initializers` is missing at all. This won't break apps that will upgrade from previous versions.

Thank you

[2015-10-16 17:03] lucasallan commented on #367
@jodosha Yes, I can do it. I'll start it later today (it's morning here).

From now on, I'll start suggesting features on Friday evening! lol

Thanks!

[2015-10-16 17:04] theocodes commented on #367
yay! :+1:  @lucasallan feel free to ask if you need any help :)

[2015-10-16 17:08] davejlong commented on #335
:+1:

I agree. I have not been able to reproduce the issue on my system.

[2015-10-16 17:31] jodosha commented on #367
@theocodes Please show up on gitter, I've another issue for you! :+1:

[2015-10-16 20:29] berfarah commented on #303
@jodosha I'll revisit this now.

[2015-10-16 21:02] berfarah commented on #303
I've committed sample applications [here](https://github.com/berfarah/lotus-streaming)

There are four branches:
* [config.ru middleware](https://github.com/berfarah/lotus-streaming/tree/configru) (doesn't work)
* [config.ru with monkey patching](https://github.com/berfarah/lotus-streaming/tree/monkeypatch-configru) (works with `rackup -s puma` but not `lotus s`
* [application.rb middlware](https:

[2015-10-16 23:12] AlfonsoUceda commented on #344
@smatejina bug localized, thanks for your time

[2015-10-17 08:46] josemota commented on #320
Sure thing, Luca. Thanks for doing this, I'll make sure to submit PRs along the way.

[2015-10-19 12:15] #344 closed

[2015-10-20 13:25] noahc commented on #185
Is this still an issue? I'm happy to take a look at it and see if I can make some headway.

[2015-10-20 13:41] pascalbetz commented on #185
I think it is still an issue. Perhaps @jodosha can give some feedback on the findings.

[2015-10-20 15:06] jodosha commented on #185
@noahc Please proceed, I haven't investigated since my last reply above. :+1:

[2015-10-20 18:36] pascalbetz commented on #369
I already commented on this in another thread. Instantiating L:Lotusrc creates the file. I think this is done in order to provide a default file with default values.

In my opinion this is unexpected. The file should only be created by a dedicated method call. If the file is not there, then default values should be returned from L:Lotusrc.

See https://github.com/lotus/lotus/blob/master/lib/lotus/

[2015-10-20 18:48] pascalbetz commented on #303
Looked into it. Created a sample application as suggested by @berfarah. Application is at https://github.com/pascalbetz/lotus-streaming and the "hacks" are at https://github.com/pascalbetz/lotus-streaming/blob/master/lib/streaming_hacks.rb.

There are two ways to start the server:

```rackup -s Puma```
```lotus s```

You can see the streaming in action at:

[lotus s](http://localhost:2300)
[rackup

[2015-10-20 19:03] pascalbetz commented on #303
Forgot to mention: once i know why ```lotus s``` is not working with code reloading i can start to implement the changes required for streaming to work in a less hackish way.

[2015-10-20 19:04] pascalbetz commented on #249
@jodosha
What needs to be done for entr to work? Can you try the streaming sample with entr (if you think that it might be shotgun which prevents streaming from working) or explain how you used entr.

Details:
https://github.com/lotus/lotus/issues/303

[2015-10-20 21:07] pascalbetz commented on #303
Looked into shotgun. Seems like the problem is here:

https://github.com/rtomayko/shotgun/blob/master/lib/shotgun/loader.rb#L88

The __child__ reads the body (chunks of the stream) and writes it into the ```@writer```, after that it closes the stream and only then the __parent__ returns the body to the client.

AFAICT streaming will not work with shotgun. Since it's planned to remove shotgun anywa

[2015-10-20 21:42] berfarah commented on #303
@pascalbetz I've written a change to the `rendering_policy.rb` for this that will fix this with `rackup`, writing the test now.

[2015-10-20 21:57] pascalbetz commented on #303
Nice.

FYI (since i can not comment on the patch):
[code]
_nil_ does not respond to each so this could be simplified (might not be easier to read though).

[2015-10-20 23:55] berfarah commented on #303
Hey @pascalbetz, I've made some updates on the branch. `#size` isn't a valid method for `Rack::Chunked::Body`, so I've had to resort to uglier methods.

Also, I'm not seeing what you mean about `nil`. Can you elaborate?

https://github.com/lotus/lotus/compare/master...berfarah:feature-streaming

I can add you as a collaborator, if you'd like, on https://github.com/berfarah/lotus/tree/feature-strea

[2015-10-21 00:11] thecatwasnot commented on #249
@pascalbetz I played with using entr on a lotus project inside of docker, basically running entr on host machine, to restart containers.  Dropped it in a Makefile:
[code]
The main container comes up with `bundle exec rackup -p 3000 --host 0.0.0.0`  (you shouldn't need the host flag if you're not using docker.)
I remember I did need a new version of entr, build instructions @ https://bitbucket.org/

[2015-10-21 06:15] pascalbetz commented on #303
Never mind about the ```nil``` thing. I actually think that, instead of simplifying the boolean expression,  we should move it to it's own method so it has a name.
```def wrap_body?(body)``` or something like that?

[2015-10-21 06:59] pascalbetz commented on #249
@thecatwasnot thanks!

[2015-10-21 06:59] pascalbetz commented on #303
And: perhaps we can add a note that with shotgun enabled streaming does not work. If you come to the same conclusion about shotgun:-)

[2015-10-21 07:10] berfarah commented on #303
I can confirm that disabling shotgun worked for me. However, I'm still struggling to get my [tests](https://github.com/berfarah/lotus/blob/feature-streaming/test/integration/streaming_test.rb) to produce a streaming outcome in [my branch](https://github.com/berfarah/lotus/tree/feature-streaming)

[2015-10-21 07:43] jodosha commented on #303
@berfarah @pascalbetz You're awesome! :tophat:

First of all: the check. What @berfarah did is right, we need to introspect the body and decide what to do.
There is a conceptual duplication, because we do the same both in `#render` and `#view_for`. So @pascalbetz suggestion to wrap the body is great.

Now, I'd just introduce a new type `Body`, that does all that checks internally and exposes an AP

[2015-10-21 07:45] jodosha commented on #249
@pascalbetz are you looking into this as well? :wink:

[2015-10-21 10:39] pascalbetz commented on #249
@jodosha
Not really. I just wanted to see if ```entr``` works with streaming because ```shotgun``` breaks streaming because the way it's implemented. Since ```entr``` goes a somewhat different way i was hoping that it works with streaming. If you can show me how you used it, then i can try it out.

[2015-10-21 10:53] pascalbetz commented on #303
@jodosha
This should work, AFAIK rack only requires ```each``` to work. By adding ```empt?``` this new class can encapsulate everything. Could look like this (lunchbreak coding):

[code]

and then in StreamingPolicy:

[code]

Which is not yet perfect because we need to wrap the body twice, once before passing it to ```_render``` and once before passing the result back to the caller.

@berfarah

FY

[2015-10-21 11:56] jodosha commented on #303
@pascalbetz I was thinking to:

[code]

We just need to check if Rack doesn't get confused by `SimpleDelegator`.

Instead of wrap twice in `#render`, why we don't just make `_render` to return an instance of `Body`, so we can just assign it once?

[2015-10-21 12:00] jodosha commented on #249
@pascalbetz Okay, I just played with `entr` months ago and looked promising. Nothing more.

[code]

We can accept the incompatibility between shotgun and streaming as a known limitation for now. But yeah, that is another case that supports the need of switch tool like suggested by this ticket.

[2015-10-21 12:08] pascalbetz commented on #303
@berfarah i don't like delegators. They make it hard to debug and understand whats going on. Especially since Rack only needs ```each``` as interface.

The other part (not wrapping twice) sounds cool.

[2015-10-21 13:26] jodosha commented on #303
@pascalbetz Ok to remove the delegator part, but I think the wrapping must happen on object initialization.

[code]

I've noticed that `Rack::Chunked::Body` responds to `#close` as well. It's probably a good idea to implement it too. :+1:

[2015-10-21 18:05] berfarah commented on #303
@jodosha @pascalbetz If I wrap the body in `_render` then I run into method missing errors with the default template. Is this abstraction worth it? It seems like we might be over-complicating the code trying to simplify it.

---

@pascalbetz https://github.com/lotus/lotus/issues/303#issuecomment-149853341 around `::Rack::Chunked`, I still need that in the application or `lotus s` won't chunk the r

[2015-10-21 18:27] pascalbetz commented on #303
@jodosha I know you use SimpleDelegator (seen it in the code in other places). I think it would be overkill here and as mentioned it also makes debugging/searching more complicated.

Wrapping on initialization sounds good. We must add close as well, something like this?

[code]
FYI: here is the spec of BODY: http://www.rubydoc.info/github/rack/rack/master/file/SPEC#The_Body

@berfarah then let's g

[2015-10-21 18:29] berfarah commented on #303
@pascalbetz  I can do a PR request, I just didn't want to submit a broken test. What do you think, should I submit it anyway?

[2015-10-22 01:31] noahc opened #376 "Could not find a valid gem 'lotus-utils'"
I was looking for something simple just to make sure I had everything figured out. I noticed the Gemfile generates an extra space. So, I figured out what I thought would fix it and made that change. Now, I wanted to test it.

Here's how I went about that:

[code]
Having never done this before, I thought that maybe I was doing something wrong. So, I pushed this branch up to Github and tried a diffe

[2015-10-22 07:34] jodosha commented on #376
@noahc Hello :smile:

That version of `lotus-utils` wasn't released yet. The `master` branch here has to depend on it, because `lotusrb-0.6.0` will require `lotus-utils-0.6.0`.

To solve your problem, you can just amend your `Gemfile` with:

[code]

In general just use `lotus new bookshelf --lotus-head=true`. It generates a `Gemfile` that looks like this:

[code]

Yes please :+1:

[2015-10-22 07:34] #376 closed

[2015-10-22 09:34] jodosha opened #378 "[Regression] CLI generators don't respect .lotusrc testing framework"
CLI refactoring (#324) introduced a regression for CLI generators. Lotus `v0.5.0` isn't affected.

Steps to reproduce:

[code]

### Action & View

[code]

[code]

[code]

### Model

[code]

[code]

[code]

Can you please fix it? Thank you :smile:

/cc @pascalbetz @t4deu @lotus/core-team

[2015-10-22 15:31] #369 closed

[2015-10-25 18:54] pascalbetz commented on #378
Have not tested/verified but i suspect this is the cause:

https://github.com/lotus/lotus/blob/master/lib/lotus/generators/test_framework.rb#L12

This does not take L::LotusRc into account. Instead it sets it to default. I'll check.

[2015-10-27 08:46] jodosha commented on #378
@pascalbetz Please do :smile_cat:

[2015-10-27 13:17] joneslee85 opened #381 "Could not generate new action for app which name contains underscore"
**Step to reproduce**:
1) Generate new app with HEAD `lotus new --application=api_v1 demo --lotus-head`
2) Change into this app dir: `cd demo` and `bundle install`
3) Generate new action: `bundle exec lotus generate action api_v1 books#index`
4) Expected: No errors, Actual: Got errors

Seems to me a regression.

[2015-10-27 13:58] thaod opened #382 "CLI destroy application"
Hi all,

I think having `lotus destroy application [application-name]` could be nice. Please help to consider it :).

[2015-10-27 14:07] joneslee85 commented on #382
I like this idea, please give it a go if you want

[2015-10-27 15:20] jasoncharnes commented on #381
I'd be glad to give this a go tonight.

[2015-10-27 20:43] #378 closed

[2015-10-27 21:57] joneslee85 commented on #381
@jasoncharnes it's yours

[2015-10-28 02:49] lucasallan commented on #382
I could give it a go if you don't mind @thaod @joneslee85

[2015-10-28 06:50] joneslee85 commented on #382
@lucasallan please take it

[2015-10-28 06:54] thaod commented on #382
Yes, please @lucasallan

[2015-10-29 00:07] #381 closed

[2015-10-29 15:00] #303 closed

[2015-11-02 21:16] lucasallan commented on #382
I'll work on it soon - most likely end of this week.

[2015-11-03 09:52] jodosha commented on #303
Solved by #375

[2015-11-03 09:53] #367 closed

[2015-11-09 09:45] Nerian opened #385 "Support `lotus g resource [resource_name]`"
Hi,

Lotus currently support generating actions. It may be useful to also support generating a complete resource.

Example:

Calling `lotus g resources books` would be equivalent to calling:

[code]

Calling `lotus g resource account` would be equivalent to calling:

[code]

So if we could support this new command, we could be saving some time since it makes the work of 6.

Thoughts?

[2015-11-09 11:55] joneslee85 commented on #385
I remember this has been brought up in the past but the answer is no from @jodosha because resources is more close to CRUD-based app and considered a bad practice. @jodosha would have more opinions to weigh on in this

[2015-11-09 11:55] joneslee85 commented on #382
ping @lucasallan

[2015-11-09 15:51] jodosha commented on #385
@Nerian Hello and thanks for the suggestion. Lotus encourages to write apps via BDD/TDD, where you fix one failing test case at the time.

Now, pure BDD where you write one step at the time the production code is overkilling. So, for this reason we have the "action generator", it adds routes/action/view/template and relative unit tests. This serves for the purpose of generate all the Lotus code th

[2015-11-09 15:51] #385 closed

[2015-11-09 15:52] Nerian commented on #385
Sounds reasonable. Thanks!

[2015-11-09 17:38] lucasallan commented on #382
@joneslee85 I haven't had a chance to work on it yet, but I'll do asap.

[2015-11-12 16:51] DanielBlanco opened #386 "lotus-model-cli"
Hi I'm using https://github.com/lotus/model for a non-web application and I would love to have:

[code]

And all the useful lotus cli commands that are specific to lotus-model.

Can we move these cli commands to lotus-model gem? or to a new lotus-model-cli gem?

[2015-11-12 22:42] joneslee85 commented on #386
@DanielBlanco lotus-model is designed to be framework-agnostic. We don't want to enforce a convention / rules on how lotus-model should be used.

You can look into the lotusrb generator code and copied CLI code to your app.

[2015-11-12 22:42] #386 closed

[2015-11-14 00:51] #382 closed

[2015-11-16 15:02] jodosha commented on #386
@DanielBlanco I agree with @joneslee85

Please remember that migrations don't need a timestamp, they are ran as they appear in the directory. That means, you can have progressive numbers as prefix.

Another facility is the `Lotus::Model.migration` block, that you can easily type when manually creating a migration.

[2015-11-16 15:40] DanielBlanco commented on #386
@jodosha and @joneslee85 OK, thank you for the clarification!

I ended up using the `Lotus::Model.migration` block with some custom `db:*` rake tasks.

[2015-11-16 16:39] jodosha commented on #386
@DanielBlanco Sweet, thank you! :+1:

[2015-11-17 09:00] florianb opened #389 "Enable recreation of database-configuration"
When starting my first project with lotus i decided to omit the `--database`-switch. I would now like to configure the database-adapter.

Unfortunately there's no command to recreate the database-configuration nor there's a database-setup-mockup. But probably i missed something?

However - i would like to help, so if i could do anything to improve this point - even if it's only an improvement of t

[2015-11-17 10:56] jodosha commented on #389
@florianb Hello, I'm sorry for the hassle. I'm gonna explain the steps here, it would be really appreciated if you could create a PR for `lotus/lotus.github.io` repository to document it.

Let's say you have created a project with `lotus new bookshelf`, and you have a `Book` entity and its related repository.

You have to edit your `lib/bookshelf.rb` like this:

[code]

Then edit related env var (

[2015-11-17 10:56] #389 closed

[2015-11-17 11:25] florianb commented on #389
Hi @jodosha,

thanks for your quick response - i'll create a PR. :100:

[2015-11-19 02:21] samdvr opened #390 "Implement observer pattern"
# Overview
Consider implementing event publishers and subscribers module similar to the
[Wisper](https://github.com/krisleech/wisper) gem.
Implementing this feature will facilitates communication between decoupled objects.

## Details
Events can be emitted synchronously or asynchronously and backed by a message broker.
App folder then will have publishers folder and subscribers folder that encapsu

[2015-11-19 16:41] jodosha commented on #390
@samdvr Hello. What's your use case for this? Why do you want the solution to be implemented by Lotus? Does Wisper missing features that you need?

[2015-11-19 16:51] samdvr commented on #390
@jodosha  Hi. the main use case is decoupling events from business logic and avoiding callbacks. I think it would be a nice feature to include in Lotus as a default to promote best practices.
Also events can be communication mechanism between multiple apps.

[2015-11-19 16:56] jodosha commented on #390
@samdvr

Are you talking about models? Is your idea to overcome the absence of callbacks with observers?

[2015-11-19 16:59] samdvr commented on #390
@jodosha yes that's one use case the other is communication between different apps. Similar to the way Erlang "applications" send messages to each other in a fire and forget fashion.

[2015-11-19 17:23] florianb opened #391 "Lotus generate app is not fixing invalid app-names"
For app-names containing dashes, `lotus generate app` results in an exception (see the following steps to reproduce: https://gist.github.com/florianb/f8809b55267d4fcea6c7).

I'm currently trying to figure out where the overall-application-name is handled different to the names of additional apps. I guess it is intended to use the same naming-strategy as with `lotus new`.

I'll prepare a PR if want

[2015-11-19 17:29] jodosha commented on #390
@samdvr Business logic is handled all inside `lib/` in a Lotus project. Please remember that applications under `apps/` are there only to consume that business logic. So there aren't many applications that need to communicate each other, but only a few objects under `lib/`.

Observers are hard to debug and decrease code locality: an event could trigger zero to many actions defined somewhere else.

[2015-11-19 17:30] #390 closed

[2015-11-23 14:46] jodosha opened #394 "Asset path/url helpers"
Implement helpers for relative and absolute URL assets resolution.

## Helpers

### Usage

[code]

This produces

[code]

### URL Prefix

This should take account of the [`prefix`](https://github.com/lotus/assets/blob/master/lib/lotus/assets/configuration.rb#L45) defined in `Lotus::Assets::Configuration`.

That means, if an application has a prefix: `/admin`, when one of these helpers is used, the

[2015-11-23 16:34] jodosha opened #395 "Asset helper: audio"
Implement `audio` helper.

See [`Lotus::Assets::Helpers`](https://github.com/lotus/assets/blob/master/lib/lotus/assets/helpers.rb) and [`Lotus::Helpers::HtmlHelper`](https://github.com/lotus/helpers/blob/master/lib/lotus/helpers/html_helper.rb) for reference.

## Usage

### Basic Usage

[code]

[code]

### HTML Attributes

It must accept optional HTML attributes.

[code]

[code]

### Fallback Cont

[2015-11-23 16:41] jodosha opened #396 "Asset helper: video"
Implement `video` helper.

See [`Lotus::Assets::Helpers`](https://github.com/lotus/assets/blob/master/lib/lotus/assets/helpers.rb) and [`Lotus::Helpers::HtmlHelper`](https://github.com/lotus/helpers/blob/master/lib/lotus/helpers/html_helper.rb) for reference.

## Usage

### Basic Usage

[code]

[code]

### HTML Attributes

It must accept optional HTML attributes.

[code]

[code]

### Fallback Cont

[2015-11-23 18:05] leighhalliday commented on #396
I'll give this one a go... my first time contributing to Lotus though so it may take a little bit and I may have some questions :)

[2015-11-23 20:40] jodosha commented on #396
@leighhalliday Lovely, thank you! Ping me here on in chat for questions :smile:

[2015-11-24 08:43] florianb commented on #394
Hi @jodosha - i'd like to give it a try.

[2015-11-24 16:00] Eein commented on #249
Isn't `fork()` and shotgun one of the only major dependency issues with windows compatibility?

I personally don't use windows for development, but if there's an option that is cross platform without losing threading or streaming; It might be kind to consider those who use windows if you're at a crossroad on this issue.

Just bringing light to this - as it doesn't affect me :)

[2015-11-24 16:25] jodosha commented on #249
@Eein Hey, thanks for joining this conversation. It's true, Windows cross compatibility would be great to achieve. Do you know a tool that offers the same features of `entr`? Thank you very much.

[2015-11-25 03:47] joneslee85 commented on #394
@florianb it's your now

[2015-11-25 04:39] klebervirgilio commented on #395
Can I work on this one? Will be my first contribution.

[2015-11-25 04:41] joneslee85 commented on #395
@klebervirgilio please go for it

[2015-11-25 10:44] klebervirgilio commented on #395
:+1:

[2015-11-25 21:54] katafrakt opened #398 "Exposures HTML-escaped too soon (?)"
I'm not sure if it's good repository to report, but here is my use case:

In the controller, I'm fetching some web pages as HTML. I want to run it through readability gem and finally display in the template. Unfortunately, even if I make readability call in the view, it's too late. The string is already escaped and I have no way to render it properly.

All I can do is:

[code]

Which is fine, but

[2015-11-26 09:01] jodosha commented on #398
@katafrakt Hello and thanks for taking the time to report this. It's really appreciated.

Exposures aren't escaped in the action, [but in in the view](https://github.com/lotus/view/blob/6ab59b22351412ac0436dcb56e8d3ba6e9487d20/lib/lotus/view/rendering/scope.rb#L62-L72).

To solve your problem, add this method to your **view**:

[code]

This will shadow the exposure coming from the action, and at t

[2015-11-26 09:01] #398 closed

[2015-11-26 09:21] katafrakt commented on #398
Great! That's exactly what I needed. Thank you for your help and pointing out the security risk! :wink:

Is the shadowing documented somewhere and I missed it or should it be added (I can do it)?

[2015-11-26 09:32] jodosha commented on #398
Not sure I've got the question. Sorry :weary:

[2015-11-26 15:35] jodosha opened #399 "Image helper"
Implement image helper.

See `Lotus::Assets::Helpers` for reference.

## Usage

### Basic Usage

[code]

[code]

The `alt` attribute is automatically extracted from the path name

### HTML Attributes

It can also accept a set of options for HTML attributes:

[code]

[code]

If the `:alt` attribute is specified, it should override the automatic value.

[code]

[code]

### URL Prefix

This should ta

[2015-11-26 15:36] jodosha opened #400 "Favicon helper"
Implement `favicon` helper.

See `Lotus::Assets::Helpers` for reference.

## Usage

### Basic Usage

[code]

[code]

### Path

It also accepts an optional path

[code]

[code]

### URL Prefix

This should take account of the [`prefix`](https://github.com/lotus/assets/blob/master/lib/lotus/assets/configuration.rb#L45) defined in `Lotus::Assets::Configuration`.

That means, if an application has a p

[2015-11-26 16:14] florianb commented on #394
Thanks @joneslee85!

I recently added test-mocks to my fork, but i have trouble accessing the `Lotus::Configuration` from within the assets. As far as i figured out, the `scheme`, `domain` and `port`-parameter reside in the `<<App-Name>>::Application.configuration`.

The `Lotus::Asset.configuration` provides only a subset of parameters and i have the feeling that it's probably not desired to exten

[2015-11-26 16:26] jasoncharnes commented on #400
I'd be glad to pick this one up.

[2015-11-26 17:01] jodosha commented on #400
@jasoncharnes Please do.

[2015-11-27 15:30] florianb commented on #394
The helpers will go into `lib/lotus/helpers/asset_url_helper.rb` and `asset_path_helper`.

Picking up jodosha's notes from Gitter:

We will need a new AssetHelperModule - f.e. `Web::Helpers::AssetTagHelpers`:

[code]

The mixin is the reachable like that:

[code]

It seems like that **all** asset-helpers then can safely rely on the `self.class.asset_path_prefix`-method.

[2015-11-27 17:59] Eein commented on #249
I looked for another solution that had windows support but did not find anything. I'm actually wondering if `entr` will compile on windows with a custom makefile - it doesn't make any mention but once i get on a suitable windows machine i'll try and give it a shot. If you do decide to use `entr` in lotus i'll give it a test run on windows and report any issues

[2015-11-28 08:11] klebervirgilio commented on #395
@joneslee85 @jodosha quick question...

The audio tag has these two boolean attributes: _autoplay_ and _controls_

According to the [W3C](http://www.w3.org/html/wg/drafts/html/master/infrastructure.html#boolean-attribute) we have two ways to represent/render them in the tag, either with a empty value or with the canonical name as a value.

Looks like the way we decided to go is  `booleantag="boole

[2015-11-30 17:12] jodosha commented on #395
@klebervirgilio Hey, yes that is fine. Please use `Lotus::Helpers` to generate the HTML, so we can delegate this decision to that component.

[2015-11-30 17:16] #399 closed

[2015-11-30 17:50] jasoncharnes commented on #400
I'm a little more tied up than I thought I would be. If someone else wants to take this, feel free. If not, I'll get to it as soon as my schedule opens.

[2015-11-30 21:35] jodosha commented on #400
@jasoncharnes Sure, thank you.

[2015-12-01 18:14] michaeldeol commented on #400
I would love to give this a shot!

[2015-12-01 21:49] florianb commented on #394
Hi @jodosha,

i need help with a problem. Currently the unit-tests are running fine and i have a first implementation working. After putting the integration tests on i was faced with the following error.

Currently i mix the two methods in which make use of the configuration object like this:

1. i extract the current app-name and reassemble it to `Collaboration::Application` (in the test env)
2.

[2015-12-02 08:55] florianb commented on #394
I added a question on Stackoverflow: http://stackoverflow.com/questions/34038428/method-call-in-repl-returns-weirdly-nothing

[2015-12-02 10:31] michaeldeol commented on #400
I have opened a PR #409.

One question I did have was with regards to mobile Safari. In the Rails world, `favicon_link_tag` allows for the passing of options `rel="apple-touch-icon"`. Is this something you would want to see happen in this helper or is the intent to keep it separate?

[2015-12-02 21:57] joneslee85 commented on #400
@deepj to avoid duplicating works, please ask before claiming the issue.

@michaeldeol I have merged #408, but I would love to get your integration in too, please update your PR with just the integration spec and I'll merge

[2015-12-02 22:05] michaeldeol commented on #400
@joneslee85 done, just waiting on travis.

[2015-12-03 02:24] deepj commented on #400
@joneslee85 Thanks for notice. I hadn't have the refreshed issue in a tab so I didn't notice @michaeldeol claim. I'm sorry for that.

[2015-12-03 10:01] #400 closed

[2015-12-03 10:19] jodosha opened #410 "Add default favicon for new projects"
When a new project is created via `lotus new`, it should have a default favicon under `public/assets/favicon.ico`.

The application template `application.html.erb` should use the new `favicon` helper ( #400 ).

Both "Container" and "Application" architectures should be supported.

The welcome page (when no routes are defined) should have include a favicon too.

Please use this `favicon.ico` file:

[2015-12-03 16:27] jodosha commented on #410
Implemented by #411

[2015-12-03 16:27] #410 closed

[2015-12-03 16:27] jodosha commented on #396
Implemented by #407

[2015-12-03 16:27] #396 closed

[2015-12-07 15:32] #391 closed

[2015-12-08 09:37] resethread opened #415 "Is a crystal version planned ?"
Hi,
Lotus framework looks like pretry cool.
I would like to know if a Crystal version is planned.
Thanks a lot.

[2015-12-08 10:14] jodosha commented on #415
@resethread Hey, thanks for reaching us. Nope, there isn't a Crystal version planned yet.

For future questions please use our chat: https://gitter.im/lotus/chat
Have a great day! :coffee:

[2015-12-08 10:14] #415 closed

[2015-12-08 10:49] florianb opened #416 "`lotus serve` is not recognizing `configure :production`"
When running my local lotus app (which is out of the box ~0.5.0) in `production` mode, the configuration-directive from the `application-rb` is not recognized.

As the console output shows (https://gist.github.com/florianb/1586758826d9b521f440) the server is starting in the production mode, but the whole network-configuration is invalid (`tcp://0.0.0.0:2300`).

[2015-12-08 10:51] florianb commented on #416
Oh - and i should mention that this also happens if i'm using the Webrick-server.

[2015-12-08 11:25] joneslee85 commented on #395
@klebervirgilio gentle ping, how are you going with the PR? Do you need any help?

[2015-12-08 13:19] klebervirgilio commented on #395
Hi @joneslee85, thanks for reaching out.

I've done most of the work already, you can check it out [here](https://github.com/klebervirgilio/helpers/commit/2e2e8ad5fe8365a04bdbf426edfba1152ecc750b).

My initial work were basically this  humble [module](https://github.com/klebervirgilio/helpers/blob/asset_helper_audio/lib/lotus/helpers/audio_helper.rb#L4-L45) for which I've written these [specs](htt

[2015-12-10 10:48] florianb opened #417 "LoadError: cannot load such file -- sequel/adapters/memory (Sequel::AdapterNotFound)"
I tried to add database-support to a nearly new app (`my_project`) by following the points below:

1. Generating a Model (consisting of a Entity and a Repository)
2. Generating a Migration (implementing an `up` and `down`-directive)
3. Configuring an Adapter (at `lib/my_project.rb`)
4. Running a `bundle exec lotus db create`, to create a database

As this [Gist](https://gist.github.com/florianb/2e

[2015-12-10 20:51] sanrodari commented on #202
Same here :laughing:

[2015-12-10 21:50] michaeldeol commented on #417
According to the Sequel gem docs, I don't see anything about a memory adapter. https://github.com/jeremyevans/sequel

Not sure why it would fail on the other adapters though.

[2015-12-11 05:09] michaeldeol commented on #417
Just to follow up; Lotus::Model does in fact have a memory adapter: https://github.com/lotus/model/blob/master/lib/lotus/model/adapters/memory_adapter.rb.

I too run into this issue switching from `type: :sql` using postgres to `type: :memory`. Same for sqlite.

[2015-12-11 10:11] klebervirgilio commented on #395
Any thoughts?

[2015-12-11 13:27] joneslee85 commented on #395
Sorry for late reply, I'll have a look 2moro when I'm back to my computer

[2015-12-12 12:18] pascalbetz commented on #304
@rpanachi

can you help me reproduce the error? do you have a sample app for this?
i tried setting up a simple lotus app with sessions in redis. worked like a charm.

[2015-12-15 14:00] jodosha commented on #416
@florianb Does this happens with other servers (eg. Puma)?

[2015-12-15 17:10] florianb commented on #416
@jodosha, @joneslee85 (thanks for the hint): I guess it's my fault - i used `RACK_ENV` to set the environment estimating that lotus will use it to deviate the `LOTUS_ENV`.

I guess the issue may be closed.

[2015-12-15 18:08] jodosha commented on #416
@florianb That's interesting. `ENV['RACK_ENV']` should be [detected](https://github.com/lotus/lotus/blob/master/lib/lotus/environment.rb#L205) by `Lotus::Environment` as well.

What happens if you use `RACK_ENV=production bundle exec lotus server` and print these three lines from a template?

[code]

[2015-12-15 19:24] florianb commented on #416
@jodosha - the environment seems to be set properly:

[code]

Unfortunately all servers (Webrick & Puma) get bound to `0.0.0.0:2300` which is at least the wrong port, but also the wrong ip-address, since my `lib/test.rb:226` defines the following:

[code]

[2015-12-16 12:07] jodosha commented on #416
@florianb But this changes if you use `LOTUS_ENV=production`? I mean, that behaves correctly and uses the right scheme/host/port?

[2015-12-16 12:35] florianb commented on #416
@jodosha: Thanks for explicitly asking - it doesn't. So probably the whole `configure`-block isn't recognized.

[2015-12-16 15:34] jodosha commented on #394
Implemented by:

  * https://github.com/lotus/assets/pull/27
  * https://github.com/lotus/assets/pull/28

[2015-12-16 15:34] #394 closed

[2015-12-16 15:43] jodosha commented on #395
@klebervirgilio Are you still interested to implement this helper?

**Please notice that this shouldn't be implemented here, but in `lotus-assets`. Please check https://github.com/lotus/assets/blob/master/lib/lotus/assets/helpers.rb and `video` helper for reference.**

Please let me know. Thanks!

[2015-12-17 10:30] klebervirgilio commented on #395
@jodosha yes, I am. I was waiting for the feedback in the code I've already written.

[2015-12-17 13:16] jodosha commented on #395
@klebervirgilio Hey :smile:

Quoting myself:

You implemented that feature in `lotus/lotus` repository (aka `lotusrb` gem), but that should be in `lotus/assets` repository (aka `lotus-assets` gem). I would prefer to have the same `video` helper implementation and tests because their pretty similar helpers.

Thank you! :+1:

[2015-12-18 15:22] #210 closed

[2015-12-21 09:39] klebervirgilio commented on #395
@jodosha great! thanks for the support will work on that.

[2015-12-21 10:50] klebervirgilio commented on #395
https://github.com/lotus/assets/pull/29
Simple, video-tag-like and with tests covering all the requirements described here. Hopefully, everything is good. Let me know if you guys need more help.

[2015-12-21 12:32] jodosha commented on #395
@klebervirgilio It's perfect :+1: Thank you

[2015-12-21 12:32] jodosha commented on #395
Closing as implemented by https://github.com/lotus/assets/pull/29

[2015-12-21 12:32] #395 closed

[2015-12-21 15:44] jodosha commented on #416
@florianb This issue could have been fixed in master. I have an application that uses this repository head and successfully yields `production` block in development and production.

I use Puma on Heroku and this is my configuration:

[code]

I'm closing this for now, please reopen if 0.6 (released soonish) will not fix it.

[2015-12-21 15:44] #416 closed

[2015-12-21 16:29] #304 closed

[2015-12-22 09:41] klebervirgilio commented on #356
Hi there! nice discussion. Was just wondering, would _one-line_ log format be something configurable?
I mean, I think we can find good information in a _multiple-line_ log format.

Like, views being rendered, time spent on each view and so on... I even like to see the SQL performed as well as query explained.

[code]
vs
[code]

[2015-12-22 10:11] jodosha commented on #356
@klebervirgilio Yes, but not yet :wink: - That informations require code instrumentation, which is missing in Lotus. It isn't a priority right now.

[2015-12-29 00:49] davydovanton opened #430 "Add template options to new command"
Hello,
I think it will be good to add `--template` options for `new` command. For example now we can realize only erb, slim and haml arguments.

If you're agree I can make real this feature in the near future :blush:

[2015-12-29 16:44] jodosha commented on #430
@davydovanton That depends on `template` value in `.lotusrc`. If you change that value, into something like `slim`, it will generate templates like `show.html.slim`.

[2015-12-29 16:44] #430 closed

[2015-12-29 17:12] davydovanton commented on #430
yes, I understood that. I propose to add the key to `lotus new` command which replace `template` value in `.lotusrc` file like `--test` key.

[2015-12-29 21:11] AlfonsoUceda commented on #417
Hi @florianb this isn't bug, you are trying to connect mysql protocol with mysql2 gem, because Sequel has two adapters, `mysql` and `mysql2` you have to use the right protocol and gem.

we have to update this line https://github.com/lotus/lotus/blob/master/lib/lotus/generators/application/app/lib/app_name.rb.tt#L16 with `mysql2` protocol.

When you generate a new lotus app with mysql adapter, the

[2015-12-29 21:12] michaeldeol commented on #417
Leaving a note here for anyone else. @AlfonsoUceda helped me find that the issue with the MySQL adapter not working is due to the incorrect protocol being used. I was using `mysql://` instead of `mysql2://`

Working Example Below:

[code]

[2015-12-29 21:13] AlfonsoUceda commented on #417
@florianb @michaeldeol changed the line in the comment: https://github.com/lotus/lotus/commit/a30d8d5e2fbccca75e4c5b7e62f32a7f3d3d6f68

[2015-12-30 00:22] jodosha commented on #417
@AlfonsoUceda @joneslee85 This should be fixed: `mysql` should work as expected.

It's unexpected to see it to not work. And why it shouldn't?
When devs aren't in control of the URL they can't use Lotus. Think of Heroku, IIRC they use `mysql://` scheme for `ENV['DATABASE_URL']` and devs can't change it.

Please fix it.

[2015-12-30 10:45] jodosha commented on #430
@davydovanton Sorry, if I misread your suggestion. In my mind I read `new` as `generate` :sob:

In the past we wanted to ship this feature, the main obstacle was to generate the `application.html.*` application template. That of course means to maintain a `.tt` file for each of the supported template engines and multiply for the architectures that we have (x2).

Now, this isn't impossible, but we

[2016-01-01 22:08] stevehook commented on #185
If this is still an issue I'd be happy to try and work out a fix over the next few days.

Seems to me it would be possible to load partial templates into the framework configuration object much like layouts and regular view templates, but by scanning the file system as suggested above.

I've got something rough working, is it worth tidying it up and raising a PR?

[2016-01-02 01:14] joneslee85 commented on #185
@stevehook sure, definitely, please send the PR over

[2016-01-02 08:56] pascalbetz commented on #185
@stevehook would be interested in seeing it. let me know when you are done.

[2016-01-02 14:21] jodosha commented on #185
@pascalbetz If you have time and/or interest, please take care of it. :+1:

[2016-01-02 19:42] pascalbetz commented on #185
@jodosha: @stevehook has already a PR in the works. i'm happy to support him if he is working on it. otherwise: let me know and i can take over.

[2016-01-02 20:58] jodosha commented on #185
@stevehook Ping. :smile: Where is your PR? /cc @pascalbetz

[2016-01-02 22:20] stevehook commented on #185
@pascalbetz & @jodosha I've raised a PR now, including a couple of questions. Hopefully I haven't gone too far off track!

[2016-01-03 12:29] jodosha commented on #185
@stevehook Thank you very much! :+1: I left comments over there :smile:

[2016-01-03 12:54] gvaldezsan commented on #278
Talking about this again, but shouldn't a small mention to the issue on windows with shotgun be added on the Getting Started Guide?

[2016-01-03 14:51] jodosha commented on #278
@gvaldezsan Yes, can you please open a PR for that? Your help would be really appreciated. :+1:

[2016-01-03 20:19] gvaldezsan commented on #278
sure, willdo when i get home later!

[2016-01-03 20:22] joneslee85 commented on #278
@gvaldezsan thanks mate

[2016-01-05 16:48] lpar opened #445 "Project name is unauthorized use of a registered trademark?"
Lotus® is [a registered trademark of IBM](http://www.ibm.com/legal/us/en/copytrade.shtml#section-L).

I'm pretty sure that your use is infringing, since web products under the Lotus brand have been a [core IBM product area](https://en.wikipedia.org/wiki/IBM_Lotus_Web_Content_Management).

Have you checked with IBM legal that the trademark is being abandoned?

[2016-01-05 18:02] jodosha commented on #445
@lpar I haven't checked with them because this started as a side project and have nothing to do with IBM or their office suite. My intention is not to fool customers with the same name or take advantage of IBM popularity.

I named it after the spiritual meaning that this flower has for me. It's even tattooed on my arm.

---

I've noticed that you work for IBM on the Lotus Domino team. Are you spea

[2016-01-05 18:05] jxxcarlson commented on #445
jaam rek: Peace always

[2016-01-05 18:10] lpar commented on #445
I don't work on the Lotus Domino team. I am not speaking on behalf of IBM. I was simply hoping to alert you to the problem so that you could resolve it without any need for lawyers being involved.

[2016-01-05 18:23] jodosha commented on #445
@lpar Thank you for the clarification. I hope the same.
What's your suggestion?

[2016-01-05 18:44] lpar commented on #445
Well, the clash is unfortunate and it will be a pain, but my suggestion would be to pick a new name. Maybe "nelumbo" after the genus of the sacred lotus flower? (_Nelumbo nucifera_)

Looks like there was an application to trademark [nelumbo](https://trademarks.justia.com/736/32/nelumbo-73632423.html) for laundry detergent, but it was abandoned, so you should be in the clear. (Disclaimer: This is n

[2016-01-05 18:51] jxxcarlson commented on #445
If you do need to change, what about ‘lotus framework’ or some such composite?

[2016-01-06 02:31] joneslee85 commented on #445
I hate to think that we have to rename the project.

Marketing-wise, `nelumbo` is not very great as it sound awkward and hard to memorize.

I would not worry about this now until it has become a problem. Then we could think of other naming.

[2016-01-06 10:32] jodosha commented on #445
@lpar "lawyers", "will be a pain".. The more I read what you write, the more this looks like an informal "cease and desist".

I can even rename the project _"nelumbo"_, which is horrible name btw, but there is one problem. I don't have money to register trademark, I don't have money to pay lawyers to defend that trademark. So if the next corporation wants to sue me, it can do it.

I'm exposing mys

[2016-01-06 10:32] #445 closed

[2016-01-06 13:14] Havvy commented on #445
http://www.bitlaw.com/trademark/common.html - If you use it first, you're protected.

This isn't really an existential threat - IBM doesn't want to destroy your project, they just don't want people confusing things as their project. The only company I've seen use trademark to try to kill others is King games.

[2016-01-06 13:37] YorickPeterse commented on #445
It's worth mentioning that IBM owning the trademark of a name including the word "Lotus" does not per definition mean nobody else is allowed to use said word for a project. For example, the US (and many other countries) have a fair use policy that covers commonly used words, symbols and the likes. How this holds up in court is up to the lawyers and judges involved.

Without knowing what countries

[2016-01-06 13:38] jxxcarlson commented on #445
This is very good advice.

[2016-01-06 13:40] YorickPeterse commented on #445
As an example, in the US alone there are already tons of trademarks containing the word "Lotus": http://tmsearch.uspto.gov/bin/showfield?f=toc&state=4806%3Azz5vri.1.1&p_search=searchss&p_L=50&BackReference=&p_plural=yes&p_s_PARA1=&p_tagrepl~%3A=PARA1%24LD&expr=PARA1+AND+PARA2&p_s_PARA2=Lotus&p_tagrepl~%3A=PARA2%24COMB&p_op_ALL=AND&a_default=search&a_search=Submit+Query&a_search=Submit+Query

In th

[2016-01-06 13:43] YorickPeterse commented on #445
Oh, apparently the links are bound to a session. Great. Either way, use the link http://tmsearch.uspto.gov/bin/gate.exe?f=login&p_lang=english&p_d=trmk, use "Basic Word Mark Search (New User) ", then search for "Lotus".

[2016-01-06 15:19] nathanvda commented on #445
I am the author/maintainer of a rubygem called [cocoon](https://github.com/nathanvda/cocoon), and apparently there is a framework by Apache with the same name, and they have registered their trademarks, and they asked me to just place a very clear and explicit message that my code/gem was not related in any way to the Apache Cocoon project. Also: they reached out to me, as I was not aware of this

[2016-01-06 15:55] lpar commented on #445
Yes, you can have non-infringing use of the same trademark _in a different area of business_ where there won't be confusion. Look at Apple vs Apple — it was OK when Apple Computer made computers and Apple Corp was a record company, but once Apple Computer started selling computers that could make music, things got ugly.

So Lotus jewelry isn't going to clash with Lotus web software or Lotus Chines

[2016-01-06 15:58] booch commented on #445
Don't worry about it until someone from IBM contacts you about it — and that doesn't seem very likely to happen. IBM is not using the Lotus trademark, and trademarks are unenforceable if they're not used. Of course, you don't have the time or money to fight them even if you're not doing anything wrong. But there's no sense in rolling over and playing dead if nobody is attacking you.

[2016-01-06 16:36] smathy commented on #445
As others have mentioned, trademarks are registered in industries/categories, and the protection only exists within that industry that the owner continues to trade in.

That having been said, IBM definitely [hold the "Lotus" trademark](http://tmsearch.uspto.gov/bin/showfield?f=doc&state=4804:l7617i.9.7) in the relevant category ("Computer Programs and Related Documentation"), but here are the good

[2016-01-06 16:38] smathy commented on #445
Also, delete this issue so they don't find it when they google for IBM/Lotus/trademark ;)

[2016-01-06 16:38] nathanvda commented on #445
@booch and @smathy :+1:

[2016-01-06 17:28] jdickey commented on #445
Ummm…IANLAL, but I'd think that deleting or otherwise obscuring this discussion after the fact, in light of the Wayback Machine and other technology, *might* lead an ambitious young lawyer in the Stygian depths of Big Blue to try to score points by saying "hey! they knew they were potentially infringing; whether or not they actually were, *they tried to cover it up!* Let's bash their teeth in!" Sh

[2016-01-06 18:58] solyaris commented on #445
Ciao Luca!
first of all: your work on Lotus is great and i keep t this opccasion to thank you!

back to the "issue", I see your points, and yes, I understand the love for word 'lotus' because spiritual meanings,

but let consider this remote legal trap in a positive way: my proposal could be to just contact IBM in some way, trying a no-cost agreement with them. As someone here state, maybe just a

[2016-01-06 19:22] bradland commented on #445
IANAL, but I have been on both sides of trademark litigation. Smathy's summary of points are good, but I disagree with his advice to delete this issue. Jdickey is correct that this material would ultimately be considered material and subject to discovery (which is where the participants in litigation have to share information) in any potential litigation. The only way it would not be subject to di

[2016-01-07 09:02] jodosha commented on #445
Thank you all for the suggestions. I'm in contact with people that can give me a legal advice.