[2016-01-07 09:38] #417 closed

[2016-01-12 11:09] jodosha opened #451 "Destroy command: action route doesn't get removed"
It affects `v0.6.0`

Steps to reproduce:

[code]

---
Ref: #357
/cc @t4deu

[2016-01-12 11:14] jodosha opened #452 "Welcome page shows wrong app name when multiple apps are present"
Steps to reproduce:

[code]

Visit [http://localhost:2300](http://localhost:2300).

It shows this screen:

![screen shot 2016-01-12 at 12 12 46](https://cloud.githubusercontent.com/assets/5089/12262097/dab403a2-b925-11e5-8bf2-8ac406e49a2b.png)

If you give a close look at the instructions they say:

[code]

It reports `admin` instead of `web` as name.

[2016-01-12 11:19] jodosha opened #453 "Destroy command: removing app causes syntax error in config/environment.rb"
Steps to reproduce

[code]

---
Ref: #387
/cc @lucasallan

[2016-01-12 11:41] jodosha opened #454 "New command: when --database is sepecified, it generates empty .gitignore"
Steps to reproduce:

[code]

Expected:

[code]

[2016-01-12 12:40] davydovanton commented on #452
Little help: error on [this line](https://github.com/lotus/lotus/blob/master/lib/lotus/welcome.rb#L29) :smile:

[2016-01-12 12:48] jodosha commented on #452
We should probably introspect `env['PATH_INFO']` and decide the name of the application at the runtime.

Given two apps:

[code]

For request `GET /`, we should show `"web"`, while for `GET /admin` we should pick `"admin"`.

Hint: `Application#path_prefix` can be useful to solve this problem.

[2016-01-12 17:37] lucasallan commented on #453
@jodosha I'll take a look later today.

[2016-01-12 17:38] jodosha commented on #453
@lucasallan Thank you :+1:

[2016-01-12 20:53] #452 closed

[2016-01-13 00:41] t4deu commented on #451
Hi @jodosha, sorry for my absence, I will take care of this

[2016-01-13 10:17] jodosha commented on #451
@t4deu Thank you.

[2016-01-13 14:16] #454 closed

[2016-01-16 13:24] #453 closed

[2016-01-16 13:25] jodosha commented on #453
@lucasallan This was already solved by @trexnix Thank you all :smile:

[2016-01-16 21:35] davydovanton opened #460 "Generate controller with all restful actions"
Simetimes I want to generate controller with all restful actions (index, create, new, etc). What do you think? Will it helpful?

if you agree with this proposal, I'm ready to do it :)

[2016-01-17 02:02] cllns commented on #460
I think @jodosha is pretty firmly against this. For the reasoning, see [Issue #385](https://github.com/lotus/lotus/issues/385#issuecomment-155102146).

[2016-01-17 03:49] joneslee85 commented on #460
@davydovanton this is like scaffold generator which @jodosha consider anti-pattern.

[2016-01-17 03:49] #460 closed

[2016-01-17 11:29] jodosha commented on #460
@joneslee85 Thanks :+1:

[2016-01-19 07:42] sergikon opened #462 "Add console engine option to `.lotusrb`."
There is `--engine=[ pry | ripl | irb ]` option to `lotus console` command, which allows to choose an engine if several are installed and if built-in engine choosing algo suggests a different one.

Adding this option to `.lotusrb` can save some typing. Perhaps, `console=irb`?

[2016-01-19 08:35] jodosha commented on #462
@sergikon Thanks for starting this discussion.

With your last fix (#461) When you add `pry` to `Gemfile` it's auto-detected. That means `bundle exec lotus console` starts a Pry session.

Can you explain a bit the reason behind your suggestion? Thank you! :smile:

[2016-01-19 09:19] sergikon commented on #462
@jodosha Frankly, I don't see much of a necessity for this, but I can imagine a situation when it would help: suppose we have all the engines bundled and while one developer prefers Pry, another is using IRB. The options for IRB user are:

1. Remove Pry (noot good).
2. Specify `--engine=irb` every time.
3. Add `console=irb` to his own `.lotusrc`.

The third options seems natural, but brings anothe

[2016-01-19 09:30] jodosha commented on #462
@sergikon Thanks for the quick reply.

We [support only](https://github.com/lotus/lotus/blob/master/lib/lotus/commands/console.rb#L19) IRb, Pry and Ripl. The first one is always present because part of stdlib. The other two must be intentionally bundled by the team, but there is an overlap between them, and the team should decide which one to add and what to take out.

This is a case that we don't

[2016-01-19 09:30] #462 closed

[2016-01-19 09:30] jodosha commented on #462
/cc @joneslee85

[2016-01-19 11:09] joneslee85 opened #463 "Write test for `lotus console` console engine option"
To avoid regression with `lotus console` like in https://github.com/lotus/lotus/pull/461, an integration test is needed

[2016-01-20 17:30] jodosha commented on #445
We're changing name from Lotus to Hanami.

https://twitter.com/hanamirb/status/689861441361448960

[2016-01-20 18:26] davydovanton commented on #451
@t4deu if you want I can work on this

[2016-01-20 19:06] t4deu commented on #451
Yes please @davydovanton, thanks, you can check on:
[code]

[2016-01-20 20:59] davydovanton commented on #451
I found that if you call `destroy` command with `--url=/` option you see that all works correct.

Screencast:
https://asciinema.org/a/cpahd5jx1ssefzrdlqig6n6zz

[2016-01-21 15:25] nomanurrehman opened #465 "Param errors exposed to views and templates"
I have found that when there are validation errors in case of params, the variable "errors" is automatically exposed to views and templates.

I started out with my controller like this:

[code]

Going with the framework's "explicit" approach, this is more natural and explains the code a bit better to someone who is looking at it for the first time.

Moreover, in case there are no validation errors

[2016-01-21 23:35] cllns opened #466 "`config/routes.rb` routes file as DSL or Router initialization"
Right now, setting your `app/web/config/routes.rb` to:
[code]
won't work. Instead, it should just be
[code]
That is, the `config/routes.rb` should just be the DSL.

We should do one of the following:

1. Allow a `Lotus::Router` from that file, instead of assuming it's the only ever the DSL block. [This is the file](https://github.com/lotus/lotus/blob/master/lib/lotus/config/routes.rb) that would n

[2016-01-22 09:02] jodosha commented on #466
@cllns @fespinoza Thanks for starting this discussion.

Right now we generate a file like this:

[code]

We probably want to generate this:

[code]

Do you think that pointing to the Lotus guides, instead of the API docs can change the perception? The first documents full stack apps, while the latter is for standalone usage of the router.

---

FYI - As of `lotus-router-0.5.0`, you can wrap that D

[2016-01-22 14:07] fespinoza commented on #466
that would be a start, as using lotus for the first time, that confused me a lot, maybe it's possible to give an example even as in:

[code]

[2016-01-23 05:10] joneslee85 opened #476 "LOTUS_ENV is not picked up correctly"
Today I find that only `RACK_ENV` is taken into consideration, not `LOTUS_ENV`, here is a simple test:

[code]

It seems to be a regression

[2016-01-23 08:50] taoza commented on #476
Have you tried HANAMI_ENV? ;)

[2016-01-23 09:02] joneslee85 commented on #476
@taoza you are right :+-:

[2016-01-23 09:02] #476 closed

[2016-01-23 17:54] nomanurrehman commented on #465
@jodosha Any thoughts on this?

[2016-01-24 15:21] laymanmu opened #480 "file not found unless url ends with forward slash"
While following along in the [Getting Started Guide](http://hanamirb.org/guides/getting-started/) I am unable to open the url `/books` but `/books/` works fine.

For example, after running this command:

`hanami generate action web books#index`

In the browser:

  /books
    - throws error in browser: `File not found: /books`

  /books/
    - opens a blank page with no errors.

auto generated rout

[2016-01-24 16:09] kubenstein commented on #463
hi,
recently im getting more and more interested in hanami framework. Im happy to see alternative to rails, alternative that match my personal view at how web framework should be built (and it is still in ruby ^^).

i follow guide from website but even with nearly empty app i cant start console, i get error:
[code]

I would love to contribute but im still super newbe in hanami so at this stage im

[2016-01-24 21:34] joneslee85 commented on #463
that issue is known and there is already a fix. please stay tuned

[2016-01-26 14:04] jodosha opened #481 "Logger Stream"
`Hanami::Logger` supports only stdout as output stream. This has [several advantages](http://12factor.net/logs) such as leaving the freedom to ops team to redirect the stream like they want, or to not accumulate endless (and useless) log files during development.

We should keep stdout as default and preferred stream to log informations.

However, we want to make this more flexible and let develop

[2016-01-26 14:12] jodosha opened #482 "Logger Levels"
## Log Levels

Right now there isn't any management for log levels. We want to introduce default levels for each environment as described below:

  * `development`: `debug`
  * `test`: `error`
  * `production`: `info`

### Customized Error Levels

A developer can set a different log level with the following syntax:

[code]

The following values MUST be accepted

* A symbol that express one of the

[2016-01-26 16:31] jodosha opened #483 "Logger Format"
## Logger Format

We should enhance the format of logged events in order to provide insightful informations.

Tokens MUST be separated by the following sequence: `" | "`. That makes easy for machines to parse, and for humans to visually identify them. Pipe is preferrable over dash because it's not allowed as character in URIs, SQL queries (?), file names (?), host names (?), which are informations

[2016-01-26 16:35] jodosha opened #484 "Automatic Logging"
We want to offer automatic logging of default events like:
- `Action#call` elapsed time (including callbacks)
- `View#render` elapsed time (we should report which template was rendered or if a custom `#render` implementation was provided
- Layout rendering elapsed time (we should report which template was used)
- Partial rendering elapsed time
- SQL queries from repositories, query and commands ob

[2016-01-26 23:42] joneslee85 commented on #483
@jodosha I love how much thought is this format. At work, many people prefer 1 line format of `lograge` gem, in which information is presented in key-pair format on 1 line. for eg:

[code]

Have you ever thought that the log output should be in JSON format? I don't think JSON would be fitting for development mode due to its nature of verbosity but it is definitely useful for the log consumption on

[2016-01-27 09:05] jodosha commented on #483
@joneslee85 That's a good one :+1:

You suggestion is good because it would solve a [Connascence of Position (CoP)](https://en.wikipedia.org/wiki/Connascence_(computer_programming)#Connascence_of_Position_.28CoP.29) problem. Log parsers implemented after the proposed format would work with positional knowledge. **First** information is level, **second** is request id and so on..

If we want to add

[2016-01-27 11:18] jodosha commented on #480
Possible new case reported in chat by @sylow

[2016-01-27 11:57] davydovanton commented on #483
I like idea with naming fields because it's better to parse log file. Alos I like idea with json format because it's better to some SaaS services.
Tharefore I have a question: what do you think may be it's better to create special option `format` for changing logger format? For example:

[code]

[2016-01-27 12:03] jodosha commented on #483
@davydovanton Nope, I think that would be better that if devs needs custom behavior can use their own logger.

[2016-01-27 12:12] jdickey commented on #483
For those interested in structured, or semantic, logging, I've used and heartily recommend @rocketjob's [Semantic Logger](http://rocketjob.github.io/semantic_logger/). Does just what it says on the tin, producing easily-parsed output.

[2016-01-27 12:23] davydovanton commented on #483
@jodosha okay, I understood. Then I prefer @joneslee85 idea with named format because it's better to parsing.

[2016-01-27 12:25] jodosha commented on #483
@davydovanton Are you talking about `lograge`?

[2016-01-27 12:43] joneslee85 commented on #483
@jodosha I would definitely opt for the JSON format for the sake of log parsability.

I do share your concern about the noisy JSON message, but I think there is a way to improve readability for JSON. What do you think about *colorize* the key-pair JSON message on development mode? Production output can be plain-text without colors.

Besides, I am questiong about logging template rendering elapsed

[2016-01-27 12:55] davydovanton commented on #483
@jodosha no. I mean that key-pair format (json or something like `lograge`) is better for me because this format provide better way for parsing.

[2016-01-27 13:25] jodosha commented on #480
@AlfonsoUceda This could be worth to investigate: https://github.com/joshbuddy/http_router/blob/907136f1111c076b5091db09ae0611330756b94c/lib/http_router.rb#L36-L42

[2016-01-27 17:43] Eein commented on #249
Just wanted to update - I tried toying with this a couple of months ago to no avail. `entr` just wont work with windows due to kqueue/inotify depedencies, and replacing those dependencies with case-by-case OS alternatives proved to be a little too difficult for me and would cause a huge dependency chain that I dont really think this project needs. :( Without extensive experience with code-reloadin

[2016-01-27 21:47] bolshakov opened #485 "Could not use UUID as primary_key"
Hi, I have the following configuration:

[code]

[code]

[code]

This is simple model with UUID `primary_key` (instead of integer). Then, I'm trying to perform the following test:

[code]

And it fails with error:

[code]

If I change uuid to id, it works just fine. Could you help me?

[2016-01-28 20:43] kristho91 commented on #480
I was literally trying to pull out my hair because of this ;) Good to see it's already reported.

[2016-01-28 21:05] bolshakov commented on #485
I've sorted out with the problem. I made some wrong considerations.

First of all, I need to enable "uuid-ossp" extension explicitly:

[code]

Then, I have to specify default value for primary key:

[code]

Now it works as expected.

[2016-01-28 21:05] #485 closed

[2016-01-28 22:11] joneslee85 commented on #485
it is seems to be a common case, would be able to submit a PR for our Getting Started guide?

[2016-01-29 03:14] aar0nr commented on #141
Updated link: https://discuss.hanamirb.org/t/support-i18n-translation/18

[2016-01-29 09:00] jodosha commented on #485
@bolshakov Hello and thank you both for reporting your problem and posting a solution. As @joneslee85 said, it would be **really** helpful if you can add it here: https://github.com/hanami/hanami.github.io/blob/build/source/guides/models/overview.md Thank you very much.

[2016-01-29 09:48] bolshakov commented on #485
Sure, I'll take a look later

[2016-01-29 14:56] jodosha commented on #185
Closed by https://github.com/hanami/view/pull/86

[2016-01-29 14:56] #185 closed

[2016-01-29 15:45] bolshakov commented on #485
Done https://github.com/hanami/hanami.github.io/pull/130

[2016-01-29 16:54] jodosha commented on #485
@bolshakov Thank you again! :+1:

[2016-01-30 09:22] jodosha commented on #480
Another case reported in chat by @sebabouche

[2016-01-30 09:24] sebabouche commented on #480
Yep, I experienced the issue too. My only deviance from the tutorial was installing `minitest-reporters` in the `group :test` block.

[2016-01-30 10:11] sebabouche opened #488 "'Method not allowed' when posting to a url"
Wether the url is
[code]
or
[code]
I get a __`Method Not Allowed`__ when submitting from:
[code]
(I'm following the Getting Started tutorial, only difference is installing `gem 'minitest_reporters'`).

[2016-01-30 10:19] sebabouche opened #489 "hanami generate action #create does not create a post route"
[code]
doesn't generate (as mentionned in the book):
[code]
but
[code]

[2016-01-30 10:32] davydovanton commented on #489
Hello! For generate action with specific method you need to use `--method` key. For example:
[code]

[2016-01-30 10:54] sebabouche commented on #489
That makes sense. Much better than the framework guessing. So the __getting started__ on that matter is misleading.

[2016-01-30 10:55] #489 closed

[2016-01-30 11:13] davydovanton commented on #489
@sebabouche I updated getting start guide too.

[2016-01-30 11:37] AlfonsoUceda commented on #480
@sebabouche @kristho91 and @laymanmu what SO do you use and terminal?

I was following the Starting Guide and I didn't have that problem with trailing slash :S could you post your info and Gemfile.lock?

[2016-01-30 12:47] sebabouche commented on #480
I pushed my project to __[this repo](https://github.com/sebabouche/bookshelf)__

[2016-01-30 12:53] sebabouche commented on #480
My config:
+ ruby 2.2.3p173
+ hanami v0.7.0

Is there anything else you might need?

[2016-01-30 13:26] zakuro9715 opened #490 "Different in behavior of 'hanami new' and 'hanami generate model'"
I found difference in behavior of `hanami new` and `hanami generate model` when appname includes capital letters.

For example,  `MyProject/lib` directory is as following after I ran `hanami new MyProject`

[code]

And it is as following after I ran `hanami generate model model`

[code]

There is `Dir["#{ __dir__ }/investgate/**/*.rb"].each { |file| require_relative file }` in `myproject.rb`. So,

[2016-01-30 13:58] joneslee85 commented on #488
@sebabouche would you be able to push your app codes to a repo for my investigation?

[2016-01-30 14:00] sebabouche commented on #488
Sure! It's __[there](https://github.com/sebabouche/bookshelf)__.

[2016-01-30 16:16] jodosha commented on #480
We found the problem and working on a patch.

[2016-01-30 16:55] vbyno commented on #488
I'm having the same issue. Looks like it is related to [this one](https://github.com/hanami/hanami/issues/480). Because it works well after changing `form_for :book, '/books'` to `form_for :book, '/books/'` (with a slash) if the template

[2016-01-30 18:06] kristho91 commented on #488
Same problem here.
But even after the "fix" that vbyno suggest the tests won't pass. It works if using it in the browser though.
The tests will fail on current_path.must_equal('/books/') no matter, if it has a trailing slash or not.

Im om ruby 2.2.4p230 on Fedora 23

[2016-01-30 20:15] sebabouche commented on #480
:+1:

[2016-01-30 20:50] davydovanton commented on #490
@zakuro9715 hello, thanks for bug report :+1:

[2016-01-31 01:59] joneslee85 commented on #488
We have found the problems and now working on a patch.

Closed this ticket because it is duplicated of #480

[2016-01-31 01:59] #488 closed

[2016-02-01 19:32] tomajask commented on #480
I've also encountered an error in the spec:
[code]
To make it pass I needed to change the assertion to: `current_path.must_equal('//books/')`

I've put there a `binding.pry` and here is the result:
[code]

My `create` action looks like that:
[code]
Without adding a slash to `redirect_to` I'm getting: `"File not found: /books\n"`

Here is my [repo](https://github.com/tomajask/hanami-framework)

[2016-02-01 20:10] davydovanton commented on #480
@tomajask hello, I fixed this bug in this patch https://github.com/hanami/router/pull/89

[2016-02-03 03:34] Freika commented on #480
Not fixed yet? I was going through "Getting Started" and encountered the problem exactly where @laymanmu did (Hanami Generators section).

[2016-02-03 04:43] klebervirgilio commented on #490
is there anyone working on this feature? I can help.

[2016-02-03 05:27] davydovanton commented on #490
@klebervirgilio hello :wave:
You can find the PR here:
https://github.com/hanami/hanami/pull/491

[2016-02-03 05:28] davydovanton commented on #480
@freika nope. I'm working on this now.

[2016-02-03 07:54] davydovanton commented on #480
@sebabouche hello, sorry but I can't reproduce bug in your repository. Also I have @Freika repository with similar bug (https://github.com/Freika/hanami-bookshelf) but in this repository I cant' reproduce bug too.
Do you have any ideas how I can reproduce this? Thanks.

[2016-02-03 17:50] sylow commented on #480
@davydovanton
Here is my repository https://github.com/sylow/bookshelf

Run the tests and watch the test fail

`
require 'features_helper'

describe 'List books' do
  it 'displays each book on the page' do
    visit '/books'

    within '#books' do
      assert page.has_css?('.book', count: 2), "Expected to find 2 books"
    end
  end
end
`

[2016-02-04 00:16] joneslee85 commented on #480
@laymanmu @Freika @sylow can you please all verify if the patch by @davydovanton nail the bug? TIA

[2016-02-04 10:55] davydovanton commented on #480
hey, @laymanmu @Freika @sylow.

You need to add this link to your gemfile and run tests or open `/books` page:
[code]

[2016-02-04 11:26] Freika commented on #480
@joneslee85 @davydovanton yep, bug fixed. Thanks!

[2016-02-04 11:37] sylow commented on #480
@davydovanton
'list_books_spec.rb' is working

But my root path is not finding the file this time, check this 'visit_home_spec.rb' test case please.

[2016-02-04 17:36] jodosha commented on #466
@fespinoza That is :+1:

Any of you wants to craft a PR with this change? Thank you very much! :smile:

[2016-02-04 17:40] jodosha commented on #465
@nomanurrehman Extreme explicitness is verbose. That's why errors are passed over by default. We can document this to explain the reason.

Can you please show me some code? Thank you :smile:

[2016-02-04 17:58] jodosha commented on #480
Folks, can you please verify if https://github.com/hanami/hanami/pull/493 fixes the issue for you. Thanks all! :+1:

[2016-02-05 07:11] pascalbetz commented on #483
I'd prefer JSON as well, easier to parse.

@jodosha we are only talking about the default format here, right? If we devise a new solution for logging, then it should probably provide the notion if a LogFormatter anyway?

[2016-02-05 09:24] fespinoza commented on #466
i can do it during the weekend :)

[2016-02-05 11:55] nomanurrehman commented on #465
Basically, if you set the `@errors` variable to any value when all params are valid, an empty `error` hash is passed to the view.

[code]

[2016-02-05 17:04] jodosha opened #494 "Container: remove per application Rack::MethodOverride in favor of one at the level of Container middleware stack"
## Actual

If we have two applications `web` and `admin`, they both use `Rack::MethodOverride` in their internal middleware stack.

## Proposed

As of v0.6.0 `Hanami::Container` has its own middleware stack which wraps all the applications within a project. We can mount `Rack::MethodOverride` here instead.

[2016-02-06 16:14] vyper opened #495 "Error on deploy "bookshelf" with rspec to heroku"
I used the commands based in main page:

[code]

# Error
[code]

And to fix this I changed `Rakefile`:

# From
[code]

# To
[code]

[2016-02-07 00:52] hlegius commented on #495
Hello @vyper! Thanks for reporting this one. :100:

I've just double checked here and you're right. Let's wait @jodosha to see how to proceed.

[2016-02-07 00:53] joneslee85 commented on #495
good spot, I think we should change the logic to check if the class constant exists or not rather than checking the env

[2016-02-07 14:23] vyper commented on #495
@joneslee85 but error occurred in `require`. I tried think for another solution...

[2016-02-07 14:33] joneslee85 commented on #495
@vyper

[code]

[2016-02-07 14:48] vyper commented on #495
I'll try fix this! (;

[2016-02-07 23:23] #466 closed

[2016-02-07 23:53] #495 closed

[2016-02-08 06:01] joneslee85 opened #499 "Introduce new convention for project/app naming"
We want to offer a standard and consistent way of generating new project/application name:
  * Adopt same gem naming / file naming convention as of [How to name your gem](http://guides.rubygems.org/name-your-gem/)
  * CLI is able to takes in both snakecase/camelcase and convert them to snakecase naming

## Actual

[code]

## Proposed

[code]

[code]

[code]

[2016-02-08 06:07] joneslee85 opened #500 "Introduce project naming in .hanamirc"
## Actual

Project class/naming are inferred from the current directory name that the codes reside.

In many scenarios, apps are deployed to a strictly conformed folder, such as `/var/www/app` and it is not easy to change this to the project naming. OR in other cases where users want to mix hanami project into their existing ecosystem, for eg: using hanamirb as API backend and want to be hosted un

[2016-02-08 06:29] davydovanton commented on #499
I like this proposal :+1:

[2016-02-08 09:47] jodosha opened #501 "Relaxed Hanami dependency for new projects"
## Actual

We generate new projects with a strict dependency on `hanami` gem.

[code]

## Proposed

Because we follow SemVer, we can relax the dependency. In case of a patch release, developers can update their apps via a simple `bundle update hanami`, **instead of edit their `Gemfile`**.

New generated projects should have this `Gemfile`.

[code]

---

/cc @hanami/contributors WDYT?

[2016-02-08 09:49] pascalbetz commented on #501
+1

[2016-02-08 09:51] accuser commented on #501
Better to make use of semantic versioning and relax the dependency. If anyone wants to freeze the gem dependency, they will know what they are doing and why.

:+1:

[2016-02-08 09:54] joneslee85 commented on #501
Me like. Me plus one

[2016-02-08 22:16] jodosha commented on #500
@joneslee85 What do you mean by project name? Do you want to store

[code]

or

[code]

Which operations this should facilitate? CLI?

[2016-02-08 22:19] jodosha commented on #499
@joneslee85 Can you please explain which Ruby constant names would be generated by this proposal? Eg. What `Test_app` should produce?

What's the idea behind this?

[2016-02-08 22:31] davydovanton commented on #500
@jodosha if I understand right, this changes would be helpful only for generation commands in cli part. That's why I have a question: why will this feature be helpful in production environment?

[2016-02-09 04:31] hlegius commented on #501
:+1:

[2016-02-09 04:36] hlegius commented on #500
I'd use it for POC projects those turns real projects after approved. I don't see any downside, so :ok_hand:

[2016-02-09 08:32] jodosha commented on #480
@nghitran Reported this problem in chat again.

Steps to reproduce:

[code]

Then visit `/admin` **TWICE**. The first time it's ok, the second time it's a `404`.

[2016-02-09 08:36] jodosha commented on #500
@hlegius

If it's useful it should be included, otherwise not. We should be careful about what we release. Each feature, each addition to `.hanamirc` is a maintenance problem for us.

[2016-02-09 08:37] joneslee85 commented on #500
@jodosha I would go for `bookshelf` because it is close to the current logic of picking up directory name.

Because we would not support nested levels of namespace, I'd like to suggest that even for the app generated with namespace, for eg:

[code]

Thought?

[2016-02-09 08:46] jodosha commented on #500
@joneslee85 Gotcha. But still struggling to understand why having `project_name` in `.hanamirc` is useful for us.

[2016-02-09 09:06] accuser commented on #500
Is .hanamirc even required in a production environment? The only reason that I could see for using the CLI is to check the available routes in production.

[2016-02-09 09:20] davydovanton commented on #480
@jodosha yes, I can reproduce this bug. Also I know how we can solve this problem. We need to check file on `File.file?` too.

[2016-02-09 09:29] jodosha commented on #480
@davydovanton Yup. Mr @AlfonsoUceda is already on it. Thank you :+1:

[2016-02-09 09:30] davydovanton commented on #480
@jodosha I think we have a solution in https://github.com/hanami/hanami/pull/486. May be is better to merge this?

[2016-02-09 09:35] jodosha commented on #480
@davydovanton Thanks for letting me notice about this. But that PR is implemented via a redundant check `index` and `end_with?`.

[2016-02-09 09:37] davydovanton commented on #480
@jodosha yes. I think we need to remove unnecessary `index` from this PR and add test cases for current bug.

[2016-02-09 09:37] jodosha commented on #480
@davydovanton ..and add tests ;)

[2016-02-09 09:38] davydovanton commented on #480
yep, sorry :D

[2016-02-09 09:38] jodosha commented on #480
@davydovanton Again, @AlfonsoUceda is working on it as we write. Don't worry, we're in good hands. :wink:

[2016-02-09 09:55] jodosha commented on #463
@kubenstein Hello and sorry about that problem. The fix for it was shipped with `0.7.1`, please make sure to update your app. Thank you :+1:

[2016-02-09 10:06] jodosha commented on #249
@Eein Thanks again for the detailed explanation.

Because this is a development tool, thread safety isn't an issue.

[2016-02-09 10:12] jodosha commented on #249
At this point my suggestion is to proceed like this:

  1. Remove `shotgun` as hard dependency from `hanami.gemspec`
  2. Generate new projects with this gem in `Gemfile` (see below)
  3. For the server: detect if `Shotgun` is present and activate code reloading
  4. When it isn't try to use `entr`
  5. When none of them isn't available, it should not try to activate code reloading.

---

`Gemfile

[2016-02-09 10:14] jodosha commented on #249
Case in favor of this change: [NewRelic doesn't support Shotgun](https://docs.newrelic.com/docs/agents/ruby-agent/frameworks/sinatra-support#shotgun).

[2016-02-09 10:16] jodosha commented on #489
@sebabouche @davydovanton Thank you all :+1:

[2016-02-09 10:43] jodosha opened #507 "Introduce --template for hanami new"
This is the second part of #473

## Proposal

[code]

Accepted values are: `erb`, `haml`, `slim`. If that option is omitted, `erb` is the default.

The command above should:

  * Add `gem 'haml'` to `Gemfile`
  * In case of `erb`, no gems must be added to `Gemfile`
  * Add `template=haml` to `.hanamirc`
  * Generate `apps/web/templates/application.html.haml` (see #473)

---

/cc @hanami/contributo

[2016-02-09 10:44] davydovanton commented on #507
@jodosha we have a PR with this changes (https://github.com/hanami/hanami/pull/379). May be is better to reopen this?

[2016-02-09 10:52] jodosha commented on #507
@davydovanton Yes, but it still references Lotus. If we're going to rework it we should credit @aderyabin for the idea and implementation.

[2016-02-09 11:41] jodosha commented on #480
Fixed by #506

[2016-02-09 11:41] #480 closed

[2016-02-09 12:22] joneslee85 commented on #500
@jodosha @accuser it is not related nor useful for production. It is more for the dev env.

I find it useful because the generated code does not rely on the current directory and thus is easier to share with others, ready to be mixed in other existing codebase

[2016-02-09 12:59] joneslee85 commented on #499
@jodosha

`Test_app` would produce `test_app` project folder.

The need behind is the consistency for naming project and generated code.

[2016-02-09 15:34] Eein commented on #249
I think thats fair - if someone wants to implement an additional windows fallback, it doesn't seem like it would be too hard with your proposal.

[2016-02-09 18:04] aderyabin commented on #507
@davydovanton let's talk about it in podcast :)

[2016-02-09 18:20] davydovanton commented on #507
@aderyabin okay :)

[2016-02-09 19:16] accuser opened #509 "Modify rendering policy to permit template rendering for HTTP status other than 200 & 201"
# Actual

The current rendering policy will only permit the template associated with an action to be rendered if the action is deemed successful:

[code]

When returning an HTTP status other than 200 or 201, a [custom error page](http://hanamirb.org/guides/views/custom-error-pages/) is used in its place, but is specific to the app and not the current action. These templates represent more of an un

[2016-02-09 19:18] accuser commented on #509
In addition to the above, and in line with the way Hanami currently works, a response with an HTTP status that does not include a body should not render a body.

[2016-02-09 20:10] klebervirgilio commented on #494
What tests would need to be done in order to make sure that's happing?

[2016-02-09 21:35] joneslee85 commented on #509
can't you explicitly set status then render a template?

and have you look into controller callback? you could write a callback that check the caller and exception and then render template accordingly

[2016-02-09 22:25] accuser commented on #509
@joneslee85 that might be the intention, but it doesn't seem to work like that at present. One can explicitly set the HTTP status in an action, but the rendering policy won't render the associated template if the HTTP status isn't 200 or 201.

[2016-02-10 02:25] joneslee85 opened #510 "Change security.content_security_policy API"
## Actual

CSP header can be set via `#content_security_policy` helper.

[code]

The method takes in a long string of directives and IMO it is not very appealing. Firstly it is not easy on eyes. Secondly it falls short of configurability in the scenario that user want to change one directive. Lastly it is not easy to test individual directive.

## Proposed

Refactor `#content_security_policy` to r

[2016-02-10 02:29] joneslee85 commented on #509
cc @hanami/core-team

[2016-02-10 05:14] kubenstein commented on #463
@jodosha hi i saw on release notes on twitter, will double check and let you know. thank you for all hard work you put in this project. Keep it up!

[2016-02-10 10:28] davydovanton opened #511 "Introduce db seed command"
## Actual
At the moment hanami doesn't support standart way for generation data sets.

## Proposed
By introducing a new `db seed` command, we could create a standard way of generating default data sets.

[2016-02-10 16:10] jpruetting commented on #356
I work with Rails in a large enterprise environment and have modified Rails logging to work better with logging services (we use Splunk). The following changes have made a huge difference:

- Use some sort of notification framework to instrument "events" within your application
- Subscribe to those events to create log entries
- Use a single-line JSON format for log entries and give every entry a

[2016-02-10 16:41] jpruetting commented on #483
JSON logging is great. I posted a comment with a examples and details about how I use it with Rails on another issue: https://github.com/hanami/hanami/issues/356#issuecomment-182451026

[2016-02-10 22:49] joneslee85 commented on #356
I am going to close this ticket as it does not serve its original intention as a placeholder for discussion on this topic anymore.

[2016-02-10 22:49] #356 closed

[2016-02-10 22:57] joneslee85 commented on #511
I am not a big fan of Rails `rake db:seed` tasks, to me it always fall short on the real world scenario.

In most of the cases, users tend to extend the scope of this raketask to perform more than seeding db, for eg asking for inputs interactively, change configurations and other complex calculation. For such cases, a custom rake task OR the #447 feature seem to be more fitting.

I also think that

[2016-02-11 17:15] jodosha commented on #483
I think that @jpruetting [proposal](https://github.com/hanami/hanami/issues/356#issuecomment-182451026) makes **a lot of sense** for the way do JSON logging.

:+1: for JSON

---

Quoting @jpruetting

This can be a really smart solution to solve logging and another problem that we have.

With our arch, we have one way dependencies: `apps/` components depend on `lib/`. Sometimes there is a need for

[2016-02-11 17:34] jodosha commented on #500
@joneslee85

That's a really good reason. In order to make this investigation complete, can you please link here the logic that implements this "directory to name" transformation? Thank you :+1:

[2016-02-11 17:54] jodosha commented on #510
@joneslee85 That is a nice to have, but what about performances? The initial idea of having a huge string is to send **as it is**.

What if `#content_security_policy` is able to accept a multiline string and store it internally as a single line?

[code]

This has the advantage of readability and it eliminates the need to compute the string for each request or eventually cache it.

[2016-02-11 18:00] jodosha commented on #511
@davydovanton Hello and thank you for this proposal, but this isn't a priority for now. Devs can easily implement their own solution.

[2016-02-11 18:00] #511 closed

[2016-02-11 18:02] jodosha commented on #509
@accuser I see what you mean and agree with the need. I'm not sold about the proposed semantic of `#halt` and `#status=`. We need to be more careful with it.

[2016-02-11 18:08] accuser commented on #509
@jodosha not too worried about the use in practice, but definitely needed. I proposed `#halt` and `#status=` simply because they are already there. My own personal preference would be to avoid using `#halt` since it is essentially throwing an exception (although, technically this is happening in the framework).

[2016-02-11 19:29] davydovanton commented on #511
@joneslee85 thank you for your opinion :+1:

@jodosha I understood, thanks for explanation. What do you think may be is better to create "How to seed you db" guide in documentation?

[2016-02-11 23:09] joneslee85 commented on #510
@jodosha I like your suggestion. :+1:  It looks very clean.

Part of the proposal is to improve the configurability of the framework, I am foreseeing that eventually JS frameworks would have problems with the default settings and thus in needs for way to change existing directives. Having said that, I am aware that CSP can be declared many times so users could declare a new CSP header to override

[2016-02-11 23:09] #510 closed

[2016-02-11 23:39] joneslee85 commented on #511
@davydovanton I like a section in the doc on how to write custom rake task, please go for it

[2016-02-12 08:29] jodosha commented on #511
@davydovanton @joneslee85 FYI http://hanamirb.org/guides/applications/rake/ :wink:

[2016-02-12 22:00] renich opened #512 "Can't load json or json_pure"
Hello,

I've created a new project, in a vanilla CentOS 7.2 virtual guest and I had to add

[code]

To the Gemfile.

I do have ruby-json installed.

[2016-02-13 00:38] joneslee85 commented on #512
What version of Ruby are you using?

[2016-02-13 09:18] jodosha commented on #512
@renich `json` is part of Ruby stdlib [since 1.9](http://ruby-doc.org/stdlib-1.9.3/libdoc/json/rdoc/) (IIRC).
Can you please check which version are you using and if you can load it from another project that uses Bundler.

Bundler ensures isolation for each project uses it. Even if you have installed `ruby-json` on your system, in order to use it, you must include it in your `Gemfile`. This isn't

[2016-02-13 19:24] renich commented on #512
I'll try to explain the case better. Here's what I did on a Vanilla CentOS:

[code]

Now, the result of that is:
![image](https://cloud.githubusercontent.com/assets/225115/13029540/d46eaa40-d254-11e5-9efb-4e220beb4649.png)

OK, all that said, if I just add:

[code]

To the Gemfile that `hanami new test` generated, all works.

I think that hanami should add these by it's own. Now, this doesn't happ

[2016-02-13 19:25] renich commented on #512
By the way, the version is:

[code]

[2016-02-13 22:22] jackturnbull opened #513 "lib/hanami/static.rb#_fresh? does not detect change to Sass @import"
Hello! I was debating putting this in hanami-assets but since the code in question sits in this repo it feels like the best place to put it. Feel free to close and direct me away if that's the case.

#### Description

I've been seeing unexpected behaviour with lazy reloading of stylesheet assets when using Sass partials as the complete CSS structure for a project. All CSS rules are contained in `a

[2016-02-14 00:38] joneslee85 commented on #512
FYI we no longer support Ruby 2.0 as it has reached its EOL.

[2016-02-14 06:31] renich commented on #512
oh my... Those RHEL guys should upgrade. On the other hand, you should either reconsider or push RHEL to upgrade to 2.2. Many CentOS users in the server realm. You definitely want them to have support.

[2016-02-14 06:34] renich commented on #512
Here's a link to the bug report. It would be cool if you could show support: https://bugzilla.redhat.com/show_bug.cgi?id=1308303

[2016-02-14 09:12] aderyabin commented on #507
@jodosha, I am in!

[2016-02-14 10:25] jodosha commented on #513
@jackturnbull Thanks for reporting this issue. I was already aware of it and can confirm the problem.

[2016-02-14 10:29] jodosha commented on #512
@renich Thanks for the detailed explanation. Can I ask you to try another thing for us? It's just to understand if it's CentOS or us.

Install everything like you did, but instead of create a new Hanami project, just create a directory with a `Gemfile` and a basic Rack application.

[code]

[code]

Then try to start it:

[code]

What happens?

[2016-02-14 10:43] aderyabin opened #514 "Follow ruby code style convensions"
As an idea, I suggest to follow Ruby code style fully described by Bozhidar ([link](https://github.com/bbatsov/ruby-style-guide)) and integrate Rubocop.

I saw the discussion about Rubocop [here](https://github.com/hanami/hanami/pull/171) but let's back to the question again. Yes, I know that default Rubocop config is angry, but we can modify it.

From my side I'm ready to start working on Rubocop

[2016-02-14 19:05] jodosha commented on #514
@aderyabin Hello and thanks for this discussion. Are you talking about the internals of the framework or about the generated code (aka Hanami projects)?

[2016-02-15 06:38] aderyabin commented on #514
@jodosha Both.
as the example, look at this lines https://github.com/hanami/hanami/blame/master/lib/hanami/commands/generate/app.rb#L64-L73.
Ten lines of code and two different styles `#{app_name}` and `#{ app_name }`.

Or another example. Hanami codebase has both `raise` and `fail`.

Yes, there are a lot more important tasks, but Hanami is enjoying the beauty, and code should be beautiful too, I

[2016-02-15 07:27] jdickey commented on #514
I've been using RuboCop on all my projects for years but, in the last year or so, I've had the sense they're going deep into the fringe. They've flip-flopped on a couple of style conventions as time has gone on.

I've locked my current projects to RuboCop 0.35.1, with a simple [configuration file](https://gist.github.com/jdickey/970d70a9b58fe5519d50) to override exactly two defaults:

<script src=

[2016-02-15 09:33] jodosha commented on #507
@aderyabin Can you please open a PR here? Thank you :+1:

[2016-02-15 09:40] jodosha commented on #514
@aderyabin Absolutely not for the internals of the framework. Sorry, but we can't afford this change.

For the Hanami projects it depends on how much work it is for us and how much demand it's out there. I never used RuboCop because I feel it too strict. I'm with @jdickey on this.

[2016-02-15 17:39] jodosha commented on #501
Solved by #503

[2016-02-15 17:39] #501 closed

[2016-02-15 17:54] jodosha opened #516 "Make Dotenv a soft dependency for development"
## Actual

`dotenv` is a runtime dependency for `hanami`. We have included it, because hosting vendors use to provide configurations via env variables.

It happens that devs get confused about the main `.env` and they think it's for production purposes. This assumption is WRONG. Storing informations in that file is not a good security practice because that means to add them inside the Git reposito

[2016-02-15 20:28] joneslee85 commented on #516
I :+1:. Production should _never_ store credentials in `.env` file.

[2016-02-15 20:38] aderyabin commented on #516
I propose more revolutionary way – to remove `dotenv` from any dependency totally. Developer can add `gem 'dotenv'` to generated `Gemfile` manually. From `hamani`side we can load environment variables or use default values.

[2016-02-15 21:00] joneslee85 commented on #516
@aderyabin I think that would impose too much barrier for ease of use. I prefer to support `dotenv` as 1st-class citizen for dev env.

[2016-02-15 21:05] simi commented on #516
I think dotenv is not meant to be `hanami` (or another web framework) hard dependency. If someone decide to use it, it is so easy to do, that's not necessary to force every developer to download and bundle that dependency every time.

Custom parser can be used for `.hanamirc`. For example this one really naive fits all `.hanamirc`s in fixtures (or alternatively standrad CSV parser can be used with

[2016-02-15 21:14] JonathanSerafini commented on #516
I'm just curious as to why you'd want to remove dotenv as a whole ... I for one have been finding it an extremely handy ( and standard ) way of configuration my application stacks.

Specifically, I've been deploying Laravel apps with a /.env file ( single .env without environment namespace ) and Lotus apps with a /.env.production file ... both of these are templates that are generated by my config

[2016-02-15 21:16] simi commented on #516
@JonathanSerafini all you need to do is to add `dotenv` to Gemfile manually and create proper initializer or load `Dotenv.load` on proper place. The second option is create `dotenv-hanami` gem and do that work there. All you'll need to do afterwards will be adding one Gemfile entry.

[2016-02-15 21:22] joneslee85 commented on #516
@simi i am having a crazy idea, why not using standard JSON or YAML format instead? It would be much easier to parse :)

[2016-02-15 21:24] aderyabin commented on #516
@simi Yep, definitely.
There are 3 ways to use:

**Environment variable**
[code]

**Option usage**
[code]

**Dotenv usage**
[code]

Also, I agree with Mike Perham and his article "[Kill Your Dependencies](http://www.mikeperham.com/2016/02/09/kill-your-dependencies/)"

[2016-02-15 21:25] aderyabin commented on #516
@joneslee85  :+1: for YAML!

[2016-02-15 21:25] joneslee85 commented on #516
@JonathanSerafini it is a very _bad_ practice to hardcode credential into files OR commit it that in Git history tree. We all know about the 12 factor rules. IMHO the framework should recommend best practices that would make the app secure from the beginning of dev to production stage.

[2016-02-15 21:26] simi commented on #516
@joneslee85 I was thinking about backward compatibility.

Actually this is valid YAML (and rubygems rc file is using that format):

[code]

[2016-02-15 21:28] joneslee85 commented on #516
@simi with you on this too, if it is a legit YAML format already then it should be quite straight-forward to implement the parser.

[2016-02-15 21:30] simi commented on #516
It is valid YAML format, but it is not compatible with current format. I'm not sure how to handle this. Will be deprecation cycle needed for that? I can provide PR for format change with parser and all that stuff.

current format:

[code]

proposed format:

[code]

[2016-02-15 21:30] aderyabin commented on #516
@simi, @joneslee85  generate in YAML starting the next release. As for backward compatibility. There are few ways:
– convert to yaml automatically
– raise error and ask to convert
– support current format next few releases.

[2016-02-15 21:38] JonathanSerafini commented on #516
@joneslee85 I agree with you that hard coding credentials is a horrible idea ...

What I was getting at is that dotenv does not force you or recommend that you hard code anything, it simply provides you with a standard method in which to configure your application. Removing this dependency will have no impact on whether anyone decides to hard code their secrets.

Granted other formats would provid

[2016-02-15 21:40] renich commented on #512
Again, `json` fails to load. Here's the test:

[code]

[2016-02-15 21:51] aderyabin commented on #516
One more way
[code]
It generates dotenv files and add `Dotenv.load` execution

[2016-02-16 09:25] jodosha commented on #516
Wow, I leave you for a day and you run so fast!

Let me clarify a few points:

  * We're doing this to reduce (aka kill) the dependencies as much as possible. We always did it, and it's valuable.

  * Dotenv is gonna to stay as soft dependency, by default for `:development` and `:test` groups. It will be **installed by default** when a developer will execute `bundle install`.

  * Developers can o

[2016-02-16 09:28] jodosha commented on #512
@renich So it appears to be a problem of Ruby distribution on CentOS? To move on, just add that extra gems in your `Gemfile`.

Have you considered to use `chruby` and `ruby-install` to use an official MRI dist instead of the default one?

---

Closing this.

[2016-02-16 09:28] #512 closed

[2016-02-16 09:41] #507 closed

[2016-02-16 16:30] renich commented on #512
@jodosha I will notify them. Thank you.

Yes, I have considered it but I'd rather use my distribution's package. Packages undergo scrutiny and careful revision. Also, they're seamlessly integrated with the distribution.

In my case, Fedora and it's children (RHEL, Scientific Linux, etc) use SELinux; which is very strict about paths. Otherwise, you can't even execute some stuff. Pretty secure.

The

[2016-02-16 16:39] renich commented on #512
Just so you know, I've reported the bug: https://bugzilla.redhat.com/show_bug.cgi?id=1308992

Community at work ;)

[2016-02-16 19:48] aderyabin commented on #516
What do you think about adding `.env.production` to `.gitignore` ?

[2016-02-17 00:56] hlegius commented on #516
My 2 cents:

I know some Ops that doesn't like that 12 factor 'rules' and uses `Dotenv` in production as well exactly how you've described using Ansible without storing any production keys into git.

Also, `Dotenv` is pretty simple/handy to use in dev/test modes. So, as soft dependency :+1:

[2016-02-17 19:08] aderyabin commented on #249
@jodosha. As I understand,  `entr` watching files and restarts application. Why do we not use [rerun](https://github.com/alexch/rerun) or [guard](https://github.com/guard/guard)?

[2016-02-18 04:13] tylerhunt opened #520 "Initializers for container architecture"
I created a new app with the default (container) architecture, and the generator produced the directory `config/initializers` in the project root, but this directory is never loaded. Instead, when the app loads, it's attempting to look for initializers using the glob `apps/web/config/initializers/**/*.rb`.

Are initializers supposed to be available at the container level, only at the app level wit

[2016-02-18 08:46] #516 closed

[2016-02-18 09:25] jodosha commented on #249
@aderyabin Gem dependencies.

Using `rerun` means 6 runtime dependencies for Hanami:

[code]

While `guard` means 16 runtime gems:

[code]

[2016-02-18 09:33] jodosha commented on #520
@tylerhunt Hey sorry for the confusion. The expected behavior is to have initializers at the project (aka container) level (`config/initializers`), not on application basis (`apps/web/config/initializers`).

The intent here is to let you to setup **project wide** dependencies. For instance Sidekiq's `Sidekiq.configure_server` can be an example and you would add it at `config/initializers/sidekiq.r

[2016-02-18 09:46] daneb opened #521 "Application.rb Template has incorrect digest URL"
When you generate a new application with Hanami, the application.rb contains the following snippet of comment:

[code]

The request URL for the digest does not exist and I assume the correct location is
 http://hanamirb.org/guides/assets/overview

If this is correct I can go ahead and make the change?

[2016-02-18 09:51] jodosha commented on #521
@daneb Please do :+1: Thanks!

[2016-02-18 10:21] #521 closed

[2016-02-19 02:22] tylerhunt commented on #520
The [guide][] also indicates the opposite:

[guide]: http://hanamirb.org/guides/applications/initializers/

[2016-02-19 08:58] jodosha commented on #520
@tylerhunt I think this is a huge mistake of mine. I apologize for this confusion. We should fix this.

[2016-02-19 12:57] tylerhunt commented on #520
@jodosha No problem. Just pointed it out because I came across it, so it can be updated when the code is changed.

[2016-02-21 08:11] joneslee85 commented on #509
@accuser do you have a list of HTTP status code that allows empty / non-empty body?

[2016-02-21 08:11] joneslee85 commented on #451
@davydovanton how are you going with this issue? Do you want let others take over?

[2016-02-21 08:13] joneslee85 commented on #514
@aderyabin i am too a big fan of strict code linting but I do find it is annoying at times, especially for contributors. But I am all for small clean-up commits (submitted along with big PRs) to make the code more consistent.

[2016-02-21 14:32] accuser commented on #509
@joneslee85 from `Hanami::Action::Head`:

[code]

and `Hanami::Action::Glue`:

[code]

[2016-02-21 18:28] accuser commented on #513
@jodosha I was looking at this today with regards my changes to `Hanami::Assets`. I think that I can build a list of dependencies (via `@import`) on the fly during compilation, and then check for freshness of all dependencies when checking the compiled asset.

[2016-02-22 08:44] jodosha commented on #451
@davydovanton

Yes, but that is unexpected, we should stick with `hanami destroy action web home#index`, **without** the `--url` argument.

Please let the somebody else to take care of this. Please focus on logger. Thank you :+1:

[2016-02-22 08:51] jodosha opened #528 "Let rendering errors to be reported to exception notification services"
Right now exceptions that happen in actions are referenced in Rack env. See https://github.com/hanami/controller/pull/134

[This doesn't happen for views and templates](https://github.com/hanami/hanami/pull/370) and we should address to this problem.

We should catch exceptions in `Hanami::RenderingPolicy` and reference them in Rack env.

I created [a code spike](https://github.com/hanami/hanami/c

[2016-02-22 08:52] jodosha commented on #513
@accuser :+1:

[2016-02-22 12:11] voxik commented on #512
Hi guys,

just to explain ... in Fedora and hence in RHEL, we remove the "default gem" hack and json is installed/used as regular gem, hence there is nothing like "json" available in default load path and therefore Bundler can't find it.

In this specific case, I would blame mime-types for not specifying their dependencies. They are using json for their functionality and I can't see why they shoul

[2016-02-22 15:56] jodosha commented on #512
@voxik but `json` is now part of Ruby stdlib. I think `mime-types` gem can safely rely on the presence of `JSON` module. Runtime dependencies declaration is designed for external gems.

[code]

[2016-02-22 21:59] voxik commented on #512
@jodosha I know it is part of stdlib, but not on Fedora nor RHEL. The default gems are IMHO just big hack for due to backward compatibility promises, nothing more.

[2016-02-24 08:55] #481 closed

[2016-02-24 09:19] #490 closed

[2016-02-26 09:08] #482 closed

[2016-02-26 09:17] jodosha opened #531 "Logger: Support Application Architecture"
We introduced new logger features with #517 and #530 .
These PR were merged, but they only ship with generators that support Container Architecture. Application Architecture was left behind.

We should address this disparity of features.

[2016-02-26 09:49] joneslee85 commented on #531
@jodosha I'll take this

[2016-02-26 11:11] jodosha commented on #531
@joneslee85 Can you please take care of finalize the tickets and PR that you've opened instead? Please leave it to @davydovanton .

[2016-02-26 12:00] joneslee85 commented on #531
@jodosha surely

[2016-02-26 12:41] #531 closed

[2016-02-26 20:06] accuser commented on #513
I've had a week of meetings, so no PR yet. However, I have solved this issue and have a constructed compiler that provides a list of dependencies via the `@import` directive of SCSS. :smile:

[2016-02-26 21:32] jodosha commented on #513
@accuser Great to hear :+1: We're waiting for your PR, then :smile:

[2016-02-29 05:35] jbodah opened #535 "Remove lib/config/mapping.rb, make it the default, or add comments"
I lost about an hour because of this (and some confusion with another bug which had been resolved in 0.8.x). I would recommend either removing this file, making it the default, or adding comments saying that the file is meant to be loaded from `lib/my_project.rb` to avoid confusion. Personally I prefer either of the first two options to avoid having a dead file in the project

[2016-02-29 05:56] jbodah commented on #514
For what it's worth, we've taken the stance in our internal projects of disabling all of the cops and only re-enabling some. Moreover, we've had a ton of success using `rubocop --auto-correct` for the vast majority of the corrections.

Here's what our internal cop config looks like: https://gist.github.com/jbodah/13e07de39c3b7bdc2fcd

The real juju for us is [AllCops/DisabledByDefault](https://git

[2016-02-29 08:27] jodosha commented on #535
@jbodah I'm sorry about your lost time. This has been source of confusion for other people too. I think it's fair to not generate it anymore.

BTW, we're going to remove the need to of database mapping. See https://github.com/hanami/model/issues/292 for reference.

[2016-02-29 08:30] jodosha commented on #514
@jbodah Is your usage of Rubocop similar to `go fmt`? Do editors and IDEs support Rubocop and automatically apply the rules? I'm asking cause I never used it for long time.

[2016-02-29 13:10] jbodah commented on #514
I'd say it's similar. I personally run rubocop with a pre-push hook and run `--auto-correct` manually. I don't know if plugins already exist for most editors or not, but I think it would be trivial to make it like `go fmt` (e.g. with vim just add a BufPreWrite autocommand or something). Rubocop has pretty good caching, so it's pretty fast to do an entire project and you can also limit it to whatev

[2016-02-29 13:11] jbodah commented on #535
Awesome thanks for the link!

[2016-02-29 14:23] jodosha commented on #514
At a previous company, we had it enabled as CI task to pass. It's painful to discover at the build time that it won't pass because of style violations. It's better to have a "fail fast" strategy and have it enabled in a editor (if possible).

---

Now, my question is. Did someone scan a Hanami project with Rubocop? If so, what's the outcome?

[2016-02-29 17:27] lucasallan commented on #520
@joneslee85 @jodosha can I work on this?

[2016-02-29 21:03] jbodah commented on #514
Just did a quick run of this on `hanami/hanami`. There are around 2300 offenses with the out of the box config, half of which are auto correctable (but we'd probably want to double check).

`rubcop --auto-correct`

That leaves 1000 or so. Filtering out `LineLength` and ignoring the `test` directory leaves around 100 offenses, many of which are similar (lack of top-level docs, long methods)

`ruboc

[2016-03-01 01:40] cllns commented on #514
Thanks for opening this @aderyabin :+1:. I'm in favor of adding a custom `.rubocop.yml`, to ensure code within the `hanami` project is consistent. I don't care about following 'the' Ruby Style guide (mostly because I personally disagree with some of their recommendations :stuck_out_tongue: ). Instead, `.rubocop.yml` should enforce the style `hanami` already uses.

I've used [`overcommit`](https://

[2016-03-01 08:13] jodosha commented on #514
Folks, thanks for checking `hanami/hanami`, but as stated above, applying Rubocop rules to the project is out of question now. We have more important things to address right now.

If it won't take too much effort, we can make Hanami projects compliant with Rubocop. What I mean, is the output of `hanami new bookshelf && cd bookshelf && bundle && rubocop`. In an ideal world, I would love to have int

[2016-03-01 08:14] jodosha commented on #520
@joneslee85 are you already working on this? Otherwise let @lucasallan to take care of it.

[2016-03-01 08:47] joneslee85 commented on #520
@jodosha I've started it. Please leave it to me

[2016-03-02 13:41] #535 closed

[2016-03-02 19:01] cllns opened #539 "Resourceful routes - always GET"
#414 isn't working as desired, with version 0.7.2.

Running `hanami generate action web books/destroy` should generate this route:
[code]

but it generates this instead:
[code]

So the URL suffix is working properly, but the HTTP action (verb) is not. It just uses GET for everything (unless you pass in `--method`).

This is true for all of the commands, so this is an issue for `create` and `update

[2016-03-03 01:18] cllns commented on #514
I just tried fixing the templates to follow the `ruby-style-guide`. I don't think it's worth doing.

For one, we can't even guarantee that it'll pass the default rubocop style guide 100% of the time, because of the 80 characters per line limit.

For example, take a look at the [`app_name.rb` template](https://github.com/hanami/hanami/blob/master/lib/hanami/generators/application/app/lib/app_name.r

[2016-03-03 18:44] mperham commented on #512
@voxik "just a big hack" is not a good reason to break a package.  JSON is part of Ruby since 1.9, so many gems are removing their JSON dependency because they can assume it is in stdlib now.  Rails 5 will not include a json dependency: https://github.com/rails/rails/pull/23453

[2016-03-03 19:29] voxik commented on #512
Yes, I noticed that ... and assuming something like this is mistake IMO ... Rails should move the opposite direction and every other software as well and finally the hack could be removed.

It is also just matter of time until the explicitly specified dependency will be back, due to updates in more recent version of json gem or security fixes (please see why the dependency with that specific versi

[2016-03-03 19:36] voxik commented on #512
Not mentioning that this is not removing the dependency of course, Rails is depending on Json, you just make it hidden, nothing more. This won't help to anything. Also, you can also check the history of minitest dependency in Rails, if you like. That is similar story.

[2016-03-03 20:23] rafaelfranca commented on #512
@voxik I'm sorry to tell this to you but `json` is not going to be explicit dependency of Rails again. We trust that the Ruby distribution will distribute its defaults gems and we will keep trusting that.

If there are security updates needed in json gem we will do exactly what we do with rack, sprockets and any other gem we depend, nothing. If there is a security release in these gems we recommen

[2016-03-03 22:15] voxik commented on #512
@rafaelfranca you probably do not realize, that any gem in the Rails app dependency chain can force to load old version of json now, which might be either incompatible or vulnerable ... btw if you want to be really consistent in what you are saying, I'd suggest to remove dependencies on rake and minitest as well, since they are part of stdlib ... and btw sdoc still refers json explicitly.

[2016-03-03 23:53] sardaukar commented on #512
@voxik apologies if I appear brutish, but why is Fedora/RHEL so keen on imposing their rules about what should happen, and not following Ruby packaging standards that work for every other platform?

[2016-03-04 16:37] renich commented on #512
Guys, keep it in scope. The idea here is that hanami works fine on all major distributions.

Adding a json dependency seems minor. The major issue; which is discussing the philosophical context of json being in stdlib or not should be taken to ruby's issue tracker and discussed there.

Let's not turn this issue into a flame.

[2016-03-04 17:31] CollinGraves commented on #539
Have we verified this, all? I can get a fix in progress.

[2016-03-08 13:54] jodosha commented on #512
@renich Thanks for your words in my absence.

[2016-03-08 14:07] jodosha commented on #539
@CollinGraves @cllns Sorry for the late reply. I'm back part-time on Hanami now.

I can confirm that this doesn't work with `HEAD` as well. Can you folks please check the problem and write a fix for this? Thank you :+1:

[2016-03-08 15:32] renich commented on #512
@jodosha no worries, dude.

[2016-03-08 17:59] cllns commented on #539
The problem was the `default` option in Thor's `method_option`. Thor was adding `{'method' => 'GET'}` to the `options` param in the initializer.
This explains why the test wasn't failing, since the test creates the Action object directly, with an empty options hash.

We don't currently have integration tests for generating an action. I can add some, if we want them.

[2016-03-08 18:15] berfarah opened #542 "Generated relative path inaccurate for nested actions"
If I do

[code]

All the files generate in the right places, but the `require_relative` is inaccurate. Because of the additional directory nesting, it needs one more `../`

What I get:
[code]

The code is [here](https://github.com/hanami/hanami/blob/ec6411c77b38b87e1e162e1c5bb73ade9da4642f/lib/hanami/commands/generate/action.rb#L236). I believe the @controller_pathname could be scanned for slashes

[2016-03-09 00:43] cllns commented on #542
:+1:  Good find and fix, IMO.

1. The code for `relative_view_path` is nearly identical. Can you check to make sure there's no issue with `views` too?

2. A tiny tiny style thing: how do you feel about adding `'..'` when `environment.container?` to the `nestings`, since that's a variable now? That way we only call `join` once. E.g.
[code]
  But if you think it's better as is, no problem. My soluti

[2016-03-09 00:48] berfarah commented on #542
Thanks @cllns! Sounds good on all counts. I'll work on this and submit a PR once I'm off work.

[2016-03-10 13:35] #539 closed

[2016-03-10 14:58] jodosha commented on #249
Implemented by #523

[2016-03-10 14:58] #249 closed

[2016-03-13 20:08] lucasallan commented on #520
Let me know if you need help @joneslee85

[2016-03-13 20:14] lucasallan commented on #500
Can I work on this? @jodosha @joneslee85

[2016-03-14 14:52] jodosha commented on #500
@joneslee85 PING :smile:

[2016-03-14 17:00] ismaild opened #546 "Pre-Compile fails with Less"
I am getting the following error when doing `hanami assets precompile` You can see the error by cloning: https://github.com/ismaild/hanami_error/ and running the command.

It looks like the files are being compiled in the wrong order.

[2016-03-16 12:47] jodosha commented on #546
@ismaild Hello and thanks for reporting this problem. I can confirm it.

---

The example project has the following structure:

[code]

When `hanami assets precompile` it's run, it tries to process:

  1. `application.css.less`
  2. `vendor/luna/import/alerts.import.css.less` (this raises an error)

The process fails because that file references a variable defined by `style.css.less`. This last on

[2016-03-17 20:56] ismaild commented on #546
@jodosha i am getting the same error as well.

[2016-03-18 08:22] duykhoa opened #547 "Can't stream log to file"
I am trying to config the log to file with the guide from

https://github.com/hanami/hanami/blob/master/lib/hanami/configuration.rb#L1661

[code]

When I run `hanami console`, I got the error:

[code]

I tried to disable the logger customization above, and inspect the `logger` instance in console, here is the output:

[code]

Seems like a bug.

[2016-03-18 08:27] jodosha commented on #547
@duykhoa Hello, which version of Hanami are you using? This feature isn't released yet in stable gem. It will be with `v0.8.0`.

[2016-03-18 08:28] jodosha commented on #546
@ismaild Thanks for checking. Let's involve Less maintainers. :smile:

[2016-03-18 09:35] #542 closed

[2016-03-18 10:13] joneslee85 commented on #547
@duykhoa with 0.7.2, there is a bug with the logic of `Hanami::Configuration#logger`, 0.8.0 fixed it as of https://github.com/hanami/hanami/commits/master/lib/hanami/configuration.rb

[2016-03-18 10:15] joneslee85 commented on #547
@jodosha i am pairing with @duykhoa. yes it is feature 0.8.0 that he wants to use on 0.7.2, I am closing it now

[2016-03-18 10:15] #547 closed

[2016-03-18 10:26] jodosha commented on #547
@joneslee85 Thanks for letting me know :+1:

[2016-03-18 13:12] jodosha opened #549 "Exit in case a Rake tasks fails"
## Background

Each Hanami project ships with a couple of "standard" Rake tasks. These tasks are `db:migrate` and `assets:precompile`. We support them, because of Rails influence in SaaS world. Heroku runs them automatically for all the Ruby (not Rails) apps.

Read more at: http://hanamirb.org/guides/applications/rake/

## Enhancement

We should exit the parent process in case the Rake task fails.

[2016-03-21 11:26] #549 closed

[2016-03-24 17:53] cllns opened #556 "AdapterNotFound: Cannot find Hanami::Model adapter FileSystemAdapter"
[code]
Triggers this error. It doesn't happen with 0.7.2.

Not sure if the problem is here, or in `hanami/model`.

Here's the relevant part of the stacktrace
[code]

[2016-03-24 18:07] jodosha commented on #556
@cllns Thanks for opening this issue. I've experienced the same error since a while. Possible related is: https://github.com/hanami/hanami/pull/536

@cllns @joneslee85 can you please verify? Thanks!

[2016-03-24 18:17] jodosha commented on #556
@cllns Welcome to the contributors team! :wink: Can you please take care of this? Thanks!

[2016-03-24 18:18] cllns commented on #556
Thanks @jodosha :D
Sure thing!

[2016-03-24 20:12] cllns commented on #556
Quick fix is to add the following to your Gemfile:
[code]

A few things here:
#### 1. Error handling
The error name isn't correct. The issue isn't that `FileSystemAdapter` cannot be found, but rather that the initializer for that adapter tries to call `sub` on `nil`, when it expects a String. The [error handling code] (https://github.com/hanami/model/blob/master/lib/hanami/model/config/adapter.rb#

[2016-03-26 07:25] jodosha commented on #556
True. Generating a new project requires `hanami`. It's a combination of generators, shipped with the gem, it's hard to package `hanami/hanami` repository on the fly and use it to create a new project.

---

Indeed, I use that flag (`--hanami-head`) within the local repository of hanami.

[code]

---

@cllns Thanks for the really good research job. I think we can close this now.

[2016-03-26 07:25] #556 closed

[2016-03-26 07:40] #494 closed

[2016-03-26 07:53] jodosha commented on #546
Note: I've added the `:paths` option to `hanami-assets` compilation process for Less: https://github.com/hanami/assets/commit/83435835d43e024319add216462b7f57a7d601d5

---

We can close this ticket and eventually open it again when Less maintainers will reply.

[2016-03-26 07:53] #546 closed

[2016-03-30 16:09] nbolt opened #558 "cjsx?"
is there any way to use the cjsx preprocessor in hanami or use multiple asset engines?

[2016-04-01 07:42] jodosha commented on #558
@nbolt Hello. :smile:

We support all the preprocessors that Tilt supports. Are you using `ruby-coffee-react`? I think it could be a good chance for the maintainers to offer Tilt support. Not for Hanami, but for compatibility with the entire Ruby ecosystem.

In the meantime, a file like this can do the trick for you:

[code]

Remember to use it with files with the proper extension: `foo.js.cjsx`.

[2016-04-01 07:42] #558 closed

[2016-04-09 15:38] benlovell opened #560 "Donations"
Hi folks! I'd love to donate financially to this project. First off - do you have any means for this? Otherwise, would you consider adding a pledgie button or something similar?

Thanks for everything you do. It's very much appreciated. 💛💚💙

[2016-04-11 14:12] mereghost commented on #196
Hmmm... I have stumbled on that behavior (development only, shotgun enabled) when explicit setting the location header while using a routing helper.

Just a very contrived example:

[code]

[2016-04-11 14:23] mereghost commented on #196
I may also add that enveloping the `routes` call in a `String.new` as was done to fix the issue at hand, also fixes the problem.

Is that expected behavior or should we find a way to fix it?

[2016-04-12 13:50] fidothe opened #561 "Namespace issue with generated files"
I just ran into this problem with a container app.

We had a container called `events`, so the generated `ApplicationLayout` class looked like:

[code]

Then we also created an `Events` view for that app, at `Events::Views::Events`

On the original developer's machine everything works, and the app is fine. On another developer's machine, because of what I am assuming are file system semantics rela

[2016-04-12 21:04] martinpovolny commented on #512
@voxik : with all respect, Fedora and RHEL forces you to explicitly declare something that is implicit in the upstream Ruby. So on Fedora and RHEL you have to write code in a different way that in upstream Ruby. Many developers don't care about Fedora and RHEL because they run on Mac or Ubuntu or whatever else and do not care about Fedora or RHEL. They write software that runs well on upstream Rub

[2016-04-15 13:19] jodosha commented on #561
@fidothe Thanks for reporting this. 👍
I won't worry too much about this issue because it's an edge case **and** this is the way that Ruby works.

Documenting this warning (like you said), should be enough. Would you mind to submit a PR for the guides? Thanks!

[2016-04-15 13:19] #561 closed

[2016-04-19 15:59] cllns opened #562 "SERVE_STATIC_ASSETS for production"
Right now, SERVE_STATIC_ASSETS = "true" for development and test, but not production.

This makes sense when deploying to a server like Nginx.

But for Heroku, [SERVE_STATIC_ASSETS must be "true"](https://devcenter.heroku.com/articles/rails-4-asset-pipeline#serve-assets).

I ran across this issue when deploying to Heroku (says something like `/public/assets.json` not found) and so did @jxxcarlson.

[2016-04-19 16:06] cllns commented on #562
I'd like to conduct an informal poll.

Please add a reaction to this post, according to which hosting environment you use for Hanami apps:

:heart: for Heroku
:tada: for non-Heroku
:smile: for both
:confused: for none, yet

It doesn't need to be a 'real app' or have users, just something you have deployed.

Everyone is invited to respond! cc/ @hanami/contributors

[2016-04-19 19:53] aderyabin commented on #562
I don't like idea to set SERVE_STATIC_ASSETS to true in production for many reasons:
– Heroku is just one from many. And it is a known limitation by Heroku. Anyway, you have to configure Heroku before deployment. So, what is problem to execute `heroku config:set SERVE_STATIC_ASSETS="true"`?
– It not breaks existed Hanami projects but can create some problems.
– It's a common practice that assets s

[2016-04-20 15:15] cllns commented on #562
@aderyabin All good points!
Perhaps 2) could be implemented by tying into the `rake assets:precompile` command, since that should only be run from Heroku? (See "Ruby Ecosystem Compatibility" section here: http://hanamirb.org/guides/applications/rake/)

[2016-04-21 03:01] karimmtarek commented on #528
@jodosha I'll pick this one up, if it's still available.

[2016-05-05 11:42] #560 closed

[2016-05-05 11:43] jodosha commented on #560
@benlovell Thank you very much 💚 .

I was hesitant until now, but can't afford to fund Hanami all alone. I just added instructions on the README and website.

[2016-05-14 00:21] ericfreese opened #570 "Error on `rake test`"
So I've just started the ["Getting Started" guide](http://hanamirb.org/guides/getting-started/). I created a new project, created a new test, and running `bundle exec rake test` spits out a bunch of errors:

[code]

What am I missing here?

[2016-05-14 00:27] ericfreese commented on #570
Nevermind, I see this has been reported over in the `utils` project: https://github.com/hanami/utils/issues/123

[2016-05-14 00:27] #570 closed

[2016-05-16 20:07] mereghost opened #571 "routes helper ignores mount point when testing"
Apparently the routes helper ignores the mount point of the application when running tests.

The following code should be enough to reproduce the error:

apps/web/controllers/stuffs/index.rb
[code]
apps/web/config/routes.rb
[code]

config/environment.rb
[code]

spec/web/features/return_a_weird_location_header_spec.rb
[code]

I have tested it with Capybara (and later with Rack::Test only) both on s

[2016-05-19 10:04] pascalbetz opened #572 "Hanami assets slow in development"
Reported by Nick Sutterer.

Issues are served slow in development mode:

127.0.0.1 - - [17/May/2016:08:31:19 +1000] "GET /assets/bootstrap.min.css HTTP/1.1" 304 - 1.5921
127.0.0.1 - - [17/May/2016:08:31:19 +1000] "GET /assets/offcanvas.css HTTP/1.1" 304 - 1.6118
127.0.0.1 - - [17/May/2016:08:31:19 +1000] "GET /assets/offcanvas.js HTTP/1.1" 304 - 1.7339
127.0.0.1 - - [17/May/2016:08:31:19 +1000] "G

[2016-05-20 13:31] #572 closed

[2016-05-24 06:49] valexl opened #576 "Can't get access to bash environments"
I try to load some bash environments and found strange behavior. When I try to load this variable via console everything works fine -
[code]

[code]

But when after reloading web-server I tried to do it via byebug it didn't work

[code]
PS I've reloaded web-server.

[2016-05-24 07:56] joneslee85 commented on #576
How do you do `reloading server`?

[2016-05-24 10:51] valexl commented on #576
I don't know what it was. Now it works fine. I'll close the issue. Thanks.

[2016-05-24 10:51] #576 closed

[2016-05-25 03:36] rafaels88 opened #577 "Problems with app generation"
So, I created these issues just to inform about 2 problems that I found when I followed the getting started instructions.

1) Following the instructions here (http://hanamirb.org/) I got this error after `bundle install && bundle exec hanami server`: `Class: Hanami::Model::Config::AdapterNotFound`

I figured that I should specify the database adapter with `--database` as argument when generating m

[2016-05-25 03:43] #577 closed

[2016-05-25 03:45] rafaels88 commented on #577
Just figured that I have made a tremendous mistake when generate my app. Please, I am sorry e if it is possibly, remove this issue =)

[2016-05-26 05:37] Erol commented on #571
Hi @jodosha, would you mind if I take a stab at this? I was able to trace why this is happening and can open a WIP PR where we can discuss how it can be resolved.

[2016-05-27 07:53] jodosha commented on #562
I agree with @aderyabin .

@cllns You raised a good point. Because we feature Heroku deployment on the homepage, what if we add this step over there? Can you please do that?

We can eventually expand with a Deployment section in guides to cover Heroku and other vendors. To be clear, It's **NOT** to up to us to maintain these deployment instructions. The website it's open for the people working at

[2016-05-27 07:53] #562 closed

[2016-05-27 09:04] #451 closed

[2016-05-27 09:07] jodosha commented on #463
CLI needs serious testing. Closing this in favor of a testing improvement after 1.0.

[2016-05-27 09:07] #463 closed

[2016-05-27 09:09] jodosha commented on #514
I started to use Rubocop because of day job. It's activated on my Vim setup, so new code is respecting Ruby community standards.

This is a principle rather than a task. I'm not willing to change the entire codebase in a single day.

[2016-05-27 09:09] #514 closed

[2016-05-27 09:12] jodosha opened #584 "Destroy command: It doesn't work with app architecture"
This command is expected to work:

[code]

[2016-05-27 10:29] jodosha commented on #577
@rafaels88 No worries :)

[2016-05-27 11:02] davydovanton commented on #483
I think we can close this issue
@jodosha what do you think?

[2016-05-27 15:07] cllns commented on #584
@jodosha feel free to assign me to this, if you'd like! won't have a chance to do this until next week though

[2016-05-27 15:14] flarik opened #585 "Inconsistent naming in generating app / models"
When generated an app with an dash in in. the "hanami new" command will generate files/dirs with an underscore in it.
When generating a model in the sam app with "hanami generate model" it will generate files/dirs with a dash in it (like the original).

This is inconsistent behaviour and IMHO should be like the model: do not convert the dash to an underscore.

Example:

When creating the app a das

[2016-05-27 19:54] kolybasov commented on #585
@flarik had this problem too. Tried to submit PR, but discovered that it was already fixed at v0.8  :) Now `hanami generate model books` will create files in underscored folder `lib/love_dashes/entities/books.rb …`

[2016-05-28 09:45] jodosha commented on #585
@flarik Thanks for reporting, can you please confirm that master fixes the problem for you? Please check these instructions: https://github.com/hanami/hanami#how-to-use-hanami-head

[2016-05-30 06:37] flarik commented on #585
@jodosha Works with master.

[2016-05-31 15:41] jodosha commented on #585
@flarik Hey thanks for your reply!

---

Closing this as duplicate of #490 - Ref #491 #529

[2016-05-31 15:41] #585 closed

[2016-06-01 12:25] onemanstartup opened #591 "Entr failing if too many files in project"
[code]
I have a node_modules folder in project and hanami failing to start.
I cound managed find in source code how to run with globbing `find ./**/*.rb | entr -r bundle exec hanami rackserver` but I think this is not good.

[2016-06-01 12:29] jodosha commented on #591
Oh Node.. 😢

@onemanstartup Thanks for reporting this. My suggestion is to enable `shotgun` from your `Gemfile`, if it's there, `hanami server` will bypass `entr`. Please let us to know if there are other issues. Thanks!

[2016-06-01 12:29] #591 closed

[2016-06-01 12:33] onemanstartup commented on #591
@jodosha I'm ok actually with globbing, but there is one more problem with entr. Byebug hangs after displaying information. You can't type anything and can't quit.

[2016-06-01 12:58] jodosha commented on #591
@onemanstartup Thanks for this extra report too. 👍

[2016-06-03 02:08] onemanstartup opened #592 "404, 500 routes to handle manually"
I want to localize those pages, but right now they rendering outside of controller scope. Is there a way to do it?

[2016-06-03 15:20] vasspilka opened #593 "problems when user creates hanami app with - in name"
I noticed that if someone creates an app with an - in the name, for example, `hanami new my-hanami-app`.
It will create an app in the following folder `my-hanami-app` as expected.

This results to the following problems however. When someone wants to generate a model for example
with `hanami g model user` it will look at the project folder name and then will create the model in `lib/my-hanami-app`

[2016-06-03 15:20] vasspilka commented on #593
This should be considered in https://github.com/hanami/hanami/issues/500

[2016-06-03 16:57] mdamaceno opened #594 "NoMethodError: undefined method `clear'"
After upgrading hanami-model from 0.6.1 to 0.6.2.1 in my project, I get the error in my tests:

[code]

Then, I downgraded to 0.6.1 and after that, my tests are ok now.

The methods for repositories were modified?

[2016-06-03 17:06] vasspilka commented on #594
yes now you should always create an instance of Repository and call methods on that.
Example `BookRepository.new.all`
see hanami/model#920

[2016-06-06 04:52] lucasallan commented on #500
Updates?

[2016-06-06 06:14] joneslee85 commented on #500
@lucasallan would you like to take on this? cheers

[2016-06-06 13:21] rafaels88 opened #595 "Explicit documentation that "Flash" word is a reserved key for Action layer"
This is just a request to put this information in documentation.

I was trying to create a simple system for flash message using session + shared code, and no errors occured, but exposed `:flash` attribute always had `{}` as value.

#### Steps to reproduce

[code]

[code]

#### Actual behavior
Rendering result will always be `{}`.

#### Expected behavior
Should be == `session[:flash_message]`.

I

[2016-06-06 17:26] cllns commented on #595
Thanks! Good find. [Indeed `flash` is used in `Hanami::Action`](https://github.com/hanami/controller/blob/master/lib/hanami/action/flash.rb).

Personally, I'd rather see an error telling the developer that `flash` is reserved (and links to docs about flash) rather than just document it.

What do others think about that? If that's desired, this should be filed in in `hanami/controller`.

[2016-06-06 17:49] b264 commented on #595
:+1: for `raise` telling developer `flash` is reserved

[2016-06-06 20:36] rafaels88 commented on #595
:+1: for `raise`.

[2016-06-07 05:52] sebastjan-hribar commented on #593
I confirm this behavior. I've just created a test app with `hanami new hanami-bookshelf --database=postgres` to distinguish from the old lotus app and then in my `lib` folder there were both `hanami-bookshelf` and `hanami_bookshelf` folders.

[2016-06-07 16:56] mdamaceno opened #596 "Problem using routes helper in views"
I read in the documentation about using routes helper, but it seems it does not work. Example: the code ``<%= link_to group.name, routes.group_path(id: group.slug) %>`` returns

[code]

``hanami routes`` lists on console:

[code]

I resolved this with ``<%= link_to group.name, "/groups/#{group.slug}" %>``. I know it is not a good code, but I can't do it another way.

[2016-06-07 18:35] mooreniemi commented on #556
Sorry to ask this here, but I've just encountered this error, and I don't see anywhere documented how to actually deal with it.  I want to run a hanami app _without a database_. Is this not possible? I expected using `hanami new <app_name>` would create an immediately runnable app via `hanami server` but instead I reached this error.

[2016-06-07 20:25] cllns commented on #556
@mooreniemi what version of `hanami` are you using? Head on over to the [Hanami chat](https://gitter.im/hanami/chat) and ping me, if you want, and we can figure this out :)

[2016-06-07 20:48] cllns commented on #556
@mooreniemi Ah, so this hasn't been released as a gem yet. The issue is that the `DATABASE_URL` environment variable is missing.

It *should* be in `.env.development` as something like  `DATABASE_URL="file:///db/bookshelf_development"`.
Note that you need to have `dotenv` required from your project, like:
[code]

[2016-06-07 21:01] mooreniemi commented on #556
Thanks, I will try that! Might want to offer an option for `--no-persistence` at some point. :)

[2016-06-08 12:28] jodosha commented on #594
@mdamaceno I'm terribly sorry, but `hanami-model` `0.6.2.1` was a broken release, which I now yanked from Rubygems. If you run `bundle update` in your project, it should install `0.6.1`, which is a working version.

[2016-06-08 12:28] #594 closed

[2016-06-08 12:30] jodosha commented on #571
@mereghost Hi Marcello, can you please check if #579 fixes your problem? Thanks!

[2016-06-08 12:32] jodosha commented on #595
Yes, this should go in `hanami-controller`.

[2016-06-08 12:37] jodosha commented on #593
@vasspilka @sebastjan-hribar This should be now fixed in master. Can you please give it a try? https://github.com/hanami/hanami#how-to-use-hanami-head

[2016-06-08 12:52] jodosha commented on #596
@mdamaceno Hey, I'm sorry about your problem.

I can't reproduce it locally, for this reason I've created a sample project: https://github.com/jodosha/issue-596. Can you please have a look over there and try if that works for you? Thanks!

[2016-06-08 12:56] jodosha commented on #592
@onemanstartup Hey, I'm sorry, but there isn't a way to do that right now.

For the future, please post this kind of questions on the forum: https://discuss.hanamirb.org Thanks!

[2016-06-08 12:56] #592 closed

[2016-06-08 12:56] jodosha commented on #509
Related: https://github.com/hanami/hanami/issues/592

[2016-06-08 15:53] cllns commented on #595
We can close this, in favor of this Issue in `hanami-controller`:  https://github.com/hanami/controller/issues/158

[2016-06-08 17:46] mereghost opened #597 "On testing handle_exception code"
Not sure if it's better to open this issue here or on controller.

To the code:
[code]

How can this be tested? Exceptions are not handled in test environment (which is good) so the `handle_exception` code is not triggered.

If I test the handler method, `:halt` is thrown and never caught which leads me to an `UncaughtThrowError`.

If I change the `halt` call to `status` I can't test the status co

[2016-06-08 18:14] mereghost commented on #571
@jodosha Hi Luca, it works. Thanks for taking a stab at it @Erol and @jodosha  =)

[2016-06-09 04:21] sebastjan-hribar commented on #593
I've tested it and it works as expected. Dashes are replaced with underscores and there are no more duplicated folders like before.

[2016-06-09 05:19] vasspilka commented on #593
Perfect I'm closing then.

[2016-06-09 05:19] #593 closed

[2016-06-13 16:57] nozpheratu commented on #205
I'm still getting this issue even with Pry v0.10.2. @bradwheel's temporary fix works for me.

[2016-06-14 14:14] manuwell commented on #205
Its weird, because if you call `binding.pry` from another method in the controller it works, if `binding.pry` is called directly from `call#method` it doesn't.

[code]

[2016-06-15 13:45] jodosha commented on #595
@cllns Thank you 👍

[2016-06-15 13:45] #595 closed

[2016-06-15 13:50] mdamaceno commented on #596
Hi, @jodosha. Sorry for the long period without an answer. I haven't had time to test it in the last days. I will try it soon as possible.

[2016-06-17 15:02] tejasbubane opened #598 "Tests failing due to some changes in dry-validation"
Hanami tests are failing due to some changes in `dry-validation` gem. Did a git bisect and found [this commit](https://github.com/dry-rb/dry-validation/commit/adaad49399f4ee807693e87c0aff85f8a2fa71f0) to be the reason.

Stack-trace of test failure can be seen here: https://travis-ci.org/hanami/hanami/jobs/138377424

Any specific reason for using direct github for external gems (apart from hanami g

[2016-06-23 10:02] #598 closed

[2016-06-23 10:05] jodosha commented on #598
@tejasbubane Hey, thanks for reporting this problem. I fixed it.

We recent rewrote `hanami-validations`, by using `dry-validation` as internal engine. Because `dry-v` changes a lot between 0.7 and the upcoming 0.8, we decided to base our rework of `hanami-v` on their master version. In this way, once `dry-v` 0.8 will be out, we don't need to port anything, but we can release `hanami-v` at any tim

[2016-06-23 10:12] jodosha commented on #571
Fixed by #579

[2016-06-23 10:12] #571 closed

[2016-06-23 10:18] jodosha commented on #596
@mdamaceno Ping 😄

[2016-06-24 10:46] fidothe commented on #509
We've been running into this issue as well recently, so I thought I would outline our particular problem and offer a slightly different approach. If there's any enthusiasm I'll work up a PR.

We have to render a particular template, with some dynamic data, for a set of legacy URLs. Because these are different-app legacy URLs there's no easy way (or desire) to route these, so we have a middleware t

[2016-06-24 11:05] jodosha commented on #509
@fidothe I'm writing a description for a PR in this exact moment. Would you mind to review it 30 mins? Thanks!

[2016-06-24 11:19] fidothe commented on #509
@jodosha of course!

[2016-06-24 12:15] jodosha commented on #509
@accuser @joneslee85 @fidothe Please have a look at https://github.com/hanami/hanami/pull/599

[2016-06-24 15:31] jodosha commented on #597
@mereghost What I do in cases like this is:

[code]

---

Please ask future questions in chat or over https://discuss.hanamirb.org/ Thanks!

[2016-06-24 15:35] #597 closed

[2016-06-24 22:01] #509 closed

[2016-06-25 11:52] jodosha commented on #483
Implemented by https://github.com/hanami/hanami/pull/583

[2016-06-25 11:52] #483 closed

[2016-06-26 20:16] theCrab commented on #596
@jodosha I can confirm this is not working. But resolves properly when using the method he shows.

[2016-06-27 15:35] fidothe opened #602 "Hanami errors when a custom 404 page has been rendered by a middleware"
Following on from the discussion on #509 and #599, I created a minimal app to see what happens with the new non-200 status rendering code with my 404-page-rendered-by-middleware use case.

Unfortunately Hanami now 500's (before it would escape the rendered HTML and render the standard default page with the custom HTML rendered as source, effectively). The minimal app is at https://github.com/fidot

[2016-06-27 16:36] fidothe commented on #602
I haven't had a chance to figure what's broken here (it's different to what happened before #599). I'll do that and if possible (i.e. if it doesn't look like a massive architectural change) I'll work up a PR as soon as I can (should be this week)

[2016-06-27 20:55] greggilbert opened #603 "Be able to rollback migrations"
So we have `hanami db migrate`. It'd be great if we could do `hanami db rollback` to rollback the most recent migration. I think right now you have to invoke Sequel directly to do any sort of rollbacks (or write a Rake script to do that), so having this would be a huge convenience.

[2016-06-28 07:58] jodosha commented on #603
@greggilbert This feature is already implemented: if you provide a version number, it "migrates down" to that version. Please have a look here: http://hanamirb.org/guides/command-line/database/#migrate

[2016-06-28 19:55] cllns commented on #603
Ah, thanks Luca! I searched and found nothing in `hanami/hanami` and `hanami/model` but not the guides. I'd still be in favor of `hanami db rollback` command, but I don't think it comes up often enough to be very important.

[2016-07-01 20:13] lucasallan commented on #500
Sorry, for some reasons I completely forgot about it - I'm on it now.

[2016-07-02 07:04] maheshm opened #605 "Destroy command - more specs required"
There are no specs associated with destroy command.

[2016-07-05 18:07] bruz commented on #596
I saw this error, but in my case rightfully so because the `id` value I was passing in was nil. @mdamaceno and @theCrab, can you post a minimal example project that reproduces the problem, or can you tell what's different between your code and the example @jodosha posted?

[2016-07-06 13:12] wendy0402 commented on #547
Hi guys, this is an awesome feature, I've hard time to stream the log into file. Is there any workaround for this?

[2016-07-07 03:21] joneslee85 commented on #547
@wendy0402 the log currently streamed STDOUT, you could pipe STDOUT to a file when starting your server

[2016-07-08 23:17] lucasallan commented on #484
@davydovanton are you working on this?

[2016-07-09 07:23] davydovanton commented on #484
@lucasallan hello,
Yep, I'm working on this issue, you can find my code here https://github.com/hanami/hanami/pull/589
Thanks for worrying 🎉

[2016-07-09 13:04] sdorunga1 commented on #205
Still happening, would be nice to get a fix for this.

[2016-07-09 14:49] jodosha commented on #205
This is a gentle reminder that probably you should ping PRY maintainers here. https://github.com/pry/pry/issues/1471

[2016-07-09 14:50] banister commented on #205
Can you guys check whether things work with the pre release pry gem (cut a few days ago)? Cc @jazzonmymind

[2016-07-09 15:19] jazzonmymind commented on #205
i think it is probably still an issue. @banister pushed a potential fix in 0.10.2 but i don't think it covered every scenario. please try 0.11.0.pre, just in case.

[2016-07-09 15:25] #584 closed

[2016-07-09 15:26] #605 closed

[2016-07-09 20:30] jodosha commented on #528
Fixed by #564

[2016-07-09 20:30] #528 closed

[2016-07-11 13:36] jodosha commented on #465
I'm closing this because we want to implement a different way to pass errors to the views.

[2016-07-11 13:36] #465 closed

[2016-07-11 13:38] jodosha commented on #596
@mdamaceno @theCrab PING again 😉

[2016-07-11 14:22] jodosha commented on #602
@fidothe Sorry for the delay. I was able to make your test project to work, by applying the fix shipped with #609

[2016-07-12 00:15] joneslee85 commented on #596
@mdamaceno @theCrab can you please provide sample code (ideally based on the upstream hanami version)? If you two are not able to work on a fix, I gladly take this on. (cc @duykhoa if you are keen on contribution to Hanami, this issue seems to be a good one)

[2016-07-12 08:52] theCrab commented on #596
@jodosha @joneslee85 I have had a look at this from the upstream hanami version and all works. I have also updated my app and removed the *string* path. And all is working well. So I think this issue is fixed somehow with the updates.

[2016-07-12 09:30] jodosha commented on #596
@theCrab Thank you for the feedback!! 👍

[2016-07-12 09:30] #596 closed

[2016-07-12 10:25] jodosha opened #610 "Internationalization (I18n)"
Introduce I18n features:
- [ ] Add `i18n` gem as dependency to `hanami.gemspec`
- [ ] Generate new projects with default translation file that uses `:en` locale (this is useful for `lib/`). It could be placed under `config/locales/en.yml`.
- [ ] Generate new apps with default translation file that uses `:en` locale. It could be placed under `apps/web/config/locales/en.yml`.
- [ ] Hanami boot proce

[2016-07-12 11:28] mdamaceno commented on #596
I confirm all is working well.

[2016-07-12 16:52] jodosha commented on #602
@fidothe I'm sorry, but #609 isn't a viable solution for this problem.

[2016-07-13 01:58] joneslee85 commented on #610
@jodosha have you ever thought about letting the browser (frontend side) to handle `i18n`? It is not that your proposal is not good, in fact it is quite good and proven (in Rails and elsewhere). I just want to explore new ways of achieving it that is closer to the frontend-heavy paradigm nowaday. I am thinking of a translation middleware that server translation API and frontend would consume the A

[2016-07-13 04:50] cllns commented on #610
Glad to see internationalization making it into `hanami` pre-1.0! Happy to help out.

I'm a little concerned about using the `i18n` gem, since [it doesn't seem terribly well maintained](https://github.com/svenfuchs/i18n/issues). Also I remember @pascalbetz saying using it was a bit rough.

It also [monkey patches `Hash`](https://github.com/svenfuchs/i18n/blob/master/lib/i18n/core_ext/hash.rb). How

[2016-07-13 10:00] pascalbetz commented on #610
@joneslee85 interesting approach. It would involve JS on the frontend, right? What if you have just an API which serves i18n (error) messages to the client (not necessarily a browser)?

@cllns Probably I meant using i18n is a bit rough in the sense of using it with Hanami (Lotus, back then) is difficult because it does not integrate that well. If I remember correctly:-)

How about we start with th

[2016-07-13 12:54] jodosha commented on #610
@joneslee85

I haven't considered this scenario, but I'd discard it for now. This front-end scenario is an advanced use case which doesn't make sense to implement if we first don't have basic use case in place. In other words, server side first.

Please remember that until now we don't have any JS support out of the box. Using JS for that, would mean to implement that JS support first, by delaying

[2016-07-13 12:58] jodosha commented on #610
@cllns

It's a standard in Ruby world, there aren't better alternatives (as far as I know), and we already support it with `hanami-validations` (master), because of `dry-validation`. 😉

[2016-07-13 13:12] jodosha commented on #610
@pascalbetz

Where, specifically? In views/templates we should use the new helpers mentioned in the description. For all the other contexts, I think that referencing directly `I18n.t` isn't that bad. Or we can ship `Hanami::I18n`, but I want to avoid verbosity 😉 .

I intentionally didn't included l10n, because the `i18n` gem requires configuration files (YAML) to lookup for date, time, numbers lab

[2016-07-13 13:18] sakuro commented on #610
Did you considered [gettext](https://ruby-gettext.github.io/)?

[2016-07-13 13:30] pascalbetz commented on #610
@sakuro I don't know about the current state. The last time I used gettext it was horrible to get it working.

[2016-07-13 14:06] pascalbetz commented on #610
To clarify: I used gettext maybe 7 years ago in a Rails project. Three different gems were required. I don't know anything about gettext of 2016.

[2016-07-14 00:58] chellberg opened #611 "generating model results in uninitialized constant [EntityNameHere] (NameError)"
see it [here](https://github.com/chellberg/hanami-entity-generator-test)
(boring) [Gemfile.lock](https://gist.github.com/chellberg/2d43925bbbdedd9919cae87c6407bf91)

I ran ```hanami new entity-generator-test --database=postgres``` to generate the project, then `bundle exec hanami generate model game` to generate my `Game` entity and repository.

To repro, clone and run `rake`. The generated entity

[2016-07-14 08:09] jodosha commented on #611
@chellberg I'm sorry about this problem.

We use `config/environment` to require the main file in your model domain: `lib/entity_generator_test.rb`. It's responsible to preload all the entities and repositories with the following line:

[code]

It looks for _"snake case"_ directories (which is right), but the generated structure uses dashed names:

[code]

---

It's now fixed in master. To try it,

[2016-07-14 08:09] #611 closed

[2016-07-15 16:55] #513 closed

[2016-07-18 05:18] vladiim opened #615 "SCSS not precompiling"
* `apps/cms/application.rb` has `require 'sass'`
* `apps/cms/assets/stylesheets/application.css.scss` has some basic css
* `apps/cms/templates/application.html.erb` includes the file with `<%= stylesheet 'application' %>`
* When I run `hanami server` an `application.css` file is generated with no contents
* When I run `hanami assets precompile` I get the error below, note `compile true` has been a

[2016-07-18 07:28] jodosha commented on #615
@vladiim Hi, I'm sorry about your problem. I personally improved assets serving and precompilation in master, which is different from Hanami 0.7.3 (the version you're using). These improvements will be released at the end of the week with Hanami 0.8.0.

Would you be so kind to check if master solves this problem for you? If not, I'll make sure to fix it before the release. Please follow these few

[2016-07-18 13:51] jodosha commented on #500
Implemented by #607 and https://github.com/hanami/hanami/commit/f04500e662974d8235d2258d7304e671e30b0ca8

[2016-07-18 13:51] #500 closed

[2016-07-18 16:11] jodosha commented on #520
Unfortunately delegating the responsibility to `Hanami::Container` can fix the problem of having one centralized loaders from `config/initializers` (instead of `apps/web/config/initializers`), but it doesn't guarantee to be always executed **and** the order of loading.

---

First of all, there are some circumstances where `Hanami::Container` is not instantiated. For instance, when we run a single

[2016-07-18 16:19] jodosha commented on #499
This is fixed now in master.

To try it, please follow these instructions:
https://github.com/hanami/hanami#how-to-use-hanami-head

But use this last command instead:

[code]

Model generator works fine too:

[code]

[2016-07-18 16:19] #499 closed

[2016-07-18 23:00] vladiim commented on #615
@jodosha thanks - no worries.

I tried to start a new app on 0.8.0 with `hanami new --hanami-head=true appname` but when I ran `bundle install` I got an error:

[code]

[2016-07-19 06:46] jodosha commented on #615
@vladiim Did you ran that command **from the cloned repository of `hanami/hanami`**?

[2016-07-20 06:34] vladiim commented on #615
@jodosha I wasn't, working now 👍

[2016-07-20 07:33] jodosha commented on #615
Fixed by #612

[2016-07-20 07:33] #615 closed

[2016-07-20 07:34] jodosha commented on #615
@vladiim Thanks for checking. I've closed this. BTW by the end of this week, we'll release Hanami v0.8, which will include this fix.

[2016-07-22 04:48] bruz opened #619 "Code reloading not happening with Hanami HEAD"
Here's a minimal example to reproduce what I'm seeing:

Create a new app as [described in the README](https://github.com/hanami/hanami#how-to-use-hanami-head) and start it up:

[code]

Then, in another terminal window, update the template and see that the updated content isn't in the response:

[code]

Output:

[code]

I threw a quick logging statement in `Hanami::Commands::Server#start` and see t

[2016-07-22 07:04] cllns commented on #619
Thanks for reporting this!

Is `shotgun` in your Gemfile? It should be, but I just want to make sure. It's not a dependency of `hanami` because it doesn't work on all systems, so we put it in the default Gemfile instead.

[2016-07-22 10:25] #619 closed

[2016-07-24 19:35] chellberg commented on #611
Nice! Thanks so much @jodosha

[2016-07-26 14:44] piccio opened #621 "generate a new project"
with v0.8.0 `hanami new .` command generates project files inside a new folder nested to the current folder. this new folder has the same name of the current folder.
with v0.7.3 `hanami new .` command generates project files regularly inside current folder.

[2016-07-31 12:28] igneus opened #623 "--help options does not work correctly for some subcommands"
`hanami new --help`, instead of describing available options, prints

[code]

This discovery made me try the `--help` option for all other subcommands (at least those listed by `hanami help`). This way I found a bug
- `hanami db --help`
- `hanami destroy --help`
- `hanami generate --help`

All these commands print

[code]

which is help for `hanami help`, not for the respective subcommands.

**(AD

[2016-07-31 20:58] Phitherek opened #625 "'hanami secret' command"
I would like to see a 'hanami secret' command - it would help with setting up session secrets in production environment. My proposal for this command is simple: just invoke SecureRandom.hex(32) as in generate app command and return the result to console.

[2016-08-05 08:03] Defman21 opened #629 "hanami server --debug throws an exception"
If I'm trying to run `hanami server --debug`, it always throws an exception.

I did `hanami assets precompile` so `public/assets.json` will be generated and that didn't help.

[code]

[2016-08-05 11:10] pascalbetz commented on #610
@hanami/core-team any feedback?

Started implementing i18n. Some questions popped up:

__Hierarchy of YAML files in container architecture__
Keys are not isolated/scoped to the app they are defined in.

[code]
Unless we implement some sort of hierarchy the load order will define what translation will be shown. Last one wins.
What is the desired/intended behavior?

__Configuration__

Do you intend

[2016-08-05 15:56] cllns commented on #629
What if you do `touch public/assets.json` and precompile then try again?

[2016-08-05 16:05] cllns commented on #610
For the Hierarchy question, I think the files *should* be isloated/scoped to the app their defined in. Is there some reason this isn't feasible?
So `<%= I18n.t('welcome') %>` inside `app_a` will output "Welcome to App A" and
And `<%= I18n.t('welcome') %>` inside `app_b` will output "Welcome to App B".

[2016-08-05 16:25] pascalbetz commented on #610
@cllns not sure if this kind of scoping is supported out of the box by i18n. Since we work with static/self methods, I don't think there is a way to switch out sources depending on app context.

[2016-08-05 16:32] cllns commented on #610
Can we fake it then? Like make "Welcome to App A" equal to `::I18n.t('__app_a.welcome')`, but within `app_a`, can we provide the API as `Hanami::Helpers::I18n.t('welcome')`? Just an idea.

[2016-08-05 16:35] pascalbetz commented on #610
probably this would work. Custom Backend perhaps. Let's see....

[2016-08-05 16:43] Defman21 commented on #629
Same error.

[2016-08-05 17:25] cllns commented on #629
And `chmod 777 public/assets.json` ? then precompile and try again?

[2016-08-05 17:36] Defman21 commented on #629
Still same :(

[2016-08-05 18:05] cllns commented on #629
So when you run just `hanami server`, everything runs as intended? And it's just `--debug` that causes problems? I'm thinking it's an issue with `inspect`-ing the `NullDigestAssetManifest`: https://github.com/hanami/assets/blob/010d2b0aa980662a9cd884972aeab74de7a3ea8e/lib/hanami/assets/config/manifest.rb#L66

[2016-08-05 18:31] Defman21 commented on #629
Yes.

Yes.

[2016-08-08 08:59] #621 closed

[2016-08-08 09:09] jodosha commented on #623
Fixed by #624

[2016-08-08 09:15] igneus commented on #623
@jodosha It isn't really fixed as a whole. #624 only fixed `hanami new --help`, not the other similar issues mentioned above.

(I looked into these as well, but I wasn't able to solve them in a reasonable amount of time, so I submitted at least the fix for `hanami new --help`, which was easy enough to produce.)

[2016-08-08 09:21] jodosha commented on #625
This is a convenient alternative to:

[code]

[2016-08-08 09:22] jodosha commented on #623
@igneus Sorry, you're right. Do you think you will have the time to work on this? Thank you very much!

[2016-08-08 09:55] jodosha commented on #610
@pascalbetz Good catch!

My suggestion is to do something similar to `Web::Routes`: we create this constant at the runtime to reference the routes from an application named `Web`. Then the helper that we use for the views and templates references that constant.

So:

[code]

---

Can we think to have namespaced translation files:

[code]

[code]

Then at the runtime we create `Web::I18n` and `Admi

[2016-08-08 09:57] igneus commented on #623
I hope so, but I don't know when exactly. Anyone knowing how to fix it or willing to dig into it is most welcome to take it over.

[2016-08-08 20:23] pascalbetz commented on #610
Hello @jodosha

Thanks for the feedback. Having _scoped_ YML files is probably the easiest way. But i'm not sure I like it.

* Might confuse users. They are not used to scoping
* You can still put translations for _web_ into _admin_, as long as they contain the right scope
* Classes created at runtime are harder to debug (where does it come from, where is the source code?)
* You can access transla

[2016-08-09 07:08] pascalbetz commented on #610
Some more thoughts:

* what if users want to use _scope_ for something internal to the application?
* Should it be possible to use translations from _admin_ in _web_ ? Or should common translations rather be duplicated or go into the projects translations?

[2016-08-09 07:37] jodosha commented on #610
Hi @pascalbetz !

If they can still use `t('welcome')` in a template, scoping is transparent.

`Web::I18n.t('welcome')` is required only outside views/templates (eg. a controller).

???

Right, and I think we should remove this practice after 1.0, but until then it's consistent with the other constants (eg. routes)

Sure. Is this bad or good for you?

That is great. What's your idea? 😄

[2016-08-09 07:43] jodosha commented on #610
@pascalbetz I have the impression that I poorly explained my idea.

My proposal is to scope the translations only in the YAML file. The API should make the scope transparent. For instance in views/templates/helpers we should make this to work: `t('welcome')`. As you can see there is not `scope` here.

Outside of that context (eg. actions, interactors), they should use `Web::I18n.t('welcome')`. Her

[2016-08-09 07:46] pascalbetz commented on #610
@jodosha

Now I understand:-)

It will still allow users to do:

[code]
right? Not saying that this is bad. Just pointing out to understand the expectations.

For the implementation ```Web::I18n``` would need to specify the scope, right? Or do you want to switch backends on ```I18n```? This would be possible as far as I can tell from a quick review of the ```I18n```  code. The configuration is thr

[2016-08-09 10:14] jodosha commented on #610
Yes.

Yup, that is an internal information, that `Web` should store internally and pass down to `I18n.t`.

[2016-08-09 10:14] pascalbetz opened #631 "const_defined? should be scoped in loader"
Otherwise classes like ```Web::Routes``` will not get defined if a const called ```Routes``` already exists.

Same goes for ```Logger```, ```View```, ```Controller```, ```Assets```, ```Model```.

Reproduce the problem:

* hanami new sample
* create a (empty) class ```Routes``` and make sure it is required before ```Loader```
* bundle exec hanami console
* Web::Routes #> will lead to an exception
[

[2016-08-09 10:22] jodosha commented on #631
@pascalbetz Great catch! Would you mind to create a PR to fix this issue? Thanks!

[2016-08-09 10:42] pascalbetz commented on #610
Ok, i came up with something (yet basic though and WIP but should help for discussions).

```Web::I18n``` would be an instance of this:
https://github.com/pascalbetz/hanami-hanami/blob/1c5983328694111ea93ca9c062b9c7ab68e63c60/lib/hanami/i18n/i18n_with_application_scope.rb

I try scoped to the application first, then unscoped. I think this would be usefule as it provides some sort of fallback:

* t

[2016-08-09 10:48] jodosha commented on #610
@pascalbetz Yes, I like the idea of the fallback. IIRC `I18n` should support this kind of scenario. If not, I think it's a good idea to implement our own.

[2016-08-09 10:53] pascalbetz commented on #631
@jodosha here you go:-)

[2016-08-09 15:32] k-solutions commented on #610
Could we consider isolating I18n in its own service?

On Aug 9, 2016 13:48, "Luca Guidi" <notifications@github.com> wrote:

[2016-08-09 15:37] pascalbetz commented on #610
@k-solutions can you explain a bit more?

[2016-08-09 15:38] pascalbetz commented on #610
I18n provides a cascading backend, but AFAIK it does not "try with and without scope". Anybody?

[2016-08-09 20:46] k-solutions commented on #610
Well, it could live outside of application and could have a common API and
each application could call it from whatever frontend templates or backend
templates and under it could be implemented with I18n or whatever developer
prefer , for example gettext or any upcoming solution.

Regards,
Hristo Kochev

On 9 Aug 2016 6:37 p.m., "Pascal Betz" <notifications@github.com> wrote:

[2016-08-10 06:52] jodosha commented on #610
@k-solutions To clarify, are you suggesting a microservice for I18n, to live on its own process?

[2016-08-10 07:23] sirmike opened #634 "Code is not reloaded (?) in 0.8.0"
I'm little confused regarding code reloading. When I run a server by `bundle exec hanami server`, assets are reloaded but my code does not. When I run `bundle exec shotgun`, code seems to be reloaded but assets are stale.

Shotgun is present in Gemfile and it seems to be used by [server.rb](https://github.com/hanami/hanami/blob/v0.8.0/lib/hanami/commands/server.rb#L31) I use Hanami `v0.8.0` Is the

[2016-08-10 07:31] jodosha commented on #634
@sirmike Hey, I'm sorry about this problem, but `v0.8.0` introduced a regression that we already fixed https://github.com/hanami/hanami/pull/628.

In a few days we'll release `v0.8.1` which will ship with the fix. Sorry for the problem.

[2016-08-10 07:31] #634 closed

[2016-08-10 07:34] sirmike commented on #634
Great, I will use a patch till then. Thank you for the info. 👍

[2016-08-10 09:38] k-solutions commented on #610
From any application point I18n is outside there business domain, so it's
make perfect sense to me. Obviously if it need to be front-end accessible
we need to expose it as microservice, yes. For the back end template engine
it may be as simple as Rack Middleware, but my main point is to define a
clear API, which will hide actual implementation and then make this
implementation configurable and ver

[2016-08-10 09:54] pascalbetz commented on #610
@k-solutions

The intent is to use I18n gem. It provides different backends (YAML, Gettext PO Files, DB, ...) and will be hidden through

[code]

What do you think?

Can you detail how the Rack middleware would look like/work?

Thanks for your input!

[2016-08-10 10:24] jodosha commented on #610
@k-solutions A microservice is out of scope: it complicates deployment and introduces performances penalties because translations should be communicated down to the wire rather than accessed from memory.

A Rack middleware is not viable too, because translations would only be available in web contexts, while we aim to make them accessible from all the parts of an application (eg. an entity).

[2016-08-10 15:49] #629 closed

[2016-08-10 15:49] jodosha commented on #629
@Defman21 I'm sorry about this problem. The fix was merged. Expect a patch release later this week.

[2016-08-10 16:24] mrkaspa opened #635 "why is not sequel the default ORM or provide a flag to generate the project with this?"

[2016-08-10 17:06] cllns commented on #635
@jodosha is working to change the back-end of `hanami-model` to use Ruby Object Mapper (rom) instead of Sequel.

You're free to use Sequel. `hanami-model` is *not* a dependency of the full `hanami` framework. Instead, we include `hanami-model` in the generated Gemfile. This makes it easy for you to swap it out for something else. Just remove `hanami-model` and add `sequel`.

Also, we prefer Issues

[2016-08-10 17:30] sirmike commented on #634
I am not sure if it's related. Checked out on master and code is indeed reloaded, but assets are not refreshed on change. Will try to investigate.

[2016-08-10 19:21] mrkaspa commented on #635
@cllns great thx

[2016-08-10 19:21] #635 closed

[2016-08-11 07:26] k-solutions commented on #610
Well then we left with Rails approach to integrate I18n deep into framework
...at least consider make it optimal ....

Side note ...not sure it make sense for business use case to have I18n on
entities ...

On Aug 10, 2016 1:24 PM, "Luca Guidi" <notifications@github.com> wrote:

[2016-08-11 07:38] jodosha commented on #635
Because this is a recurring question, I added an article in our Guides with the instructions: https://github.com/hanami/hanami.github.io/commit/bf8d879cd613a91e7536fa5bf42158573204c9b7

[2016-08-11 08:09] jodosha commented on #634
@sirmike Please let me know as soon you find something relevant. Thanks!

[2016-08-11 19:18] esender opened #638 "Duplicate middlewares in the stack"
Hello!

I have setup Hanami with [omniauth-google-oauth2](https://github.com/zquestz/omniauth-google-oauth2) and experienced weird behavior of callback_request, it was called twice according to console.

After some investigation, I found, that Hanami pushes each middleware [to the `@stack` variable](https://github.com/hanami/hanami/blob/master/lib/hanami/middleware.rb#L66) twice. First time when t

[2016-08-12 07:20] jodosha commented on #638
@esender Hi, can you please paste here (or gist) the content of `@stack`? Thanks!

---

I'm afraid that the uniqueness must be consider all the values (`middleware`, `args` and `blk`) and not just the `middleware`.

Let me give you a naive example: imagine a Rack middleware for logging. We want to mount multiple instances, but with different log levels passed as argument.

[code]

With that propos

[2016-08-12 09:31] TiteiKo opened #639 "Generated view spec"
Hi all,

I was wondering why the default test in the generated view spec looks like this:

[code]

As this test will pass no matter what, wouldn't it be better to have a test like

[code]

It ensures that the view renders, which is imho the view equivalent of the action test "it is successful". The actual test being always successful, it's easy to forget to actually test the view.

This is really

[2016-08-14 11:00] esender commented on #638
My fix is only a naive solution and is not for production use.

I have prepared a simple example to show how to reproduce the bug in this [repository](https://github.com/esender/duplicate_middlewares_example) with description of required steps in [README](https://github.com/esender/duplicate_middlewares_example/blob/master/README.md). This repo contains only Hanami and simple [middleware](https://

[2016-08-14 12:17] akhramov commented on #623
Regarding

Other Thor-based projects experience the same issue as well.
calabash/run_loop#226

As a workaround we could override [Thor.banner](https://github.com/erikhuda/thor/blob/v0.19.1/lib/thor.rb#L367-L369) method:

[code]

It should fix the Usage banner:
[code]

[2016-08-16 08:16] jodosha commented on #638
@esender Here's my output, isn't this the expected behavior?

[code]

[2016-08-19 08:14] #631 closed

[2016-08-19 09:18] sibojia opened #640 "static files failed to serve automatically with multiple apps"
There is a potential issue about `Static asset serving`. It's suspect that the container failed to load static files correctly for multiple apps if the mount path is not default.

The demo project and the steps to reproduce can be found in
https://github.com/sibojia/static_path_test

Thanks!

[2016-08-20 10:02] esender commented on #638
I still have this issue in my environment. I've tested with OSX and Ubuntu, both ruby 2.3.0 and 2.3.1
I’ve also asked my friend to setup this test project, he got the same result.
Could I ask you to double check it again?

[2016-08-21 19:56] thhermansen opened #642 "dry-validation: Validate a request with arrays of hashes."
Hi,

Thank you for Hanami!

I'm in the middle of upgrading a project to latest version (0.8) which includes dry-validation and have encountered an issue when I want to validate arrays of hashes. I cannot make it work.

I'm calling an action with the following structure:

[code]

In the action I have tried to express validation for this structure, but I am unable to do so and at the same time get t

[2016-08-21 20:04] thhermansen commented on #642
I'm tried to reproduce the issue with this [test in hanami controller](https://github.com/thhermansen/controller/commit/dec2d25f8328287be8d5e8890dda3783b24fefd1), but it seems like I wasn't able to reproduce the situation there.

However, the `Hanami::Action::Params` subclass I defined in this test and it's validation definitions are the same as in my Hanami application in the previous post.

[2016-08-22 08:03] thhermansen commented on #642
So, after finding out the issue wasn't present in [hanami controller gem](https://github.com/hanami/controller/commit/fde897567af5405a47c21d56ad4504897c877fd8) I did some more testing and found out [that this commit in controller](https://github.com/hanami/controller/commit/717f0c2ee9c7938dfc170db08a8880c445401de6) fixed my issue.

So, for anyone else encountering this issue, tracking master (In y

[2016-08-22 08:03] #642 closed

[2016-08-22 15:51] fidothe opened #643 "Application configuration double-executed"
Application configurations are double-executed when running `hanami server`.  The first time is when https://github.com/hanami/hanami/blob/master/lib/hanami/commands/server.rb#L25 runs, and the second by starting the app (https://github.com/hanami/hanami/blob/master/lib/hanami/commands/server.rb#L33 or https://github.com/hanami/hanami/blob/master/lib/hanami/commands/server.rb#L35).

This produces

[2016-08-22 15:56] fidothe commented on #638
Hey, we just came across this (it's new in 0.8). It's actually a symptom of a deeper underlying issue: The configuration block is being executed twice, so `middleware.use` gets called twice. I've opened a separate issue over at #643 for this

[2016-08-23 05:47] bruz commented on #640
Thanks for the example app demonstrating the issue, that's always a big help.

I can confirm `test.js` from the `web` app serving from the `another` app at [http://localhost:2300/home](http://localhost:2300/home) if there isn't a separate mount point specified for the `web` app. That doesn't seem ideal but is there a case where the two apps wouldn't be mounted at different paths in practice? I'm c

[2016-08-24 03:55] sibojia commented on #640
Thanks @bruz for your help! I'm new to hanami and encountered this problem when I'm following the get-start guide. I'm sticking with the 'another' app and don't want to mount the default 'web' app. Actually I think use cases exist when containers are deployed on different servers and some need to mount only one of the apps (e.g. client app) ?

[2016-08-25 07:39] bruz commented on #640
That's an interesting use case, I was thinking in order to serve an app separately it would be broken out as a separate codebase. But, even with what you're proposing, it looks like commenting out `require_relative '../apps/web/application'` app in `environment.rb` gets it to not serve assets from the `web` app, which is at least a workaround.

In terms of not serving assets if the app isn't mount

[2016-09-15 16:04] dikond opened #646 "Issue with load_paths"
Hello everyone :v:

We've encountered some odd behavior when trying to configure our application. At the moment, I am not sure how `load_paths` works. Does it load files immediately or not?

So in the `class Application < Hanami::Application` I had to add `require_relateve` per each `include` under `controller.prepare`, whereas my friend doesn't `require` these modules and it works just fine. We h

[2016-09-15 17:35] cllns commented on #646
Are you both using `HANAMI_ENV=development`? Can you try with `HANAMI_ENV=production`?

[2016-09-16 08:08] dikond commented on #646
Originally, we've tried with `bundle exec hanami s`. I've also tried as you suggested - the result is the same.

[2016-09-26 19:26] uaihebert commented on #625
Hey, I have created a PR with this implementation. I believe that is an useful and easy to create feature. ( :

[2016-09-27 21:01] toch commented on #625
what about my PR previously submitted #627 ?

[2016-09-29 04:43] uaihebert commented on #625
Ops, Did not notice your PR. Sorry.

[2016-09-29 09:15] toch commented on #625
@uaihebert no worries. Maybe there is good thing we can merge together?

[2016-10-01 11:24] sandelius opened #648 "Move mailers to apps"
In my opinion mailers are not part of the business logic and should be moved into each app. SMTP configurations might go in ./config/mailer.rb or something tho.

I've looked at the source and I think we need to duplicate the mailer the same way we do with the view layer.

What do you guys think about this?

[2016-10-03 16:04] vladdypwnz opened #649 "No redirect_to :back?"
I checked out the source and it doesn't seem like that's possible. Is this something that's PR worthy? Should a current template be re-rendered instead or something?

[2016-10-03 16:23] vladdypwnz commented on #639
Minimalistic. I like it.

[2016-10-03 16:47] mereghost commented on #648
Hmmm... not sure if that is so black & white. I can agree that some mailers are unrelated to the business logic and may be part of the apps, but surely not all of them.

If you want to send an email to a new user for confirmation, you might want to do that for every app that you may have. The templates might (or not) differ a bit, but the business value is there.

[2016-10-03 17:41] cllns commented on #649
Looks like [Rails now advocates using `redirect_back`](https://github.com/rails/rails/blob/1d6b77cc4dcda6643f14e7b57eed121eedede84d/actionpack/lib/action_controller/metal/redirecting.rb#L88) with a required fallback location param, instead of `redirect_to :back`. I think this a better approach, since not all web clients send the `Referer` header, and we need to have a back-up plan.

I'm open to th

[2016-10-03 20:54] uaihebert commented on #625
Mine approach is different from yours. I will close my pr. ( :

[2016-10-06 19:49] wilsonsilva opened #650 "Unable to login via OAuth2 - OmniAuth::Strategies::OAuth2::CallbackError"
I was following [this tutorial](http://monterail.com/blog/2016/hanami-with-oauth/) to create [this example app](https://github.com/tobiaszwaszak/hanami_oauth_sample) which uses omniauth to login with Github. It was built with Hanami `v0.7.2` and it works absolutely fine.

But if I update Hanami to version `v0.8.0` it will no longer authenticate. This only happens if I run the app with `hanami serv

[2016-10-06 20:42] mereghost commented on #650
Maybe it's related to #643 ?

[2016-10-07 15:16] rafaels88 opened #651 ".env not working in production"
I just updated my Hanami application from `0.7.0` to `0.8.0` and `.env` file is not been loading in production. After reviewing `environment.rb` file in `0.8.0` version, I saw this line:

[code]

So, I tried to change my `.env` file to `.env.production` and it worked.

It seems that the solution for this is pretty simple. =)

[2016-10-07 15:24] cllns commented on #651
Thanks for opening this issue! 🌸

We use the `dotenv` gem for this functionality. It's _only_ in the `:development` and `:test` groups, so it shouldn't be loaded in production. See here: https://github.com/hanami/hanami/blob/master/lib/hanami/generators/application/app/Gemfile.tt#L40-L42

We want to discourage people from having production environment variables in source control. I think this expe

[2016-10-09 09:36] kkolotyuk commented on #646
I have the almost the same problem but with other files. I'm on 14.04 (also tried on 16.04). My colleges with macbooks don't have this problem.

[2016-10-10 07:43] tobiaszwaszak commented on #650
Yes, its related to #643
I replaced hanami gem with this PR and it works fine

[2016-10-10 15:24] rafaels88 commented on #651
Humm I see. That's fair enough. But, as you said, it would be nice to have a documentation mentioning a good way to set ENV variables in production, without using `.env` file. I mean, in a AWS-like environment probably there will be a dashboard where you just configure that, but in a Digital Ocean-like it is not trivial (at least for me) how to solve that without a `.env` file in production.

Also

[2016-10-10 21:44] cllns commented on #651
Just added an issue to create an Environment Variables guide :) https://github.com/hanami/hanami.github.io/issues/224

Feel free to open a PR against https://github.com/hanami/hanami.github.io/ for any error you see in the Guides, and in each repo if it's in Rdoc/comments :)

Also, I'd probably recommend using `.env.production` instead of just `.env`, just to signify that it's really just for prod

[2016-10-13 21:11] greggilbert opened #653 "Hanami::Utils::Hash#symbolize! does not handle arrays"
I'm not sure if `symbolize!` is supposed to be in or if it's deprecated or what, but it doesn't handle nested arrays. Consider:

[code]

I'd expect `hashed` to have [`:bar`] and `[:bat]`, but they remain as strings.

[2016-10-14 16:43] jodosha commented on #648
@sandelius Is right and I agree. This was already in my mind for long time.

As of `hanami` 0.8.0, mailers are inside project's `lib/`. This choice was demanded by one golden rule of Hanami: let the applications (`apps/`) to depend on core (`lib/`), but **not** viceversa.

Because the core usually includes _interactors_ and they may want to deliver emails, we were forced to put emails in the core

[2016-10-18 00:01] TrevorBramble commented on #646
Another data point, co-worker and I are experiencing the same difference in the _opposite_ direction. Works without errors on my Linux, but hits uninitialized constant on his Mac. I suspect this has to do with how files and directories are ordered on the systems, either by the OS or by Ruby when recursing through the directories given to `load_path`, so with that in mind here's some more info.

Ou

[2016-10-18 03:55] cllns commented on #646
It looks like [`load_paths` calls `Dir.glob`](https://github.com/hanami/hanami/blob/113eeb41df8e9c5b8d763b2a6e40d68e9ff61885/lib/hanami/config/load_paths.rb#L16), which is [apparently different on different operating systems](http://stackoverflow.com/a/5529966).

Can someone try:
[code]

Let me know if it works and I'll open a PR 💖

[2016-10-18 06:58] kkolotyuk commented on #646
@cllns it helps me!

[2016-10-19 06:40] sandelius opened #656 "Allow host to be set when mounting apps in the container"
It would be really nice to set a host (String, Regexp) in the container like this:

[code]

[2016-10-20 02:17] b264 commented on #651
What if folks have `.env.production` ignored in source control?  ( `.gitignore` for example )

[2016-10-21 14:09] #646 closed

[2016-10-22 12:28] jodosha commented on #643
@fidothe Hello. This is fixed by https://github.com/hanami/hanami/commit/4de8fd5ba80f14f38ddccee3ad0a696cef5b3bb3, which will be merged soon.

[2016-10-22 13:32] jodosha commented on #638
Fixed by https://github.com/hanami/hanami/commit/115b3302a20bc7717538d1d1580ea62a66ed3a1d

[2016-10-23 09:36] jodosha commented on #625
Implemented by #627

[2016-10-23 09:36] #625 closed

[2016-10-24 07:00] jodosha commented on #651
@rafaels88 Hi 😄 . I think it's just a matter of documentation, we can write a clear statement about the `.env` expectations in production, why we it's a bad idea to have it in production.

We can cover most common vendors (Heroku, AWS) too. But we expect people to understand their deployment environment.

---

@b264 Hey :) I think that adding `.env.production` in source control is misleading becau

[2016-10-24 07:00] #651 closed

[2016-10-24 07:09] jodosha commented on #656
@hanami/core-team @hanami/contributors WDYT?

[2016-10-24 07:11] jodosha commented on #650
@wilsonsilva Thanks for reporting this. #643 Is fixed in a soon-to-be-merged branch. I'll let you to know when. Thanks! /cc @mereghost @tobiaszwaszak

[2016-10-24 07:12] AlfonsoUceda commented on #656
@sandelius could you provide an example? I mean, what do you want to do with that option? I can imagine urls will be generated to that endpoint, but if you can explain a little more.
Thanks!

[2016-10-24 07:15] jodosha commented on #639
@TiteiKo Hi 😄  The reason why we have that filled hash is to demonstrate how to pass exposures and how to use them. Having that stupid example teaches how to do without the need of reading the guides to unit test a view.

That being said, I'm not thrilled by this specific solution. If we can teach how to use exposures in unit tests in a better way, I'm absolutely open to change it. Just open a PR

[2016-10-24 07:15] #639 closed

[2016-10-24 07:16] jodosha commented on #520
@joneslee85 I'll take care of this. With the upcoming `components` branch we can easily solve this issue.

[2016-10-24 07:25] sandelius commented on #656
Let's say I have two apps, one called web and one called api. I want bort to be served from `/` but the API will only be served from the `api.` subdomain.

[code]

ping @jodosha @AlfonsoUceda

[2016-10-24 08:12] fidothe commented on #643
@jodosha fabulous, thanks!

[2016-10-25 16:34] mereghost commented on #656
@sandelius A rewrite rule (on the http server) wouldn't suffice for that?

[2016-10-26 18:07] sandelius commented on #656
@mereghost yeah we can do it there but not everyone have access to it easily. I can do it like that but I think it's a feature that should be in Hanami.

Also it would make it a bit easier during development.

[2016-10-26 18:26] TiteiKo commented on #656
As far as I've tried, rewrite rules don't necessarily do well with non-GET http methods, so that might be a problem for an api

IMHO, it's a feature that should be in Hanami, as it is in line with the container architecture and it's common to have/need subdomains like `admin.example.com, dashboard.example.com, api.example.com, ...` or even an entirely other domain.

[2016-10-26 18:33] TiteiKo commented on #649
I agree that it's easy to implement it if needed, but it would be a good idea to document it somewhere. I've not had a lot of use cases where a redirect back was necessary...

@vladdypwnz basically, when a submission fails, you should re-render the template, not redirect back, otherwise you'll lose your form errors

One of the only redirect back use case is on user login within the page where he m

[2016-10-26 18:38] mereghost commented on #656
@sandelius I see. The thing is that a server will need to be setup hear to that subdomain and whatnot, so a bit of Ops work goes there so it would be simpler to leave routing subdomains (and internal rewrites) to the proven tech that already does it. =) Besides it's less code to maintain.

 That being said, if implementing that would be a breeze, I'm all for it. 👍

@TiteiKo I'm not sure that I fol

[2016-10-26 18:41] pascalbetz commented on #656
@mereghost

Hanami Supports the "Container Architecture". You can think of it as multiple, separated apps inside one Application.

[2016-10-26 19:12] mereghost commented on #656
@pascalbetz Yep. I know that, i just fail to see how that relates to supporting multiple (sub)domains.

[2016-10-26 19:15] pascalbetz commented on #656
@mereghost almost expected:-)

You could imagine mounting apps on subdomains instead of paths.

[2016-10-26 20:46] joneslee85 commented on #656
It is indeed an interesting usecase. I myself question if it should be in hanami as it adds much more complexity. This usecase could be solved with external devops stack instead by running apps on different instances.

FYI, I find it is similar to Rails routing constraint http://guides.rubyonrails.org/routing.html#request-based-constraints

[2016-10-26 23:18] joneslee85 commented on #649
I am with @TiteiKo on this. It is pretty trivial to implement. The question is should we? There are certain patterns that Rails advocates that has proven not-so-good practice. I am open for more input if this pattern proves useful.

[2016-10-27 04:57] cllns commented on #649
I also agree with @TiteiKo. We should document this feature, not implement it. Implementing a half-baked (because it requires a fallback URL for when 'referer' isn't set) solution seems like a bad idea. The doc note could go here: http://hanamirb.org/guides/actions/control-flow/ ?

[2016-10-29 10:18] arjunmenon opened #658 "Docs"
This is an issue.

In the overview itself, it is mentioned change would be a challenge. Learning Hanami would be hard. That is because, Rails has become THE way to develop web app and so, the style, architecture it follows, guidelines, philosophies, principles, conventions has been accepted and become muscle memory.

The issue here is, the Hanami docs don't mention how much and in what way it diff

[2016-10-29 23:40] beauby opened #659 "Custom generators"
What is the recommended way to add custom generators for Hanami as part of a gem?

[2016-10-30 08:09] smaximov opened #660 "Consider marking generated tests as skipped/pending"
This primarily applies to the "action" generator.

When running Hanami generators, they are usually generate some tests as well. And while the [setup part](https://github.com/hanami/hanami/blob/8ed4acba0ca268ba6c78f74c4a01e4a7c4a49118/lib/hanami/generators/action/view_spec.rspec.tt#L4-L7) of these tests is great, the [actual test](https://github.com/hanami/hanami/blob/8ed4acba0ca268ba6c78f74c4a01e

[2016-11-02 16:38] cllns commented on #660
I like this idea!

[2016-11-02 16:56] cllns commented on #658
Thanks for this issue! We all agree docs are super important, and we appreciate the honest feedback. Really.

I like the idea of developing some sort of "mission statement" or even just listing some "guiding principles" for Hanami, like _simple_ vs. _easy_. Single-responsibility principle (or even [SOLID](https://en.wikipedia.org/wiki/SOLID_(object-oriented_design)) as whole), [Domain-driven desig

[2016-11-02 17:07] cllns commented on #656
It looks like this might already be partially supported? For a string (not a regex) specifying the entire host (not just the subdomain): https://github.com/hanami/router/pull/104

Also, this is a duplicate of https://github.com/hanami/router/issues/48

[2016-11-02 17:12] cllns commented on #659
This might help: https://github.com/davydovanton/hanami-scaffold/blob/master/lib/hanami.rb

[2016-11-02 17:28] beauby commented on #659
Yeah I've seen that. However the problem with that approach is that depending on the order in which `hanami` and `hanami-scaffold` are added to the load path, `require hanami` may or may not load the `hanami-scaffold` `hanami.rb`.
Moreover, this approach does not allow multiple gems to define new generators.

[2016-11-04 03:45] beauby commented on #638
Should we close this then?

[2016-11-04 05:46] joneslee85 commented on #638
@esender can you please verify if the fix works for you?

[2016-11-08 10:22] beauby commented on #623
Possibly related: `$ hanami help generate model` gives the same message as `$ hanami help generate`.

[2016-11-11 12:02] jodosha commented on #623
My experience with Thor (the library that we use for CLI) is that isn't good enough for subcommands.

The current implementation of our commands `lib/hanami/commands` is messy. I'm planning a rewrite after 1.0.

[2016-11-11 12:05] jodosha commented on #658
The main page of the Guides has to be improved, because since when we wrote it, we added more and more value to the framework. Some of these new Hanami features are worth to be mentioned over there.

[2016-11-11 12:07] jodosha commented on #659
I'm thinking of a CLI rewriting after 1.0, because the current implementation is messy.
Adding custom (sub)commands, and custom generators will be in the scope of the project.

[2016-11-11 12:07] #659 closed

[2016-11-11 12:09] jodosha commented on #660
I like it. What the rest of @hanami/core-team @hanami/contributors think?

[2016-11-11 12:11] jodosha commented on #643
As #657 was merged, we can close this too.

[2016-11-11 12:11] #643 closed

[2016-11-11 12:11] jodosha commented on #638
As #657 was merged, we can close this too.

[2016-11-11 12:11] #638 closed

[2016-11-11 12:12] jodosha commented on #650
Fixed by #657

[2016-11-11 12:12] #650 closed

[2016-11-11 12:53] AlfonsoUceda commented on #660
yes, me too 👍

[2016-11-11 12:55] pascalbetz commented on #660
+1

[2016-11-11 16:42] #520 closed

[2016-11-11 17:51] mereghost opened #663 "Format resolving and Template lookup"
As was reported on Gitter, requests that are made with a `Content-Type` of `text/plain` get resolved to the `:conf` format and consequently a `.txt` template is never used.

That happens because we use `Rack::Mime::MIME_TYPES.key(mime_type)` [(see here)](https://github.com/hanami/controller/blob/master/lib/hanami/action/mime.rb#L486) which returns only the first match. The same problem can happen

[2016-11-11 21:17] theCrab commented on #660
Yes +1

[2016-11-15 01:54] createdbypete opened #666 "Force SSL includes default port in redirect"
Experienced in Hanami v0.8.

### Scenario

When the `force_ssl` option is set but `port` and `HANAMI_PORT` are not set the [port passed to `Hanami::Router`](https://github.com/hanami/hanami/blob/0.8.x/lib/hanami/loader.rb#L240) is the default (`2300`) this causes the result http => https redirect to have the port `2300` which causes the response to hang.

See `curl` output below:

[code]

Setting

[2016-11-15 04:48] TiteiKo commented on #660
I wouldn't put the `or delete this file` wording, but something more like `Edit it and add your own tests`, to not openly suggest to people to delete test files, but instead to give them incentive to actually write tests.

[2016-11-17 16:15] davydovanton commented on #660
awesome idea 👍

[2016-11-18 00:19] nicosuave opened #668 "Allow for messages to be passed to custom error pages"
As much as I appreciate the ability to set a custom error page template for [each status code](http://hanamirb.org/guides/views/custom-error-pages/), sometimes I find myself needing more granularity.

I would like to expose a view method with the message passed into `#halt` from the controller action.

I am aware that I can effectively accomplish the same thing by:
- calling `status` instead of `h

[2016-11-20 19:13] beauby opened #670 "Consider generating a migration when generating a model"
Generating a model (via `$ hanami generate model foo`) currently generates an entity along with a repository (but no migration). However, repository schema inference expects a corresponding table to exist, so generating a model effectively leaves the app in broken state (unable to boot).

[2016-11-22 09:06] jodosha commented on #670
What the rest of @hanami/core-team @hanami/contributors think?

If we're going to implement this, we should also consider to add a `--skip-migration` flag.

[2016-11-22 13:40] beauby commented on #670
Having it generate a migration by default (if corresponding table does not already exist), and exposing a `--skip-migration` option seems like the way to go. :+1:

[2016-11-22 17:34] cllns commented on #670
I think generating a migration by default is a good idea (along with `--skip-migration`).

Do we want to leave them blank, or should we allow attributes to be passed as well?

For example: ```hanami generate model Person name age:integer``` (where `name` is a string by default). I'm in favor of that, but happy to leave that feature to future work, and just add a blank migration for now :)

[2016-11-22 22:52] theCrab commented on #649
@cllns Do you want me to include this in the docs. I agree this is too trivial for a framework support. It should be left to dev to implement really.

[2016-11-22 23:24] cllns commented on #649
Go for it @theCrab :) Thanks

[2016-11-24 22:13] theCrab commented on #670
I would leave them blank, but put an example structure in the file as a comment.

[2016-11-24 22:14] theCrab commented on #660
This is done.

[2016-11-24 22:15] AlfonsoUceda commented on #660
Closing by #664

[2016-11-24 22:15] #660 closed

[2016-11-24 22:25] beauby commented on #670
@cllns I don't feel strongly about the auto-creation of attributes (it's clearly a nice feature to have, but it's not _that_ important), so I'd vote for leaving it to future work (talking about future work, it would be nice to have a place listing some wanted non-core/easy to implement features for new contributors).

[2016-11-24 23:09] jodosha commented on #670
What I'd do is:

[code]

Which will generate this migration:

[code]

Thoughts?

[2016-11-24 23:17] theCrab commented on #670
I think that is a better improvement @jodosha

[2016-11-25 12:36] beauby opened #673 "Consider adding `--api` option to generator."
It would basically remove the view and assets-specific generated code, but also the hard-dependency on `hanami-view` and `hanami-assets` in the generated Gemfile.

Modifications include:
- not generating views, templates, and specs for those
- in the generated application, no configuration for views and assets, no `views/` in the load paths

[2016-11-25 12:51] beauby opened #674 "Consider adding a centralized list of "good for new contributors" issues."
It would help engage the community and raise exposure. It could also link to issues on non-hanami but related projects (like ROM, rspec-hanami, etc.).

[2016-11-26 13:26] davydovanton commented on #674
hey, what do you mean on this? You want to see list for people how want to contribute or list with helpful projects?

[2016-11-26 13:45] beauby commented on #674
@davydovanton I meant a list of issues that the hanami maintainers want solved, and that are easy enough to tackle and not too high priority so that they can be left to new contributors.
I know that for the latter you're already keeping the [http://awesome-hanami.org/](http://awesome-hanami.org/) list ;).

[2016-11-26 14:58] devonestes commented on #674
I think the way that this is handled for many projects is to have something like a `good_first_patch` label on certain open issues that maintainers leave for new contributors. That's typically easier to manage (from a maintainer's perspective) than keeping a separate list.

[2016-11-26 15:08] davydovanton commented on #674
@beauby okay, I understand you. Now I'm working on my personal project which solves this problem. I hope I'll publish the first version of this project at the end of November.

But now you can check issues from all projects from hanami-awesome :)

@devonestes you're right 👍

[2016-11-26 15:12] beauby commented on #674
@devonestes Agreed, though the centralization could take the form of an org-level GitHub project.

[2016-11-26 16:24] mereghost opened #675 "LoadError on action execution when not started by hanami server"
Hello everyone,

On a fresh hanami application when running the server directly (i.e `bundle exec puma` , using `bundle exec` as soon as a Repository is called, the server throws a LoadError.

It seems that the Hanami boot process (`Components.resolve('all')`) isn't called by `Hanami.app`, that leads to `hanami-model` not to be correctly initialized.

A simple fix is to call `Hanami.boot` on the `

[2016-11-26 22:24] jodosha commented on #673
@beauby Generator for what?

[2016-11-27 00:56] beauby commented on #673
@jodosha I meant for `$ hanami new`.

[2016-11-28 14:46] olistik opened #676 "avoid the need for `bundle exec` prefix"
## Expected behavior

[code]

## Current behavior

[code]

## The Rails-way

[code]

In `/Users/olistik/.rvm/gems/ruby-2.3.1/bin/rails`:

[code]
## railties gem

Within `/Users/olistik/.rvm/gems/ruby-2.3.1/gems/railties-5.0.0.1`:

[code]

[code]

[code]

## TL;DR

It boils down to detecting the context of the caller (creating a new Hanami app or invoking a command within an already existing applic

[2016-11-28 17:22] cllns commented on #676
Thanks for this issue. The way I get around this is alias `bundle` to `b`, so I can do `b e` which is now just how I prepend all my ruby commands (I also have `be` as `bundle exec`, for typos 😇)

Overall, this change would improve the immediate user experience, since it means developers have less to worry about and learn. In the long run though, it obscures the importance and meaning of `bundle ex

[2016-11-28 18:17] b264 commented on #676
Encouraging learning more about the Ruby ecosystem is great, but also anything making it more difficult for beginners to start is a net loss for all of us, in my opinion.  Also, the trend in CS is to abstract away more mundane details as time goes by and start focusing more on the core issues making your software different from other software.  So, while I _highly_ appreciate the point made above,

[2016-11-28 18:27] mereghost commented on #674
Tagging the simple issues as `good-first-contribution` (or something like that) would help a lot with some minor effort (as there aren't that many issues open).

[2016-11-28 18:29] mereghost commented on #674
@beauby Centralization could be even on hanami.org as all that is needed is query the github api for issues with the said tag on hanami organization's repos.

[2016-11-28 18:30] mereghost commented on #673
Am I the only weird one that renders the JSON responses on the view layer? =/

[2016-11-28 19:14] devonestes commented on #674
@beauby @mereghost Yeah - along those lines, the easiest thing for the maintainers to do would probably be to just link to a GitHub search page (like this): https://github.com/search?l=&q=repo%3Ahanami%2Fhanami+repo%3Ahanami%2Fhelpers+repo%3Ahanami%2Fmodel+state%3Aopen+label%3Agood_first_patch&ref=advsearch&type=Issues&utf8=%E2%9C%93

[2016-11-28 19:32] mereghost opened #677 "Environment rake task depends on preload, which does not exist anymore"
Well... as the title says. The `:environment` rake task depends on the `:preload` task that was removed just before the 0.9 release.

As far as I understand, the `:preload` task shouldn't even be needed anymore so the simple fix would be remove `:environment`'s dependency on it.

[2016-11-29 13:31] jodosha commented on #610
I'm closing this for now, but I'd like to resume the discussion with all of you after 1.0.

[2016-11-29 13:31] #610 closed

[2016-11-29 13:37] jodosha commented on #649
@vladdypwnz

yes

---

Because you all voted against it, I'm removing the `feature` label and closing it.

[2016-11-29 13:37] #649 closed

[2016-11-29 13:42] jodosha commented on #676
It would be nice to have.

@olistik What happens when someone still types: `bundle exec rails ...`?

@cllns I'm not sure if your pro or against this feature.

[2016-11-29 13:57] jodosha commented on #674
Hey folks, this is a link that we used to share on Twitter from time to time: http://bit.ly/hanami-help-wanted

This expands to https://github.com/search?l=&q=user:hanami+state:open+label:help-wanted&ref=advsearch&state=open&type=Issues

Indeed we have a `help-wanted` label across the repos of Hanami.

@davydovanton Isn't this the easiest way to solve this problem?
@cllns Where do we can place thi

[2016-11-29 14:01] jodosha commented on #673
@beauby We just removed one architecture named "application", which was similar to your idea. But the burden of maintaining it, wasn't worth the effort.

After 1.0, we can decide to have another gem only focused to it.

[2016-11-29 14:04] jodosha commented on #673
@mereghost

Nope, I'm delegating it to the view too. It's speculative to assume that all the devs won't use the view layer.

---

For now devs can generate a new app within a project, and threat it as an API.

[2016-11-29 14:04] #673 closed

[2016-11-29 14:07] jodosha commented on #668
@nicosuave Hi, can you please describe in terms of code what do you mean? I'm not 100% sure of have grasped what you have in mind.

[2016-11-29 14:15] davydovanton commented on #674
@jodosha good idea. I think we can put this link in to "community" section of site. Also I think we can write about some "help wanted" issues in mail. What do you think?

Also we can create special page with all issues (like gem status).

And the last idea. I told you about my project. We can use it for "help wanted" issues. But now this project is only prototype and I really want to make first pr

[2016-11-29 14:55] jodosha commented on #663
@mereghost I think the problem is in the lookup from the mime type textual representation (`"text/plain"`) to the symbol (`:txt`). IMO `view` has nothing to do with it, as it only accepts the result of that lookup. So `view` is decoupled from `controller`.

Can you please have a look at `controller`? Thanks!

[2016-11-29 14:57] jodosha commented on #674
Does that would involve manual maintenance of a page from the website? Isn't it too much burden?

[2016-11-29 15:02] jodosha commented on #658
@arjunmenon Thank you for the suggestions. I've opened tickets over our website's repository.

[2016-11-29 15:02] #658 closed

[2016-11-29 15:10] mereghost commented on #663
@jodosha In fact, `controller` is the one responsible for the [behaviour](https://github.com/hanami/controller/blob/master/lib/hanami/action/mime.rb#L486). But a change in controller can lead to a change in template lookup, i.e. if Action pass an array of possible file extensions to `view` so it can look for all possible templates.

A nice way to expose the problem is commenting [this line](https:

[2016-11-29 15:42] olistik commented on #676
@jodosha

Just Bundler doing the same thing twice, that is slowing the startup time of the command.
That would be useless.

[2016-11-29 16:48] jodosha commented on #676
@olistik Cool, just wanted to make sure it was working. Thanks.

[2016-11-29 17:00] jodosha commented on #663
@mereghost Please make sure that if we're gonna introduce a list of possible MIME types, views unit tests won't increase the complexity of their setup.

I'm talking about the `let(:view)` block in the testing code that we generate.

---

An alternative approach to investigate is to only use a subset of `Rack::Mime::MIME_TYPES`, by manually picking the most common MIME Types and avoiding key duplic

[2016-11-29 17:50] mereghost commented on #663
That second approach may make more sense. I'll make a sweep on `Rack::Mime::MIME_TYPES` and post a list here of let's say, 10-20 more common types for further discussion.

[2016-11-29 18:07] cllns commented on #676
@jodosha I'm weakly against it. If others want it, that's fine :)

[2016-11-29 22:28] cllns commented on #674
@jodosha `help-wanted` is not quite the same thing as `good-first-patch`. That is, `good-first-patch` should always have `help-wanted` too, but not all `help-wanted` will be good for first patches.

I think we should add `good-first-patch` as a tag. We can add a link to the `help-wanted` tag and then people can see which are good first patches there. Thoughts on that?

[2016-11-30 07:08] #677 closed

[2016-11-30 10:08] jodosha commented on #674
@cllns Okay. @hanami/issues please join the discussion and take a decision.

[2016-11-30 13:49] jodosha commented on #674
I mean, take a decision all together 😉

[2016-11-30 19:49] cllns commented on #666
😈

[2016-11-30 20:10] mereghost commented on #663
Okay, I did some work and tried to narrow the mime types to the ones listed below, mainly JS, HTML, Audio, Image and Video. Did I miss something?

[code]

[2016-11-30 21:03] AlfonsoUceda commented on #674
Folks I like the idea but do we need to be too granular? I mean we can do it an create a search like the bit.ly link we have for `help-wanted`, but usually issues with label `help-wanted` aren't critical so everyone can do it.

[2016-11-30 21:40] beauby commented on #674
The exact way this is handled does not matter much. However, what's important is that those issues are easily identifiable and that a list of those is easily accessible. I'd vote for a distinct `good-for-new-contributors` tag rather than relying on the `help-wanted` one (because it clearly states that it will be easy and does not require in-depth knowledge of the framework). That, combined with an

[2016-12-01 07:40] TiteiKo commented on #676
I agree with @cllns arguments, but I'm a bit more than weakly against it..

There's 3 types of people at hand here:

* **Ruby total beginners** who are reading the docs, and who most likely copy/paste the given commands. For them, I think we should add a quick note on why Bundler, its role and how to make an alias for it.
* **Hanami beginners** who already know bundler, have their alias, they use

[2016-12-01 09:50] vidmantas opened #681 "Module under /lib is picked up as an app in 0.9 when it is referenced in routes"
Hello,

I was trying to upgrade existing app from 0.8 to 0.9, but ran into the following exception:

[code]
[full stacktrace](https://gist.github.com/vidmantas/a06f54ce4d0ef88eacf6d8d783d25fe2)

Problem is that `Youtrack` is just a plain module (for business logic) under `/lib`. A folder `/lib/youtrack` also exists.

It is possible to replicate the situation on the fresh Hanami app pretty easily:

[2016-12-01 10:07] TiteiKo commented on #648
Just a thought here... How about a `mailers/` root directory?

Mailers are deliverability mechanisms, but are not web apps, so they should not be in the apps directory.

It would allow mailers to have their own assets access, and be accessible from interactors or across different apps (like an admin app re-sending an user confirmation email for example)

[2016-12-01 10:16] TiteiKo commented on #681
Your files just aren't loaded anywhere

How to fix:

in `config/environment.rb`:
[code]

in `lib/unrelated.rb`:
[code]

[2016-12-01 10:25] vidmantas commented on #681
@TiteiKo yes that helped! Thanks a lot, seems like an overlook from me while migrating the files into the new format.

[2016-12-01 10:26] #681 closed

[2016-12-01 17:10] cllns commented on #648
I like @TiteiKo's suggestion. Especially the reasoning: `Mailers are deliverability mechanisms, but are not web apps, so they should not be in the apps directory.`

[2016-12-01 17:32] #666 closed

[2016-12-02 07:04] #675 closed

[2016-12-02 07:06] jodosha commented on #663
@mereghost Good to go 👍

[2016-12-02 09:20] olistik commented on #676
@TiteiKo

This looks a fair point to me but I'm weakly (non totally :-)) against it because having a command that adjusts itself according to the context of the caller looks legit to me.

The message to the users could simply be

This could be just the expected behavior of a Ruby script with the added value of having a less verbose and central entry point to the project's CLI interactions.
I see a

[2016-12-02 14:41] mereghost commented on #663
Nice! I'll code it in the next few days and send the PR for `controller`

[2016-12-02 20:02] AlfonsoUceda commented on #674
@beauby 👍

[2016-12-02 20:17] cllns commented on #674
Ok @TiteiKo is that good with you too? If it is, let's go for it!

[2016-12-02 22:57] yjukaku commented on #670
I just opened a PR that implements @jodosha 's suggestion of a basic 'create_table' migration, but I agree with @cllns that eventually Hanami should add the ability to specify attributes as well.  It's just so useful, and helps when building quickly (especially if going off of an entity diagram that you've already written).

For example, at the start of a project, I often spend a day or two whiteb

[2016-12-05 16:24] jodosha commented on #663
The fix for this issue [introduces a breaking change](https://github.com/hanami/controller/pull/191#discussion_r90884501). We should ship this with v1.0.0.beta1 series, rather than with the 0.9.x one.

[2016-12-06 12:20] serradura opened #683 "Project creation doesn't create a test database"
Hello everyone,

It's my first time using hanami! I've been following the [Getting Started guide](http://hanamirb.org/guides/getting-started/) to create my new project, and after I created it using the `--database=postgres` and wrote the [first test](http://hanamirb.org/guides/getting-started/#exploring-app-by-writing-our-first-test). I saw this error after executed `rake test`.

I'm using the 0.9

[2016-12-06 13:17] jodosha commented on #683
@serradura Hi and thanks for opening this ticket.

No this isn't a bug, it's expected.
We support `RACK_ENV`, but the better way to do that is:

[code]

I understand that this can be confusing, so we should improve the Getting Started guide. Would you like to contribute?

/cc @hanami/issues @hanami/community

[2016-12-06 13:17] #683 closed

[2016-12-06 16:37] jodosha commented on #674
Pinging @hanami/community too. 😄

[2016-12-06 16:42] jodosha commented on #670
@yjukaku Thanks again for that PR. When you can, please have a look at my comments.

My suggestion is to take baby steps here. Let's make this to work, then we can add attributes as CLI arguments.

---

I respect your way to work, but we want to discourage this waterfall planning. We put in place strong tools for BDD/TDD and agile iterations.

[2016-12-06 16:51] jodosha commented on #648
@TiteiKo Interesting abstraction. But I'm afraid, this would introduce a bunch of new problems. Circular dependencies between components, where an action from `apps/web` will depend on a mailer in `mailers/`, which may depend on the routes/assets/helpers from `apps/web`.

How could we solve this?

[2016-12-06 18:28] yjukaku commented on #670
You're welcome!

I don't agree that this encourages waterfall planning, but yes, lets get the current PR working before moving on to attributes generation. 👍

[2016-12-07 13:02] rafaels88 commented on #674
Well, taking for me, I tried to help once with an issue and I got in a trouble, because I was new and I had to know too much at that time about the framework to help in that issue. It would be awesome to have a tag like this.

[2016-12-08 07:29] beauby opened #686 "Heroku compatibility / incomplete boot via rackup."
I just did a deployment on Heroku, and the only issue I encountered was that Heroku by default starts the server via `$ bundle exec rackup config.ru -p $PORT`, which leads to the rather unexplicit `#<RuntimeError: Not loaded>` error upon each request. Hanami expects to be started via `$ bundle exec hanami server -p $PORT`.

Is there a specific reason why Hanami would need a custom command to be st

[2016-12-08 12:31] jodosha commented on #686
@beauby Thanks for reporting this. This problem has been fixed by https://github.com/hanami/hanami/pull/679, which should be released in a few days.

I'll keep this open for now.

[2016-12-08 20:22] cllns opened #689 "Expand `rake spec` commands"
Right now, `bundle exec rake` is equivalent to `bundle exec rake spec:unit`.

There's no way to run only integration or isolation specs, other than `bundle exec rspec spec/integration` (etc.)

I propose we add:
- `rake spec:integration`
- `rake spec:isolation`
- `rake spec:all` (aliased to just `rake spec`, to make it easy)

And keep `rake` as `rake spec:unit` so people can run speedy tests when c

[2016-12-08 20:33] AlfonsoUceda commented on #689
thanks @cllns !! I agree with the proposal.

[2016-12-08 20:37] AlfonsoUceda commented on #623
@jodosha I think we should get rid of Thor and use OptionParser from Ruby standard library ;)

[2016-12-09 00:25] cllns opened #691 "Community adjectives"
Currently, we say: "We strive for a Community made of **inclusive, helpful and smart people.**"

Should we drop "smart" here? Everyone using Hanami is clearly already smart 😉

But seriously, I feel like specifically wanting "smart" people implicitly means we don't want "dumb" people. I would hate it if someone refrained from asking a question for fear of being seen as not "smart".

We could replac

[2016-12-09 08:02] oana-sipos commented on #691
@cllns I must admit that ”smart” caught my eye the first time I have read it. I would vote for ”curious” for now. The sole alternative that comes to my mind is ”open minded”.

[2016-12-10 15:10] igneus opened #693 ":environment rake task broken in 0.9.1"
The `:environment` task, [used as a custom task's prerequisite to load application environment](http://hanamirb.org/guides/projects/rake/), is broken in 0.9.1, as it depends on a non-existent task `:preload`.

[2016-12-10 19:55] jodosha commented on #693
@igneus I'm sorry about this problem. We already [fixed it](https://github.com/hanami/hanami/pull/678) and planning to release it soon.

---

In the meantime, do this trick in your `Rakefile`

[code]

In this way, Rake won't complain about it.

[2016-12-10 21:21] igneus commented on #693
@jodosha Thanks.

[2016-12-10 21:21] #693 closed

[2016-12-11 16:59] marionschleifer commented on #691
@cllns @oana-sipos
First of all, sorry for my late reply, I am still on holidays. I would also drop "smart", but I am not sure if I would go with "curious". I like "open-minded", because I think in this context, it has more meaning. I think when you work in a community, being open-minded is more important than being curious. However, "curious" is also not bad...

[2016-12-11 22:30] beauby commented on #691
How about not replacing it at all, and talking about the community itself, rather than its members?

This would also emphasize the community over the individuals, and thus not put a burden on people to intrinsically being in a specific way, but rather to behave according to the community's standards.

[2016-12-12 08:00] oana-sipos commented on #691
Sounds like a better direction @beauby. Like it!

[2016-12-12 10:22] marionschleifer commented on #691
@beauby great idea!

[2016-12-13 02:33] cllns commented on #691
I agree @beauby. great reasoning!

It needs to fixed in this repo and in the website repo: https://github.com/search?q=org%3Ahanami+%22smart+people%22&type=Code

[2016-12-13 10:45] TiteiKo commented on #648
**Helpers:** If a helper is required in several apps or in apps and mailers, it should be placed in `lib/`.

**Assets:** Assets for mailers are quite different from assets for apps: no js, css is in the `head` section and images in a size and format fit for emails. Nowaday, people read their emails mostly on small screens, with a not-so-great bandwidth, so jpg is the best choice, where png is bett

[2016-12-13 15:31] oana-sipos commented on #691
Thanks @cllns for the pointers. I can take care of adjusting it and submit a PR, just to be safe :)

[2016-12-14 11:55] beauby opened #695 "config/environment.rb not requiring initializers nor files in load paths"
While setting up hanami + sidekiq, I came across two hurdles:
+ requiring `config/environment.rb` does not load initializers (which may or may not be the right thing to do, but since sidekiq does not boot the app, but simply requires that file, it forces one to require the sidekiq config directly from `config/environment`)
+ requiring `config/environment.rb` does not load files in the load paths d

[2016-12-14 15:02] marionschleifer commented on #674
I totally agree. I am a junior programmer and I've been wanting to contribute to open source for some time. And it was almost impossible to find something that I could do. A tag like this would help many new programmers 👍

[2016-12-14 15:05] TiteiKo commented on #674
@cllns Sorry for the delay, it's good for me yes! 👍

[2016-12-14 15:09] davydovanton commented on #674
@marionschleifer I'm working on oss issue board for new developers (and junior too). You can find this project here:
http://ossboard.herokuapp.com

It's a simple prototype that's why is empty. But in my plans create the first version at the end of December. I think we can use this board for sharing tasks to new contributes.

@jodosha @cllns what do you think, will it helpful for us?

[2016-12-14 16:31] kaikuchn opened #696 "file not found error / router bypassed"
Greetings, let me first state what a joy it has been to work with Hanami so far! Thank you all so much for putting in the time and effort to build something so grand!

Today, however, I've encountered a weird issue that is probably related to #480 #488 and their fixes #493 and #506. I also believe it or rather its solution to be conceptually related to #640.

I'm building an app called `notificati

[2016-12-14 18:54] cllns commented on #674
I like it @davydovanton! I've thought of making something similar :)

That site would use the `good-for-new-contributors` tag, right?

[2016-12-14 19:18] davydovanton commented on #674
@cllns no, you need to create task by hands. But I'll add integration with github/gitlab issues (`import from` button)

[2016-12-14 19:21] cllns commented on #674
@davydovanton Hm, why not just automatically sync (via a cronjob) using GitHub's API? (eventually, understand that's more work)

[2016-12-15 09:14] kaikuchn commented on #696
Digging into the source code I see that it has changed somewhat since the other issues were resolved.
[Here](https://github.com/hanami/hanami/blob/master/lib/hanami/static.rb#L46) you are explicitly passing in all folders contained in `public/` which -- as stated by the [rack/static docs](https://github.com/rack/rack/blob/master/lib/rack/static.rb#L13) -- results in _all_ requests where the path s

[2016-12-15 10:01] TiteiKo commented on #696
I've stumbled upon this also, but there's a bigger picture here:

Most likely than not, in production, your webserver (apache/nginx) will be the one serving directly the content of `public/`, entirely bypassing the app server.

If we fix this issue, people will likely forget that in production, their endpoint won't be able to be served, and end up having to figure out why it works in dev and not i

[2016-12-15 10:48] kaikuchn commented on #696
Yes, I'll not have rack serve my static assets in production. In fact I'm also not doing that in development and it works splendidly.

My problem is that `Rack::Static` is trying to serve my dynamic content when I have nginx proxy to Hanami. And that is because all my urls start with `notifications` which is a folder in `public/` and that folder is passed to `Rack::Static.new`.
So even if it is de

[2016-12-15 12:11] rafaels88 opened #697 "Failing to populate created_at without updated_at in entity"
When I create an entity with `created_at` and `updated_at` fields, those two fields are populated automatically when it is persisted by its repository. But when I try the same thing without having `updated_at` field, `created_at` field is not populated.

### Example

**migration**

[code]

**Entity**
[code]

**Repository**
[code]

**Error reproduction**

[code]

**Stack**

ruby 2.3.3
hanami-model

[2016-12-15 12:28] kaikuchn commented on #697
That is true and [documented](https://github.com/hanami/model/blob/8775b815edfaef38a1d98cdd83704bbcf2c553f9/README.md#timestamps). [Here](https://github.com/hanami/model/blob/8775b815edfaef38a1d98cdd83704bbcf2c553f9/lib/hanami/model/plugins/timestamps.rb#L27) is why it only works if both are present.

[2016-12-15 13:26] rafaels88 commented on #697
That's true. My fault for not search this before... thanks!

[2016-12-15 13:26] #697 closed

[2016-12-15 19:50] florish opened #698 "Rename "controllers" namespace to "actions""
Being new to Hanami, I've been going through the Getting Started guide. I noticed a pattern in how my `bookshelf` repository is organized:

* Code in `lib/entities` extends `Hanami::Entity`
* Code in `lib/repositories` extends `Hanami::Repository`
* Code in `apps/web/views` extends `Web::View`

Except for one folder:

* Code in `apps/web/controllers` extends `Web::Action` (not `Web::Controller`)

[2016-12-16 08:12] TiteiKo commented on #698
Hanami isn't loading files based on the name of the class like Rails. If you look at your application.rb file, you'll find the following:
[code]

You could very well rename your `controllers/` folder to `actions/`, change the load path in application.rb and voilà! (note that generators would still create the files in `controllers/`)

I've had the same reflexion some time ago, and I agree with you

[2016-12-16 16:17] cllns commented on #698
Thanks for opening this issue. You explained it very well 💯

I think this would be a useful and logical change, but it'd require changing a lot of code. I could go either way :)

[2016-12-17 13:37] jodosha commented on #698
The reason why we have controllers and not actions is simple: a controller is a Ruby module that includes a cohesive set of actions.

If we name it `Actions`, that would distort the definition above: actions are a set of cohesive actions. Which sounds odd IMO.

[2016-12-17 13:37] #698 closed

[2016-12-17 13:47] jodosha commented on #648
All the helpers, assets, and routes depend on the associated application's configuration.

That means we can't pull out helpers in `lib/` and we can't reference `TheApp.routes` from `lib/` because this would create circular dependency between the code defined in `lib/` and the code defined in `apps/`.

---

I don't understand how mobile email requirements affect us. From our perspective, embedding

[2016-12-17 13:49] jodosha commented on #695
@beauby It's by design. Boot process happens when `Hanami.boot` is invoked.

What's your configuration for Sidekiq? Can you please share? Thanks 😄

[2016-12-17 14:01] jodosha commented on #674
I don't want to introduce dependencies for solving this trivial problem: wait for @davydovanton to finish his project, import issues, link from somewhere.

We'll also depend on the maintenance of that project for our contribution workflow.

We already have plenty of stuff to maintain.

---

My **actionable suggestion** is to ask @hanami/issues and @hanami/community **if** we need that special labe

[2016-12-17 14:03] jodosha commented on #691
@hanami/community Please fix this according to the decision taken in this discussion.

[2016-12-17 14:11] jodosha commented on #689
@cllns Thanks for your suggestion, but this isn't possible. 😉

---

Isolation and integration tests require a high level of isolation. There are cases where we simulate the absence of `hanami-model` and cases where we force to boot twice a project to prove it's working properly.

Unfortunately with Ruby the safest way to isolate global configuration is to use separated processes. That's why `scrip

[2016-12-17 14:11] #689 closed

[2016-12-17 14:12] #686 closed

[2016-12-17 14:41] AlfonsoUceda commented on #668
Hi @nicosuave, could you provide an example as @jodosha said? Thanks!

[2016-12-17 16:55] beauby commented on #695
@jodosha I run sidekiq via `bundle exec sidekiq -C ./config/sidekiq.yml -r ./config/environment.rb`.

The downside of the first point is that one cannot put their sidekiq configuration in an initializer (except if they choose to manually require it from a wrapper that requires `config/environment.rb` as well).

The downside of the second point is that if one stores their application-specific sidek

[2016-12-18 10:21] marionschleifer commented on #691
@jodosha @oana-sipos I submitted a PR :)

[2016-12-18 23:50] cllns commented on #691
Thanks @marionschleifer, I merged it. Can you take care of this one too (on the Community page): https://github.com/hanami/hanami.github.io/blob/2c2d6e0bb804d0cdefa60dece07475206557ca8e/source/community.html.erb ?

[2016-12-18 23:55] cllns commented on #689
@jodosha Thanks for the info and detailed response. What if the rake task called a bash script like `script/ci`? Wouldn't that still create a new process for each?

[2016-12-19 10:37] jodosha commented on #691
Closed by #699

[2016-12-19 10:37] #691 closed

[2016-12-19 11:50] marionschleifer commented on #691
@cllns Of course. Will do it tonight or tomorrow :)

[2016-12-19 15:57] katafrakt commented on #670
I wonder what you mean by multiple places. If I'm not wrong, you only have to write it in the migration itself. I wouldn't ever fully trust autogenerated migration anyway, so I have to check them before committing and running. This sounds like a good time for writing actual fields there too.

I believe that specifying attributes list in the command is only useful if you use some kind of a scaffold

[2016-12-20 09:11] #653 closed

[2016-12-20 09:21] jodosha commented on #653
@greggilbert This is fixed now, but not released yet. Please notice that since now on you should use `Utils::Hash#deep_symbolize!` for deep symbolization. `Utils::Hash#symbolize!` will only symbolize the top level keys.

[2016-12-20 10:13] oana-sipos commented on #674
@jodosha I would (and can) create a label as @cllns suggested:

[2016-12-20 11:49] jodosha commented on #653
@greggilbert An update: I had to revert that fix, because it was breaking Hanami::Entity. I'm afraid we can't support this case for now. Sorry.

[2016-12-20 16:36] marionschleifer commented on #691
@cllns I made the PR :)

[2016-12-20 21:19] greggilbert commented on #653
Oof. Alright then, no worries. Thanks anyway.

[2016-12-21 08:03] jodosha commented on #674
@oana-sipos Yes, I agree `help-wanted` isn't necessary good for first patches.

---

My suggestion for the label name is based on discoverability. It looks like `easy` is the preferred name in other OSS projects: https://github.com/search?utf8=%E2%9C%93&q=state%3Aopen+label%3Aeasy&type=Issues&ref=searchresults

For more inspiration, please have a look at https://github.com/MunGell/awesome-for-begi

[2016-12-21 14:03] davydovanton commented on #674
@jodosha I added hanami org to this list
https://github.com/MunGell/awesome-for-beginners/pull/59

[2016-12-21 14:14] davydovanton commented on #674
@jodosha okay, sorry for the haste 💛

[2016-12-21 17:37] TiteiKo commented on #674
I agree on the "easy" label name. Please cast a 👍  or 👎  vote on this post, and I'll create the label in the projects on friday if it's agreed on.

[2016-12-21 18:16] mereghost commented on #696
@kaikuchn First thing: you can disable the serving of static assets in development by setting the `SERVE_STATIC_ASSETS` variable on your `.env.development` to false (or by commenting the line).

That being said, I do think that we should support your use case. Would you like to submit a PR for the fix (since you already dug through it)?

[2016-12-21 18:47] kaikuchn commented on #696
Thanks for the tipp! @mereghost

I would love to submit a PR for that. But I'd need to check with you guys what the desired behaviour would be. Here's what I can imagine:

When serving assets via `Rack::Static` then **only existing assets** preclude the router. I.e., given only the asset `public/my_scope/assets/application.css` exists, then a request to `/my_scope/assets/application.css` would be

[2016-12-21 19:42] cllns opened #701 "`hanami db` commands have no output"
Running `bundle exec hanami db` with `create`, `prepare`, `drop`, `apply` or `migrate` don't output anything.
Note: for other `db` commands: `console` doesn't apply, since it does its own thing, and `version` and `help` *do* output, since that's all they do.

It would be nice to have an output so the developer can know that something is actually happening, without having to check their DB manually

[2016-12-22 09:33] jodosha commented on #696
@kaikuchn Hi, I'm sorry about this problem. Thank you for this detailed explanation.

Can you please craft a PR with the patch above? Don't worry about tests and if the build breaks. I can help in the process of creating new tests for this case and try to make to work both.

If that is not possible, we'll keep the compatibility with the existing projects out there.

[2016-12-22 10:02] oana-sipos commented on #674
@davydovanton it seems your PR was rejected, would you like to resubmit? If needed, I can also take care of it. As you prefer.

[2016-12-22 10:22] jodosha commented on #674
@oana-sipos Please go ahead 👍

[2016-12-22 10:36] davydovanton commented on #674
@oana-sipos we need to create labels and add contribution file before. And yes, I agree with Luca, do it :)

[2016-12-22 10:43] oana-sipos commented on #674
@davydovanton @jodosha indeed, I was reading as well the guidelines and thought of proposing so. I will take care of it on Friday, as soon as @TiteiKo will create the label.

[2016-12-22 16:54] everpointer opened #702 "Code reloading not work when repository file change"
When I make changes to repository file, code reloading doesn't work.
I have to manually restart the server to load latest code.

hanami version: 0.9.1
env: development mode

[2016-12-22 17:01] cllns commented on #702
Which platform are you on? Does your Gemfile include:
[code]

[2016-12-22 18:07] rafaels88 commented on #702
I am having this problem too. Not only in Repository, but in all `/lib` files.

[2016-12-23 03:16] everpointer commented on #702
Sorry for the late response cause I am in different time zones.
Platform: OS X El Capitan 10.11.5
Ruby version: 2.3.0p0

And I did include shotgun on my Gemfile.

[2016-12-23 10:11] jodosha commented on #674
@oana-sipos Please also add a link from  `/community` section from our website.

https://github.com/search?utf8=%E2%9C%93&q=user%3Ahanami+state%3Aopen+label%3Aeasy&type=Issues&ref=searchresults

[2016-12-23 11:39] TiteiKo commented on #674
The label is created in the repositories.

@oana-sipos Feel free to make the PR ;)

@hanami/community Below are the links of the searches for the community page. I'll let you decide what's the best way to display the information there.

* https://github.com/hanami/hanami/issues?q=is%3Aopen+is%3Aissue+label%3Aeasy
* https://github.com/hanami/controller/issues?q=is%3Aopen+is%3Aissue+label%3Aeasy
* h

[2016-12-23 12:39] oana-sipos commented on #674
@TiteiKo PR submitted: https://github.com/MunGell/awesome-for-beginners/pull/61

Thanks for the links. Indeed, need to put some thought into displaying the info :yin_yang:

[2016-12-23 12:59] jodosha commented on #674
@oana-sipos @TiteiKo Any reason why the link I posted can't be used for our website and that PR? Just curios 🐈

[2016-12-23 13:04] oana-sipos commented on #674
@jodosha it can be used, just thought it is cleaner this way. To be honest, did not realize there will be *this* many links :P so if your link is for the whole community, that sounds like a better deal actually. Thanks for pointing it out.

[2016-12-23 14:03] TiteiKo commented on #674
@jodosha It can be used, yes! ✨
I posted all the links so that people would know in which repositories the labels were created and forgot to put your link as a "this one takes all" link

[2016-12-23 15:19] everpointer commented on #702
And I just upgrade ruby version to 2.3.3, still not work.

[2016-12-23 19:43] MunGell commented on #674
Hey guys,

The PR was merged, but it would be nice to add issues that are beginner-friendly, so you would fully qualify for the list. From this tread I understand that your label for beginner-friendly issues is `easy`.

Thanks!

[2016-12-24 00:54] mereghost opened #703 "Hanami does not configure or load the hanami-mailer as one of its components"
It seems since we released the 0.9 series, using a component model for loading dependencies that `hanami-mailer` stayed out of the load scheme.

It can be seem by creating a new app, generating a mailer and trying to deliver it. By default it should use `Mail::TestMailer` but it tries to use the `smtp` delivery method.

[2016-12-24 11:51] jodosha commented on #702
During the 0.9 development I had the same problem, that **I think** I resolved with this: https://github.com/hanami/hanami/blob/master/lib/hanami/server.rb#L49

[2016-12-24 11:52] jodosha commented on #702
@everpointer @rafaels88 I assume you are starting the server with `bundle exec hanami server`. Is that correct?

[2016-12-24 11:53] jodosha commented on #701
I agree.

This should be split between `hanami` and `hanami-model`. The latter for printing the output of the migrations.

[2016-12-24 11:56] jodosha commented on #674
@MunGell Hi and thanks for merging that PR. We appreciate it!

We're in the process of changing how Hanami is managed, so bear with us for the time being. We're changing for the good and for new people around. 💚

[2016-12-25 15:01] everpointer commented on #702
@jodosha Yes, I do start server with `bundle exec hanami server`

Restarting server is annoying, So is there any hack way to make this temply work?

[2016-12-26 02:02] rafaels88 commented on #702
@jodosha yes! And every `/lib` file keeps not reloading at all =/

[2016-12-27 19:56] mereghost commented on #703
A more detailed step by step to reproduce:

[code]
That should give us all we need to reproduce the bug.

[code]
That error `NoMethodError` happens because the `Hanami::Mailer.load!` was never called at all. The `Mailer#templates` are never set and neither are mailer config block on a hanami application (evidenced by it defaulting to the `smtp` delivery method, when it should be `test`).

[2016-12-28 19:40] rafaels88 commented on #701
@cllns @jodosha @mereghost I would like to try to resolve this issue. Do you folks think it is possible? (I mean, for who never contributed with code to Hanami yet).

[2016-12-28 19:54] cllns commented on #701
@rafaels88 yes, go for it :) let me know if you need any help

[2016-12-30 08:06] iAmDaiveR commented on #703
Problems lives in **hanami/mailer**

I think that the code below (hanami/mailer) expects that the template directive (defined in Mailer's DSL) was already invoked by a concrete Mailer class implementation, which populates the @templates variable by your templates. And this expectation breaks the mail build process when the .template DSL method was not invoked:

The problem lives here:

https://git

[2016-12-30 08:10] iAmDaiveR commented on #703
@mereghost Ah :) You already resolved this problem in your PR :)

[2016-12-30 14:34] AlfonsoUceda commented on #703
@iAmDaiveR thanks for that but there is a PR fixing this problem https://github.com/hanami/hanami/pull/705 check to see the fix.

[2017-01-02 15:12] #703 closed

[2017-01-02 17:32] mereghost commented on #663
@jodosha should we merge this?

[2017-01-03 10:17] kwando opened #709 "Form helper should probably escape values read from entities"
I'm creating an edit form for an entity and I'm using the Hanami form helper. When it reads values from my entity it does __not__ htmlescape the value for the ```value``` attribute. This is breaking my form if a entity contains a quote (```"```) for instance.

I expecting the value to be escaped for me when using the form helper.

Hanami 9.2

Edit: apparently the form helper does no escaping of va

[2017-01-03 19:33] jodosha commented on #701
@rafaels88 My apologize, but I haven't noticed your comment until now. I already implemented it. https://github.com/hanami/model/pull/368

It would be great if you can review it.

/cc @cllns

[2017-01-03 19:34] jodosha commented on #709
@kwando Thanks for reporting this. We'll have a look.

[2017-01-11 11:40] TrumpClone commented on #676
without this proposal: we have two options (thx @TiteiKo) =>
#1) you can use the commands directly, and it will use the latest-installed version of the gems executable
#2) to be safe and use the version of your Gemfile.lock, use bundle exec

but with this proposal: only #1 (with versions in Gemfile file)

is it good?

[2017-01-11 16:18] b264 commented on #676
I think it's good because it can avoid things not working because the wrong (not Gemfile) versions are being run.  Think of someone learning Hanami and it's not working because of this.  Sure, when we know what's going on things are easy to fix, but I'm thinking of folks who are still a novice.  When I started, `bundle exec` was super-confusing.  The real question here is should Hanami be beginner

[2017-01-12 22:27] davydovanton commented on #709
hello, @kwando I reproduced this bug.
![screenshot 2017-01-13 01 25 10](https://cloud.githubusercontent.com/assets/1147484/21910914/36590ed0-d92f-11e6-92dc-09ca1ccf8dc8.jpeg)

Thanks for the report. I'll fix this :)

[2017-01-13 01:10] davydovanton commented on #709
okay, I created PR, @jodosha and @hanami/core, please take a look on it 🌟

[2017-01-13 04:57] joneslee85 opened #710 "hanami-head app failed to bundle install"
Step to reproduce:
[code]

[2017-01-13 17:08] dikond commented on #710
I've met the same problem when cloned `hanami-controller` and tried `bundle install`.

When I comment-out `gem 'hanami-router'` in `Gemfile` it doesn't complain. I've also cloned `hanami-router` and bundle install'ed it, and there were no issues. It is weird.

[2017-01-15 14:31] davydovanton commented on #710
hey, I think it's a problem rack2 update for hanami-controllers. I'll look on this today 👍

[2017-01-15 14:35] davydovanton commented on #710
@dikond could you delete rack dependency from hanami controller gemspec file and try to bundle it?

[2017-01-16 08:37] dikond commented on #710
@davydovanton hey, just checked - it works.

[2017-01-16 09:13] davydovanton commented on #710
@dikond without rack dependency, yep? :)

[2017-01-16 12:58] dikond commented on #710
yeah :)

[2017-01-21 15:33] AlfonsoUceda commented on #663
Closed by hanami/controller#191

[2017-01-21 15:33] #663 closed

[2017-01-21 15:54] AlfonsoUceda commented on #695
Folks what do you think it would be a good solution?

[2017-01-22 09:35] jodosha commented on #695
I think we should generate a new file for that:

[code]

[2017-01-22 09:36] jodosha commented on #602
This is an edge case that would require too much changes. I'm not keen to act on it because time pressure (upcoming 1.0).

[2017-01-22 09:36] #602 closed

[2017-01-23 11:17] fidothe commented on #602
No worries

[2017-01-23 16:49] davydovanton opened #712 "Hanami rewrite env variables from .env file"
## The problem
When you have  EVN variable in `.env.*` file and try to set this variable from the shell you will have the variable value from the file.

## Reproduce
1. Create new hanami app
2. Add any variable to `.env.development` file (`echo "TEST_VALUE=" >> .env.development`)
3. Run console with new variable value  (`TEST_VALUE="TEST HERE" bundle exec hanami c`)
4. Call `ENV['TEST_VALUE']` in

[2017-01-25 13:33] jodosha commented on #702
Hey folks, would you mind to try if #713 works for you? Thanks 😄

[2017-01-25 15:39] #696 closed

[2017-01-25 16:53] #670 closed

[2017-01-26 00:20] spectator opened #714 "Hanami not configured error in app mode"
Hi,

I'm starting new Hanami project for very basic JSON API app and running into an issue using Application architecture versus Container. Here is my steps

[code]

[code]

(also tried `--hanami-head=true` with the same results)

[code]

[code]

[Gemfile.lock](https://gist.github.com/spectator/6591cd5672f883ab0208912fef83e71c)

[code]

Exactly the same steps but using Container architecture (w/o

[2017-01-26 02:25] gizotti commented on #712
@davydovanton I am halfway through this one. I just want to double check if the ENV var set on the shell has priority on any command that is being called, and not just `hanami c`.

[2017-01-26 08:27] jodosha commented on #714
@spectator Hi, I'm sorry we removed support for the `app` architecture as of 0.9.0. https://github.com/hanami/hanami/blob/master/CHANGELOG.md#changed

[2017-01-26 08:27] #714 closed

[2017-01-26 08:29] spectator commented on #714
Ah! Sorry, I missed that. Hanamirb.org guides still have mentions of that.

Sent from my iPhone

[2017-01-26 08:30] jodosha commented on #714
@spectator where exactly? can you please link them here? they are leftovers.

[2017-01-26 08:35] spectator commented on #714
@jodosha here is a few places in guides

http://hanamirb.org/guides/command-line/applications/#architecture
http://hanamirb.org/guides/command-line/destroy/#actions

CLI help also has mentions

[code]

[2017-01-26 17:19] #709 closed

[2017-01-26 17:20] davydovanton commented on #709
@kwando hey, I created fix, could you try it? (you need to install hanami-helpers from master branch for this)

[2017-01-27 02:04] spectator commented on #714
Also some assertions in the code https://github.com/hanami/hanami/blob/master/lib/hanami/commands/new/abstract.rb#L119-L123

[2017-01-27 17:37] #712 closed

[2017-01-27 19:44] davydovanton commented on #712
@gizotti awesome work. Thank you 👍

[2017-01-27 23:32] gizotti commented on #712
@davydovanton happy to help :)

[2017-01-28 16:40] AlfonsoUceda commented on #710
folks, it doesn't happen to me :S are you experiencing this problem yet?

[2017-01-28 16:56] AlfonsoUceda commented on #701
Folks, I'm going to close this issue because now that command is verbose (much verbose) but at least is something.

[2017-01-28 16:56] #701 closed

[2017-01-28 16:59] davydovanton commented on #710
@AlfonsoUceda I don't have this issue too but I think problem in rack 2 update 🤔

[2017-01-28 22:21] AlfonsoUceda commented on #668
I'm going to close this issue because there isn't answer.

[2017-01-28 22:21] #668 closed

[2017-01-28 22:33] AlfonsoUceda commented on #656
@sandelius is it ok for you using a string? You can use it, see the previous comment.

[2017-01-29 15:43] #702 closed

[2017-01-30 14:23] #695 closed

[2017-01-31 13:32] charlie-wasp commented on #623
Is help still wanted? I'd like to give it a try

[2017-01-31 13:57] jodosha commented on #623
@charlie-wasp Thanks for offering your help 😄 . If you can find a quick fix with `thor`, we can add merge it.

Otherwise, if it's too complicated, don't worry. We're thinking to get rid of `thor` and we can wait for this minor issue.

[2017-01-31 22:22] Padgett opened #723 "Mailers do not work in 0.9.2 w/ hanami-mailer 0.4.0"
When generating a clean mailer with `hanami generate mailer thing` the result is not usable.

The generate command runs as expected, but attempting to use the mailer results in a `NoMethodError`

[code]

[code]

[2017-02-01 00:38] docStonehenge commented on #623
Hello, guys ! I saw this problem on Hanami cli help descriptions, so I went further to check what could probably be. I've also found this old StackOverflow post, [http://stackoverflow.com/questions/5663519/namespacing-thor-commands-in-a-standalone-ruby-executable](url) which seems to be a similar problem with subcommands. As described above, overwriting Thor.banner solves this issue. Can I offer m

[2017-02-01 07:46] #484 closed

[2017-02-01 07:51] jodosha commented on #723
I can confirm the problem, writing a fix for it.

[2017-02-01 07:56] jodosha commented on #623
@docStonehenge Hi and thanks, please check with @charlie-wasp. @charlie-wasp Are you already working on this?

Please also read this: https://github.com/hanami/hanami/issues/623#issuecomment-276369218

[2017-02-01 09:20] charlie-wasp commented on #623
@jodosha nope, didn't start yet, so @docStonehenge is very welcome to take over :smiley:

[2017-02-01 10:09] TrumpClone commented on #723
Check this comment. It can reveal some implementation problems https://github.com/hanami/hanami/issues/703#issuecomment-269743810

[2017-02-01 10:42] docStonehenge commented on #623
@charlie-wasp thank you !! @jodosha, I am tackling on this and will open a PR asap. Thanks !

[2017-02-01 13:01] jodosha commented on #723
Thank you.

[2017-02-03 01:22] mereghost commented on #723
@Padgett Unfortunately it's a know issue in 0.9.2. We fixed it on hanami master already but has not been backported as we intend to release 1.0 soon.

[2017-02-03 12:49] mereghost commented on #723
It was fixed on #705, albeit not released yet.

[2017-02-03 12:49] #723 closed

[2017-02-03 15:36] oana-sipos commented on #674
I added a link to our issues (labels `easy` and `help-wanted`) on our [Community page](http://hanamirb.org/community/). We'll also make sure to add more tickets with these labels, especially after the 1.0 release. Thanks all for contributing! 💙

[2017-02-03 15:36] #674 closed

[2017-02-03 16:54] AlfonsoUceda commented on #710
@joneslee85 have you experienced again this issue?

[2017-02-04 10:14] erwanthomas commented on #676
Bundler binstubs are helpful here: `bundle exec hanami` becomes `bin/hanami`.

[code]
[code]

Advantages:
* calls the safe, bundled executable
* requires only 4 more keystrokes
* no magic required from the Hanami executable (actually, no change at all)
* nice to the user:
  * uses Bundler standards (same technique can be used for any gem)
  * can teach beginners about what `bundle exec` actually d

[2017-02-04 14:53] docStonehenge commented on #623
@jodosha while working on this issue, I've noticed some other issues as well, for instance:

[code]

Fixing the banner for usage on help messages, the above becomes:

[code]

So, should I tackle on finding a fix for the "ERROR" message as well?

[2017-02-06 15:23] dungpt3003 commented on #723
Hi, I'm new to `hanami`. I encountered the same error today. How can I avoid this error when using `hanami-mailer` before having it fixed in the next version?

[2017-02-06 15:35] mereghost commented on #723
@dungpt3003 A workaround for the mean time is to edit you `config/environment.rb` file and add that just below the mailer block:
[code]

[2017-02-06 15:37] mereghost commented on #623
@docStonehenge I'd say go for it. :D

[2017-02-06 15:53] dungpt3003 commented on #723
This worked for me. Thank you for your swift response!

[2017-02-06 16:41] mereghost commented on #640
Tested against `hanami-master` and everything worked out nicely. Was fixed by #704 .

[2017-02-06 16:41] #640 closed

[2017-02-06 22:40] harbirg opened #726 "hanami on Windows x64 - creating new project throws error: thor-0.19.4 actions.rb line 254"
Unable to run hanami on windows 10 using ruby 2.3.0 installed via https://rubyinstaller.org/ along with DevKit for native gems.

When creating new project, thor gem gives an error. Has anyone else tried to use hanami on windows? I was able to get Sinatra working, but I really wanted to use Hanami. Can someone point me to what I should change to resolve the issue.

D:\dev>hanami new bookshelf

[2017-02-06 22:56] cllns commented on #726
Sorry you're having trouble! The trouble here is that you don't have `git`. We shouldn't require it, and [we're working on fixing that](https://github.com/hanami/hanami/pull/665).

Can you try installing git? https://git-scm.com/download/win

[2017-02-06 23:27] harbirg commented on #726
Thanks for the quick turnaround. I installed git and I get further along as "hanami new bookshelf" command completes. But, as soon as i run "bundle exec hanami server" and access the website, the webserver crashes. I tried switching over to PUMA to see if it makes a difference but the result is the same.

Does this log give you any clues as to why its crashing:

**WEBrick crash log**

D:\dev\books

[2017-02-06 23:39] cllns commented on #726
Looks like same issue as: http://stackoverflow.com/questions/1844188/shotgun-gem-explodes-when-starting-a-sinatra-app-on-windows

`shotgun` is a soft-dependency of Hanami, so you can remove it from your `Gemfile`. Instead, try `restart` for code-reloading? https://github.com/vais/restart (so you'd run `restart hanami server` each time)

[2017-02-07 00:45] harbirg commented on #726
Cheers! Thanks for your help. It works after removing shotgun. I will look into shotgun gem and if I need it for my development.

Closing this issue, notes for other users attempting to run Hanami on windows:
1. Make sure Git is installed
2. remove 'shotgun' GEM

[2017-02-07 00:45] #726 closed

[2017-02-07 01:17] cllns commented on #726
awesome! the git dependency should be gone soon

[2017-02-09 07:03] sandelius commented on #656
@AlfonsoUceda if we could use a regex it would make it a whole lot simpler to match both dev and production environments.