[2017-02-10 01:43] docStonehenge commented on #623
@jodosha I've been looking through Thor's source to figure out where those "ERROR/Usage" are been wrongly generated. Seems like a fix for that, and also for the banner on all usage synopsis was merged in the end of November/16, but not released yet. My suggestion for a fix would be similar to what's been done on Thor, overwriting the method to handle argument errors.

Do you think it's best to wai

[2017-02-10 07:33] sandelius commented on #676
I have no problems running `be` (alias) before commands, that makes it easier for my brain to know which context I'm currently in.

[2017-02-11 14:37] #623 closed

[2017-02-12 21:30] sirmike commented on #634
It's been quite some time since I encountered this but wanted to let you know what happened.

I was fiddling with my project and it seems that it must have been something related to migration between versions. After having some problems to successfully migrate to 0.9.x I finally generated a new project, then moved all of my views / controllers there. I don't observe assets & code reloading problem

[2017-02-13 19:06] moofkit opened #728 "`hanami db prepare test`"
To setup test database need to use `HANAMI_ENV=test bundle exec hanami db prepare`.
It is ok, but may be it will be usefull to have shortcut like `bundle exec hanami db prepare test` to prepare/migrate specific enviroment database? It seems to me as very natural behavior.
WDYT?

[2017-02-13 19:23] cllns commented on #728
Yes, I've noticed this too, and I agree it's a poor user experience.

A couple other options for solving the same problem:
- make `bundle exec hanami db prepare` prepare *both* `development` and `test` databases by default.
- run any migrations that haven't been run yet in `spec_helper.rb`, so developers wouldn't have to worry about migrating the test DB at all. though, this might make running tes

[2017-02-13 19:24] cllns commented on #676
In my opinion, `binstubs` is a good compromise. What do others think?

[2017-02-13 19:45] b264 commented on #676
I'd go for binstubs

[2017-02-13 20:00] moofkit commented on #728
@cllns
As I understand `db prepare` is safe operation and if database already created it just run migrations.
So I find very usefull this options too.

Can I try to implement this feature if you don't mind?

[2017-02-13 21:06] olistik commented on #676
FWIW I'd go for `binstubs` as well :-)
@jodosha should I close the issue?

[2017-02-14 01:46] gizotti commented on #676
👍  to `binstubs`

[2017-02-14 03:35] cllns commented on #676
@olistik You can either close this issue and open a new one about `binstubs` (and reference this issue there!) or just edit this title and first post to reflect that binstubs is the approach we're going for :)

[2017-02-14 09:06] olistik commented on #676
@cllns I'm going to create a new issue. What would the goal be? Just to suggest the use of bin stubs in the README? I guess there's no additional code required.

[2017-02-14 16:20] cllns commented on #676
Rather than instructing users to run `bundle binstubs hanami`, I was thinking we could generate a `bin/hanami` file inside new hanami projects (like Rails does, with `bin/rails`).

What do others think of that?

[2017-02-14 23:55] mytram opened #729 "It will be nice to comment that 'unsafe-eval' needed for vue.js in application.rb"
Hi,

I was trying to use vue.js with hanami. I basically copied over built js files for hanami to serve them. However, at the beginning, it appeared as if the vuejs scripts stopped half way mysteriously whilst the same approach would work with rails 5. After some digging, I found that rails didn't have the content-security-policy header by default compared with hanami.

I found out that 'unsafe-ev

[2017-02-15 00:00] davydovanton commented on #729
@mytram hey, could you update issue? :)

[2017-02-15 00:05] davydovanton commented on #728
I don't like `db prepare test test` command. I worried that this command would complicate our CLI code.

But, if we want to use `prepare` command for dev and test envs we can introduce `--all` key. WDYT?

[2017-02-15 00:05] mytram commented on #729
@davydovanton Hi, I was just adding. accidentally hit some key before I finished :) Thanks

[2017-02-15 00:13] davydovanton commented on #729
@mytram good proposal. I [added](https://github.com/ossboard-org/ossboard/blob/master/apps/web/application.rb#L234) this policy too (and spend some time for this) 👍

Could you create PR with updated comments? 😊

[2017-02-15 00:24] mytram commented on #729
@davydovanton , no problems. Will do. Thanks

[2017-02-15 00:31] davydovanton opened #730 "Config environment doesn't work with hanami 1.0.0.beta1"
Hey, I tried to update my hanami app to 1.0, and I had error with environment:
[code]

After that, I found that hanami from RubyGems doesn't have environment logic. You can see it on this record:
https://asciinema.org/a/103243

/cc @jodosha @hanami/core

[2017-02-15 00:33] davydovanton commented on #730
UPD: sorry, I added link to private record. Fixed it now 👍

[2017-02-15 16:07] cllns commented on #730
Did you update `config/environment.rb` as follows http://hanamirb.org/guides/upgrade-notes/v100beta1/#-code-config-environment-rb-code- ?

[2017-02-16 03:59] joneslee85 commented on #710
@AlfonsoUceda I still experience it

[2017-02-16 12:41] davydovanton commented on #730
@cllns yep, you can see in my screencast that in my local version hanami doesn't have this functionality. But it's only my problem. Other developers don't have it

[2017-02-16 17:25] cllns commented on #730
Hm, maybe you have the gem from GitHub instead of Rubygems?  The [version was updated to 1.0.0.beta1 on Dec 20th, 2016](https://github.com/hanami/hanami/blob/master/lib/hanami/version.rb#L9)

Try:
[code]
:)

[2017-02-18 18:58] davydovanton commented on #730
Hey, thanks for the tip. I fixed this issue. Problem was in my local rvm 😞

[2017-02-18 18:58] #730 closed

[2017-02-19 23:01] nickgnd opened #732 "Module loading issue"
Hi everyone and before all thanks for your great work and effort!
Today I was playing with a Hanami and I noticed a strange behavior on how Hanami load files. More precisely, when I try to start the console/server or launch the test suite I get the error `NameError: uninitialized constant Web::Controllers::Sessions::Create::JwtHelper`. The error is raised by the action `sessions#create`.

After a

[2017-02-20 14:02] mereghost commented on #710
I tried on a fresh system and could not reproduce it at all. Could your bundler be using a cached version of the gems with the messed dependencies?

[2017-02-20 14:23] mereghost commented on #676
Closing this then. @olistik reference this issue when you open the new issue and the discussion can continue over there. =D

One way we could enforce this is generate a `.bundler/config` as follows:
[code]
so bundler will always generate binstubs when the user calls bundle install.

[2017-02-20 14:23] #676 closed

[2017-02-20 14:30] mereghost commented on #728
@moofkit [Prepare](https://github.com/hanami/model/blob/master/lib/hanami/model/migrator.rb#L283) isn't "safe". It drops the database, re-creates it and then run migrations.

On the convenience side of things I can see why using the environment variable can be a pain. OTOH it keeps the CLI consistent. If we add a special case for `db`, we would need one for console, db console just to keep up with

[2017-02-20 19:59] mereghost commented on #732
@nickgnd Hello and thanks for your kind words and feedback. How did you expect it to behave?

[2017-02-21 13:32] mereghost commented on #732
Glad to be of help. The best way to ensure a proper load order is requiring the file where it's needed.

I'll close this then. =)

[2017-02-21 13:32] #732 closed

[2017-02-23 00:27] davydovanton commented on #710
agree with @mereghost. Maybe is rvm/rbenv issue?

[2017-02-23 00:35] joneslee85 commented on #710
It could be, for now I just close it. will report if it happens again

[2017-02-23 00:35] #710 closed

[2017-02-23 23:51] cllns opened #733 "Logger: add form submission parameters"
Our logger records query parameters, but not parameters submitted via form submissions.

Current output:
[code]

Proposed (example) output:
[code]

Note that we ought to filter out `password`. We should also filter out `password_confirmation` (maybe just filter out all keys that match `/^password/`?).
We should also allow people to specify other field names (or regexes?) to filter out. For example

[2017-02-23 23:59] cllns opened #734 "Generated `application.rb` file has long lines"
Generating a new app and running ` rubocop --only Metrics/LineLength` (which checks for lines greater than 80 characters) on a new Hanami app turns up 13 offenses,  all of which are in the generated `application.rb` file. In general, we should make an attempt to keep lines to 80 characters or less, regardless of rubocop.

`rubocop --autocorrect` doesn't fix this offense, so it's something we shoul

[2017-02-24 00:02] b264 commented on #733
I agree with all of that, especially the `v1.1` part.

I do have a tip-- as a Hanami beginner, if I saw fields being filtered out, it would be great if the search term on how to change the setting was the thing displayed in the log, example:
[code]
so then if I search for, example, `https://ddg.gg/hanami%20%22KEYS_HIDDEN%22` then I get a search result saying where to adjust the regex `Hanami::Logg

[2017-02-24 05:26] cllns opened #735 "Generate ApplicationLayout spec"
We generate `ApplicationLayout` for new apps, but not an associated spec.

Here's what it could look like, but probably without the  `it` block (shown for example), located at: `spec/web/views/application_layout_spec.rb`
[code]

Note: this is a suggestion for `v1.1`, **not** `v1.0` :)

[2017-02-24 05:56] davydovanton commented on #733
Great idea 👍
I think we need to use `pp` style for displaying params (because sometimes params are too long).

[2017-02-24 06:04] davydovanton commented on #734
@cllns maybe is better to disable rubocop for this file?

[2017-02-24 13:02] mereghost commented on #734
All the lines seems to be comments, tho.

[2017-02-24 16:25] cllns commented on #734
@davydovanton It's less about passing rubocop, and more about adhering to the convention of 80 character lines :)

[2017-02-25 14:03] gizotti commented on #734
👍 from a very pedantic dev :)

[2017-02-27 10:38] Bounga commented on #683
Is this improvement to the "Getting Started Guide" still to be done? I'd be glad to help with this since I faced this problem too the first time I used Hanami. I figured the solution quickly as I'm an experienced Ruby developer but I think it can be confusing for new comers.

[2017-02-27 15:39] jodosha commented on #683
@Bounga Please create it for the getting started guide and for the CLI database section. Thank you!

[2017-02-27 19:14] cllns opened #736 "Generate project in folder"
Right now, a hanami project is created in a new folder named based on the project. This is good for the vast majority of cases, but I think the command should be more flexible, to optionally allow other locations.

For example:
[code]
would create a `test_app` project in a new `test_app2` folder, that folder doesn't already exist. (This is the real usage I tried and it didn't work)

&

[code]
woul

[2017-02-27 20:39] Bounga commented on #683
@jodosha Here it is https://github.com/hanami/hanami.github.io/pull/282

Hope it will fit Hanami documentation style. Feel free to tell me what you want me to change / reword.

[2017-02-27 22:35] jodosha commented on #683
@Bounga Thanks for that PR. Let's move the conversation over there. 😄

[2017-02-28 00:56] spectator opened #738 "Custom logger"
Hi,

What do you think on providing some sort of extension points for Hanami logger or ability to set your own logger?

For example, it is common need to include request id in your logs and Hanami default logger doesn't include that.

[code]

`e52a809f-4ed7-4e1a-81df-f739bf9cd713` is request id.

For now I had to override `CommonLogger#log` in order to add that.

[code]

[2017-02-28 01:04] davydovanton commented on #736
I think it will be useful for me and other developers 👍
Because sometimes I need to create project with one name and other dir name.

[2017-02-28 08:37] jodosha commented on #738
@spectator Hi this completely makes sense. This supposed to be part of `v1.0.0.beta1`, but for some reason I skipped this extension.

[2017-02-28 17:54] jodosha commented on #729
@mytram I discovered that this is already documented. Please see https://github.com/hanami/hanami/pull/731#issuecomment-283114410

[2017-02-28 17:54] #729 closed

[2017-02-28 18:40] cllns commented on #729
@jodosha This and #731 should not have been closed. There's [a difference between `unsafe-inline` and `unsafe-eval`](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Security-Policy/script-src). `unsafe-inline` allows inline scripts, but not **not** `eval` (and similar) functions. `unsafe-eval` allows inline function to use `eval` and similar.

[Vue.js uses `new Function()`](https

[2017-02-28 20:38] AlfonsoUceda commented on #736
thanks @cllns I think it makes sense but after 1.0 we will rewrite CLI interface removing Thor and making it more flexible.

[2017-02-28 20:42] AlfonsoUceda commented on #728
I prefer use `HANAMI_ENV=test bundle exec hanami db prepare` than `bundle exec hanami db prepare test`, but it just my opinion.

[2017-03-01 08:03] jodosha commented on #728
@moofkit

Nope. 😄

`db prepare` == `db drop` + `db create` + `db migrate`.

---

I vote against this change, because it would be inconsistent with the other commands in the CLI.

---

One improvement can be `--environment=test`, aliased as `-e test` to add across all the commands. But for now we can't do this change because that option was taken for another purpose:

[code]

That was a poor choice

[2017-03-01 08:03] #728 closed

[2017-03-01 08:45] jodosha commented on #736
Lemme play the _grumpy cat_ ™️ here: do we need this? Can this be solved by manual intervention from a developer?

Creating a project in the current directory is it so common? It was introduced to add a deliverability mechanism for a current Ruby project. Aka add some web wrapper around your Ruby library. Which I don't know how much is it common.

</grumpy-cat>

---

We can add this change, if it

[2017-03-01 09:59] jodosha commented on #729
@cllns @mytram Okay. Can we replace these [two lines](https://github.com/hanami/hanami/blob/master/lib/hanami/generators/app/application.rb.tt#L205-L206) with something similar to this?

[code]

The idea is to have just to lines to link to a more detailed guide that we can expand from time to time with informations about the several frameworks.

**Please note that this page doesn't exist yet in ou

[2017-03-02 20:21] zavan opened #739 "Publish release notes for services like sibbell.com?"
[Sibbel](https://sibbell.com/) is a service that notifies devs about package updates:

![image](https://cloud.githubusercontent.com/assets/1722965/23525111/11c5bb78-ff6c-11e6-92e0-205fe89653d4.png)

It shows release notes in the email and website:

![image](https://cloud.githubusercontent.com/assets/1722965/23525205/6541a172-ff6c-11e6-8961-0e3fb9a41d18.png)

But not when they're not filled :(

![i

[2017-03-04 11:28] mytram commented on #729
@jodosha, I am good with your change. It seems that googling "hanami vuejs" returns this issue on the top. I think my original purpose, hoping to save others' time, is already fulfilled :-). Also  I picked up setting up hanami+vuejs again and I may write an article on that. That will probably be more helpful to people with similar interest.

Thanks a lot

[2017-03-05 18:43] andrew opened #740 "Removing mailer config causes showstopper exception"
Just started playing around with Hanami, making a small app that doesn't need to do any email, so I removed the `mailer` section from `config/environment.rb`, which looks like this (also removed the model section but hanami seems to work fine without that bit):

[code]

which resulted in following exception when loading the homepage:

[code]

Using `v1.0.0.beta2`, following the [getting started gu

[2017-03-05 21:30] davydovanton commented on #740
@andrew thanks for the feedback. I'm looking into this 👍

[2017-03-05 23:10] davydovanton commented on #740
@andrew I created a simple fix for this issue. Could you use this version of hanami and check the problem?

[code]

[2017-03-06 11:08] andrew commented on #740
@davydovanton yeah that branch fixes the issue, thanks!

[2017-03-06 14:35] jodosha opened #744 "Don't mount Hanami::CommonLogger if Hanami.logger is nil"

[2017-03-06 16:34] jodosha opened #745 "Update favicon.ico with new logo"
New generated projects must have the new logo as `favicon.ico`.
Note: the new logo It can be downloaded from here: http://hanamirb.org/community

[2017-03-06 20:46] #734 closed

[2017-03-07 17:37] mereghost commented on #736
I'm with @jodosha here. How often do you need this functionality? Why? Is this the common use case? Is there an easy way to circumvent the need for more code?

What would we do if $PWD already has a directory of the same name? And git repo?

While it might help some cases, I don't think that it's *that common* to warrant the extra maintenance burden and having to deal with these edge cases.

[2017-03-07 20:02] mereghost commented on #745
Fixed by #746

[2017-03-07 20:02] #745 closed

[2017-03-10 05:26] guzart opened #747 "hanami console error: multiple require of same file"
Hi there,

I created a hanami project (1.0.0.beta-2) and started adding my own libraries in the `/lib` folder, however when I try to run `hanami console` I get the following error:

[code]
I've setup an [example repository](https://github.com/guzart/red_cleric), where I have some classes that are [inheriting from `Dry::Struct`](https://github.com/guzart/red_cleric/tree/master/lib/my_lib), because

[2017-03-10 13:44] sandelius commented on #744
@jodosha I've fix this but have no idea where to put my tests :)

[2017-03-10 17:08] cllns commented on #739
I think a more pressing reason would be including the notes on the Releases page, rather than this specific tool. For example:
![image](https://cloud.githubusercontent.com/assets/632942/23804646/084c2b9c-0578-11e7-992c-5ef72a5cfff9.png)

vs Hanami's release page:
![image](https://cloud.githubusercontent.com/assets/632942/23805020/7427e580-0579-11e7-8f22-7354d7c21333.png)

It looks like the way to

[2017-03-11 21:00] guzart commented on #747
I've been doing some research and it seems that Hanami is loading all the directories in `lib` when resolving the [code component](https://github.com/hanami/hanami/blob/master/lib/hanami/components/components.rb#L53). Tracing the commits I found that the code components was added for [code reloading](https://github.com/hanami/hanami/pull/713) the lib directory.

I don't think this is a problem wit

[2017-03-11 21:00] #747 closed

[2017-03-12 21:05] jodosha commented on #739
@zavan Hey, thanks for your suggestion. How does Sibbel work? By manual entry from us?

[2017-03-13 03:28] zavan commented on #739
@jodosha It fetches your GitHub faved repos and sends you an email when there's a new release/tag, in the email it sends the changes if they're on the GitHub release. Refer to @cllns for how to publish the changes.

@cllns I agree that integrating this in the release process is too much work for a "nice to have", I'd just CTRL+C/CTRL+V the markdown from the CHANGELOG into the GitHub release, since

[2017-03-13 11:35] jodosha commented on #739
@zavan Gotcha. Thank you.

This can work.

[2017-03-13 11:35] jodosha commented on #736
@cllns WDYT?

[2017-03-13 13:09] jodosha commented on #744
@sandelius Please go ahead with the fix, I'll take care of the tests. Are you able to provide a PR in the next couple of days? We want to ship beta3 soon. Thank you.

[2017-03-13 14:02] sandelius commented on #744
@jodosha I can do it later today but I would really love to add a test as well. Would a unit or integration be the better option?

I'm trying to "learn" how you guys write, and place, your tests so I can contribute more.

[2017-03-13 15:49] jodosha commented on #744
@sandelius I asked to provide only the fix implementation, but not the tests because I recognised we didn't had an integration test for `hanami server` logging.

With https://github.com/hanami/hanami/commit/3b435ae1c65afa2aaa3fcbec9c0bfee98b7b6cf4 I added an integration testing for logging. Please use it as a starting point for testing your fix.

[2017-03-13 17:01] cllns commented on #736
I don't think it's a very common workflow. But, more importantly, I think this functionality is what developers will expect from a command line utility.

I agree it's not worth adding a lot of code to support this minor use-case.
I think it'll be just a few extra lines of code, in [`lib/hanami/commands/new/abstract.rb`](https://github.com/hanami/hanami/blob/master/lib/hanami/commands/new/abstract.

[2017-03-14 00:46] davydovanton opened #750 "Wrong CI status"
We have errored tests (like this https://travis-ci.org/hanami/hanami/jobs/210778507#L1273), but travis shows that build was passed. I think it's a bug. WDYT?

[2017-03-14 01:39] b264 commented on #750
This is the build running on `jruby-head` and `jruby-9.1.6.0` which both allow failures in the build.  It's an FYI only in case official support for these languages is added, these are likely things that will need addressing.  Its source is https://github.com/hanami/hanami/blob/506a35e5262939eb4dce9195ade3268e19928d00/.travis.yml#L22-L23

[2017-03-14 10:03] davydovanton commented on #750
okay. Please open this build: https://travis-ci.org/hanami/hanami/builds/210778505
after that open this (2.3.3 ruby) job: https://travis-ci.org/hanami/hanami/jobs/210778506
and you'll see that it's not a jruby problem

[2017-03-15 11:45] alcesleo opened #751 "NoMethodError on nil: hanami/mailer/dsl.rb:84:in `templates'"
When trying to get mailers set up I keep running into this problem - it might be because of a misconfiguration but it is not providing me enough information to understand what is missing.

It can be reproduced by generating a new hanami app, then instantly generating a mailer, setting the 3 fields in the mailer and trying to `deliver` via the console. At this point the mailer is obviously not conf

[2017-03-15 16:10] mereghost commented on #751
@alcesleo Is it a new project or you were upgrading an old one?

[2017-03-15 16:18] alcesleo commented on #751
It is a new project, I reproduced it by generating a completely fresh one without altering config/environment.rb. In the project I first encountered it I have tried to configure some stuff in that file but none of those changes changed this behaviour. If you still think the config/environment.rb is relevant I'll post it as soon as I get the chance!

[2017-03-15 17:41] mereghost commented on #751
@alcesleo can you confirm if the same happens when using the test environment?

[code]

[2017-03-15 19:25] mereghost commented on #751
Upon further investigation it seems that this problem is related to our implementation of code reloading. =/

[2017-03-15 19:48] alcesleo commented on #751
It seems to work fine in the test environment, but I think you already solved it? :)

[2017-03-17 10:06] #744 closed

[2017-03-17 15:32] jodosha commented on #740
Fixed by #742

[2017-03-17 15:32] #740 closed

[2017-03-17 21:40] gizotti commented on #733
@cllns @davydovanton I'll have a go at this one. Can you guys point out a good start point, I am looking for it now but a little help is always welcome :).

As for `pp`, should we also have an option if people want to disable `pp` and display the params in a single line?

[2017-03-18 00:51] andrew commented on #740
🎉

[2017-03-20 11:41] gizotti commented on #733
Hey guys. Just a heads up that I started on this one.
I'll try to put something out sometime this week :)

[2017-03-20 14:56] alcesleo commented on #751
I'm sorry to say that this is still reproducible with hanami 1.0.0.beta3 and hanami-mailer 1.0.0.beta2

[2017-03-21 17:23] mereghost commented on #751
Gah! Code reloading is eating us alive. >.<

I'll check it again, but the core of the issue lies around the code reloading and the fact that most magic happens on the `included` hook of `Hanami::Mailer`.

[2017-03-21 17:25] alcesleo commented on #751
Thank you! It looks tricky

[2017-03-28 11:56] #751 closed

[2017-03-28 11:56] jodosha commented on #751
@alcesleo Can you please try with `master`? Thanks.

[2017-03-28 11:57] alcesleo commented on #751
Will give it a shot as soon as I have time! Thank you!

[2017-03-28 16:58] ixti opened #757 "First mailer config rejects any further mods"
Let's start with [initial](https://github.com/hanami/hanami/blob/master/lib/hanami/generators/application/container/config/environment.rb.tt) (leaving relevant parts only) configuration hanami generates for us:

[code]

In this configuration, `mailer` block inside of `environment :production` will be silently ignored. And as result `delivery :test` will be applied to all environments. The reason i

[2017-03-28 17:07] ixti opened #758 "`Hanami::Utils.reload!` is used in development regardless if code-reloading is used or not."
I found subj while using `Dry::Struct` for one of my entities. Latter one does not plays well when double loaded with `load` leading to `Dry::Struct::RepeatedAttributeError` exception being raised:

[code]

I wasn't able to receive any replies in dry-rb chat if it's possible to disable attributes schema checks. Although from my investigation of dry-struct code it's impossible. I believe that hanam

[2017-03-29 11:27] davydovanton commented on #758
hey, could you paste code from `/home/ixti/playing-with-hanami/example/lib/example/entities/access_token.rb` file? :)

[2017-03-29 11:59] davydovanton opened #759 "Generate readme.md file for new project"
We all love readme files. We use it in our public and private projects. And that's why I think we should generate simple readme with project name.

WDYT?
/cc @hanami/core

[2017-03-29 12:54] ixti commented on #758
Sure:

[code]

In fact I just pushed a fresh-new demo of this issue:
https://github.com/ixti/hanami-reload-issue/

[2017-03-29 13:12] davydovanton commented on #758
hm, I think the problem in default value for id type `Types::String.default { SecureRandom.uuid }`.
I know that it's a hack but you can define default value in constructor (`#initialize`)

@hanami/core any ideas?

[2017-03-29 13:15] ixti commented on #758
unfortunately [no, it's not](https://github.com/ixti/hanami-reload-issue/commit/0d621b0baee6fa308c0786c07db0127a1784c1f3). If you will remove `:id` attribute line it will start complaining about next one:

[code]

[2017-03-29 13:21] ixti commented on #758
Let's start with root of this problem: dry-struct. It does not allows redefining (even with same options) fields. Let's start with simple code:

[code]

We can easily re-open this class and add new attributes:

[code]

So now `AccessToken` will have 2 attributes: `:secrect` and `:digest`. But if you will try to re-define `:secret` attribute even with same (let's call it) signature, you will get th

[2017-03-29 13:33] ixti commented on #758
Now let's take a look on the issue from hanami perspective. Issue is happening due to the way hot code reloading works. Here's default generated [entry point](https://github.com/ixti/hanami-reload-issue/blob/master/lib/playing_with_hanami.rb) of a project:

[code]

That is absolutely fine in fact. Her'es what we have in [utils](https://github.com/hanami/utils/blob/4e5358245d82515f8f4a3023db1f8a977

[2017-03-29 13:43] jodosha commented on #757
@ixti Thanks for reporting this. I'm gonna write a patch for it.

[2017-03-29 13:49] ixti commented on #757
Awesome! Thanks!

[2017-03-29 16:30] cllns commented on #759
I don't think this is necessary, but I'm OK with it as long as it's very short and not-too specific. I personally prefer having no README to having an outdated boilerplate one :)

I generally just create a README once I need it.

[2017-03-30 06:21] #757 closed

[2017-03-30 06:37] jodosha commented on #758
@ixti I'm sorry about this problem and thank you for the in depth analysis.

---

As now, Hanami loads twice the code under `lib/`. This is inefficient, but "fine" in case:

  * A dev uses `hanami-model`
  * A dev disables code reloading (via `hanami server --no-code-reloading`)

When other libs are used, this boot system can blow up, like in this case with `dry-struct`.

---

In order to simplify

[2017-03-30 17:42] alcesleo commented on #751
I can confirm that changing `gem "hanami", "1.0.0.beta3"` to `gem "hanami", github: "hanami/hanami"` does solve this issue. :)

[2017-03-30 19:18] jodosha commented on #751
@alcesleo Thanks for getting back. I'm happy this is fixed for you. 😉

[2017-03-30 19:25] alcesleo commented on #751
My pleasure, thanks a lot!

[2017-03-31 06:50] #758 closed

[2017-04-01 13:40] AlfonsoUceda commented on #759
IMO this is not need, I'd leave the responsibility to the user

[2017-04-02 21:49] AlfonsoUceda commented on #739
We can try that for the next version.

[2017-04-03 01:48] ixti commented on #758
I found when even with #762 hanami console will fail. If some file will have `require` of that entity:

[code]

More than that. If any of files will have module/class with some constants defined, and that file will be required, a warning will be shown, e.g.:

[code]

[2017-04-03 01:49] ixti commented on #758
@jodosha I can update demo repo with what I mean to prove that it's a valid use case that fails due to usage of `load` :D

[2017-04-03 01:53] ixti commented on #758
To keep it simple, problem comes when one wants to "control" what is required when. One good reason for that is, e.g. I need to `require "../types"` in my dry-struct based entities, otherwise code load will fail as types are loaded after entities.

[2017-04-03 05:35] jodosha commented on #758
Please update, as I want to fix this ASAP. Thanks.

http://lucaguidi.com

[2017-04-03 12:08] ixti commented on #758
@jodosha Okay I pushed two commits to show the problem from 2 different angles.

[First one](https://github.com/ixti/hanami-reload-issue/commit/fa0921cf5362fb5d99930781a12e6c0c74b809a8) is pretty "opinionated". Personally I prefer to explicitly specify all my dependencies either with `require` (or `require_relative`) or with `autoload :Bar, "foo/bar"` (it won't work with hanami though - because we

[2017-04-03 12:42] ixti commented on #758
Small clarification on how to "see" problems in action:

[code]

[2017-04-06 11:02] gizotti commented on #738
@jodosha I am already working on #756, so I would be more than happy to keep working on the logger and implement these extensions if nobody is working on this yet.

[2017-04-07 01:24] ZhangHanDong opened #764 "Error: hanami new admin --architecture=app"
[code]

[2017-04-07 02:38] thelastinuit opened #765 "Docker"
Hey guys,

Awesome work!

This is sort of bias but here you have our two possible cents.

We usually develop with docker at The Clowder. So we already love your project and we dockerized it like right now.

Here's a link for those who might or might not like the idea of developing with docker:
[Docker!](https://github.com/TheClowder/docker-hanami)

If this is not your thing, just close it!

Many t

[2017-04-07 02:50] welkie opened #766 "Example on website won't work if not using Ruby 2.3.1 locally"
Hello,

I was curious to try Hanami out now that it's at its 1.0.0 release (great work, devs :+1: ), so I followed the steps on the home page where it has the three sections for "Download", "Develop", and "Deploy". Unfortunately, since I wasn't using Ruby 2.3.1 locally (I use RVM and I'm on 2.4.1 right now), I wasn't able to run the ```bundle``` command locally and therefore a Gemfile.lock file wa

[2017-04-07 04:30] joneslee85 commented on #766
@welkie `bundler` was not shipped by default in any Ruby installation, I speculate that you forget install `bundler`.

I think it is a good idea to update the doc to include `gem install bundler` step

[2017-04-07 04:31] joneslee85 commented on #765
@thelastinuit can you please share it on https://discourse.hanamirb.org/ instead? The GH issues are not meant for general information sharing purpose. Thanks for writing in.

[2017-04-07 04:31] #765 closed

[2017-04-07 04:51] cllns commented on #766
@joneslee85 [I tried that](https://github.com/hanami/hanami.github.io/pull/221) but @jodosha notified me that `bundler` is a dependency of `hanami` (as it should be), so that shouldn't be the issue.

I think the only issue here is that @welkie had `2.4.1` installed but not `2.3.1`? And therefore installed `hanami` for `2.4.1` but not `2.3.1` (which bundler wants to use).

Ideally we shouldn't spec

[2017-04-07 04:54] cllns commented on #764
Hi @ZhangHanDong. Thanks for checking out Hanami! Sorry you ran into this issue. We actually don't support the `app` architecture anymore, just the `container` architecture.

We have an open pull request to fix this, so you wouldn't see this option: https://github.com/hanami/hanami/pull/737

Going to close this but thanks for reporting! 🌸

[2017-04-07 04:54] #764 closed

[2017-04-07 04:58] cllns commented on #765
@thelastinuit thanks for implementing and sharing this!

I think this would be **great** on http://awesome-hanami.org/

If you open a PR in this repo https://github.com/davydovanton/awesome-hanami it should get merged :D

[2017-04-07 05:22] ZhangHanDong commented on #764
@cllns how to generate another_web in apps ?

[2017-04-07 05:38] thelastinuit commented on #765
oh great! Thanks!

[2017-04-07 05:50] cllns commented on #764
@ZhangHanDong `hanami generate app admin` (sorry, I notice that's what you were trying to do. now I see it)

It's confusing, but the `app` architecture was just a single app as a Hanami project. We still have apps, they're just within the project (what we called `container`)

[2017-04-07 05:56] ZhangHanDong commented on #764
@cllns I see.  Thanks for your reply.

[2017-04-07 09:52] kaikuchn opened #767 "Upgrading from 0.9.2 to 1.0, `mailers` folder required"
Hey folks,

I've just updated my app from 0.9.2 to 1.0 and it was a breeze! :heart:
There was only one slight hiccup, I did not have a `mailers` folder even though my `config/environment.rb` file includes sections for mailers. This was not a problem in 0.9.2 but the app would crash now when one has mailers configured but no `mailers` folder in `lib/[YOUR_APP]/`.

I realise it is rather weird to ha

[2017-04-07 14:15] welkie commented on #766
I had bundler installed. When I ran ```bundle``` it said something along the lines of "the gemfile says 2.3.1 but your Ruby version is 2.4.1.

[2017-04-07 17:32] cllns commented on #766
Thanks! Then yes, I think it's true that "the only issue here is that @welkie had 2.4.1 installed but not 2.3.1".

@welkie Can you try the instructions again, without specifying the ruby version at all? It should work, although you'll see a Heroku warning telling you to specify the ruby version.

Came up with a couple more robust ways of getting the version number, though I think they're too compl

[2017-04-08 02:34] welkie commented on #766
Unfortunately omitting it doesn't work. :( I tried it without the echoing Ruby version to Gemfile step and I got:

[code]

[2017-04-08 13:45] cllns commented on #766
Damn! Thanks for checking

Looks like Heroku's docs are wrong then, if they're using `2.2` and not `2.3` (since `2.4` is out) 😕

[2017-04-08 14:32] welkie commented on #766
I got it working. :)

It works when you run bundle and **then** add the ruby version to the Gemfile. You get to specify higher than the Heroku default Ruby so that Hanami works, and the Gemfile.lock is present so Heroku's build process knows what to do:

[code]

[2017-04-09 11:19] davydovanton commented on #765
@thelastinuit Yep, absolutely agree with @cllns. Good job 👍

[2017-04-16 05:16] opan opened #769 "Got many warning when start hanami server"
Hi, firstly thank you for this great framework.
Okay, to the point. I have got a lot of warnings when I started `hanami server`. Here is the log:

[code]

Do you guys have any idea how to remove these warnings?
Ruby version: `ruby 2.3.3p222 (2016-11-21 revision 56859) [x86_64-darwin15]`
Hanami version: `v1.0.0`

Thank you in advance

[2017-04-17 16:13] mereghost commented on #769
These warnings are due to our code reloading feature, well... reloading the class definitions and it's constants and are innocuous.

That being said, we intend to perfect our code reloading so, among other things, it will not trigger any warnings.

[2017-04-17 16:14] mereghost commented on #769
Also for getting your answers way faster, consider joining us at https://gitter.im/hanami/chat . =)

[2017-04-18 15:01] jodosha commented on #769
@opan Why aren't you using json 2.1.0? Does `hanami server` causes these warnings too?

[2017-04-20 18:39] TiteiKo commented on #736
I think it's already implemented, isn't it ? https://github.com/hanami/hanami/blob/master/lib/hanami/commands/new/abstract.rb#L110

[2017-04-25 14:56] jodosha commented on #738
@gizotti We have #768, but thank you anyway 👍

[2017-04-25 14:57] jodosha commented on #736
@TiteiKo At this point, I'm not sure if it's still working or not. 😄

[2017-04-25 14:59] jodosha commented on #736
Folks, the question is: do we want this feature or not?

If yes:

If it's already implemented we should add tests for it, so during the CLI rewrite it won't get lost.
If it isn't already implemented, we should make it happen.

If not:

We should remove dead code.

@hanami/core what's your opinion?

[2017-04-25 15:01] jodosha commented on #739
Okay, let's give it a shot. @AlfonsoUceda please take care of this.

Closing this issue as "fixed".

[2017-04-25 15:01] #739 closed

[2017-04-25 15:02] jodosha commented on #735
Marked as enhancement given the general consensus.

[2017-04-25 15:03] jodosha commented on #759
@davydovanton Can you please specify what do you think goes inside the `README`?

[2017-04-25 15:04] jodosha commented on #766
@welkie Hi, I'm happy that you made it working. Thank you all. 👍

[2017-04-25 15:04] #766 closed

[2017-04-25 15:05] jodosha commented on #767
@kaikuchn Hi, would you be so kind to add a PR here to add that missing step? Thank you very much! https://github.com/hanami/hanami.github.io/pulls

[2017-04-25 15:05] #767 closed

[2017-04-25 15:44] davydovanton commented on #759
@jodosha I think it will be good if we will generate base `README` file with this parts:
- Project name and description
- How to start project (for new developers)
- Or maybe copyright

In general, I see that this readme file will look like bundler generated readme file for each gem

[2017-04-25 17:55] cllns commented on #739
@AlfonsoUceda This is the page you need to add release notes: https://github.com/hanami/hanami/tags (have to switch to the 'Tags' tab, 'Releases' doesn't show any options for editing the release notes)

[2017-04-25 21:56] akhramov commented on #735
@jodosha, may I take this one?

Thanks!

[2017-04-25 22:20] cllns commented on #735
@akhramov go for it!

[2017-04-26 07:14] AlfonsoUceda commented on #736
It can be added with the rewrite of CLI, so let makes this happen.

[2017-04-26 07:17] AlfonsoUceda commented on #739
@cllns thanks for the comment ;)

[2017-04-26 08:42] jodosha commented on #759
Good for me 👍

[2017-04-26 08:43] jodosha commented on #759
What the rest of @hanami/core thinks? 😸

[2017-04-26 14:35] mereghost commented on #736
I have a radical opinion on how we could tackle this: we could wait and see if the userbase requests this feature.

And from what I understood from @davydovanton example he would need something more along this line (please correct me if I'm wrong):  `hanami new awesomesauce --dirname not-so-awesome`, which to be honest, seems to make sense.

[2017-04-27 20:17] vladra opened #775 "Issue with Hanami::Utils.reload!"
Hi guys!

I'm using hanami 0.9, and finally got a chance to upgrade it to 1.0

It's related to #758 , but I don't see how that solution can solve my problem. I don't have that file at all (tried to add empty one though).

So, basically problem itself is exactly the same. In production I can start server successfully. But in development I can't start console, or can't start server because of file b

[2017-04-27 20:25] vladra commented on #775
Just found how to solve it from test examples, but maybe there is better suited approach to solve my problem, other then using internal api.

[2017-04-30 23:16] sleekybadger opened #776 "Generate modules in app namespace for custom load paths"
Hi, thank you for such great project.

I wonder, should we automatically generate modules that not defined for custom directories that we define in Application configuration block?

#### Example:

[code]

For such config in addition to `Api::Controllers` and `Api::Views` we will generate `Api::Schemas` module.

I think that this can be handy, cause it will be help keep consistent directory structu

[2017-05-04 12:09] davydovanton opened #778 "Allow to start only specific hanami apps"
I think one of the killer features of hanami is isolated applications. That's why I believe that it will be awesome if we allow options for start hanami server only with specific apps. Something like this:
[code]

## Why is so important?

With this feature, we will scale our monolith hanami application by domain-specific servers. For example:

1. Set only API cluster independent of main web app
2.

[2017-05-04 12:17] beauby commented on #778
As discussed, I :+1: the idea. Not sure about the implementation though. I'd suggest something along the lines of:
[code]

where `application_enabled?` is something along the lines of:
[code]

[2017-05-08 06:18] diawl commented on #769
I got similar warnings but only for `hanami c`, `hanami server` does not cause them. Is there anyway to get rid of them for `hanami c`?

[2017-05-08 09:37] deemytch opened #779 "Clever description of adding new body parsers and new formats"
Suppose I want to add an parser for say msg_pack format.
I found two places where it is described:
1. Here is not clear, where to place those pieces of code.
https://github.com/hanami/router#custom-parsers
2. Description here is different from previous and not working
http://hanamirb.org/guides/actions/parameters/#body-parsers
with `NameError: uninitialized constant Proxy::Application::MsgPackPars

[2017-05-08 10:26] deemytch opened #780 "Need utf-8 out of the box"
archlinux x64, ruby 2.4.1p111, hanami v1.0.0

[code]
Sending POST with postman:
header: "Content-Type: application/xml"
[code]
Answer is:

Sending with curl:
[code]
Answer is:

[2017-05-08 15:10] davydovanton commented on #779
@deemytch hey, did you require your parser file to `apps/proxy/application.rb` file?

[2017-05-08 15:11] davydovanton commented on #780
@hanami/core WDYT?

[2017-05-08 19:49] deemytch commented on #779
There are at least 3 points where I can add  `require_relative my_parser` but I think this have to be added to wiki.
At the end I added require directive to the `lib/proxy.rb` and got bug#780, hehe.

[2017-05-09 08:17] kaikuchn commented on #780
What's your `echo $LANG` @deemytch ?

[2017-05-09 11:48] deemytch commented on #780
Very interesting. I made a repo https://github.com/deemytch/hanamistub
[code]

[2017-05-09 12:35] kaikuchn commented on #780
Okay, I cloned that repository, I specified my local postgresql as the database url and prepared the db using `hanami db prepare`. I then started the server using `bundle exec hanami s`.
Now:
[code]
gives me a blank response.

I do see some warnings in the server logs:
[code]

[2017-05-09 13:04] deemytch commented on #780
Ok. I forgot about `db prepare`. I did it, and got
[code]

[2017-05-09 13:10] kaikuchn commented on #780
So everything works for you?
It is weird that you did not get a `Hanami::Model::Error: PG::ConnectionBad: FATAL:  database "proxy_development" does not exist` error when you forgot to run `db prepare`. Did the database exist but with different settings? I.e., when you drop it now and curl your server, do you get the correct `ConnectionBad` error?

[2017-05-09 21:48] mereghost commented on #780
It seems that rack was trying to render the error about the missing database and including the utf-8 payload on the message and it was failing miserably.

[2017-05-14 05:27] backus opened #782 "New user experience: `hanami new -h`"
I'm trying out Hanami (and liking it) but I wanted to share a small nitpick that made me laugh. I was about to start my first hanami application and I wanted to check what I could specify. Here is what I ended up doing:

[code]

Not a big deal but seems like it would be nice to handle that better.

[2017-05-16 15:03] jarosluv opened #784 "Migration doesn't removed when destroy model"
When I generate and then destroy model through generator, migration file doesn't removed.

Without fix we have different names of migration file:
[code]

Please, see my [PR](https://github.com/hanami/hanami/pull/783).

[2017-05-16 20:37] AlfonsoUceda commented on #782
@backus thanks for reporting it ;) We are working to improve our CLI and make it more robust.

[2017-05-16 20:37] #782 closed

[2017-05-19 17:13] arni1981 opened #785 "Error when db/migrations folder is not present"
Steps to reproduce:
1. Manually remove `db/migrations` folder.
2. Run `bundle exec hanami g model user`

Fails with this error message:

[2017-05-20 16:14] cllns commented on #759
No README is better than having a generic, generated README, IMO :)

[2017-05-20 22:37] arni1981 commented on #785
Perhaps I should have filed this in Hanami::Model, since it seems to boil down to this line

[](https://github.com/hanami/model/blob/master/lib/hanami/model/configuration.rb#L75)

[2017-05-25 23:07] jarosluv opened #786 "Minimal viable application template for reproducing bug reports"
Hi, folks!

I propose to add a one-file minimal Hanami application for reproducing errors and other similar things. We have a good [example in Rails world](https://github.com/rails/rails/tree/master/guides/bug_report_templates).

The first attempt for implement this looks like that: https://gist.github.com/jarosluv/508c2ececd32d3e4afe788b569846776

The main problem is if we uncomment commented lin

[2017-05-26 01:00] cllns commented on #786
I like this idea! The example you show would be good for `hanami/model`. Each library would have their own (including `hanami/hanami`)

[2017-05-27 18:42] jarosluv opened #787 "Initializers don't load"
Hey, guys!

I don't certainly sure what's happend, but it's pretty strange that files in new Hanami project under `config/initializers` doesn't load.

How to reproduce:
1. `hanami new foo`
2. `cd foo`
3. `bundle`
4. `echo 'puts "FOO"' > config/initializers/foo.rb`
5. `hanami server` doesn't show anything. `Ctrl-C`
6. Add line `require_relative "./initializers/foo.rb"` to top of `config/environment

[2017-05-30 05:48] artofhuman commented on #785
@cllns What behavior for this issue. If we don't have migrations directory which setup in the config, should we create this directory or use project root?

[2017-05-30 10:46] Morozzzko commented on #787
Same thing happened with my pet project a month ago.
Used the `require_relative` workaround, worked like a charm.

I used to believe it was an intentional design decision. Not sure now though.

[2017-05-30 10:51] jarosluv commented on #787
I saw code and it must be done automatically from the box, as I understand.

[2017-06-02 15:08] mereghost commented on #787
Without the require, do you get the output when opening a console? Same with doing a simple request to the root url?

[2017-06-02 21:20] jarosluv commented on #787
@mereghost

In both cases I see "FOO" even without require.

[2017-06-03 01:13] rpanachi commented on #769
I have the same issue after upgrade from Hanami 0.9 to 1.0, either running `hanami c` or `hanami server`. When running server, the same "already initialized constant" warnings are shown on each request.

I can't leave the `lib/<project-file>.rb` empty (https://github.com/hanami/hanami/pull/762) because I explicitly require all dependences there (https://github.com/hanami/hanami/issues/758#issuecom

[2017-06-05 10:31] jarosluv opened #788 "Do you want some magic?"
Hi, folks!

I've found the most strange behavior of Hanami and I hasten to share with you.

As a new Hanami user, I think that app must be loaded through `boot.rb` file.
This is not true. The start of app loading don't touch `boot.rb` and is located in the `config.ru` file. Okay, I think `boot.rb` used in another cases. I'll deal with it later.

Go further.

I see that environment required in this

[2017-06-05 14:11] jodosha commented on #788
@jarosluv Hi. Which logic do you need to run before Hanami?

[2017-06-05 14:19] jarosluv commented on #788
@jodosha

I want to preinitialize I18n. But certainly I can do this in `environment.rb`. Nonetheless, the question is different. There is sick moment with **explicitly** requiring of `environment.rb`. It's no sense, since it already **implicitly** loaded from the Hanami gem internals.

[2017-06-06 07:00] nattfodd opened #789 "Asset helpers don't work on status pages. Intended?"
Maybe it's not a bug, but I would like to clarify: is it intended that for default status pages like 404.hml, 500.html - there's no option to use [asset helpers](http://hanamirb.org/guides/helpers/assets/) (like asset_path, image, javascript, etc)?

Here is the related part of Hanami code, just for simplicity:
https://github.com/hanami/hanami/blob/master/lib/hanami/rendering_policy.rb#L54-L70

[2017-06-07 12:29] cllns commented on #735
Closed by #774 🎉

[2017-06-07 12:29] #735 closed

[2017-06-08 12:37] thiagopecanha commented on #735
Maybe the it block could it be something like
'''
describe "an example" do
  it "is implemented but waiting" do
    pending("something else getting finished") do
      raise "this is the failure"
    end
  end
end
'''

[2017-06-18 15:01] mbajur opened #790 "Non-hanami folder in /apps dir"
Hello!

I'm trying to create a SPA + hanami backend website and decided it would be pretty good idea to put my frontend code (written in node/js/vue.js) in `/apps/frontend`.

The problem is - when i'm trying to run a generator command (`$ hanami g action web application#index`), hanami throws:

[code]

This makes me think that hanami expects any folder in `/apps` to be a hanami sub-application. Wh

[2017-06-18 19:11] b264 commented on #790
I would definitely put the frontend behind the [fingerprint mode](http://hanamirb.org/guides/assets/overview/) to avoid cache issues

[2017-06-22 21:26] mereghost commented on #776
Hmmm... I personally have no problem with it, even if it's a bit too magic and you can already create those by using pure ruby.

WDYT @hanami/core ?

[2017-06-22 21:27] mereghost commented on #787
Yeah. It's our "code reloading" feature biting us again. On it.

[2017-06-22 21:30] #780 closed

[2017-06-22 21:30] mereghost commented on #780
As it's solved, closing this.

[2017-06-22 21:32] mereghost commented on #789
IIRC most error pages end up being treated by Rack directly (or by the web server in case of 500+ errors), so I'm not sure we should have helpers working on error pages at all.

WDYT @hanami/core ?

[2017-06-22 21:42] mereghost commented on #750
Closing as it's not relevant anymore.

[2017-06-22 21:42] #750 closed

[2017-06-23 06:40] TiteiKo commented on #790
I don't think hanami expects this.. The error message makes me think that there is an actual problem in your code. It looks like you somewhere have a requirement for `/apps/frontend/config/environment` (a file that is not part of the hanami app structure)

I've tried reproducing the problem but couldn't:

[code]

The generation command just does its job:
[code]

Could you be more specific on what

[2017-06-23 06:42] mbajur commented on #790
I checked everything twice and... i'm an idiot, i was trying to run `hanami c` from inside the `apps/frontend` directory instead of the root dir. I'm very sorry for confusion and fatigue.

[2017-06-23 06:42] #790 closed

[2017-06-23 06:43] TiteiKo commented on #790
No worries, I'm glad you found the answer to your problem :)

[2017-06-23 07:00] TiteiKo commented on #789
I disagree @mereghost, I think we should have asset helpers for error pages (and layouts)

These past few years, a lot of websites have made their error pages evolve to become less frightening for users and to still feel like you're in the website.

There's no need to have an empty page for a 404 (or even a 500+ in most cases), you can have your navigation and lead the (otherwise lost) user back t

[2017-06-23 07:11] TiteiKo commented on #776
Nope for me. Even if you remove `'controllers'` from the list, `Api::Controllers` will still be generated because there's no relationship between loading directories and modules creation.

Furthermore, it won't remove empty modules definitions, you just won't see it ;)

And if you add `lib` to the loading, when in fact you put classes like `Api::DoTheStuff` in `apps/api/lib`, then you'd have creat

[2017-06-23 07:50] kaikuchn commented on #789
I absolutely agree with @TiteiKo. Any professional website should have decent error pages.
Most users will have some navigational component in their application layout and will want to render it or a minimal version of it when errors occur.

In theory the application layout could be the culprit for the occurrence of an error and in that case we'd be in deep s***. But I'd argue that it would be the

[2017-06-24 03:29] mereghost commented on #789
@TiteiKo I'm not against it, but having the application stack render an error page could lead us down a rabbit hole, specially if the application stack isn't working at all.

Static assets like error pages usually are served directly by the web server, with css and images that can be used when the application stack isn't even running at all, at least that's how we usually did. This does not bar yo

[2017-06-24 06:19] Nattfodd commented on #789
What about allowing user to use asset helpers on 404 for ex., but make those static pages compilable, so everything is wrapped into single html document in production?

[2017-06-24 18:10] b264 commented on #789
Compiling the error page is a great idea.

[2017-06-26 17:03] mereghost commented on #784
Closed by #783

[2017-06-26 17:03] #784 closed

[2017-07-01 10:01] davydovanton commented on #775
@vladra sorry for the long response.

@hanami/core could you check this? thanks!

[2017-07-02 17:22] davydovanton commented on #759
merged to `develop` branch

[2017-07-02 19:02] BenBach commented on #648
I totally agree that this should be outside of lib since it's own delivery mechanism.

How are you handling this right now? The assets is not really an issue for me since I serve them from a bucket for static files.

But I am struggling how to use **routes**. Right now I didn't find a good way to achieve this. Did someone already did a good workaround? (e.g. "Confirm your email address")

[2017-07-05 14:43] cllns commented on #759
Can we reconsider this, please?

Generating a file with 3 `TODO`'s seems pointless.

I don't think we need to generate this file at all, but if we do, can have it mostly blank, rather than having a bunch of boilerplate that needs to be deleted?

Also, I don't think we should be saying the project is licensed on MIT. Most Hanami projects will be closed-source, and I don't think they'll want to lice

[2017-07-05 15:14] davydovanton commented on #759
@cllns nice point 👍

[2017-07-05 15:15] TiteiKo commented on #648
@jodosha I've been thinking a lot about this since @BenBach comment...

Structurally speaking, I'd do something like this:

[code]

Because emails usually are complex. More than just static text, they can have routes, they often need to retrieve stuff from the database, etc etc.

It is really close to a website classic page delivery:
* the email (or call it what you want) class determines the deli

[2017-07-05 15:49] TiteiKo commented on #759
@cllns :+1: on the license point.

IMHO: if we generate a generic readme with more content than a title, it should contain useful and hanami-specific informations:
* how to run the tests
* how to run the console
* how to setup the dev environment (db setup)

Those are informations that are good to have in the readme of any project.

[2017-07-05 15:50] AlfonsoUceda commented on #759
Agree @cllns and @TiteiKo 👍

[2017-07-08 09:26] BenBach commented on #648
@TiteiKo Thanks so much for provided such a nice and clean solution proposal.

I will try that out.

The point which got me concerned at first was that I can't use route helper methods from the specific apps. So if a route changes in an app the mailer won't know it.
But actually this makes total sense: Routes are an interface of an application as well. It's a contract, which you should rarely / ne

[2017-07-10 15:26] BenBach opened #797 "Mixin in mailer prepare is not included in mailers"
Hi the following code does not work for me:

environment.rb:
[code]

I can confirm that doing a direct include in a mailer works. For example:
[code]

[2017-07-12 15:11] TiteiKo commented on #797
Humm.... So, I confirm this bug, but I have no idea how to fix this...

To add a bit to the informations:

It doesn't work when putting the include like this:
[code]
Nor like this:
[code]

Stranger even, `Mailers::Foo` and `Hanami::Mailer` have different configurations (see the different delivery method, and the absence of modules):

[code]

:unamused:

[2017-07-13 10:09] #759 closed

[2017-07-14 14:10] TiteiKo commented on #738
Close by #768

[2017-07-14 14:10] #738 closed

[2017-07-14 16:37] cllns opened #803 "Run command-line utilities from subfolders"
In #790, @mbajur accidentally ran `hanami` commands from a subfolder, rather than their main hanami directory.

I think we should allow hanami commands in any subfolder of the main project folder.

This will require traversing up the folder hierarchy, looking for a Hanami project, and running the command from there.

This should be done *after* the `hanami-cli` integration is complete, I think.

[2017-07-14 16:40] cllns commented on #769
I think I had this problem and upgrading the `json` gem fixed it. Is there some reason you need an older version of `json`?

[2017-07-14 16:41] cllns commented on #785
@arni1981 I think this belongs here, actually, since it's a generator problem.

@artofhuman I think we should create the `db/migrations/` folder, if it doesn't exist.

[2017-07-14 16:50] cllns commented on #789
Compiling static pages sounds good, if that's simple enough.

Otherwise, I think we should allow asset helpers on these pages, but *also* have a backup 500 page, in-case any of those break?

[2017-07-14 19:05] b264 commented on #789
I'd prefer compiling the error pages over having a backup version of the 500 page.

Maybe the compiled error page can have a _default_ value before it's changed, but having two is not good in my opinion.

If all the CSS and JS and images are inlined into the HTML (with an asset rake task) then it should be servable by, for example, NGiИX, regardless of any application errors.  So in effect, the er

[2017-07-16 12:33] opan commented on #769
@jodosha Sorry for the late response. Well those warnings is gone now after I uninstall the `json` gem and then run `bundle install`. Btw thank you very much for all response!

[2017-07-16 13:59] olistik opened #804 "In DATABASE_URL I can't use a password containing special characters"
I’m trying to set up the credentials within `DATABASE_URL` and I’m having some issues with special characters.

In `.env.development` I have `DATABASE_URL="postgresql://deployer:p@ss@localhost/bookshelf_development”` (notice the password `p@ss`).

When I try to connect from the command line via `psql` I can authenticate (I typed `p@ss` when asked for the password):

[code]

As per [this very same

[2017-07-16 14:11] olistik opened #805 "Improve connection string parsing"
As per the [PostgreSQL documentation](https://www.postgresql.org/docs/9.6/static/libpq-connect.html):

Given `DATABASE_URL` from `.env.development`:

[code]

When I invoke the `db console` command I get prompted for a password and if I enter one I can see that the user has not been considered too (`olistik` is my system user):

[code]

meaning that the query parameters are ignored.

Is this expect

[2017-07-17 07:18] kaikuchn commented on #804
See https://github.com/hanami/model/issues/402

[2017-07-17 09:52] olistik commented on #804
@kaikuchn

You nailed it in the head :-)

I'm using an OpenBSD box, I don't know if there are environment differences in my setup.
I'm going to test the issue in another environment.

One question related to [your comment on the referenced issue](https://github.com/hanami/model/issues/402#issuecomment-302010864):

you mean [percent encoded](https://en.wikipedia.org/wiki/Percent-encoding), right?

[2017-07-17 10:03] kaikuchn commented on #804
It's the same, as the wikipedia article states ;)

I'll be happy to assist in finding out why it isn't working for you. I assume you are using Hanami 1.0?

[2017-07-17 13:12] olistik commented on #804
I missed that bit :-D

🙇

Yes, I am. Here's a more detailed context of my environment:

[code]

In `pg_hba.conf` I then changed the `METHOD` for the `TYPE` `local` from `peer` to `md5`:

[code]

and then issued a full restart of the service:

[code]

the setup of Postgres:

[code]

The password I'm entering at the prompt is `p@ss`:

[code]

therefore a direct connection with `psql` works.

[code]

[2017-07-17 13:15] olistik commented on #804
and if I use the simpler password `pass`, everything works fine:

[code]

[2017-07-17 13:15] kaikuchn commented on #804
Could you check if using method `password` instead of `md5` would work?

[2017-07-17 13:23] olistik commented on #804
resetting the password to `p@ss`:

[code]

and changing (one by one) every method from `md5` to `password`:

[code]

each change followed by a full restart of the service:

[code]

and by a test with the hanami command:

[code]

[2017-07-17 15:16] kaikuchn commented on #804
After a lengthy investigation @olistik and I found out that passwords passed to postgres via the `PGPASSWORD` environment variable should not be percent/url encoded.
Even though the [docs](https://www.postgresql.org/docs/current/static/libpq-envars.html) state that it behaves the same as the url parameter, it does not. We therefore need to decode the password at this line: https://github.com/hanam

[2017-07-17 15:21] TiteiKo commented on #804
Great work :+1:
@olistik @kaikuchn anyone of you would have a bit of time to submit a PR on this?

[2017-07-18 14:04] mwlang opened #807 "dotenv gem not installed as a dependency"
While trying to follow along on the tutorial in Getting Started, encountered this error at the point of creating the new hanami project:

[code]

Turns out I did not have dotenv gem installed.  After fixing with:

[code]

Creating the project works:

[code]

[2017-07-18 14:52] jodosha commented on #807
@mwlang Thanks for reporting this. I'm working on the CLI, so I'll fix this too.
Enjoy Hanami! 🌸

[2017-07-18 15:43] #804 closed

[2017-07-18 16:12] cllns commented on #807
@jodosha Can you let me know what this error is? I looked it and it looks like we have a guard clause to catch exactly this:
https://github.com/hanami/hanami/blob/master/lib/hanami/env.rb#L56-L59

[code]
I can't reproduce it, even on a ruby without dotenv installed.

So, the question is, how is `Dotenv` defined but not `Dotenv::Parser`, especially since `require 'dotenv'` [loads the parser as its

[2017-07-20 16:19] katafrakt commented on #603
Still no chance for `rollback` command? I keep forgetting it's not there and missing it during casual development.

[2017-07-20 16:55] cllns commented on #603
@katafrakt I'm in favor of adding `rollback`.

What do others think @hanami/core?

[2017-07-21 06:56] b264 commented on #603
To be clear, this is just syntactic sugar on for "db migrate (max minus one)", right?  Why not go all-in and use git-inspired `bundle exec rake db migrate HEAD~1`

[2017-07-21 14:43] AlfonsoUceda commented on #603
I think we could support it 👍

[2017-07-21 17:10] b264 commented on #603
There is a distinct concept of `HEAD`: the latest migration.  It may not be called that, but the concept is very present.  In a chain of migrations, there is a newest one

 Also, what is the desired behaviour if there are new migrations that have never been run?  Say I wrote 3 new migrations that weren't ran, then executed `bundle exec hanami db rollback 2`  What is the outcome?  Does it migrate f

[2017-07-21 17:47] cllns commented on #603
True, the concept exists but the name doesn't.

I agree `bundle exec hanami db rollback 2` should do CURRENT-2 (so MAX-5)

[2017-07-23 13:57] AlfonsoUceda commented on #805
Hi @olistik thanks for opening the issue, I think we can handle both scenarios. I think this is not supported because we aren't aware of that behaviour.

Would you like to open a PR to add this new behaviour? Meanwhile you can use `user`, `password` and `port` the "host part".

[2017-07-26 08:12] badoet opened #810 "builtin javascript compressor produce errornous output"
to repro:

run hanami assets precompile  with a javascript that have axios.js
when trying to compile this part:
[code]
it will produce:
[code]
and this will fail
when i try out with uglifier, it will produce
[code]

help please?

[2017-07-26 09:31] kaikuchn commented on #810
Hi @badoet,

thanks for reporting this. Any reason you're not using uglifier during asset precompilation?
See the [guide](http://hanamirb.org/guides/assets/compressors/) on how to use other compressors than the builtin one.

The [builtin js compressor](https://github.com/hanami/assets/blob/master/lib/hanami/assets/compressors/builtin_javascript.rb) is a [copy](https://github.com/hanami/assets/blob

[2017-07-26 09:37] badoet commented on #810
hi @kaikuchn,
thanks for the quick reply
we were dockerizing the app so as much as possible trying to keep it light by not installing nodejs into that container image. for now we resolve this issue by pre compressing it using webpack so as not to rely on hanami for the compression. so we comment out the javascript_compressor in the application.rb and hanami will only be used to generate the finger

[2017-07-26 09:37] #810 closed

[2017-07-28 16:27] beauby commented on #779
Related to this: it might be worth introducing a way for gems to register new body parsers that could be referred to by name, i.e.:
[code]

Currently this is doable by piggy-backing on the Hanami namespace, but it's far from a clean solution.

[2017-08-01 01:38] badoet opened #814 "how to print csrf token manually on non `/` page?"
on subsequent page,
`<meta name="csrf-token" value="<%= csrf_token %>">`
this will always print empty for me.
is this by design?

but when i try to print `p session[CSRF_TOKEN]` in the controller of that page,
i can see that the CSRF_TOKEN value is printed

[2017-08-01 02:35] badoet commented on #814
sorry false alarm,
turn out overriding the default `call` method in the controller cause the session not being passed in
the issue resolved after i add `session: session` into the view locals

[2017-08-01 02:35] #814 closed

[2017-08-02 13:42] jodosha commented on #807
@cllns Shall we make things more explicit?

  1. Add a `require "dotenv/parser"`
  2. `return unless defined?(Dotenv::Parser)`

[2017-08-02 14:08] davydovanton commented on #778
Closed

[2017-08-02 14:08] #778 closed

[2017-08-02 15:04] cllns commented on #807
@jodosha I still don't see how the current solution failed, so I'm not sure if that'll fix it. Line 56 of `lib/hanami/env.rb`is `return unless defined?(Dotenv)` and somehow it got past that, without the `dotenv` gem being installed?

[2017-08-02 15:08] cllns commented on #807
I just tried to reproduce this with ruby 2.4.1, without `dotenv` installed and I couldn't :/

[2017-08-02 15:17] jodosha commented on #807
@mwlang Did you created the new project from Hanami git repository?

I mean, did you ran the following commands?

[code]

I'm asking because your prompt reports `hanami` on the left:

[code]

[2017-08-02 16:17] mwlang commented on #807
@jbodah no.  gem installed hanami.  However, it occurred to me to take a look at my gem environment, and I suspect I now know what happened:

11:13:22:bookshelf >> gem list dotenv
*** LOCAL GEMS ***
dotenv (2.2.1, 0.10.0)

As you can see, I apparently already had 0.10.0 version of dotenv installed, so this was likely enough to get past  the defined?(Dotenv) guard, but not actually work with Hanami

[2017-08-02 16:27] cllns commented on #807
@mwlang Thanks! I was able to reproduce this error with `dotenv` `0.10.0`. Will open a PR with a fix now :)

[2017-08-03 16:05] jodosha commented on #810
@badoet The `:builtin` compressor is just a quick/bogus algorithm that is not efficient. Do you know that you can use YUI, Uglify, or Google Closure compressors for Javascript?
http://hanamirb.org/guides/1.0/assets/compressors/#javascript

[2017-08-04 10:24] #797 closed

[2017-08-04 10:28] #807 closed

[2017-08-04 10:34] jodosha commented on #736
My opinion is:

[code]

Am I missing something?

I'd like to hear one last honest opinion from @cllns and @davydovanton.

If you think this can be really useful for devs or if the lack of this feature will block them, please tell us. If my opinion reduces the problem to something too simple, and we need this feature, just speak up and it will make to happen.

Thank you all! 🌸

[2017-08-04 10:37] jodosha commented on #603
We have a concept of `HEAD`, it's `hanami db version`.

[2017-08-04 10:41] jodosha commented on #769
@opan do you start the server with `hanami server` or prefixing it via `bundle exec hanami server`?

[2017-08-04 10:46] jodosha commented on #776
@sleekybadger Hi and thanks for the proposal, but it's already happening at the boot of the project.

This feature is something that will be removed, (less magic yay! 🎉 ) in Hanami 2.0, where we'll generate actions like this:

[code]

This will create all the namespaces in the plain old Ruby way.

[2017-08-04 10:46] #776 closed

[2017-08-04 10:49] jodosha commented on #779
@deemytch Hi, it looks like Ruby gets confused by how the class is referenced. I've got two questions for you:

  1. What's the **complete** class name of `MsgPackParser`? Is it namespaced?
  2. If it's **not** namespaced, what happens if you do: `body_parsers :json, ::MsgPackParser`? (Note the `::` prefix)

[2017-08-04 10:50] jodosha commented on #785
Fixed by #809

[2017-08-04 10:50] #785 closed

[2017-08-04 10:52] jodosha commented on #786
@jarosluv Hi, that is a neat idea. Are you interested to make it to happen?

[2017-08-04 10:56] jodosha commented on #788
@jarosluv Can you please share that code of that initialize I18n? I mean all the Ruby files involved.

I think you hit a problem that I want to fix.

[2017-08-04 11:33] jarosluv commented on #788
@jodosha

[code]

For now, I also use this code in `config/environment.rb`:
[code]

But issue with initializers about something else, I describe the problem here  https://github.com/hanami/hanami/issues/787

This issue about strange requiring of `environment.rb`.

[2017-08-04 11:52] jodosha commented on #788
@jarosluv

Initializers are meant to be loaded as last thing during the boot process. In my understanding, you want to load that file, **before** the boot process. Is it correct?

[2017-08-04 11:54] jodosha commented on #787
@jarosluv Can you please confirm that isn't working because of _code reloading_? What happen if you start the server with `bundle exec hanami server --no-code-reloading`? Does it work as expected?

[2017-08-04 12:06] jarosluv commented on #787
@jodosha

Yes, I confirm that server with `--no-code-reloading` starts properly as expected (string `FOO` outputs in terminal).

[2017-08-04 12:10] jarosluv commented on #786
@jodosha

Yes, of course! I use this draft in another issues and it's very useful.
Please, give me some ideas how to improve this templates and I can start to work further.

[2017-08-04 12:17] jarosluv commented on #788
@jodosha

Yes, my first idea was the same. May be I had wring intentions, but current behaviour of booting Hanami is bewildering. Why we require `./config/environment` explicitly, if we already require it in Hanami sources?

[2017-08-04 14:54] cllns commented on #736
It won't block people, but I think it's useful. It should be simple to implement. I think it's what people would expect, from other CLI utilities, like: `git clone git://... dir_name`

Your workflow works well (and it's simple enough), but it won't work if there is already a `bookshelf` folder that has files in it that you want to keep.

[2017-08-05 09:15] opan commented on #769
@jodosha I start the server with `hanami server`, without `bundle exec`

[2017-08-05 13:03] jodosha commented on #769
@opan

Bundler guarantees that the ruby gems in your project are loaded only once, and the exact version that your `Gemfile` says to load. These warnings are caused by the double loading of the gems in your system. We assume you to use Bundler.

To solve this problem, you should use `bundle exec hanami server`. Or if you don't want to prefix the commands, you can use Bundler binstubs.

Run this co

[2017-08-05 13:03] #769 closed

[2017-08-06 02:25] opan commented on #769
@jodosha Thank you for the `binstubs` command. I will try it

[2017-08-06 13:57] opan opened #817 "Problem with result output by Repository after create some record"
Hi guys, I have a little problem when I try to create some record through repository.
Here is my `bundle show` results:

[code]

My problem is, every time I create some record, the result always has some strange whitespace, I don't know who create it. Here is how I create the record from `hanami console`:

[code]

As you guys can see, the object result adding a long white space to each string colu

[2017-08-07 09:15] katafrakt commented on #817
Looks like database problem. Can you also add your migration file or database structure? What database do you use?

[2017-08-07 15:56] nessur commented on #775
adding `code_reloading` to the cli.rb seems like an easy fix, since the feature doesnt _realy_ make sense for console mode:
[code]

[2017-08-08 05:12] opan commented on #817
Hi @katafrakt, thank you for your response and sorry for my late reply. Sure, here is the only currently my migration file:

[code]

I use PostgreSQL for my database.

[code]

[2017-08-08 05:31] opan commented on #817
Ah yes, I think you're right. The problem is from migration file. I change `fixed: true` to `size: 255` and then the result back to normal.

[2017-08-08 05:31] #817 closed

[2017-08-08 14:19] katafrakt commented on #817
Glad you solved it, @opan :+1:

[2017-08-11 17:42] jodosha commented on #733
Implemented by #818

[2017-08-11 17:42] #733 closed

[2017-08-16 07:56] badoet opened #819 "android browser support?"
We are getting this following error on the android 2.3 default browser
![screen shot 2017-08-16 at 3 55 14 pm](https://user-images.githubusercontent.com/527102/29353101-a485b23a-829b-11e7-80a4-60da37041d56.png)

just want to check if this is a known issue for hanami on older android browser?

[2017-08-16 09:35] pmichna commented on #610
@jodosha

I guess the time has come. ;)

[2017-08-18 19:47] Edwardzyc commented on #819
I am pretty sure this is a server-side issue. I don't see how a missing template issue would be related to the browser

[2017-08-22 06:46] AlfonsoUceda commented on #819
Hi @badoet, I'm with @Edwardzyc it seems a server side issue related with rendering a xml file, are you requesting xml views from your android browser?

[2017-09-10 18:32] AlfonsoUceda commented on #819
Closing

[2017-09-10 18:32] #819 closed

[2017-09-10 18:37] AlfonsoUceda commented on #788
ping @jodosha ☝️

[2017-09-10 18:55] jdickey commented on #205
I'm having the same problem with Hanami 1.0.0 and Pry 0.11.0pre2. Not only does the terminal hang after Pry shows the source listing but before it starts the REPL, but my terminal is left in "raw" mode (`stty sane` to the rescue) _and_ the Ruby process is still running even after Control-C gets me back to the terminal; `ruby` has to be explicitly killed to avoid sucking 98%+ of a CPU.

I see we're

[2017-09-10 20:02] AlfonsoUceda commented on #603
@jodosha if you don't mind, I'm working on this feature.

[2017-09-13 09:53] kaikuchn opened #823 "How to use custom inflections with hanami generate commands"
Hi,

@imago38 encountered [trouble using custom inflections](https://gitter.im/hanami/chat?at=59b815fd210ac269202212c3). He wanted to generate and use a model with a custom inflection rule ('stimulus' -> 'stimuli') and defined that inflection in a initialiser.

[code]

However, it seems that initialisers are not run when executing hanami commands. Therefore the custom inflection rule is not picked

[2017-09-13 17:49] cllns commented on #823
Thanks for opening this. It's intentional that all of Hanami isn't loaded for generators. Inflectors are perfect a case where we'd want the initializers run though.

I just reproduced this both with `1.0` and `1.1` (which is a beta release at the moment, and includes a re-write of the CLI).

[2017-09-13 20:02] AlfonsoUceda commented on #823
thanks @kaikuchn, we aren't loading initializers but we can change that because it seems some users are experiencing the same problem.

[2017-09-14 08:08] kaikuchn commented on #823
I think it is good that we do not load all of Hanami for running generators. It is what makes them start up quickly and feel snappy. I love that and I think we should endeavour to keep it that way.

However, I think most people would assume that initializers are run whenever they do something with Hanami. So we either need to make very clear that they don't and point people to an alternative for r

[2017-09-14 15:41] cllns commented on #823
I wonder if a workaround for this could be allowing people to specify the table name in the model generator?

[code]

Not ideal, since people would expect Inflections to work, but makes working around it simple enough.
It would generate the same entity, a migration using `stimuli` as the table name (instead of doing auto pluralization) , and add `self.relation = :stimuli` to the `StimulusRepositor

[2017-09-14 16:09] AlfonsoUceda commented on #823
@cllns as a workaround, we can do that. In addition, I was thinking in some folder inside initializers that it will be loaded when using generators. We have to think about that.

[2017-09-14 17:33] cllns commented on #823
Or, maybe, adding a `--with-initializers` (and/or `--with-initializer=INITIALIZER_PATH`) option to all generators?

[2017-09-14 18:25] imago38 commented on #823
@cllns I like the idea of `--table-name=stimuli` . When I think of all those nasty topics like i18n, l10n, timezones, number formatting, character encoding - nothing seems to be able to affect hanami CLI. Inflection seems to be the only problem.

[2017-09-14 22:37] b264 commented on #823
It'd seem the CLI needs the inflector loaded to avoid things like `--table-name=stimuli` being needed.
[code]
I hear that loud and clear.

Perhaps the CLI should autoload just the inflector by default, but can be overridden not to?

[2017-09-14 23:05] cllns commented on #823
@b264 How would we do that though? Just look for files named `config/initializers/inflections.rb` and `config/initializers/inflector.rb`? That seems pretty 'magical'. Instead of that, I'd prefer the `with-initializer=INITIALIZER_PATH` option personally

[2017-09-15 06:53] AlfonsoUceda commented on #823
Folks, I think we could go now for the simplest approach, create a new option for that command called `--table-name`, as a workaround you have to amend the migration generated, because for now we have only found this case, in the future if we see more cases, we can think in a general solution, what do you think?

[2017-09-15 07:32] b264 commented on #823
@cllns Not sure actually.  The English language is already "magical" with surprises everywhere, so I think it's just bleeding off into code here :stuck_out_tongue_winking_eye:

Maybe have a built-in initializer called "cli.rb" that contains code to look for and load an inflector?  If someone edits that `cli.rb` file then it just uses their edited version.  I really don't know.

[2017-09-15 08:12] kaikuchn commented on #823
Well inflections ARE loaded. Just not those defined by uses UNLESS they put them, say, into the `environment.rb`. I think simply requiring the initializer in the `environment.rb` is better than providing a `with-initializer` option. The problem in that case is probably one of documentation.

It would be nice if we found a way to solve this without having to improve the documentation though. IMO do

[2017-09-15 16:44] imago38 commented on #823
I'm a total noob and I think that putting instructions in `commands.rb` AND making a little review on the CLI compared to normal hanami boot is good. Currently a "Command Line" title lacks an "Overview" chapter: http://hanamirb.org/guides/1.0/command-line/overview/ .

I tried `grep -rwie webrick` in hanami folder which is null, in gems folder which is an immense number of lines, I tried to google

[2017-09-15 17:15] cllns commented on #823
@kaikuchn Another option could be adding an (optional) `inflections` block into the `Hanami.configure`, instead of having users write their own initializer.

I agree with @AlfonsoUceda, we should add a `--table-name` option to the model generator. Let's move forward with that.

Also, I'm interested in the idea @kaikuchn said about explicitly requiring initializers somewhere in the generated app, i

[2017-09-26 22:54] cllns opened #831 "Generating View Spec?"
Right now, when you generate a controller action, you get a view, and an associated view spec.

It has one expectation, that is just an example. (It's [pending](https://github.com/hanami/hanami/pull/664), which is fine)
[code]

I don't think this example provides any value for the users.
Whatever you add to the `exposures` hash becomes **automatically** available as a method on the view.

For exam

[2017-09-27 09:28] jodosha commented on #648
I'm closing this for now, as not immediately actionable.

[2017-09-27 09:28] #648 closed

[2017-09-27 09:38] jodosha commented on #779
@deemytch Do you have any news about this? Thanks in advance.

[2017-09-27 11:17] AlfonsoUceda commented on #803
@cllns do you think it worths it?

[2017-09-27 14:55] gizotti opened #833 "Generation of namespaced action is broken on 1.1.0.beta1"
I was trying out `v1.1.0.beta1` and notice that the creation of namespaced actions are broken in the new CLI rewrite.

### Hanami 1.0.0
#### Shell Output
[code]
#### View Created
[code]

### Hanami 1.1.0.beta1
#### Shell Output
[code]

#### View Created
[code]

This is happening in [this method](https://github.com/hanami/hanami/blob/develop/lib/hanami/cli/commands/generate/action.rb#L56). The rege

[2017-09-27 15:56] gizotti commented on #833
Had a deeper look at it and it's more than what I assumed in the description. I'll get a first draft in the next few days for review.

[2017-09-27 17:02] cllns commented on #803
Yea! It shouldn't be too complicated. When running commands, make sure `Gemfile` (or `gems.rb`) exists, if not, move to parent folder and repeat.

[2017-09-27 17:18] jdickey commented on #205
Ping? Does anybody have any news here or in relation to pry/pry#1621? Or is everybody else as buried as I am by their day jobs? I'm a week away from making a decision on whether to use Hanami for an upcoming revenue project; if we don't have a viable debug strategy, Hanami is going to be a much harder sell than I'd like it to be. Anything?

[2017-09-27 17:31] cllns commented on #205
@jdickey Do you need to use `pry`, or can you use other "viable debug strategies"? If a non-`pry` solution is possible, I'd recommend exploring that.
(I've heard great things about `pry`, but I don't use it, personally)

[2017-09-27 17:36] mereghost commented on #833
Done, @gizotti . If you need any help, do not hesitate to ping @hanami/core =)

[2017-09-28 15:14] banister commented on #205
@jdickey i don't use hanami, if you can provide a super simple minimal reproduction i might be able to  look into it...

[2017-09-28 15:38] cllns commented on #205
@banister thank you!! I created an example on a branch of our simple "Getting Started" project (called bookshelf).

I was able to reproduce it too. `binding.pry` stops code execution, but doesn't show anything. Ctrl-C exits out of `hanami server`, but the ruby process still runs in the background, at full throttle. I had to do the `ps aux | grep ruby` and `kill *PID*` to fix it.

The branch is `pr

[2017-09-29 19:44] deemytch commented on #779
Hi, just had veery busy at work, sorry. Will check that next week.

[2017-10-03 10:59] jodosha commented on #805
Implemented by https://github.com/hanami/model/pull/441

[2017-10-03 10:59] #805 closed

[2017-10-03 13:28] jodosha commented on #603
Implemented by https://github.com/hanami/hanami/pull/822

[2017-10-03 13:28] #603 closed

[2017-10-03 13:32] jodosha commented on #833
Fixed by #835

[2017-10-03 13:32] #833 closed

[2017-10-03 23:07] dsisnero opened #838 "hanami beta needs gemfile installed"
bin\hanami in beta requires bundler and uses Bundle.require.  The gem doesn't include a Gemfile so the command fails on windows

c:\Dominic\programming\ruby\hanami\hanami-1.1.0.beta2\bin>hanami new bookshelf
Bundler::GemfileNotFound: Could not locate Gemfile or .bundle/ directory
dir

c:\Dominic\programming\ruby\hanami\hanami-1.1.0.beta2\bin>gem list hanami

*** LOCAL GEMS ***

hanami (1.1.0.beta2

[2017-10-04 07:17] jodosha commented on #838
@dsisnero thanks for reporting it. I'm working on a fix.

[2017-10-04 07:18] jodosha commented on #838
Another case reported by @malin-as in [chat](https://gitter.im/hanami/chat?at=59d479bcb59d55b8236e911f):

[code]

[2017-10-04 10:23] jodosha commented on #838
Fixed by #839

[2017-10-04 10:23] #838 closed

[2017-10-05 07:51] jodosha commented on #782
@backus I wanted to inform you that we fixed it in v1.1.0:

[code]

[2017-10-05 08:11] jodosha commented on #803
@cllns I reflected for long time on this: I don't think it's worth the effort.

The solution is to make sure that the paths are always relative to the current directory of execution and interpolate accordingly. That would increase the complexity of our testing suite.

Alson, imagine support tickets here: "this command doesn't work", then we should figure out which was the directory where the devel

[2017-10-05 08:11] #803 closed

[2017-10-05 08:12] jodosha commented on #803
@cllns Feel free to reopen if you think we should implement this in the future. For now we can't make it in 1.1.0. Thank you. 💚

[2017-10-05 08:24] jodosha commented on #823
Implemented by #836

[2017-10-05 08:24] #823 closed

[2017-10-05 09:18] kaikuchn commented on #823
Awesome! Thanks @likeath for implementing the `--relation-name` option!

Should we make a new issue for this:

Or where do we discuss such "ideas"?

[2017-10-05 14:48] jodosha commented on #823
@kaikuchn The forum: https://discourse.hanamirb.org/

[2017-10-06 16:11] unhappychoice opened #842 "Proposal: hanami routes check command"
I'm currently using a rake command below although I know it's not a clean code :sob:

https://gist.github.com/unhappychoice/3e76bbcdbc49ed42a4f0e87f3c9c6ca7

This command checks each routes has an appropriate action file  and vice versa.
Can this be a command like `hanami routes check`?

[2017-10-06 16:57] jodosha commented on #842
@unhappychoice Hi, is this a command to verify that all the routes are resolving to an existing action?

Eg.

[code]

In that case `Web::Controllers::Missing::Action` isn't an existing action. Is my understanding correct? If not, can you please provide an example of a route that **won't** pass your check? Thanks.

[2017-10-06 17:32] unhappychoice commented on #842
It's correct as one example, I think.
I supposed that check should be fail with two patterns below.

#### Route has no defined actions
in `apps/web/config/routes.rb`
[code]

and "Web::Controllers::Books::Index" is **not** defined.

and cli will say `Web::Controllers::Books::Index is not defined. `

#### Actions has no defined routes

in `apps/web/config/routes.rb`
[code]

and "Web::Controllers::Bo

[2017-10-06 17:52] unhappychoice commented on #842
I realized that there are possibilities that modules or classes not used by routes are defined under `Web::Controllers` namespace.
So, `2` case is not good, maybe.

[2017-10-09 07:39] jodosha commented on #842
@unhappychoice Yeah, I agree that case 2 isn't good.

I'd like to suggest you a solution. Instead of adding this check command in the core, would you like to write a gem plugin for Hanami? It should provide a command like `hanami routes check` and return the response of it.

Here's an example how how to do it: https://github.com/jodosha/hanami-reloader

[2017-10-09 07:39] #842 closed

[2017-10-09 10:15] unhappychoice commented on #842
OK, I will do that 👀
Thank you for your response 👍

[2017-10-10 19:19] AlfonsoUceda commented on #831
@cllns maybe we can set that spec as pending, in any case that test is useless.

[2017-10-15 14:28] graywolf opened #845 "`app` project architecture is not documented anywhere"
When I want to generate new hanami application, I can select between `container` and `app` project architecture. However, these are not documented anywhere I could find. http://hanamirb.org/guides/1.0/command-line/applications/ is completely silent on that matter.

Would be nice to have documented what the difference is and when to use which one.

[2017-10-15 20:22] we138 opened #846 "Generate files with 'nested' module style, instead of 'compact'?"
Hey! I found little bug: when developer wants to create new action in namespace via hanami action generator - he gets problem with constant lookup, because generator creates a module with non-exist constant in module name.

For example:
[code]
and then, try to run hanami console:

`hanami console`

and we get an error with this message:

`awesome_hanami/apps/web/controllers/users/registrations/new

[2017-10-15 20:31] cllns commented on #845
Sorry for the confusion! We used to support `container` and `app` architectures, before `1.0` was released. We decided to simplify things and only support the `container` architecture. We now refer to as a Hanami "project", and don't talk about any particular architecture in this sense anymore.

Container is `apps/web`, `apps/api`, `apps/admin` etc. The `app` architecture just has one, in side of

[2017-10-15 20:31] #845 closed

[2017-10-15 20:42] graywolf commented on #845
ah, cool, thx for the explanation :)

[2017-10-16 03:03] cllns commented on #846
Thanks! This is because we generate with the 'compact' module form instead of the 'nested' module form. 'nested' is more verbose & more natural, and allows you to leverage namespacing properly.

The ['Constants Refresher' section from the Rails guides](http://guides.rubyonrails.org/autoloading_and_reloading_constants.html#constants-refresher) is a very useful resource, if you want to learn more ab

[2017-10-16 09:16] we138 commented on #846
@cllns thank you for the quick and detail answer, but i know how ruby constant lookup works and how to fix it :) I wrote this issue for this reason: maybe we can fix it behavior in hanami action generator?

p.s. sorry for `he` pronoun

[2017-10-16 17:09] cllns commented on #845
@graywolf The CLI option will be removed in the `1.0.1` release (and `1.1.0`, as stated above). See #847. Thanks for opening this issue! Should help avoid confusion for others in the future.

[2017-10-16 21:08] m45t3r opened #848 "Hanami routes error in 1.1"
I am preparing my application from Hanami 0.9 to 1.1. When trying to run in Hanami 1.1.rc1:
[code]

I get the following error:
[code]

I also got the same error in Hanami 1.1beta1 and beta3, and also in Hanami 1.0. However our application does not run in Hanami 1.0 since we depend on Custom Loggers feature (and this is the reason why we skipped Hanami 1.0 migration).

A reduced example of our `app

[2017-10-17 07:45] jodosha commented on #848
@m45t3r Hi and thanks for reporting this problem.

First question: `set_logger` what is that about? 😄

Can you please generate a new project with Hanami 1.1.0.rc1? Then copy and paste the contents of `config/environment.rb` from the new project to yours. **Don't try to add the custom logger yet**. What happens when you `bundle exec hanami routes`?

I'm trying to isolate the problem: if it's the cu

[2017-10-17 12:12] m45t3r commented on #848
Thanks @jodosha, I think there was a `set_logger` for older versions of Hanami, removed.

I removed all the apps from `config/environment.rb` and it seems to work, so the problem seems to be in the `apps/*/application.rb` files. Investigating.

[2017-10-17 12:26] m45t3r commented on #848
Minimal example to reproduce the issue, in `apps/api/application.rb`:
[code]

[2017-10-17 16:05] cllns commented on #846
Thanks @we138, just reopened this issue so we can discuss that. (And re-named the issue, to be more clear)

I'm in favor of switching to 'nested' style, but I'm not sure if there are any reasons why that won't work, or that would make it hard to do right now.

Thoughts @hanami/core @jodosha?

[2017-10-21 00:31] cllns opened #849 "Change default testing framework to RSpec"
Right now `minitest` is our default testing framework. After discussing it with @jodosha, we think we should use `rspec` by default.

If possible, we'd also like to extract `hanami-rspec` and `hanami-minitest` gems from this repository (which we would maintain). These would be responsible for generating the test files. This would leverage not-yet-existing `Hanami::CLI` features of `before` and `af

[2017-10-22 12:42] greenfork commented on #849
I'm a new user of Minitest and I really lack the feature to run a database setup (or any command) before a group of specs in single `describe`, I like this change :)

[2017-10-24 07:55] citizen428 commented on #849
In the interest of discussion it might be useful to outline the conversation(s) you guys had and what arguments led to favoring Rspec over Minitest.

Also I think many/most people doing web development in Ruby will be fine with the proposed new project creation. Potentially you could add a flag to run Bundler automatically at the end, similar to what [Padrino has](http://padrinorb.com/guides/gener

[2017-10-25 04:50] cllns opened #851 "Mailer generator - options template output is broken"
In a new app, with `1.1.0.rc1`, running:

`bundle exec hanami generate mailer blah --from=fromuser@example.com --to=touser@example.com`

Generates:
[code]

Which isn't valid Ruby. Instead, we should put the email addresses inside string quotes.

Also, adding one level of quotes doesn't fix it either. You have to do:
`bundle exec hanami generate mailer blah --from="'fromuser@example.com'" --to="'to

[2017-10-25 17:59] jdickey opened #852 "Generate a `bin/setup` command script as part of app generation"
Related to, but not identical to, #676.

This would introduce behaviour analogous to Rails, dry-web-roda, and several other frameworks in languages including but not limited to Ruby.

There ought to be a standardised-format script to install and bundle Gems, set the database into a known initial state, etc. By being database-aware, it would defend against newbies paying too-literal attention to th

[2017-10-25 23:29] m45t3r commented on #848
@jodosha Any update on this issue?

I can explain why we need to call `Hanami.logger` in our `apps/*/application.rb`. With the following code:

[code]

We get log lines like this for a single request (in this case trying to access `/admin/sessions/new` path):

[code]
With the following code:

[code]
We get the following lines in the log:
[code]

The difference is subtle but important: we can now w

[2017-10-26 14:59] AlfonsoUceda opened #855 "Generating files over existing file behaves poorly"
@cllns reported in hanami/cli repository this behaviour but the issue should be opened here. Please check issue https://github.com/hanami/cli/issues/22 for more info.

That wrong behaviour happens in all generators, we should make a deep analysis in CLI to avoid these weird problems.

[2017-10-27 03:53] cllns commented on #855
This should fix the odd behavior to make `write` append instead of replace the beginning: https://github.com/hanami/utils/pull/239

For our purposes, we should probably change `write` to `rewrite` (and/or add a prompt asking the user what we should do).

[2017-10-27 07:41] famano opened #856 "create_many doesn't return Array of Entity"
hi, I implement create_many method in my repository like the following code.
[code]
Then I call `SomeRepository.new.create_many([{ attr: "something" }, { attr: "something" }])`, It doesn't returns Array of Entity of "Some", but Array of `ROM::Struct::Some`.
According to the following guide, create_many should return Array of Entity. How can I fix this problem?
http://hanamirb.org/guides/1.0/models

[2017-10-27 12:03] jodosha commented on #856
@famano I manually tried it and it looks like a bug.

You can temporary fix this problem just appending `.map {|e| Some.new(e) }`.

[2017-10-27 22:31] AlfonsoUceda commented on #855
@cllns have you tried the fix? It seems good but I think it doesn't fix it, try creating a branch

[2017-10-29 15:01] AlfonsoUceda commented on #851
Fixed by #854

[2017-10-29 15:02] #851 closed

[2017-10-29 15:02] AlfonsoUceda commented on #856
@famano sorry for the problem, can you tell us if that workaround worked?

[2017-10-29 15:04] AlfonsoUceda commented on #852
@jdickey it makes sense ;) you are welcome if you want to create the PR.

[2017-10-29 16:59] AlfonsoUceda commented on #849
@citizen428 I like your proposal, I think we can open and issue for that.

[2017-10-29 17:02] AlfonsoUceda opened #857 "Run bundle using option after new project is created."
@citizen428 [proposed](https://github.com/hanami/hanami/issues/849#issuecomment-338906112) to run bundle after a new Hanami project is created.

[2017-10-29 17:03] AlfonsoUceda commented on #855
I created a branch with WIP to check how to fix this "problem". https://github.com/hanami/hanami/tree/fix-cli-generators

[2017-10-29 17:05] AlfonsoUceda commented on #846
@cllns @we138 maybe we can do the following: if that constant exists then use the 'compact' style, if not then use the nested style. What do you think?

[2017-10-29 19:10] mereghost commented on #856
Working on it.

[2017-10-29 19:46] cllns commented on #857
I think we should run `bundle install` in the new folder by default. And have a `--skip-bundle-install`. What do you think?

[2017-10-29 22:11] AlfonsoUceda commented on #857
I wouldn't do that because some people use gemsets, I think it's better to be conservative but I would like to hear more opinions.

[2017-10-30 03:33] citizen428 commented on #857
I'm with @AlfonsoUceda on this one, there shouldn't be too many assumptions regarding people's environments and preferences built in.

[2017-10-30 04:25] famano commented on #856
@jodosha @AlfonsoUceda That works well. Thank you for finding fixation.

[2017-10-31 08:42] we138 commented on #846
@AlfonsoUceda mm, i dont understand why we cant use the 'nested style' everywhere

[2017-11-01 17:25] m45t3r commented on #848
Found a workaround:
[code]

[2017-11-03 17:52] inem opened #859 "Provide more useful error message instead of "undefined local variable or method `flash'""
I am trying to create some very basic app with Hanami, and recently got this weird error message:
[code]

It took me a while to figure out what is wrong. I forgot to add `include Hanami::Action::Session` to my action, but nothing suggested that I should do so.

I guess a lot of newbies might fall into this trap as well.

My suggestion is to make error message more useful and self-explanatory

[2017-11-03 23:31] Fedcomp commented on #205
Hello guys, can we make some workaround in hanami itself?

[2017-11-07 08:24] jodosha commented on #855
@AlfonsoUceda May I ask you to decouple the fix from the enhancement?

The fix: CLI generators must always generate valid Ruby code, even if than used more than once. This is a must have.

The enhancement: Ask the user. We can discuss how to do.

[2017-11-07 08:25] AlfonsoUceda commented on #855
@jodosha makes sense 👍

[2017-11-07 14:35] jodosha commented on #775
Folks, IMO `Hanami::Utils.reload!` is and it will be a source of troubles both for people using Hanami and for us as maintainers.

Would you please give this gem a try? https://github.com/jodosha/hanami-reloader
It replaces `Hanami::Utils.reload!` behavior, and uses `guard`, instead of `shotgun` for code reloading. I tried to work with this gem for more than a month and it's a decent first release

[2017-11-07 14:35] #775 closed

[2017-11-07 14:36] jodosha commented on #736
Closing as stale. @cllns feel free to reopen if you want to sponsor this feature.

[2017-11-07 14:36] #736 closed

[2017-11-07 14:37] jodosha commented on #779
Closing as stale. @deemytch Feel free to comment an update in the future.

[2017-11-07 14:37] #779 closed

[2017-11-07 14:43] jodosha commented on #848
@m45t3r Sorry for taking so long.

We're not going to resolve the logger for `hanami routes`, as it's not a general requirement for that command.

---

To fix your app, IMO you shouldn't use private API, as it will likely change in the future.
Here's how you can safely do it:

[code]

And

[code]

[2017-11-07 14:43] #848 closed

[2017-11-07 14:46] jodosha commented on #787
Would you give this gem a try? https://github.com/jodosha/hanami-reloader
This is an alternative to `shotgun`. I'm using it from more than a month and seems to work decently.

[2017-11-07 14:46] #787 closed

[2017-11-07 14:49] jodosha commented on #856
We want to transform all the CRUD methods of repositories and all the associations methods to work in bulk mode.

Eg.

[code]

@mereghost is working on this.

[2017-11-07 16:58] m45t3r commented on #848
Thanks @jodosha, I concur that using a private API is not ideal, and your workaround works, so I am going to use it for now.

[2017-11-07 19:34] jodosha commented on #857
Me and @cllns had a conversation about this. Probably it's not a good idea. People may want to fiddle with their `Gemfile` first. Or if they are newcomers, they may understand that Hanami is slow to generate a new project, but it's the wait for Rubygems instead.

As last thing, I'd defer this, because we're going probably to do more work on CLI hooks.

[2017-11-10 15:31] AlfonsoUceda commented on #859
@inem thanks for the suggestion, I think we should document the behaviour, what do you think @hanami/core?

[2017-11-10 15:31] AlfonsoUceda commented on #857
Closing this issue because I think bundler should be run manually.

[2017-11-10 15:32] #857 closed

[2017-11-20 13:38] #831 closed

[2017-11-22 05:47] cllns commented on #859
I think we could go a step further and look for `session` and `flash`, and raise errors when those happen with a helpful message saying something like "Did you forget to add `include Hanami::Action::Session` to your action?"

(This would be a change to [`hanami/controller`](https://github.com/hanami/controller))

[2017-11-23 15:01] banister commented on #205
can you guys confirm whether the most recent pry version fixes these issues?

[2017-11-23 20:17] Fedcomp commented on #205
@banister i can see action witht the msot recent pry version.

[2017-11-24 10:39] jodosha commented on #205
@banister thank you very much! 💯

[2017-11-25 12:09] AlfonsoUceda opened #865 "Custom error page not rendered when an exception is raised inside view or template sections."
The original bug was opened by @cveneziani in https://github.com/hanami/view/issues/138 but that bug belongs to hanami gem.

When an exception is raised inside view or template section, we don't display the custom error template so the application will render the exception with the backtrace.

[2017-11-27 11:09] #788 closed

[2017-12-12 00:39] spectator opened #869 "Application middleware triggers before forceful redirect to SSL"
Hi,

I have noticed interesting behavior of `force_ssl` option in production. When there is a custom middleware inserted into middleware stack it triggers before `force_ssl` takes place essentially allowing unencrypted traffic to hit it. Should't all middleware be behind SSL when this option is enabled?

Here is a simple app to demonstrate the issue https://github.com/spectator/hanami_force_ssl

H

[2017-12-18 11:56] graywolf opened #872 "Initializers are not loaded when `bundle exec hanami server`"
I'm trying to use hanami with sequel, here are relevant files:

	[wolf@devel dia]$ cat config/initializers/01_sequel.rb
	require 'sequel'

	DB = Sequel.connect ENV['DATABASE_URL']

and

	[wolf@devel dia]$ cat config/puma.rb
	workers 4

	preload_app!

	before_fork do
	  DB.disconnect
	end

but when I try to start it

	[wolf@devel dia]$ bundle exec hanami server
	[13616] Puma starting in cluster mod

[2017-12-18 12:14] graywolf commented on #872
Seems to be caused by shotgun since this works:

	[wolf@devel dia]$ bundle exec hanami server --no-code-reloading
	[13700] Puma starting in cluster mode...
	[13700] * Version 3.11.0 (ruby 2.4.2-p198), codename: Love Song
	[13700] * Min threads: 0, max threads: 16
	[13700] * Environment: development
	[13700] * Process workers: 4
	[13700] * Preloading application
	[13700] * Listening on tcp://localh

[2017-12-18 17:02] graywolf commented on #872
When `--server=webrick` they are not called at all (yes/no on reloading doesn't even matter). So when exactly are the initializers supposed to be called? Just with puma and without code reloading? That makes then a bit useful then I expected.

Should I just stick initialization of everything into `config/environment.rb` then?

[2017-12-19 23:43] graywolf opened #874 "No documented way to supress error pages"
Only thing related to error pages I managed to find in the guides is this http://hanamirb.org/guides/views/custom-error-pages/ , but it talks only about how to make own custom error page. However there is no mention of how to ignore error pages (ideally just for one action) and draw normal page but with different http code than 200.

[2017-12-20 10:03] graywolf commented on #865
Will be fun when exception raised in custom error page template triggers usage of custom error page template :)

[2017-12-21 00:49] graywolf commented on #874
Hm, to sum up my research into this, it doesn't seem possible at the moment. I solved it by monkey-patching `Hanami::RenderingPolicy` with this code:

    def render_status_page?(action, response)
      additional_successful_statuses = []
      if action.respond_to?(:additional_successful_statuses)
        additional_successful_statuses = action.additional_successful_statuses
      end
      RENDE

[2017-12-21 07:47] graywolf opened #877 "Hanami::Action::Flash#[] doesn't work as expected"
In action:

[code]

in template

[code]

what is rendered

[code]

I would argue that what user (at least me) expects is just

[code]

[2017-12-21 07:49] graywolf commented on #877
Workaround:

[code]

[2017-12-21 17:37] graywolf commented on #877
So the actual issue here is using the flash message in the same request as it was setted. However, that should be supported? Or not?

[2017-12-21 21:41] AlfonsoUceda commented on #865
@graywolf why? did you think in stack level too deep?

[2017-12-21 21:45] graywolf commented on #865
I just ment it could get in a loop so some precautions should be taken that it doesn't happen.

[2017-12-21 21:47] AlfonsoUceda commented on #865
@graywolf thanks for the hint :P at least I tested in local and an error is displayed, I'll create a test to avoid regressions.

[2017-12-22 03:35] graywolf opened #879 "Consider adding `# frozen_string_literal: true` to generated files"
If hanami can work with it, it would be nice having `# frozen_string_literal: true` in generated files. What do you think?

[2017-12-25 13:47] graywolf opened #882 "`hanami generate app X` requires `require_relative '../lib/.*'` to be present in `config/environment.rb`"
When I try to generate new app using `hanami generate app admin`, I get this
output

[code]

It's caused by following line in generate app command:

https://github.com/hanami/hanami/blob/master/lib/hanami/cli/commands/generate/app.rb#L194

Since the `require_relative '../lib/.*'` is not necessarily present when using
own ORM, I would propose replacing the line with

[code]

since that should be al

[2017-12-25 13:48] graywolf commented on #882
Oh, here is my `config/environment.rb` if relevant:

[code]

[2018-01-05 15:59] brandon1780 opened #884 "Pass it"
Pass

[2018-01-05 19:26] #884 closed

[2018-01-11 22:28] graywolf opened #886 "No way whitelist MIME list for whole application"
There is a way to whitelist MIME list per action using `accept :html`, but there is no way to whitelist whole application, I personally would like to see `accept :html` in `Hanami::Application` configure block.

Why is this important: Internet Explorer 11 in compatibility mode causes 500 on the server with error

[code]

due to weird accepts list IE11 sends. I solved it by `accept :html` in every

[2018-01-12 00:27] davydovanton commented on #877
hey, thanks for the report. Could you create a simple app with this problem? I tried to reproduce this problem but for me flash works as expected 🤔

[2018-01-12 00:29] davydovanton commented on #874
hey, thanks for this issue. Could you provide example when you need to use web page with different http status?

[2018-01-12 09:40] graywolf commented on #874
Sure, in my case it's a login form. On failed login I want to return 403 (since login failed, everything obviously wasn't OK, so 200 seems misleading), but at the same time I want to render the form again with prefilled username and stuff.That's just not possible atm in hanami.(technically, I could probably move the login form to separate app and make it's 403 error page same template as the login

[2018-01-12 09:40] graywolf commented on #877
Will put one together.

[2018-01-12 20:14] graywolf commented on #877
Cannot reproduce on latest hanami.

[2018-01-12 20:14] #877 closed

[2018-01-14 21:23] jfelchner opened #888 "Additional Settings Adapters (Other Than dotenv)"
I see that you all have a soft dependency on `dotenv`.  Even to the extent that support for it is hard-coded in the codebase.  I maintain [chamber](https://github.com/thekompanee/chamber/wiki) and I'd love to write an integration for Hanami so that Hanami users don't have to do anything to make settings automatically load.  But after looking at the codebase, I can't quite see where that hook would

[2018-01-16 16:41] apohllo opened #889 "Error pages for JSON/slim application"
I have an application that is configured to serve JSON. Moreover the templating engine is set to slim.
However when I try to substitute the default error pages (e.g. for 404) the file `app/web/templates/404.json.slim` is not used. I provided `app/web/templates/404.html.erb` and it turned out that this file is served in that context. Is it by design or is it a bug?

[2018-01-17 01:28] cllns commented on #889
Sorry you had trouble @apohllo.

I just tried using a `slim` html template and it worked fine. So the issue is the JSON part. (Also, `slim` is used to generate HTML/XML, not JSON.)

Similarly, we _could_ add support for `404.json.erb`, but generating JSON via ERB is also not recommended since it's easy to mess up. Instead, a good approach for generating is to use `Hash#to_json`.

I think you can h

[2018-01-17 01:28] #889 closed

[2018-01-17 11:35] apohllo commented on #889
Thanks!
To clarify - I know that generating JSON responses by slim/erb is not the best idea ;-) But I wanted just to serve a static 404 content - instead of the one that is by default provided by Hanami. I thought that since the application is configured to serve JSON, I should provide a JSON template, rather than an HTML template. This is the case in the context of views, thus at present it seems

[2018-01-17 12:27] sandelius commented on #879
I always add it manually so I would be happy if it was already generated.

[2018-01-18 15:11] smaximov opened #890 "Hanami commands (server/console) don't print error backtrace if the error occured during Hanami boot and code reloading is disabled"
**UPDATE 1**: to reproduce this issue, you need to disable code reloading.

This makes it very difficult to debug such errors.

Consider this snippet

[code]

If I start any Hanami command, it will fail with the following error:

[code]

Backtrace is not printed, so the user need to guess where to start to debug this error.

This is just more recent (and actually straightforward to debug) example

[2018-01-18 22:43] davydovanton commented on #879
@graywolf great idea. Could you make a PR for this?

[2018-01-18 23:03] graywolf commented on #879
sure, will give it a try

[2018-01-18 23:13] cllns commented on #879
@graywolf Personally, I'd like this to be an option. For example: `hanami new bookshelf --frozen-string-literal`. And then other generators would have the same thing? (or maybe we can check some file and add it to the generated files if it exists in that one, maybe `config/environment.rb`?)

I'm sure you'd do it anyway, but it'd be great if this could have minimal diff noise. Find a few spots to a

[2018-01-18 23:32] graywolf commented on #879
@cllns In my opinion, when you /don't/ make in configurable and just force it to yes, it will imho simplify maintance going forward. Since you don't really have make sure it works with both configurations. And I'm running all my projects with manually added `frozen_string_literal: yes` and didn't see any issue caused by it (at least so far).

But I /can/ make it configurable (shouldn't be too hard

[2018-01-21 23:13] davydovanton commented on #859
@cllns or "For using session add `include Hanami::Action::Session`. For more information check docs: doc_link" :)

[2018-01-22 01:56] cllns commented on #879
Thanks for opening the PR!

I don't know if there's been other tests but one showed that [it's not even faster](http://ruby-performance-book.com/blog/2016/02/is-ruby-2-3-faster-frozen-string-literals-performance.html). If it were faster, and a better practice indisputably, I'd be all in favor of it. I'm just not sure if it is.

People can use frozen string literals throughout a Ruby project with:

[2018-01-23 02:19] cllns opened #892 "Respond with errors in JSON if MIME type is JSON"
If a user makes a bad request with JSON (either with `Accept` or `Content-Type`), the response is in HTML.

By default, it would be nice to respond with an error in JSON. Instead of rendering `500.html.erb`, it would be nice if the following JSON were returned instead:
[code]
I'm not set on that response format, and I'm open to others.

We should be flexible though, and let people change the JSON

[2018-01-25 08:27] sandelius commented on #879
It’s about memory allocation and not speed.

Skickat från min iPhone

[2018-02-02 12:03] jodosha commented on #855
Fixed by https://github.com/hanami/utils/pull/239

[2018-02-02 12:03] #855 closed

[2018-02-03 11:10] graywolf opened #893 "./script/setup fails with an error"
When running `./script/setup`, it fails with this error:

	ERROR:  While executing gem ... (RuntimeError)
		Gem::Indexer requires that the XML Builder library be installed:
		gem install builder

if it's needed, shouldn't it be install automatically?

[2018-02-13 18:10] apohllo opened #897 "Remove quotes in .env.development and .env.test"
I'm wondering if it would be possible to remove quotes in the `.env` files. I use docker together with Hanami, which I think is quite common at present. Docker compose has an option to take the env. variables from a file, and `.env` files seem to be good place to store these variables. But - there is one important difference - Docker treats the quotes as regular characters!
I don't know what is th

[2018-02-14 08:15] kaikuchn commented on #897
Hey apohllo,

thanks for raising this issue. I wasn't aware of the friction those quotes may cause. In fact, the dotenv gem (which is used for loading those dot-files) does not care whether your values have quotes around them or not. I.e., you can just drop them an everything **should** still be working.

I can't think of anything that would prevent Hanami from changing the default generated `.env

[2018-02-14 08:57] apohllo commented on #897
Thanks!

[2018-02-17 17:37] AlfonsoUceda commented on #897
Hi @apohllo

We generate just two environment variables `DATABASE_URL` and `SERVE_STATIC_ASSETS`, I suppose we can remove quotes for `SERVE_STATIC_ASSETS` but I'm not 100% sure for `DATABASE_URL`. IMO you can fix it just editing this file, in addition you'll add more environment variables when working in your app.

For now, I'm going to close the issue but if in the future there are more complaint

[2018-02-17 17:37] #897 closed

[2018-02-17 18:13] AlfonsoUceda commented on #893
Hi graywolf, in what version of ruby did you run it? I've tested in 2.4.2 and 2.5.0, and it works.

[2018-02-17 18:15] AlfonsoUceda commented on #890
@smaximov thanks for the issue, I agree with this and we should print the backtrace.

[2018-02-17 18:25] AlfonsoUceda commented on #890
@smaximov could you provide a description to know how to reproduce the error? trying with a fresh application and adding that snippet it didn't work.

[2018-02-17 18:27] AlfonsoUceda commented on #892
👍

[2018-02-17 18:28] AlfonsoUceda commented on #888
cc @jodosha

[2018-02-17 18:45] AlfonsoUceda commented on #886
@graywolf can you try this inside you `application.rb`?

[code]

This method is public in the controller configuration but it is marked as private.

[2018-02-17 22:36] graywolf commented on #886
Should probably work, will try on Monday. Should probably not be private then, seems useful.

[2018-02-17 22:53] graywolf commented on #893
System:

	[wolf@devel hanami]$ uname -a
	Linux devel 4.15.3-1-ARCH #1 SMP PREEMPT Mon Feb 12 23:01:17 UTC 2018 x86_64 GNU/Linux

Ruby version:

	[wolf@devel hanami]$ ruby --version
	ruby 2.5.0p0 (2017-12-25 revision 61468) [x86_64-linux]

Steps to reproduce for me:

	[wolf@devel hanami]$ cat ./.bundle/config
	---
	BUNDLE_PATH: "vendor/bundle"
	BUNDLE_CACHE_ALL: "true"
	[wolf@devel hanami]$ rm -rf

[2018-02-18 21:44] AlfonsoUceda commented on #869
Hi @spectator sorry for the late answer. Well this is because you are halting the middleware process before reaching the router, so that's why `force_ssl` won't work.

In my opinion, if you are using a middleware for authorisation and you might halt the execution in that middleware, you could use Apache or Nginx rule for ssl redirect.

cc @jodosha

[2018-02-18 21:48] AlfonsoUceda commented on #892
@cllns it makes sense, but not only for JSON, even for other mime types like XML, I know we have a `default_response_format` configuration but it would be good to set by request.

[2018-02-18 21:55] AlfonsoUceda commented on #888
Hi @jfelchner, I'd like to have Chamber integrated with Hanami, I've used and it's very useful. With Hanami 1.

[2018-02-19 09:10] AlfonsoUceda commented on #859
@wheresmyjetpack don't worry, just open the PR and we discuss there ;)

[2018-02-19 10:32] smaximov commented on #890
@AlfonsoUceda, seems like it depends on whether code reloading is enabled. This can be done with a [fresh hanami app](https://github.com/smaximov/commands_load_issue) (the only code I've added is [this](https://github.com/smaximov/commands_load_issue/blob/0ca2d78a44c5d2d2c265652fbbd2846f8c23502d/lib/commands_load_issue/repositories/my_schema/user_repository.rb) snippet). You need to remove `shotgu

[2018-02-19 10:36] AlfonsoUceda commented on #890
@smaximov thanks! I'll test as soon as possible ;)

[2018-02-19 17:22] jodosha commented on #888
@jfelchner Thanks for getting in touch.

How does `chamber` works with env vars? Specifically, does it turns settings from the YAML file into `ENV` vars? From the code over GH, I didn't find an easy answer. Thanks.

[2018-02-19 17:27] smaximov opened #898 "Automatic logging of body parameters of a JSON request"
Hanami [automatically logs](http://hanamirb.org/guides/1.1/projects/logging/#automatic-logging) parameters sent by regular form submissions but fails to do so for JSON requests. This issue can be reproduced on 1.1 and the current `master` (8b0fb2e), see [this repo](https://github.com/smaximov/hanami_automatic_json_parameter_logger) for details.

The reason is that [`Hanami::CommonLogger#extract_pa

[2018-02-19 17:33] jodosha commented on #869
@spectator I'm sorry about this issue. @AlfonsoUceda is right: there is a design problem. The request hits the middleware stack first and then the router. Because the router is the last component that dispatches the request to the app.

Now, I'm doing a lot of research and experiments on how to simplify this part of Hanami, and I can tell that both `force_ssl` and application level middleware are

[2018-02-19 17:33] #869 closed

[2018-02-19 17:50] jfelchner commented on #888
One of Chamber’s defining features (besides being able to [encrypt settings](https://github.com/thekompanee/chamber/wiki/Encryption-Basics) with one or more project RSA keys) is that it allows you to use rich types for your settings (`FalseClass` instead of the `String` `”false”`).

So, Chamber will [_override_ a YAML setting](https://github.com/thekompanee/chamber/wiki/Environment-Variables) with

[2018-02-19 22:13] AlfonsoUceda commented on #898
@smaximov thanks for this detailed issue, I'll check a look because it seems we are ignoring parameters if the request doesn't come from a form. It seems we are ignoring even if we send XML.

[2018-02-19 22:39] AlfonsoUceda commented on #893
Let see if someone with Linux and ruby 2.5.0 can test this.

[2018-02-20 01:06] spectator commented on #869
Appreciate you for looking into this @jodosha and @AlfonsoUceda !

I did solve this with `rack-ssl` for systems where this was critical.

[2018-02-20 17:42] davydovanton commented on #786
I want to create a simple todo list for the future coordination. Also, I created a simple template  for model with sqlite.

## TODO

- [ ] hanami full app
- [ ] hanami model with sqlite adapter
- [ ] hanami model with postgresql adapter
- [ ] hanami model with msql adapter
- [ ] hanami controller
- [ ] hanami view
- [ ] hanami view with helpers
- [ ] hanami interactor
- [ ] hanami mailer

[2018-02-20 18:00] davydovanton commented on #879
@graywolf you can use another way. Rubocop can automatically add `frozen_string_literal: true` to all files without any manual work.

I agree that this line will be better but also if we will start working on an option for this (like in @cllns comment) we'll increase complication for all hanami/hanami code base. And in this case I prefer to use rubocop as a optional solution for this problem.

@cl

[2018-02-21 05:56] davydovanton commented on #879
I love the idea with commented line in the gemfile! ❤️

[2018-02-21 20:08] cllns commented on #890
#900 might fix this?

[2018-02-21 20:12] AlfonsoUceda commented on #890
@cllns yep

[2018-02-21 23:35] cllns opened #901 "Generate better paths for non-RESTful actions"
@Pistos [reported](https://gitter.im/hanami/chat?at=5a89d875888332ee3a9dc491) that when generating non-RESTful (resourceful) routes like:
[code]

The resulting route is unexpected:
[code]

We should consider changing this so that when non-RESTful routes are generated, the path joins the controller name and the action name, with a slash, rather than just using the controller name. So in this case,

[2018-02-22 02:43] Pistos commented on #901
In my app, I will indeed use a `DELETE /session` route, but nevertheless, there will probably be times that people will want `controller#endpoint` to map to `/controller/endpoint`.

In the current code, if you execute `hanami generate action web 'controller#action_one'` and `hanami generate action web 'controller#action_two'` it actually creates two lines in the route file for the same route.

[2018-02-22 19:27] graywolf commented on #893
I have archlinux (if relevant).

[2018-02-22 19:28] graywolf commented on #879
So to sum up: now I should modify generated app to pass rubocop out of the box?

[2018-02-23 11:10] malin-as opened #902 "Extraneous require 'hanami/model' ?"
Hi,

While tinkering with a Sequel-only replacement for `hanami-model` (which would provide the missing `hanami db` commands), I noticed a problem when trying to load the environment in this way:
[code]
This is because of a `require 'hanami/model'` at line 3 of `config/environment.rb` which was generated with the project. It looks like that line is not necessary because `bundler` will load the nec

[2018-02-24 06:45] sandelius commented on #902
I dont't think Hanami calls `Bundler.require` but use `setup`. That means you have to require all the gems you listed in your `Gemfile`.

This is IMO a good design that will help you see what dependencies you actually have loaded.

[2018-02-24 15:56] Pistos opened #903 "Test suite failure when using `flash` in layout"
### Steps to Reproduce

    hanami new flash-bug --test=rspec
    cd flash_bug
    bundle install
    bundle exec rake spec  # observe green test suite
    ${EDITOR} apps/web/templates/application.html.erb
    # Add flash in the <body>, such as: <p><%= flash[:foo] %></p>
    bundle exec rake spec  # test suite fails

### Actual Behaviour

[code]

### Expected Behaviour

* A fully passing test suit

[2018-02-25 21:40] davydovanton commented on #903
I'll try to reproduce it, thanks for the report 👍

[2018-02-27 13:11] #865 closed

[2018-02-27 17:06] jodosha commented on #856
As we merged hanami/model#471, bulk operations can be implemented like this:

[code]

[2018-02-27 17:06] #856 closed

[2018-03-03 22:35] Pistos opened #909 "Unable to indent Ruby code in erb template"
## Steps to Reproduce

[code]

`index.html.erb`:
[code]

Indented might look something like this:

[code]

## Actual Behaviour

## Expected Behaviour

We are able to indent valid `<% ... %>` expressions without errors.

[2018-03-04 13:14] seasonxuan opened #910 "Expect to improve server CLI usage"
When I run ```hanami server```, I can visit by ```http://localhost:2300```, but I **can't** visit by LAN IP address ```http://192.168.0.45:2300```
Similarly, when I run ```hanami server --host=192.168.0.45```, I can visit by LAN IP address, but I **can't** visit by localhost.
Finally, when I run ```hanami server --host=0.0.0.0```, I can visit by both IP address and localhost.

I **expect** the las

[2018-03-04 21:42] cllns commented on #910
Thanks for this issue, but I think `localhost` is what we prefer, since it’s more secure. We want to be secure by default.

Binding to `0.0.0.0` means your development web server will be available to anyone on your local network. This means that, at a coffee shop for example, if you’re using `hanami-webconsole`, anyone could run arbitrary commands on your computer. 😱

I think we should leave it as

[2018-03-04 21:42] #910 closed

[2018-03-05 09:05] kaikuchn commented on #909
Is this maybe a problem with [tilt](https://github.com/rtomayko/tilt)?

[2018-03-05 09:09] kaikuchn commented on #909
In fact it is...
[code]

[2018-03-05 10:06] malin-as commented on #902
I understand, after asking this question I realised that `hanami` and `hanami-model` are more coupled than I thought, so this question is in the end not very relevant. Thank you nonetheless :)

[2018-03-05 10:06] #902 closed

[2018-03-05 10:30] malin-as opened #911 "Having `--skip-view` by default for some apps"
Hi,

I think it could be really useful if one could specify that by default, the generated actions for an app should not create the view, for instance for a RESTful API that replies with JSON messages. It could be called like so:

    $ hanami g app api --no-view

The setting would be stored in a configuration file, though I'm not sure which one and whether or not to track it in git, since this is

[2018-03-07 08:31] kaikuchn commented on #909
I guess we should've also made the next logical step and check whether or not this snippet works with plain ERB. Turns out it does not:

[code]

---> This seems to be invalid ERB?

[2018-03-07 17:36] Pistos commented on #909
It seems we can work around it like this:

[code]

[2018-03-07 17:36] #909 closed

[2018-03-09 15:28] 256hax opened #912 "NoMethodError: undefined method `dup' for #<Hanami::Interactor::Result"
I got "NoMethodError: undefined method `dup' for #<Hanami::Interactor::Result" when update gem "hanami-view 1.1.0" to "hanami-view 1.1.1".
Is this bug or wrong my code?

# Source Code (Error)
Here is point of code. I copied and customize [hanami /bookshelf](https://github.com/hanami/bookshelf).

### [ Hanami-Bookshelf/apps/web/controllers/books/index.rb ](https://github.com/256hax/Hanami-Bookshelf

[2018-03-09 18:29] cllns commented on #912
`Hanami::Interactor::Result` doesn't inherit from `::Object`, which is why `#dup` cannot be found.

`Hanami::Interactor::Result`, itself, isn't designed to be rendered in a template. I think what you want is to expose `list` from the Interactor, then set that to an instance variable to render in the template.

Something like:
[code]

Does that help?

[2018-03-10 02:25] 256hax commented on #912
@cllns Thank you so much!! I could fix that!

[2018-03-10 02:25] #912 closed

[2018-03-11 15:56] AlfonsoUceda commented on #911
Hi @malin-as

This is an interesting setting for building apps for APIs as you said. We're going to think in this.

Thanks!

[2018-03-11 20:14] seanfcarroll commented on #849
I've worked with both RSpec and Minitest, and while RSpec is the defacto standard for many Rails projects, except Rails itself :-) , Minitest does have a couple of basic advantages.

1) The source code for Minitest is surprisingly small, and readable.
2) Minitest has a lot less magic, and especially if using the class-based non-DSL based approach. These tests are a lot more readable although also

[2018-03-12 10:59] jodosha commented on #903
@Pistos Which version of Hanami are you using?

[2018-03-12 15:23] Pistos commented on #903
The `Gemfile.lock` in the dir says 1.1.0.

[2018-03-15 06:35] mrdShinse opened #913 "Can Hanami::Env read local dotenv files?"
Hi,

Can Hanami::Env read local dotenv files? like `.env.local` or `.env.development.local` or so on 🤔

[bkeepers/dotenv](https://github.com/bkeepers/dotenv#what-other-env-files-can-i-use)

[2018-03-16 21:25] seanfcarroll commented on #849
Just to add another thought - whatever is decided, I think it is best to focus on a single testing framework as standard. The situation in Rails where the community is split is a bit counter-productive, especially for new devs who are looking for documents. This is different than a database or even ORM choice, as these are radically different. RSpec and Minitest basically do the same thing, with s

[2018-03-20 16:53] iJackUA commented on #729
For anyone searching solution to connect Vue.js HMR and Hanami
these configs fixed all issues with inline JS + CSS and hot reload via WS
my **webpack-dev-server uses port 3500** (change it according to your settings)

[code]

[2018-03-21 21:33] mereghost commented on #913
@mrdShinse `Hanami::Env` won't automatically load them, but you can call `Hanami::Env.load!(path)` to load any additional dotenv files.

[2018-03-21 21:37] mereghost commented on #886
Heya @graywolf did the workaround proposed by Alfonso help you?

[2018-03-22 14:07] jodosha commented on #911
@malin-as Hi, thanks for this proposal. IMO this is the classic example where we potentially increase the complexity of the internals to support a feature that only needs to save a few keystrokes. It's a pass for me 👎 .

[2018-03-22 14:07] #911 closed

[2018-03-22 14:08] #656 closed

[2018-03-22 14:34] jodosha commented on #789
I agree that this should be implemented, but it isn't possible to do it correctly right now.

## Assets settings

Assets have application based separated settings.

Given two apps `web` and `admin` inside a project I can reference `<%= stylesheet "foo" %>` from both the apps and Hanami will resolve for me the correct path: `"/assets/foo.css"` and `"/assets/admin/foo.css"`, respectively.

## Error

[2018-03-22 14:34] #789 closed

[2018-03-22 14:44] jodosha commented on #852
I added the `help-wanted` label and closing this proposal because of the idle conversation. If someone wants to take responsibility for this enhancement, please make it happen.

[2018-03-22 14:44] #852 closed

[2018-03-22 16:03] jodosha commented on #872
@graywolf I'm sorry about this problem.

It's true, it conflicts with `shotgun`.

You have few alternatives:

  1. To use `hanami-reloader` gem, and replace `shotgun`
  2. To not use code reloading
  3. To change the Puma syntax (see the snippet below)

[code]

[2018-03-22 16:03] #872 closed

[2018-03-22 16:19] jodosha commented on #874
@graywolf Hi, you wrote:

This is possible: http://hanamirb.org/guides/1.1/actions/control-flow/#http-status

[2018-03-22 16:19] #874 closed

[2018-03-22 16:31] jodosha commented on #879
@graywolf I like the idea, we're going to that direction.

Unfortunately Hanami gems on 1.x aren't respecting that immutable strings. So this change would break apps.

This is the strategy:

  1. Port all the Hanami code base to use immutable strings. In this way the internals of the framework are forced to respect that directive, so they won't break apps.

  2. Generate new Hanami projects and co

[2018-03-22 16:31] #879 closed

[2018-03-22 17:36] #886 closed

[2018-03-22 17:38] jodosha commented on #886
@graywolf Please don't use `restrict_mime_types!` solution as it relies on a **private** API that is subject to change. /cc @AlfonsoUceda

[2018-03-22 17:53] jodosha commented on #890
Implemented by #900

[2018-03-22 17:53] #890 closed

[2018-03-22 17:59] jodosha commented on #893
I added `builder` gem to our `Gemfile` See https://github.com/hanami/hanami/commit/33d1935c8aaa87a0f9ca9a3b5cbc8755578f6123

[2018-03-22 18:04] graywolf commented on #893
@jodosha `pacman -S ruby`

[2018-03-22 18:22] jodosha commented on #903
@Pistos

To see the error, you should hit an action that uses `apps/web/templates/application.html.erb`. If you don't have actions in your project, you're **not** rendering that application template, so `flash` isn't evaluated and everything looks fine.

Try to do:

[code]

Then visit `http://localhost:2300`, and you'll see the problem.

![screen shot 2018-03-22 at 19 16 39](https://user-images.gi

[2018-03-22 18:22] #903 closed

[2018-03-22 18:22] jodosha commented on #859
Implemented by #915

[2018-03-22 18:22] #859 closed

[2018-03-22 18:41] graywolf commented on #886
@jodosha clever, thank you :)

[2018-03-22 18:49] graywolf commented on #874
@jodosha not working for me :/ my code looks like this:

	# frozen_string_literal: true

	module Web::Controllers::Login
	  class NoSuchActiveUser < StandardError; end
	  class WrongPassword < StandardError; end
	  class NotAdmin < StandardError; end

	  class Do
		include Web::Action

	#    def additional_successful_statuses
	#      [403]
	#    end

		def redirect_on_success(user_id)
		  session[

[2018-03-22 19:41] Pistos commented on #903
Great, thank you for the explanation and the fix!

[2018-03-27 09:53] nerdinand opened #916 "Enable dotenv loading according to behaviour with rails"
Recently I tried to use `.env.local` and `.env.development.local` files to add local-specific environment configurations according to the documentation of dotenv at https://github.com/bkeepers/dotenv#what-other-env-files-can-i-use.

This did not work and it was not immediately obvious to me why. The reason is of course that this loading order of dotenv files only applies to `dotenv-rails`, not to

[2018-03-27 09:56] nerdinand commented on #916
Just noticed that this has been suggested before: https://discourse.hanamirb.org/t/hanami-2-0-ideas/306/31

Any thoughts @jodosha?

[2018-03-30 12:32] jodosha commented on #901
Implemented by https://github.com/hanami/hanami/issues/901

[2018-03-30 12:32] #901 closed

[2018-04-04 13:40] apohllo commented on #897
@AlfonsoUceda I agree, these are only two variables, but maybe we could put some comment in the generated file informing, that using that file as an input for Docker is a bad idea?
The problem is that I spend several hours trying to figure out the what's going on. I thought there was a problem with my DB configuration, with credentials, with passinge the variablest to Docker, etc. So a word of war

[2018-04-04 15:40] jodosha commented on #902
@malin-as Can you please help me to understand the problem here?

What happens for when your **don't** include `hanami-model` in `Gemfile` **and remove** the `require 'hanami/model'` line?

Does the server/console still start for you? Thanks.

[2018-04-04 15:52] jodosha commented on #893
@graywolf Thanks. It looks like it isn't an official distribution of Ruby, which installs indirectly `builder`. Does `rubygems-update` get installed by that?

[2018-04-04 15:55] jodosha commented on #874
@graywolf Why are you assigning the body like this?

[code]

[2018-04-04 16:01] jodosha commented on #888
Because we're talking about adapters here (`dotenv`, `chamber`), they should be swappable. That means `Chamber.env` couldn't be a solution for Hanami users.

For instance, `ENV` is standard abstraction to access env vars. I guess you have your good reasons to not use `ENV` directly.

What do you suggest instead for Hanami?

[2018-04-04 16:03] graywolf commented on #893
It does not:

	[root@kancolle wolf]# pacman -S ruby
	resolving dependencies...
	looking for conflicting packages...
	warning: dependency cycle detected:
	warning: rubygems will be installed before its ruby dependency

	Packages (3) libyaml-0.1.7-1  rubygems-2.7.6-1  ruby-2.5.0-5

	Total Installed Size:  12.44 MiB

	:: Proceed with installation? [Y/n]
	(3/3) checking keys in keyring

[2018-04-04 16:08] jodosha commented on #893
@graywolf I think it's worth to be mentioned to the maintainers. Since Ruby 1.9, Rubygems is bundled with Ruby, it's unexpected to not find it by default. http://guides.rubygems.org/rubygems-basics/

[2018-04-04 16:08] graywolf commented on #874
Because I have to actions `Web::Controllers::Login::Form` which displays the form and `Web::Controllers::Login:Do` which performs the validations and logs user in (this is the one posted above). So I want to reuse the view for `Web::Controllers::Login::Form`, so I render it like this. It seems to work fine (except for the need to override the `SUCCESSFUL_STATUSES` to include 403)...

[2018-04-04 16:11] jodosha commented on #916
@nerdinand Yes, it was already discussed, and I agree.

What I think it should happen is to collect several pieces of experiences and provide an unified solution, not just jump into the conclusion making `.local` file to work. It has to be an organic change.

[2018-04-04 16:13] graywolf commented on #893
rubygems itself is dependency of ruby, so I do have the `gem` command but apparently some things were missed (bundler)

[2018-04-05 00:58] graywolf commented on #874
I've tried it and that not the case, even when I replace the assigment with just `self.body = 'test'` I do get the error page.

[2018-04-06 09:08] jodosha commented on #893
ok, I missed the `rm -rf` last time. That just brutally removes standard gems. 😔

[2018-04-06 09:14] jodosha commented on #874
@graywolf Thanks for getting back. Can you please create a demo app over GitHub? Because I can't reproduce the problem.

If you want to reuse the same form, you can:

  1. `hanami generate action sessions#new`
  1. `hanami generate action sessions#create`
  1. Edit action and view like this:

[code]

[code]

[2018-04-06 22:17] cveneziani opened #919 "Adding a --skip-route option to action generator"
The same way we have a `--skip-view` option:

[code]

I was wondering if it could be a good idea to add a `--skip-route` option to the action generator:

[code]

Maybe it's just me. Here is how I plan my features:

- First, I build the route and deduce a possible action
- I directly write it down in the routes file
- Then, I generate the action
- Which "forces" me to go back to the routes file to

[2018-04-07 08:36] jodosha commented on #919
@cveneziani Hi and thanks for this proposal. Can the `--url` option rescue the day?

[code]

That is designed specifically to not have to edit the route afterwards. 😉

[2018-04-07 08:36] #919 closed

[2018-04-07 13:39] cveneziani commented on #919
I don't think the `--url` option could rescue the day when using `resources`.

### Use case example

First I implement the listing of all books. My routes looks like this:

[code]

Then, I want to implement the show page of a book.
When generating the action, with the `--url` option:

[code]

I will end up with the following routes:

[code]

I'll still have to edit the route afterwards in order to

[2018-04-09 17:24] cllns opened #920 "Allow missing views or templates folder"
Using `1.2.0.rc2`:
[code]

This is the error:
[code]

A similar error happens for removing `app/web/views` too.

Removing `app/web/controllers` also causes a similar problem, but it's less likely someone would remove the controllers folder, whereas delegating the views and templates to a separate front-end app is more common. Note that removing `app/web/assets` works fine.

Note that the `rm -rf`

[2018-04-10 10:06] davydovanton commented on #920
@cllns did you try to remove `view` folder from `load_paths` array? (`apps/app_name/applications.rb`). Our view require templates that's why if you want to drop templates - you need to drop view too 🤔

[2018-04-11 09:50] graywolf commented on #893
[code]

lol :D I guess I'll just roll out my own ruby package :/

[2018-04-11 10:57] graywolf commented on #874
Repro is here: https://github.com/graywolf/repro_for_hanami_874

I think the trick to trigger the problem is setting both `self.status` and `self.body`.

However your suggested approach seems like reasonable way to solve this :)

[2018-04-12 09:49] malin-as commented on #902
@jodosha it works well when I remove both, I just hadn't cleaned the project correctly when removing `hanami-model`.

[2018-04-12 15:26] jodosha commented on #786
Closing in favor of https://github.com/hanami/playbook/issues/2

[2018-04-12 15:26] #786 closed

[2018-04-12 16:28] jodosha opened #921 "Support Ruby 2.5+"
Ruby is moving faster than us. 😉 💎

---

For **all** the Hanami gems:

  - [x] Change the minimum supported Ruby version in `.gemspec` to `">= 2.5.0"`
  - [x] Remove `2.3`, and `2.4` from `.travis.yml` and `.circleci/.config.yml`
  - [x] Remove `jruby-9.1.0.0` from `.travis.yml` and `.circleci/.config.yml`
  - [x] Update `README` with supported Ruby version

---

Changes **MUST** go to `unstable`

[2018-04-12 17:34] jodosha opened #922 "Use `dry-inflector`"
CLI generators use inflections to generate conventional names.
Internally these inflections are handled by `Utils::String.pluralize` and `.singularize`. These two methods will be removed in Hanami 2.0, alongside with `Utils::Inflector`.

For this reason, starting from 2.0, `hanami` should use `dry-inflector`. The main difference between `Utils::Inflector` and `dry-inflector` is the API: the first

[2018-04-16 08:59] jodosha commented on #921
Folks, we have to put this on hold.

We can't jump already into 2.4 because of JRuby.
It will support Ruby 2.4 as of 9.2.0.0.
If we bump Rubocop's `TargetRubyVersion`, it will make our builds to fail, due to the 2.4 specific suggestions.

On the other hand, if we bump already the min version in our gems 2.4,
the builds will still fail because JRuby 9.1 corresponds to MRI 2.3.

So we're locked for

[2018-04-17 07:03] AlfonsoUceda commented on #920
@cllns did you check @davydovanton's suggestion?

[2018-04-17 16:36] cllns commented on #920
@davydovanton Yes, that does seem to work. I think it'd be better to either: show a helpful error about `load_paths`, or just silently work without the folder existing yet. What do you think?

(I got this error from `git clone`-ing a Hanami project that didn't have the `.gitkeep` file in those folder, though it didn't use `views` or `templates`)

[2018-04-19 11:08] pchaganti commented on #921
Looks like JRuby 9.2 is getting closer :)

[2018-04-21 04:40] citizen428 opened #924 "Problems with dotenv 2.3.0"
**Problem:**
Just initialize a new project with Hanami v1.2.0, installed the gems and got the following error when running `bundle exec hanami server`:

[code]

**Potential cause:**
I checked, dotenv 2.3.0 was released after Hanami 1.2.0 and potentially introduced some change that leads to this behavior.

**Solution:**
I modified the Gemfile to depend on a 2.2. release of dotenv, everything works

[2018-04-21 16:40] hirokiraj commented on #924
Maybe it will help - after short investigation - problem occurs as new version of dotenv (2.3.0 - released 2 days ago), changed initializer for parser, difference can be seen here:

old: https://github.com/bkeepers/dotenv/blob/e388215d69fbf55e8031d8524edf9db22eb66c03/lib/dotenv/parser.rb#L35

new:
https://github.com/bkeepers/dotenv/blob/master/lib/dotenv/parser.rb#L33

Change was made with fix:
ht

[2018-04-23 18:05] spica831 commented on #924
Hello,
I was suffering from the same thing
So I modified the dotenv itself
Since it has already been merged already, it got in a state to move once

https://github.com/bkeepers/dotenv/blob/master/lib/dotenv/parser.rb#L33

[2018-04-24 06:53] citizen428 commented on #924
Thanks @jodosha, so either stay with 2.2. or upgrade to 2.4.

[2018-04-24 06:53] #924 closed

[2018-04-24 11:46] iJackUA commented on #892
What about instead of custom static error pages like `apps/web/templates/500.html.erb`
allow specifying in app configuration a dynamic action handler for each "standard error type" that is handled automatically by Hanami?
Like `/apps/api/application.rb`
[code]
That way you give a complete freedom for app developer to implement any kind of error repond and formatting. Also `exception` object should

[2018-04-24 12:41] jodosha commented on #921
🤞

[2018-04-26 18:17] apohllo commented on #897
I've created the repo
https://github.com/apohllo/quotes

The instruction to reproduce the problem is given in the Readme file.

[2018-04-29 02:11] jwsloan opened #927 "Add option to run rubocop auto-correct after generating new files"
After generating a set of files, it would be nice for those to comply with the consuming application's rubocop settings. It seems like this could work pretty well by just running `bundle exec rubocop -a`, also passing in the list files generated.

I can pretty easily run rubocop after generating the files, but it would be handy to be able to target only the newly generated files.

I'd love to jump

[2018-04-30 18:52] cllns commented on #927
:+1: Should be able to leverage `Hanami::CLI`'s `after` callback: https://github.com/hanami/cli#callbacks

I think we'll have issues with some things that Rubocop doesn't automatically fix though, like long-lines. For example, this happens in `let` blocks in specs a lot, since we generate them with the `{ }` block syntax instead of `do / end` :/

[2018-05-06 17:59] graywolf commented on #846
@cllns I think technically we should go with "he or she or it". Some people don't identify as belonging into either "he" or "she". Or maybe singular they ( https://en.wikipedia.org/wiki/Singular_they ) would work? Dunno, I suck at English so not sure what is the best.

But this should probably be solved and put into Code of Conduct so we know what pronouns to use and avoid situations like this whi

[2018-05-06 18:02] graywolf opened #929 "I don't think `[INSERT EMAIL ADDRESS]` is valid email address"
Our Code of Conduct ( https://github.com/hanami/hanami/blob/master/CODE_OF_CONDUCT.md ) in section `Enforcement` contains this (snippet):

    ... may be reported by contacting the project team at [INSERT EMAIL ADDRESS]. ...

That's not that useful `^_^`

[2018-05-07 15:26] #929 closed

[2018-05-07 15:26] jodosha commented on #929
@graywolf Thanks for reporting this. I just fixed it.

[2018-05-07 15:45] jodosha commented on #927
@jwsloan Thanks for the idea, but I'm against it 👎 .

I'm a heavy user of Rubocop, at work, on personal projects. The plans for Hanami are to make both the internal code and generated code to be compliant with Rubocop.

That being said, I don't won't to enforce Rubocop on the Hanami end users.

---

As @cllns mentioned, you can use CLI callbacks and build a small integration for it. Here's how to

[2018-05-07 15:45] #927 closed

[2018-05-07 15:52] jodosha opened #930 "Allow plugins to inject their own settings"
Allow plugins to inject their own settings in project configuration.

[code]

It should introduce a `#plugins` proxy method to yield a block for a specific plugin.
The plugin on its own side, will provide an object to be yielded in that context.

[code]

---

Ref https://github.com/hanami/webconsole/issues/4

[2018-05-07 15:53] jwsloan commented on #927
Thanks for the input, @jodosha! I didn't mean to force folks to use Rubocop. I just meant to make it an option. Thanks for the link. I'll look into just making a separate plugin that does it.

[2018-05-07 15:59] jodosha commented on #927
@jwsloan Thanks for understanding. 😄

[2018-05-07 16:03] jwsloan commented on #927
You're welcome, @jodosha! While I have your attention... ;)
Any chance you'd be willing to come speak at https://southeastruby.com/ about Hanami? @timriley spoke about http://dry-rb.org/ there last year, and it would be an awesome followup to have you this year! :)

[2018-05-08 03:33] cllns commented on #846
I think singular they is best. Agree we should have a note somewhere about not assuming gender (happens in the chat with "hey guys" a lot).

[2018-05-08 15:09] jodosha commented on #874
@graywolf Thanks for your demo app. That isolates well what you mean.

To me this isn't a bug.

Response body set in action is meant to bypass the render of the view.
Setting a non successful status code in the action, triggers the rendering of an error page.

The error page sees the custom body as a message instead of the default HTTP message. In your case, instead of `403 Forbidden`, it uses `40

[2018-05-08 15:59] jodosha commented on #897
@apohllo Thanks for your demo app. I can reproduce all the steps you wrote in README.

This seems to be a problem of Docker Compose, https://github.com/docker/compose/issues/3702. IMO it should work both with quoted and unquoted vars.

[2018-05-10 10:15] iJackUA commented on #930
At the first glance, I like how it looks and what possibilities it opens.
Would it work also on upper level of config (not under env block)? Like this
[code]

The only thing, I am not sure about loading order. Blocks `Hanami.plugin do` starts at the very beginning during Gemfile initialization right? And add blocks to plugins registry. So config objects would be available, but real configuration c

[2018-05-10 13:50] mereghost commented on #930
@jodosha will the methods we use to initialize the framework (i.e. `requires`) be available to plugins?

[2018-05-11 14:16] mdesantis opened #932 "Getting started guide doesn't work as expected"
I'm following the Getting started guide here, and I reached the ["Following a request" step](http://hanamirb.org/guides/1.2/getting-started/#following-a-request).

The guide says that running the home page test it should pass, but it doesn't:

[code]
And, if I visit the home page, I can't see the "Bookshelf" write. I double checked if I did something wrong but I couldn't find any difference with t

[2018-05-12 19:44] cllns opened #933 "Generate app regex only works with single quotes"
Very very similar to #883.

That bug causes an error when generating a new app because the file that's expected to be there doesn't exist. In my case, the file does exist _and_ I have the `require_relative "../lib/writer_pages"`.

The trouble is that the regex we use only looks for single quotes. Instead, we should look for single or double quotes. (I have a rubocop rule to always use double quote

[2018-05-14 08:28] graywolf commented on #874
But when I just set the status code, normal page is rendered. Shouldn't it also render error page?

[2018-05-14 19:14] AlfonsoUceda commented on #849
Implemented by #928

[2018-05-14 19:14] #849 closed

[2018-05-20 11:02] mariusz-kowalski opened #936 "`hanami new .` generate broken app"
If you give the name in typical way e.g. `hanami new app_x` it will create folders like this:
[code]
When the app name is `.` it puts folders `entities`, `mailers` and `repositories` directly in `lib/` and creates a file `..rb` (in `lib/`), which is then incorrectly required in `config/environment.rb`, like so:

[code]
Name `.` should be translated into real name of the current folder.

[2018-05-20 20:07] tommyalvarez commented on #924
@citizen428 the error is still happening in 2.4.0 and Rails 5.1.5.

[2018-05-21 17:12] cllns commented on #936
Related: https://github.com/hanami/hanami/issues/736

[2018-05-21 17:17] cllns commented on #936
I (still) think we should have this functionality, since it's a common pattern for command line utilities.

[2018-05-21 17:32] cllns commented on #924
@tommyalvarez This is the issue tracker for Hanami, which doens't have anything to do with Rails. If you're seeing problems still, you might want to open an issue in `dotenv-rails` (first I'd double-check with `bundle show dotenv` to ensure your project is actually using `2.4.0`)

[2018-05-21 17:38] tommyalvarez commented on #924
@cllns my bad I read the issue in google and came directly here without seeing the repo.

[2018-05-21 18:08] cllns commented on #924
@tommyalvarez No worries, it happens! Hope you figure the issue out. (And check out [Hanami](http://hanamirb.org/guides/1.2/getting-started/) when you get a chance 😉)

[2018-05-21 23:56] daphsta commented on #933
Hi @cllns did you mean to refer to PR #883 instead , in the above?

[2018-05-22 01:45] cllns commented on #933
Yes, sorry, I did mean that PR :)

Go for it! 🌸 ; I'd recommend working off `graywolf`'s `fix_generate_app` branch.
The way I'd do it is `git remote add graywolf git@github.com:graywolf/utils.git` then fetch it and check out the branch. It'll be merged soon. I'd do it now but I don't have the time right now to manually verify it's working. Else, you/we will have to update your PR once #883 is merg

[2018-05-22 02:29] daphsta commented on #933
Thanks @cllns, I'll do just that

[2018-05-22 08:34] bcaccinolo opened #938 "ROM::Registry::ElementNotFoundError:"
Hello,
I have a problem with Hanami using nested aggregates like this:

[code]

I get the error:

[code]

But this works fine:
[code]

and this also:
[code]

## Repositories

[code]

[code]

[code]

## Notice

This is not a vanilla Hanami project.
It's a Rails 4 app with Hanami model & validation included in.

Gemfile
[code]

Repositories are loaded like this:
[code]

/benoit

[2018-05-23 08:38] daphsta commented on #933
Hi @cllns , I've just noticed in https://github.com/hanami/hanami/pull/883 , the regex should match double quotes?

[code]

Also, I have found out why I keep running into this error when running the specs for `spec/integration/cli/generate/app_spec.rb`

[code]

I had to run `sudo ./script/setup` in order for the script to install the gems without permission errors. However, when I run `rspec` on `

[2018-05-23 12:35] mariusz-kowalski commented on #936
I'm using hanami CLI that way because I like to put everything in rvm gemset. So I start new project like this:

[code]

[2018-05-24 22:20] 007lva commented on #921
JRuby 9.2 is here!
http://jruby.org/2018/05/24/jruby-9-2-0-0.html

[2018-05-25 22:42] cllns commented on #921
Thanks @007lva :D

It looks like they actually support Ruby 2.5 as well!

@hanami/core I wonder if we should jump to support Ruby 2.5 for Hanami 2.0, and skip 2.4? What do you think?

[2018-05-27 17:51] jfelchner commented on #888
@jodosha of course ENV is the standard for accessing environment variables.  But environment variables are not the best solution for application configuration.

For example, what if you want an environment variable that is a boolean?  What if you want to share your environment variables with other developers (including sensitive information that you can't check in)?

[2018-05-29 11:35] davydovanton commented on #936
@cllns WDYT if we just add some simple format validators to CLI library and will use it here?

[2018-06-04 17:09] cllns commented on #936
Just had another request for this (#939).

@davydovanton I'm not sure how format validators would solve this. We could use that to tell people they can't create a project at `.`, but, instead, I think we should allow it.

[2018-06-08 08:46] jodosha commented on #921
@cllns My opinion is to keep 2.4+ for now. If 2.0 will be released in the far future, then yes, we can consider 2.5+.

[2018-06-08 08:47] jodosha commented on #921
This is still blocked by Travis CI that apparently doesn't have JRuby 9.2.0.0 yet.

[2018-06-13 11:38] toommz commented on #932
You don't have the view, only the template (apps/web/views/home/index.rb). It's one additional layer of abstraction if you're coming from Rails ;)

[2018-06-14 10:31] mdesantis commented on #932
Hello! Sorry but I didn't get the suggestion :-(

[2018-06-14 10:35] jodosha commented on #932
You have the template: https://github.com/mdesantis/hanami-demo/blob/master/apps/web/templates/home/index.html.erb, but not the corresponding view.

How did you generate the code?

[2018-06-14 10:41] mdesantis commented on #932
I guess that after 10 years of Rails development my brain is so frozen that you guys had to tell me twice that I need a .rb file corresponding to a view :D sorry for the misunderstanding, I'll go on with the tutorial :100:

[2018-06-14 10:41] #932 closed

[2018-06-21 23:15] joelvh commented on #924
FYI dotenv 2.5.0 just went out, which makes this backwards-compatible: https://github.com/bkeepers/dotenv/pull/345

[2018-06-28 10:29] jodosha commented on #938
@bcaccinolo I'm happy that you found the solution. Happy coding!

[2018-06-28 10:29] #938 closed

[2018-06-28 10:32] jodosha commented on #930
@mereghost

Not in my plans. Do you have a need for it?

[2018-06-28 10:34] jodosha commented on #920
@cllns

👍

👎 Because that just makes the `load_paths` settings useless.

[2018-06-28 15:04] jodosha commented on #846
Implemented by https://github.com/hanami/hanami/pull/934

[2018-06-28 15:04] #846 closed

[2018-07-05 12:44] rahuldwivedi commented on #932
Hey @jodosha I am also having same issue this is my github url
https://github.com/rahuldwivedi/hanami_demo please have a look on it I don't think  I missed any steps given on the doc http://hanamirb.org/guides/1.2/getting-started/

[2018-07-05 12:55] toommz commented on #932
[Your view](https://github.com/rahuldwivedi/hanami_demo/blob/master/apps/web/views/home/index.html.erb) is a template, not a view. Rails and Hanami differ on how they name and refer to "views".

[2018-07-29 12:30] crdx commented on #936
@cllns Might be a silly question (I probably missed something) but what was wrong with @tzmfreedom's PR #939 which (as far as I can see) has an implementation of a solution?

[2018-08-01 22:03] CaptainPhilipp opened #946 "DSL for render custom view in controller"
sorry, i need to edit text and grammar

[2018-08-05 11:55] AlfonsoUceda commented on #922
Closed by #940

[2018-08-05 11:56] #922 closed

[2018-08-06 14:03] jodosha commented on #921
Please hold on with this. We need first to reach JRuby 9.2 compat for JRuby with `hanami-model` and `hanami-view` and then we'll be able to proceed.

[2018-08-06 14:26] #882 closed

[2018-08-06 16:16] jodosha commented on #936
Dear all, we support this behavior since long time, but due to an evident regression it wasn't working anymore. I've opened #947 To fix this. Please review.

[2018-08-07 08:09] #936 closed

[2018-08-09 18:54] jc00ke commented on #610
@jodosha Now that we're getting close to `v2.0` is it time to revisit this? I'm trying to get `I18n` to work in a Hanami app and I'm running into issues with `dry-validations` `rules` and error messages. This seems like a good time to revisit i18n if it hasn't already been addressed (maybe it has and I missed it?)

[2018-08-10 10:54] jodosha commented on #610
@jc00ke Which specific errors did you get in for validation error messages? Is it worth to open a ticket in `hanami-validations` or `dry-validation`?

Is there anything else you think we should consider?

[2018-08-10 16:26] jc00ke commented on #610
Sure, I can open an issue in `hanami-validations` but I still think it's worth shoring up `i18n` in `Hanami` apps in general. It could be as simple as docs in the guide. I found it to be trickier than expected.

[2018-08-17 07:56] mereghost commented on #946
Hello @CaptainPhilipp ! First of all thanks taking an interest on `hanami`.

From what I understand, you need to render different views depending on what happens inside your Action, right? The thing is Actions, by design, know nothing about views (and vice-versa). The `hanami` gem just glues them together, keeping the view layer as a rack middleware that just alters the body of the response.

One

[2018-08-17 15:26] checkbutton opened #951 "Mounting on a subdomain is broken"
Specifying `host:` when mounting applications in Hanami seems to be broken.
I have the following setup:
[code]
In both applications, I define the following route:
[code]
When I run my application with `hanami server --host=lvh.me`, as described in http://hanamirb.org/guides/1.2/routing/overview/#mounting-on-a-subdomain and try to call `test-two.lvh.me/hello`, I end up in TestOne.

Moreover, if I s

[2018-08-17 16:43] cllns commented on #951
Sorry you're having trouble with this! I think the documentation might be wrong. Can you try `  mount TestOne::Application, at: '/', host: 'test-one.lvh.me'`? I know this isn't idea, since the root host will chance per environment, but I seem to remember it needed the full host name, not just the subdomain.

[2018-08-18 06:07] checkbutton commented on #951
@cllns thanks for your answer. I've just tried that out, but without any effect. I've also tried to set the `host` in the respective `TestOne::Application` / `TestTwo::Application` `configure` block, but this as well had no effect.

[2018-08-21 08:54] mereghost commented on #946
Great to hear that you like the way we are dealing with this.

Thanks for your understanding. =)

[2018-08-22 07:42] checkbutton commented on #951
Additional info: I tried it also with different web servers, i.e. WEBrick and Puma

[2018-08-24 13:30] greggilbert commented on #951
I'm also having this issue.

[The docs](http://hanamirb.org/guides/1.2/routing/overview/) note that you can do `mount Blog.new, host: 'blog'`, but using the `.new` notation throws this:
[code]

[2018-08-24 13:34] greggilbert commented on #951
I'm also having this issue.

Per [the docs](http://hanamirb.org/guides/1.2/routing/overview/), one notation for this is to use `.new`, as in `mount Blog.new, host: 'blog'`. When you do that, though, it throws this:

[code]

I've also noticed that order is significant here, with the first mount line winning out:
[code]

I'm going to keep digging, but this seems like a big issue, especially since ha

[2018-08-31 21:15] joelvh commented on #666
Is the proper way to setup Hanami on Heroku to set `HANAMI_PORT` explicitly? When `force_ssl` is set to `true` and I don't specify a port, it seems to redirect to the Heroku-assigned port (on their internal network). When I set the `port` option in my Hanami configuration explicitly to 443, there's a redirect loop that includes the port 443 in the `Location` redirect URL.

In my setup, I use `forc

[2018-08-31 21:18] joelvh commented on #666
For completeness, I am referring to the `PORT` environment variable as the Heroku-assigned port. Without `HANAMI_PORT` set, the forced redirect included port 4334, which seemed to be coming from `PORT` (assigned by Heroku for internal port mapping).

[2018-09-24 08:27] jodosha opened #955 "Migrate testing from `sass` to `sassc`"
[code]

[2018-10-09 08:12] jodosha commented on #920
Closing this ticket due to inactivity. @cllns Feel free to reopen and take ownership for it. Thanks.

[2018-10-09 08:12] #920 closed

[2018-10-09 10:27] jodosha commented on #898
@smaximov Would you please manual test #958 to see if it works fine for you? Thanks.

[2018-10-09 10:48] smaximov commented on #898
@jodosha works like a charm.

[2018-10-12 08:10] waghanza commented on #921
@jodosha Taking about https://github.com/hanami/hanami/issues/921#issuecomment-395693994, requiring  `>=2.5` for **hanami** `2.0` is going to restraint **hanami** adoption, because versio of `ruby` on `major` **linux** :

+ amazonlinux => `2.4`
+ debian => `2.3`
+ ubuntu => `2.5`
+ centos => 2.4 (via `software collection`)

PS : Those are LTS

[2018-10-19 17:29] aitbw commented on #955
Hi! I'd love to tackle this issue, is it still available?

[2018-11-02 10:15] Sickphilosopher opened #960 "Command line arguments are ignored when using environment in plugins initialization."
We using plugin:

[code]

Plugin calls Hanami.env when loaded. (https://github.com/Sickphilosopher/hanami-webpack/blob/aab739d1a92eacc573c1b1232483c359dfcff1b1/lib/hanami/webpack.rb#L7)

We run 'hanami s -p 3000'
Expected: server starts with port 3000
Actual: server starts with the standard port 2300

When we call Hanami.env, the Components ['environment'] is filled and when it is reinitialized in

[2018-11-13 23:36] aebejer commented on #758
@ixti did you end up finding a good way to solve this problem? thanks!

[2018-11-16 19:35] kchoiinfluitive opened #970 "NameError: uninitialized constant only in production from sidekiq"
I'm currently running into an issue when using sidekiq + hanami where sidekiq cannot find the worker class only in production.

`NameError: uninitialized constant <class name>`

Fullstack trace for record:
[code]
This is not reproducible consistently but only happens sometimes. Is there a way for us to add something like `config.autoload_paths` within hanami project?

[2018-11-19 17:50] kchoiinfluitive commented on #970
I start like that and it doesn't help.

[2018-11-19 18:54] jodosha commented on #970
@kchoiinfluitive Where does `activesupport` is coming from? Is it a `sidekiq` dependency?

Which is the value of `<class name>`?

[2018-11-19 19:03] kchoiinfluitive commented on #970
i added it as a gem in our gemfile. class name is in `<project-name>/lib/<project-name>/workers/injector_worker.rb`

[2018-11-19 21:12] ixti commented on #758
@aebejer mm.. I don't remember. The project I was using Hanami for did not succeeded due to management issues.

[2018-11-21 15:43] graywolf opened #971 "`force_ssl` is deprecated but still generated into new projects"
According to https://guides.hanamirb.org/upgrade-notes/v130/ , `force_ssl` is deprecated but when I started new project using hanami 1.3, I still see that in `application.rb`.

[code]

[2018-11-21 15:44] graywolf opened #972 "`body_parsers` is deprecated but still generated into new projects"
According to https://guides.hanamirb.org/upgrade-notes/v130/ , `body_parsers` is deprecated but when I started new project using hanami 1.3, I still see that in `application.rb`.

[code]

[2018-11-21 15:45] #970 closed

[2018-11-21 15:46] graywolf commented on #921
Can't you always just install new version using rvm? Or from backports?

[2018-11-21 15:57] waghanza commented on #921
@graywolf I surely can do this 😁 however using `rvm` or **backport** packages (you are assuming I'm on debian-based) add unecessary performance decrease

I can also compile `ruby` 😉 but my comment was more a reaction than a complain

[2018-11-21 17:39] jodosha commented on #921
@waghanza It's a small friction, true. I expect that Ruby apps are run not via a OS Ruby, but from official MRI, perhaps via a version manager (eg. chruby, rbenv, rvm..).

[2018-11-21 17:48] waghanza commented on #921
I can understand your argument here @jodosha, but
+ Any versionning ssystem add unecessary syscallls
+ Using system  Ruby ensure stability, monkey patching ...

[2018-11-22 15:46] deepj commented on #921
Honestly, I don't know anyone who uses system Ruby for running their application. Especially for web applications.

[2018-11-22 15:53] waghanza commented on #921
@deepj me :stuck_out_tongue:
I prefer using **binary** that has been `compiled` before (an not by me) to ensure **stability**, because of lib version ...

btw, it could be done with `rvm` but I think it add flexibility to the detriment of performances

[2018-12-16 12:31] AlfonsoUceda commented on #960
Hi @Sickphilosopher can you tell us how we can reproduce this? I've tested in a fresh hanami app (v1.3.0) and it works fine, my steps:

- Create a fresh `hanami` app
- Generate binstubs for `hanami` command.
- Add `hanami-webpack` to application's Gemfile as a plugin:
[code]
- Follow steps 3 and 4 from `hanami-webpack`'s README
[code]
- Run `bundle exec hanami s` and I see port 2300
- Run `bundle

[2018-12-16 12:33] AlfonsoUceda commented on #955
@aitbw please go ahead, thank you so much!

[2018-12-16 12:54] AlfonsoUceda commented on #951
Hi Folks, sorry for the problem but yes, it is a bug.

I've reproduced the bug and I know how to fix it, so I'll create a PR, after that can you test it in your apps? thanks!

[2018-12-16 13:00] AlfonsoUceda commented on #951
@checkbutton @greggilbert I've created a quick PR that it needs to be improved. https://github.com/hanami/hanami/pull/976

Can you test with your app? Thanks

[2018-12-18 20:45] Sickphilosopher commented on #960
Hi, @AlfonsoUceda, i updated hanami-webpack and now it works as expected. But i wrote some hacks for this.
You can install old version and reproduce issue.

[code]

This should works.

[2018-12-23 21:06] 007lva commented on #921
[Rails 6 wil require Ruby version >= 2.5](https://github.com/rails/rails/pull/32034).

Ubuntu 18.04 and Debin 10 ships Ruby 2.5.1

I think that now sounds more reasonable to require Ruby 2.5 for Hanami 2.0

[2019-01-09 10:30] jodosha commented on #960
@Sickphilosopher I'm sorry about this problem, can you please point me to the specific "hacks" that you used to make it to work again? Thanks.

[2019-01-09 10:30] #960 closed

[2019-01-09 10:35] #971 closed

[2019-01-09 10:39] jodosha commented on #970
@kchoiinfluitive You should make sure that ActiveSupport isn't using _constant autoloading_.

[2019-01-09 10:46] jodosha commented on #921
@007lva agreed

[2019-01-09 10:53] jodosha commented on #933
The problem has been fixed. https://github.com/hanami/hanami/pull/937#pullrequestreview-189041706

[2019-01-09 10:53] #933 closed

[2019-01-09 10:55] jodosha commented on #930
Closing it as a stale discussion, due to the internal booting reworking based on `dry-container`.

[2019-01-09 10:55] #930 closed

[2019-01-09 18:23] cllns commented on #970
@kchoiinfluitive If you can upgrade Sidekiq to v5, I think that should fix this issue. They [removed monkey patching](https://github.com/mperham/sidekiq/pull/3474) after `v4.2.10`

[2019-01-10 14:40] Sickphilosopher commented on #960
I removed all `Hanami.env` usages in plugin loading.

[2019-01-14 14:05] #972 closed

[2019-01-21 15:55] sharipov-ru opened #980 "Broken links to http://hanamirb.org/guides/"
There are [lots of templates or examples with broken links](https://github.com/hanami/hanami/search?q=http%3A%2F%2Fhanamirb.org%2Fguides&unscoped_q=http%3A%2F%2Fhanamirb.org%2Fguides) to guides pages like:

http://hanamirb.org/guides/assets/compressors
http://hanamirb.org/guides/projects/code-reloading

All `http://hanamirb.org/guides/*` pages return 404 Page Not Found right now.

Is it possible t

[2019-01-21 17:31] jodosha commented on #980
@sharipov-ru I think we should replace them in the code.

[2019-01-23 10:07] #980 closed

[2019-01-24 21:52] vsanta opened #983 "Can't insert data when using string key"
Hello,

I just started exploring Hanami today and was playing around, creating a simple JSON API.

The controller is super simple, it is getting the post data and calling the repository to create a new record.
[code]

This fails with;
[code]

I continued to explore and tried to use hardcoded data in the console and it seems that when the param passed on the `create` is a Hash with ta string as the

[2019-01-25 04:05] #983 closed

[2019-01-25 08:07] jodosha commented on #983
@vsanta Hello, why did you close the ticket? Did you figure out? Would you mind to share the solution here? So other people would benefit from your experience. Thanks.

[2019-01-26 18:41] #921 closed

[2019-01-29 19:15] bewitchingme opened #987 "Cannot Create Hanami Project"
Ran into an issue creating a new app with Hanami; installed gem, did `hanami new blog` and it blew up like this:

[code]

Help?

[2019-01-29 20:57] 0xk175un3 commented on #987
Probably it happened bc [dry-logic](https://github.com/dry-rb/dry-logic) was updated like 7 hours ago.  Inside [hanami-validations](https://github.com/hanami/validations) is dependency to [dry-validation](https://github.com/dry-rb/dry-validation). And `dry-validation` has dependency to error-maker `dry-logic`, not by version, but by master branch. Here it is [-->url<--](https://github.com/dry-rb/d

[2019-01-29 21:12] flash-gordon commented on #987
https://rubygems.org/gems/dry-validation/versions/0.11.2 is out and should solve this issue. Please confirm.

[2019-01-29 21:42] 0xk175un3 commented on #987
@flash-gordon after `bundle update` it start works.

[2019-01-30 08:15] jodosha commented on #987
@flash-gordon Thanks for taking care of this ❤️

[2019-01-30 09:47] jodosha commented on #987
I released `hanami-validations` `1.3.2` to fix this problem.

[2019-01-30 18:46] nessur commented on #987
can you update `Hanami-model` also?
[code]

[2019-01-30 19:07] nessur commented on #987
So, even using Hanami & Hanami-model 1.3.1, things are still broken.
[code]
BUT. I _can_ pin `dry-logic` to `0.4.2` and the app is able to boot once more.

[2019-03-14 10:47] maxhollmann opened #990 "Hanami without hanami-model still installs rake db: namespace (and provides db cli commands)"
I tried setting up a project using hanami without `hanami-model`, instead using ROM directly. `commands.rb` doesn't check if `hanami-model` is installed though and always requires `hanami/cli/commands/db`, which obviously depend on `hanami-model`.

[2019-03-18 23:19] sovetnik opened #991 "Strange behaviour in `require_application_environment` (Hanami::Environment)"
So, I have a reka task, called `:example`

When I call this with `bundle exec rake example` it work as expected.

But, when I call it without `bundle exec`, i get an error:
[code]

It seems, constant lookup in [Hanami::Environment](https://github.com/hanami/hanami/blob/master/lib/hanami/environment.rb#L394) goes wrong, and bundler should be called from root, as `::Bundler`.

[2019-03-19 11:01] jodosha commented on #991
@sovetnik Thanks for reporting this. Would you mind to manual test if https://github.com/hanami/hanami/pull/992 fixes the problem for you? Thanks.

[2019-03-19 23:15] sovetnik commented on #991
@jodosha yeah, it fix a problem. Thanks you!

[2019-03-20 12:28] M-Dahab opened #993 "EOFError: end of file reached"
Hello,

I'm just following the getting started guide and when I visit http://localhost:2300 I get the following error:

[code]

I just generated the project by running `hanami new bookshelf` and then `bundle install` followed by `bundle exec hanami server`.

I'm using `ruby 2.5.3` installed via [asdf-vm](https://github.com/asdf-vm/asdf) on macOs mojave 10.14.3.

I'm able to avoid this if I do one

[2019-03-21 18:22] wisn commented on #993
Have you run `hanami db prepare` before?

[2019-03-22 08:30] M-Dahab commented on #993
@wisn, I didn't try that back then. But, I'm able now to run it and even If I add `shotgun` gem back to the project `hanami server` works just fine!!

All I did was just uncommenting `shotgun` in the Gemfile and kept going with the "getting started" guide and added some repos/entities/test etc..

Everything seems to be working smoothly now and I'm only able to reproduce the error if I generate a n

[2019-03-25 10:58] sovetnik commented on #993
Try to disable shotgun gem.

[2019-04-11 03:11] siaw23 commented on #993
@M-Dahab I recreated the [Guide commit-by-commit](https://github.com/siaw23/bookshelf), you can try comparing your files to it or keep my repo for reference. No errors on the repo from start to finish.

[2019-04-11 22:14] M-Dahab commented on #993
Thank you @siaw23.
I just tried creating a new project and it just works!
I'm not able to reproduce the problem anymore.

[2019-04-11 22:14] #993 closed

[2019-05-04 12:45] rubyFeedback opened #997 "Problem with ports + hanami - error reported in the description of this issue"
Hello Luca and others,

Sorry if this report is not great and my apologies if I will not comment/reply to it in time; I am quite chaotic.

I will try to make the bug report as useful as possible.

There actually is not much to it:

- I started with gem install hanami. All worked fine.

- I then went to the official documentation and did:

    hanami new bookshelf --database=postgresql

This worked

[2019-05-04 23:12] cllns commented on #997
Do you have Postgres running?

If you're trying to get started in a simple way, you can run the `new` command without `--database=postgres`, and it'll use SQLite instead, which won't require running any server (though it's not great for production use).

[2019-05-08 14:56] leo-generali opened #998 "Update URL to Hanami guides in default welcome template"
Hey there 👋!

I've been playing around with Hanami for a couple of days and I've been really enjoying it.

On the main [welcome page template, the link](https://github.com/hanami/hanami/blob/439df9759040c2f7352bcb49898c3bebd37ccfe7/lib/hanami/templates/welcome.html.erb#L41) to the Hanami guides sends to http://hanamirb.org/guides/. The page then automatically redirects to https://guides.hanamirb.o

[2019-05-08 17:04] cllns commented on #998
@leo-generali We used to host the guides and the website in the same repo and on the domain, but we've since split them. We'd welcome this change to avoid the re-direct. Good find :)

Let me know if you want to tackle this, or if someone else should take it. Thanks!

[2019-05-08 19:01] leo-generali commented on #998
@cllns happy to tackle this! I'll get something whipped up.

[2019-05-10 16:28] leo-generali commented on #998
@cllns all done! let me know how it looks :)

[2019-05-15 13:32] mkarganov opened #1000 "How to disable sql query logs?"
Hi, is there any possibility to disable query logs  in stdout on INFO level like:
[bookshelf] [INFO] [2017-02-11 15:42:48 +0100] (0.000381s) SELECT "id", "title", "created_at", "updated_at" FROM "books" WHERE ("book"."id" = '1') ORDER BY "books"."id"

[2019-05-19 09:43] ADodulad opened #1001 "Restrict default status template rendering"
Related to #509 and #599.
Use case:

1. When calling submitting a form through `Controllers::SomeAction::Create`
1.1. and submitted params are valid I want to `Views::SomeAction::Create` to be rendered with status `200`.
1.2. and submitted params are not valid I want to `Views::SomeAction::New` to be rendered with status `422`.

Having controller code as follows would end up in rendering `self.bod

[2019-05-19 10:59] #1001 closed

[2019-06-05 08:08] papergliff opened #1002 "Confusing output after SQLite migration."
When running migration: `hanami db migrate` with SQLite here comes confusing output:
[code]
Output is confusing for me because it seems like it's not an error, but some kind of warning.

After verifying, it came to me all the migrations did in fact succeed.
But It seems like there is no schema_info table.

[2019-06-12 20:51] gmanley opened #1003 "Support default dotenv rails files"
The dotenv integration with Rails supports [a number of default files](https://github.com/bkeepers/dotenv/blob/master/lib/dotenv/rails.rb#L58) that the Hanami integration does not. Specifically the .env.local style files. I like to use the .env.local files as a place to store things I don't want to commit (I have it in the .gitignore). If I make a PR adding this functionality is that a contributio

[2019-06-13 11:06] davydovanton commented on #1003
hey, thanks for report

Not sure that it can be helpful but I use `.env.development.sample` in my projects for commiting env file to the git repository and `.env.development` for working locally. You can [check my example](https://github.com/davydovanton/rubyjobs.dev) if you want.

@jodosha WDYT about this?

[2019-06-14 14:46] jodosha commented on #1003
@davydovanton I think @gmanley is telling something slightly different.

Is the proposal to make create the following hierarchy from the lower to the higher priority?

  1. Parse `.env`
  1. Parse `.env.development` (potentially override `.env`)
  1. Parse `.env.development.local`  (potentially override `.env` and/or `.env.development`)

The idea is to keep generating the first two with `hanami ne

[2019-06-14 16:23] gmanley commented on #1003
@jodosha That's correct. That is the intent. Thanks for laying it out so clearly. I'll start working on it this weekend. Thanks!

[2019-06-14 16:26] gmanley commented on #1003
@davydovanton I do use sample files as well but as @jodosha explained the idea here is to have hierarchy that can allow overrides locally. I appreciate the example, however.

[2019-06-14 23:31] gmanley commented on #1003
@jodosha @davydovanton https://github.com/hanami/hanami/pull/1004 here is my first pass to get some feedback.

[2019-06-21 09:06] checkbutton opened #1005 "NoMethodError: undefined method `one' for #<Hanami::Model::Associations::HasMany>"
The following example returns a `NoMethodError: undefined method 'one' for #<Hanami::Model::Associations::HasMany>`:
[code]
Tested it on Hanami 1.3.1, according to this documentation:
https://guides.hanamirb.org/associations/has-many/#querying
It seems that it is also wrongly documented.

[2019-06-25 15:12] landongrindheim commented on #1005
I've dug into this a little and would like to pitch in to resolve it 😄

There are a couple of ways this can be addressed, depending on whether `#one` is  considered an appropriate method for `HasMany`.

If it shouldn't be supported, I can remove it from the docs. I noticed the code in the docs is also in place in the [Hanami/Model repository](https://github.com/hanami/model/blob/master/spec/suppor

[2019-07-05 10:03] #998 closed

[2019-07-05 10:10] #991 closed

[2019-07-08 21:44] lfmalves commented on #916
Admin, I believe this discussion is duplicated and the topic should be closed

[2019-07-09 22:15] lfmalves commented on #955
@aitbw, any news on this front?

[2019-07-30 14:06] wout opened #1008 "Would it be useful to add generators for ROM?"
First of all, I discovered Hanami a few days ago, and I am in ❤️. Currently, I'm converting a project I started in Rails 6 and the lightweight approach of Hanami is a relief.

I swapped our `hanami-model` for ROM 5 and I see quite a few people doing the same. So I was thinking, it would be great to be able to create a new Hanami app with ROM configured as model. Something like:

[code]

This setti

[2019-07-30 14:49] jodosha commented on #1008
@wout Thanks for your enthusiasm! ❤️

Regarding the idea of having generators for ROM is 👎 for me.
We're not adding new features to Hanami 1.x as we're building 2.0. Aside from that, supporting more than one database backend is overkilling.

`hanami-model` (which is powered by ROM) is the default, direct usage of ROM or any other database lib is up to you.

[2019-07-30 14:49] #1008 closed

[2019-08-03 18:29] glaszig commented on #951
i can confirm that the patch from #976 (without the merging of mount host + env host, though) is working with the following configuration. i have this running in "production", whatever that really means.

[code]

[code]

- there's 2 apps mounted at `/` but one of them is supposed to only respond to requests with the `Host: beta.example.com` request header
- the other two apps, `Web` and `Admin`, r

[2019-08-03 18:38] glaszig commented on #951
i would also like to point out that the `--host` argument to the `hanami server` cli command _does not_ have very much to do with this. this argument simply allows you to define on which _interface_ on your machine where you are running the hanami server you'd like to bind the socket.

[code]

it says right there "address to **bind**" to. this works with `--host foo.lvh.me` only because lvh resolv

[2019-08-08 14:33] landongrindheim commented on #955
@jodosha This is closed by #1011. #979 can also be closed 😄

[2019-08-08 14:34] landongrindheim commented on #955
@jodosha This is closed by #1011. #979 and #1010 can also be closed 😄

[2019-08-08 16:22] #955 closed

[2019-08-15 17:20] glaszig opened #1012 "application middleware: body == []"
i want to use a rack middleware application-level to inject things into the response.

[code]

but `body` is empty (`[]`). why is that? what am i doing wrong?

it works on project-level, btw.

[2019-09-13 18:18] igbanam opened #1013 "Suffix spec folders with _spec"
I am running through the tutorial on the site, and I come across where to generate an action. I get the output below when I run generate an action

[code]

Notice the `booksspec` folder.

Could this read the way the filenames read? With proper underscores. So `booksspec` would read `books_spec`.

This is my [Gemfile](https://gist.github.com/igbanam/363b885adad0febd4f6bb0a00228663a) …pretty much th

[2019-09-13 18:19] igbanam commented on #1013
I generated this with

[code]

[2019-09-13 18:42] #1013 closed

[2019-09-13 18:43] igbanam commented on #1013
I ran this from within Vim and `#` expands to the filepath. Nevermind this. Sorry for the bother 🙏

[2019-09-13 22:40] #951 closed

[2019-09-16 10:32] jodosha commented on #997
@rubyFeedback As @cllns said, you weren't able to connect to Postgres. You may want either to:

  1. Check if Postgres is running
  1. Adjust the URL connection string in `.env.development` and/or `.env.test` to match your local Postgres setup.

[2019-09-16 10:32] #997 closed

[2019-09-16 10:46] jodosha commented on #1000
@mkarganov 👋 Hello, there isn't a way to disable SQL logging right now. If this is important to you, please consider to contribute with a PR that introduces this enhancement. Thanks!

[2019-09-16 10:46] #1000 closed

[2019-09-16 10:49] jodosha commented on #1002
@papergliff I'm sorry about the confusing output of this log.

Why would you expect `schema_info` table? We use `sequel` gem to run the migrations. According to their documentation:

https://sequel.jeremyevans.net/rdoc/classes/Sequel/Migrator.html

Given we used timestamped migrations, only the `schema_migrations` table is expected to be created.

[2019-09-16 10:49] #1002 closed

[2019-09-16 10:51] jodosha commented on #916
@lfmalves You're right. Closing in favor of https://github.com/hanami/hanami/issues/1003

[2019-09-16 10:51] #916 closed

[2019-09-16 10:57] jodosha commented on #1012
@glaszig I can't reproduce the bug. I just tried locally with your code and it works. Can you please create a dummy app to reproduce it? Thanks.

[2019-09-16 10:57] #1012 closed

[2019-09-18 07:35] jodosha commented on #1001
@ADodulad Why did you close this issue?

[2019-09-18 10:53] ADodulad commented on #1001
@jodosha I guess I've decided not to use `view.render` inside of `create` action. I can not find project sources with provided example, but basically I had just stick to traditional way - just including `new` view into `create` view using dry-containers and a redirecting with `302` to next action. My sources are quite lengthy and can be provided as an example if needed.

As far as I remember the i

[2019-09-18 17:26] jodosha commented on #1003
Implemented by https://github.com/hanami/hanami/pull/1004

[2019-09-18 17:26] #1003 closed

[2019-09-19 09:33] jodosha commented on #1001
@ADodulad Thanks for the follow up. Given @timriley is integrating `dry-system`/`dry-container` in Hanami, and we'll need to add `dry-view` as well, if you would please outline your use case and ideal solution, that would be extremely helpful to take a real-world use case in account. Thanks!

[2019-09-19 10:40] ADodulad commented on #1001
I think this is pretty standard approach:

I have several applications:
[code]
All of the business logic, access policies, internals of apps such as endpoints, views and templates and even paths and urls are accessed via `dry-container`. I had decided to do so because I wanted to share logic between different apps like password reset or signup procedures are mostly the same for different apps but

[2019-09-19 10:50] ADodulad commented on #1001
Oh yeah... it all started with error codes... answering your question:
so now when my endpoint is like this:
[code]
it will redirect on Success or automatically go through `create` view, which includes `new` view:
[code]

[2019-09-19 13:41] jodosha commented on #1001
@ADodulad Wow this is pure gold! Thank you very much for sharing such detailed information with us.

---

Do you want your company's logo featured on Hanami homepage? We're trying to build as much as trust we can, by sharing which companies are using Hanami in production. That would be really helpful too! 🙏 Thanks.

[2019-09-20 10:37] ADodulad commented on #1001
Cool. Could you use this site as a reference point https://idfly.io/#en?

[2019-09-20 14:13] jodosha commented on #1001
@ADodulad Yes, absolutely.

Here's an example about how to add the logo on the Hanami home page: https://github.com/hanami/hanami.github.io/pull/489

---

From the website there is a link to a GH organization: https://github.com/idfly.
There is only one person listed as public member. It would be great if the PR author it's him.

Thanks!

[2019-09-21 19:40] mkarganov commented on #1000
Thanks @jodosha, I can try, is this about this line? https://github.com/hanami/hanami/blob/master/lib/hanami/components/components.rb#L90

[2019-09-24 19:33] inouire opened #1015 "v1.3.3 causes an "uninitialized constant Hanami::View::Rendering::Scope::String""
Since my upgrade from 1.3.2 to 1.3.3, my app doesn't start, here is the stack trace

[code]

[2019-09-24 19:48] unleashy commented on #1015
Seems this is caused by tilt 2.0.10 not 1.3.3 itself. rtomayko/tilt@dbb4df9 this commit specifically seems to have changed the execution of templates and this inadvertently broke something with hanami.

[2019-09-24 19:49] unleashy commented on #1015
rtomayko/tilt#347 is onto it aswell

[2019-09-24 20:18] judofyr commented on #1015
The solution is to add `gem "tilt", "2.0.9"` to your Gemfile for now. Not sure if this deserves a yank. Depends on how quickly we can fix it.

This seems to be a separate bug from rtomayko/tilt#347 though.

[2019-09-24 20:53] jodosha commented on #1015
Thank you all folks for having a look at this. Closing this ticket as it seems to be a `tilt` regression.

[2019-09-24 20:53] #1015 closed

[2019-09-25 07:59] jodosha commented on #1015
@inouire @unleashy I'm working on two patches for `hanami-utils` and `hanami-view` to make Hanami compatible with the latest changes. The release date is set for this Friday.

Please try https://github.com/hanami/utils/pull/343 and https://github.com/hanami/view/pull/160 into your application with `tilt` `2.0.10` and tell us if Hanami plays well with Tilt.

You should temporary edit your `Gemfile`

[2019-09-25 08:01] inouire commented on #1015
@jodosha Thanks Luca, I'll try this today and give you a feedback.

[2019-10-18 05:48] ttilberg opened #1017 "If routes.rb doesn't end with a newline, generate action adds a line with syntax error."
To reproduce:

Edit your routes.rb file to include something like

[code]

Run a generator:

[code]

The resulting file is

[code]

It would be nice if the template generator could detect that the last char.

I tracked the file change back to https://github.com/hanami/utils/blob/master/lib/hanami/utils/files.rb#L162 -- so perhaps it would make more sense to create the issue there instead?

[2019-10-27 05:32] ilyario opened #1018 "set version capybara"
Default Gemfile have gem capybara. Capybara supports ruby 2.4 after gems version 3.16

![image](https://user-images.githubusercontent.com/945905/67630163-000f7b00-f8be-11e9-85a3-cd8937cbdf3a.png)

source version capybara: https://github.com/teamcapybara/capybara/issues/2175

[2019-10-28 12:53] jodosha commented on #1018
@ilyario Thanks for reporting this.

Are you suggesting to pin `capybara` in generated `Gemfile` if version of Ruby is less than `2.4`?

[2019-10-30 01:11] ilyario commented on #1018
Yes or remove support 2.3 from readme.

[2019-12-08 12:06] sebastjan-hribar opened #1020 "Impact of changes in Minitest 6 - global use of must_equal"
Hi,

running the default (created by Hanami) specs results in deprecation warning:

DEPRECATED: global use of must_equal from /home/sebastjan/projekti/hanami/myapp/spec/web/controllers/home/index_spec.rb:9. Use _(obj).must_equal instead. This will fail in Minitest 6.

For example this is the expected syntax: `value(current_path).must_equal("/expected/path/value")`

Best,
Seba

[2019-12-24 11:46] DannySantos commented on #903
I'm experiencing this same issue despite the fact I have enabled sessions and have an action that uses `application.html.erb`

When I visit `http://localhost:2300/users/new` there is no error message, but when I run the application_layout view spec I get the exact same error as @Pistos.

[2019-12-24 20:50] cllns commented on #903
@DannySantos Can you create an example Hanami project that reproduces the bug, then open a new Issue with a link to that repo on GitHub, and mention this issue? Thanks :)

[2019-12-28 10:04] rokkit opened #1024 "EOFError raised with hanami s"
If I run hanami server on MacOS Catalina 10.15.1, I have this exception:
[code]
There is only way to run server by using env variable like this:

`OBJC_DISABLE_INITIALIZE_FORK_SAFETY=YES bundle exec hanami server`

[2019-12-28 20:53] kaikuchn commented on #1024
Have you added any gems to you Gemfile, or is this behaviour observed on a fresh `hanami new [project name]`?
If the former, what gems have you added? And please see [here](https://blog.phusion.nl/2017/10/13/why-ruby-app-servers-break-on-macos-high-sierra-and-what-can-be-done-about-it/) for a good explanation on what's going on.

Also, what version of Hanami are you using?

[2020-01-02 22:22] bgsouza opened #1026 "EAV support for Postgres"
Has anyone here used the EAV model on postgres inside Hanami?
I'm having trouble executing "CREATE TABLE <table> PARTITION OF <parent-table> FROM VALUES (..) to (..)"
I can't execute this raw query and no ORM or gem (pg_party, pg_partition_manager) helped

[2020-01-03 01:25] cllns commented on #1026
I'm not really sure what your use-case is, or if this is a Hanami-specific problem since you said you can't execute the raw query.

If this is a Hanami issue, can you open an issue in https://github.com/hanami/model with a lot of detail about what you're doing and trying to achieve? A reproducible example, with what Postgres version you're using, on the most recent stable version of hanami-model w

[2020-01-03 01:25] #1026 closed

[2020-01-03 18:16] bgsouza commented on #1026
Hi @cllns, I was trying to look for ways to execute this raw query. I even tried with 'repository.read ()', but it obviously didn't work
I changed my strategy, now I am using an out-of-scope hanami consumer who is solely responsible for performing partition creation

[2020-01-09 17:55] depfu[bot] opened #1027 "Depfu Error: Depfu is stuck and needs your help"
Hello,

⚠️ **We're getting errors with this repo and have given up after trying several times.**

In most cases that means something is wrong with your current Bundler setup and we can't fix it automatically:

##### • Error details:
[code]
##### • Error details:
[code]
##### • Error details:
[code]

After you've fixed the problem, please activate this project again in the [Depfu Dashboard](https:/

[2020-02-05 02:44] basicBrogrammer commented on #993
I'm running into this issue with hanami 1.3.3. If i run `bundle exec hanami s --no-code-reloading` it works fine 🤔

[2020-02-07 21:13] cllns commented on #993
@basicBrogrammer I think the issue you're seeing is #1024, rather than this one. It's the same error but for a different reason

[2020-02-07 22:01] cllns commented on #1024
I also reproduced this, on Catalina. I found fix and a workaround.

### "Fix", reinstall macOS development tools

I found a comment on an issue in the [shotgun repo] that helped me fix this.
1. `xcode-select --install` (I also did `sudo xcodebuild -license`, not sure if it was necessary)
2. Open Xcode, to install more stuff.
3. Restart your computer

### Workaround, use `hanami-reloader`
`shotgun`

[2020-02-10 01:53] tosiooooooo opened #1028 "How to set up primary DB and replica DB in Hanami DB config?"
How do I set both the primary DB and replica DB (read only) connections in the Hanami.configure?

I want to set up the following site.

https://github.com/jeremyevans/sequel/blob/master/doc/sharding.rdoc

[2020-02-12 12:28] basicBrogrammer commented on #993
Thanks @cllns

[2020-03-13 11:14] timriley opened #1034 "Use dry-configurable for application settings DSL"

[2020-03-13 11:16] timriley opened #1035 "Ensure thread-safety while loading application settings"

[2020-03-30 15:43] k0va1 opened #1036 "Gemfiles tracking hanami-view GitHub repo should rename master branch to 1.x-master (was: `bundle install` failed)"
Hi! I've tried to pull the project and install gems and I've got an error:
[code]

So hanami-view version has to be upgraded to `1.x-master` in Gemfile

[2020-03-30 15:59] jodosha commented on #1036
@k0va1 Do you mean that you tried to git clone `hanami/hanami` repository from GitHub and you run into this error?

[2020-03-30 16:05] k0va1 commented on #1036
@k0va1 yep, exactly. In `master` branch

[2020-03-30 20:59] cllns commented on #1036
@k0va1, you can fix this by changing your Gemfile branch for `hanami-view` from `master` to `1.x-master`. That might be the solution we implement here too, but @timriley will know better.

[code]

[2020-03-30 21:30] timriley commented on #1036
Hi @k0va1, it looks like you figured out the right fix in your original issue description:

**Anyone previously tracking the `master` branch in their application's `Gemfile` should change the branch to `1.x-master`.**

---

Now, for some extra context: the dry-view gem is in the process of being renamed to hanami-view. In order to keep both gems’ independent git histories, we've imported dry-view'

[2020-03-30 21:57] jodosha commented on #1036
@timriley @cllns I believe @k0va1 tried to clone this repository for an OSS contribution.

---

If you checkout the latest commit in `master` branch (`b68ab00`) and run `bundle update`, you will be able to reproduce the problem.

[code]

[2020-03-30 22:12] timriley commented on #1036
OK, thanks for clarifying this.

To test, I've just done this:

[code]

The checked out branch is `1.x-master`. There are no errors, all the tests pass, and `bundle info hanami-view` is reporting version 1.3.3 is being used.

To me, this looks like everything is fine?